body{font-family: 'Eurofurence','Open Sans',  sans-serif; font-size:14px; color:#2e3f49; background:#2e3f49; margin:0px; padding:0px;} 

.editprobg {background:url(../images/common/basic_bg.jpg) no-repeat center center fixed;-webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; padding:15px 0; min-height:620px; }

a {text-decoration:none;}
a:hover {text-decoration:none;}

.itext {text-transform: capitalize;}

.fl {float:left !important;}
.fr {float:right !important;}
.fn {float:none;}
.clb {clear:both;}
.overf {overflow:hidden;}
.posrel {position:relative;}
.mt10 { margin-top:10px !important;}
.mb10 { margin-bottom:10px;}
.dispnone {display:none;}
.fs14 {font-size:14px !important;}
.notetxt {font-size:14px; color:#999;}
.txtred {color:#F00;}
.txtgreen {color:#009900;}

.new_wrapper {width:100%; margin:0 auto;}
.new_container {width:960px; margin:0 auto; overflow:hidden;}
.regprogress {text-align:center; overflow:hidden; margin:0 auto;}
.regprogress h2 {color:#e6e7e8; margin:0 0 5px 0; padding:0; font-weight:normal; font-size:24px; text-transform:uppercase; text-shadow: 3px 4px 5px rgba(0,0,0,.75); -moz-text-shadow: 3px 4px 5px rgba(0,0,0,.75); -webkit-text-shadow: 3px 4px 5px rgba(0,0,0,.75);}
.editpropanel {background:url(../images/common/regformbg.gif);-webkit-background-size: 100%; -moz-background-size: 100%; -o-background-size: 100%; background-size: 100%; -webkit-box-shadow: 0 5px 5px rgba(0,0,0,.5); -moz-box-shadow: 0 5px 5px rgba(0,0,0,.5); box-shadow: 0 5px 5px rgba(0,0,0,.5); border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px;  margin:15px 0 5px 0; font-size:18px; width:660px; overflow:hidden;}
.edpwraper {margin:20px; overflow:hidden;}

/* register_new.css */
.formbtmbrdr {list-style-type: none; margin: 0 auto; padding: 0; clear:both;}
.formbtmbrdr li {float:left; width:16.66%; height:5px; -webkit-box-shadow: inset -2px 0 rgba(255,255,255,.75); -moz-box-shadow: inset -2px 0 rgba(255,255,255,.75); box-shadow: inset -2px 0 rgba(255,255,255,.75);}
.bg1 {background:#fd8cb5;}
.bg2 {background:#ee6296;}
.bg3 {background:#ed0c6e;}
.bg4 {background:#87afdb;}
.bg5 {background:#598fc9;}
.bg6 {background:#0072bc;}

/* Edit Profile */
.difficon {opacity:.5;}
.editpro { position:relative; margin:0 auto; padding:0; list-style:none; height:45px; overflow:hidden; clear:both; width:100%; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; background-color: #598fc9; -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.70); -moz-box-shadow: 0 1px 3px rgba(0,0,0,.70); box-shadow: 0 1px 3px rgba(0,0,0,.70); display:inline-block; cursor:pointer;}
.editpro li {color:#fff; text-align:left; margin:0 auto; height:45px; padding:0; font-size:18px; }

.editpro li p {padding:0; margin:13px 0 0 15px; text-align:left; white-space:nowrap;}
.editpro li i {padding:15px; background:#0072bc; -webkit-border-radius:0 10px 10px 0; -moz-border-radius: 0 10px 10px 0; border-radius: 0 10px 10px 0;}

.edpbelowtile {font-size:16px; text-align:center; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; background:rgba(0,0,0,0.08); 	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.65); -moz-box-shadow: 0 1px 3px rgba(0,0,0,.65); box-shadow: 0 1px 3px rgba(0,0,0,.65); padding:25px 0 15px 0; margin:-20px 0 5px 0;}


.epintfrm {width:95%; overflow:hidden; margin:0 auto;}
.epintfrm ul {margin:0 auto; padding:0; overflow:hidden;}
.epintfrm ul li {margin:0 .5%; padding:0; list-style:none; float:left; width:24%;}


.epform {width:320px; overflow:hidden; margin:0 auto;}
.epform ul {margin:0 auto; padding:0; overflow:hidden;}
.epform ul li {margin:0 auto; padding:0; list-style:none; width:49%;}
.epform p, .epintfrm p {color:#ed0c6e; font-size:18px; margin:0 auto; text-align:left; padding:5px 0 0 3px; position:relative;}
.epform p span {color:#598fc9; font-size:14px; padding:4px 0 0 0; float:right;}
.lockinfo {top:10px; color: #999; font-size: 18px; position: absolute; right: 5px;}

.dobform {width:32% !important;}
.regselect-style {border: 1px solid #ccc; width: 99%; border-radius: 5px; overflow: hidden; background: #fff url("../images/common/arrow_dd.png") no-repeat 98% 50%; margin:5px 0; position:relative;}
.regselect-style select {padding: 5px 8px; width: 110%; border: none; box-shadow: none; background: transparent; background-image: none; -webkit-appearance: none; font-family:'Eurofurence','Open Sans', sans-serif; font-size:16px;}
.regselect-style select:focus {outline: none;}
.regselect-style select option {padding:0 8px;}

.regselddbg1 { background: #fff url("../images/common/arrow_dd.png") no-repeat 92% 50% !important;}
.regselwidth1 { width:130% !important;}

.regselddbg2 { background: #fff url("../images/common/arrow_dd.png") no-repeat 95% 50% !important;}
.regselwidth2 { width:120% !important; }

.nowork {width:100%; overflow:hidden; text-align:left; display:inline-block; margin:5px 0;}
.comdetails {position:relative; overflow:hidden; border: 1px solid #ccc; margin: 5px 0 0; padding: 0 5px;}
.comdetails ul {margin:0 auto; overflow:hidden; padding:0; text-align:left;}
.comdetails ul li {float:left; margin:0 5px 5px 0; padding:5px; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; background-color:#f7f7f7;width:auto; font-size:14px; white-space:nowrap;}
.comdetails ul li div {text-overflow: ellipsis; white-space: nowrap; max-width:275px; overflow:hidden;}
.addicon {position:absolute; top:11px; right:10px; color:#fff; font-size:16px; z-index:2; background:#ed0c6e; padding:3px 5px; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; cursor:pointer;}
.removeicon {color:#598fc9; margin:0 0 0 5px !important;}
.inputindex {z-index:1;}

.padl1 {padding-left:2% !important;}

.regtxtbox {-webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; background-color:#fff; padding:8px 2.5%; border:none; width:94%; margin:5px 0; font-family: 'Eurofurence','Open Sans',  sans-serif; font-size:16px; clear:both; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; border:1px solid #ccc;}

.errtxt {font-size:13px !important; text-align:right !important; padding:0 !important; margin:0 auto; white-space:nowrap;}

.edpactionbtn {background:#ed0c6e; font-size:18px; color:#fff; text-align:center; display:inline-block; padding:8px 0; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; text-transform:uppercase; cursor:pointer; white-space:nowrap; width:200px; margin:20px 0 0 0;}
.edpdeactbtn {background:#ed0c6e; font-size:18px; color:#fff; text-align:center; display:inline-block; padding:8px 0; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; text-transform:uppercase; cursor:pointer; white-space:nowrap; width:200px; margin:20px 0 0 0; opacity:0.2; cursor:default;}

.regloader {position:absolute; left:46%; top:5px;}
.hide {display:none;}

/* iCheck plugin Line skin, blue (CheckBox & RadioButton)
----------------------------------- */
.icheckbox_line-blue, .iradio_line-blue {position: relative; display: block; margin: 5px 0; padding:7px 0; font-size: 16px; line-height: 17px; color: #2e3f49; background: #ccc; border: none; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; cursor: pointer;}
.icheckbox_line-blue .icheck_line-icon, .iradio_line-blue .icheck_line-icon {position: absolute; top: 50%; left: 5px; /* width: 13px; */  height: 11px;        margin: -5px 0 0 0; padding: 0; overflow: hidden; background: url(../images/common/line.png) no-repeat; border: none; }
/* .icheckbox_line-blue.hover, .icheckbox_line-blue.checked.hover, .iradio_line-blue.hover {background: #4293f0; color:#fff;} */
.icheckbox_line-blue.checked, .iradio_line-blue.checked {background: #ed0c6e; color:#fff;}
.icheckbox_line-blue.checked .icheck_line-icon, .iradio_line-blue.checked .icheck_line-icon {background-position: -15px 0;}
.icheckbox_line-blue.disabled, .iradio_line-blue.disabled {background: #ddd; cursor: default; color:#999;}
.icheckbox_line-blue.disabled .icheck_line-icon, .iradio_line-blue.disabled .icheck_line-icon {background-position: -30px 0;}
.icheckbox_line-blue.checked.disabled, .iradio_line-blue.checked.disabled {background: #ddd;  color:#999;}
.icheckbox_line-blue.checked.disabled .icheck_line-icon, .iradio_line-blue.checked.disabled .icheck_line-icon {background-position: -45px 0;}


@media screen and (max-width:800px){
.new_container {width:100%;}
.epintfrm ul li {width:32%;}
}

@media screen and (max-width:640px){
.editpropanel {width:99%;}
}
@media screen and (max-width:480px){
.regprogress h2 {font-size:20px;}
}

@media screen and (max-width:385px){
.editpropanel {width:100%;  margin:10px 0.5%; -webkit-box-shadow: 0 2px 3px rgba(0,0,0,.2); -moz-box-shadow: 0 2px 3px rgba(0,0,0,.2); box-shadow: 0 2px 3px rgba(0,0,0,.2);}

.editprobg {padding:0 0 10px 0;  min-height:480px; }
.regprogress {margin:0; padding:10px 0 0 0;}
.regprogress h2 {font-size:18px;}
.epform, .edpactionbtn {width:100%;}
.epintfrm ul li {margin:0 1%; width:48%;}
.edpbelowtile { padding:25px 5px 15px 5px;}
.edpwraper {margin:10px 5px;}
}

@media screen and (max-width:320px){
.comdetails ul li div { max-width:255px;}
}