

body{font-family:Helvetica, Arial, sans-serif; font-size:14px; color:#000; background:#fafafa; margin:0; padding:0;} 
a {cursor:pointer; text-decoration:none;}
a:hover {text-decoration:none;}

.fl {float:left;}
.fr {float:right;}
.fn {float:none;}
.clb {clear:both;}
.overf {overflow:hidden;}
.posr { position:relative;}
.bgwhite { background:#fff; overflow:hidden;}

.new_wrapper {width:100%; margin:0 auto;}
.new_container {width:380px; margin:0 auto; overflow:hidden; background:#fff; position:relative;}
.pageheader {position:fixed; overflow:hidden; top:0; width:380px; z-index:2;}
.appstore {margin:10px 0 0 0; float:right; padding:0; list-style:none;}
.appstore li {margin:0 10px 0 0; float:left; padding:0; }
.appstore li p {font-size:13px; color:#939498; padding:0; margin:7px 0 0 0;}
.pagefooter {position:fixed; overflow:hidden; bottom:0; width:380px; z-index:11;}
.endhdrlogo {border:none; margin:10px 0 10px 10px; float:left; width:150px;}
.appicon {border:none;}
.endrsmsgtxt {clear: both; overflow: hidden; padding: 10px 7px; text-align: left; background:rgba(0,0,0,0.7); color:#fff;}
.endrsmsgtxt p {display: table-cell; height: 24px; margin: 0 auto; padding: 0; vertical-align: middle; font-size: 18px; font-weight: 100;}
.endrsmsgtxt p strong { font-weight:600;}
.brdrline {width:100%; height:1px; display:block;}

.titletxt {margin: 60px 10px 10px 10px; padding:0; font-size:22px; text-align:left; clear:both; padding:10px 0 0 0; clear:both; border-top: 1px solid #c0bfc4;}
.usrimage {width:100%; border:none; display:inline-block; margin-top:53px;}
.userdetails { background:url(../images/bgendorshdr3x.png) center center; position:absolute; margin:0 auto; padding:10px 0; top:-42px; left:0; width:100%; text-align:left; line-height:20px; z-index:1; }
.userdetails p { font-size:20px;margin:0 10px; padding:0; clear:both; overflow:hidden;}
.userdetails span { font-size:16px; margin:0 10px;}
.new_container h3 {font-size:16px; text-align:left; margin:20px 10px 10px 10px; padding:0 0 5px 0; font-weight:bold; border-bottom:1px solid #acc7e5;} 

.hashtagsec { margin:0 5px; overflow:hidden;}
.hashtagsec ul {margin:0 auto; padding:0; width:100%; clear:both; float:left;}
.hashtagsec ul li {padding:5px 8px; margin:5px; float:left; background:#e6e7e9; border-radius:20px; -moz-border-radius:20px; -webkit-border-radius:20px; color:#000; font-size:16px; list-style:none; font-weight:100;}

.favitemsec { margin:0 5px 65px 5px; overflow:hidden;}

.wnedetails { margin:0 5px; overflow:hidden;}
.wnedetails ul {margin:0 auto; padding:0; width:100%; clear:both; float:left;}
.wnedetails ul li {list-style-type: none; margin: 5px; padding:0; vertical-align: middle; float:left; text-align:left; font-size:16px; line-height:20px;}
.wnedetails ul li p {font-size:16px; clear:both; text-align:left; margin:20px 0 0 0; padding:0;}
.wnedetails ul li span {font-size:15px; color:#777; clear:both; text-align:left; margin:0; padding:0;}
.iconcell {width:40px;}
.iconcell img {width:40px; height:40px; border:none; margin:10px 0 0 0;}
.detcell {width:290px;}

.usrwnedetail {clear: both; text-align: left; margin:0 0 15px 10px;}
.usrwnedetail p {text-align: left; margin: 0px; display: table-cell; vertical-align: middle; height: 40px; width: 305px; padding: 0px 0px 0px 10px; font-size: 16px;}
.usrwnedetail p span {clear: both; color: #777; font-size: 15px; margin: 0; padding: 0; text-align: left; display:inline-block; line-height:20px;}

.endorsebtn { background:#91b5dd; color:#fff; width:50%; text-align:center; font-size:19px; float:left; padding:15px 0; margin:0 auto;}
.nothankbtn { background:#f498a4; color:#fff; width:50%; text-align:center; font-size:19px; float:right; padding:15px 0; margin:0 auto;}
.clickendorsebtn { background:#598fc9;}	
.clicknothankbtn { background:#ee6296;}	


.inticons { margin:0 0 5px 5px; padding:0; list-style:none; clear:both; display:inline-block; width:100%;}
.inticons li { width:40px; height:40px; padding:0; margin:0 24px 0 0; float:left; background:url(../images/profile/iconfavourites.png) no-repeat 0 0; cursor:pointer;}
.inticons li span { width:40px; height:40px; display:inline-block;}

.intmovie { background-position:0 0 !important;}
.intmusic { background-position:-58px 0 !important;}
.intbooks { background-position:-115px 0 !important;}
.intfood { background-position:-169px 0 !important;}
.intother { background-position:-220px 0 !important;}

.moviedactive { background-position:0 -49px !important; cursor:default!important;}
.musicdactive { background-position:-58px -49px !important; cursor:default!important;}
.booksdactive { background-position:-115px -49px !important; cursor:default!important;}
.fooddactive { background-position:-169px -49px !important; cursor:default!important;}
.otherdactive { background-position:-220px -49px !important; cursor:default!important;}

.intwrapper {white-space: nowrap; overflow-y: hidden; overflow-x: scroll; -webkit-overflow-scrolling: touch; background-color: #fff; border:1px solid #ccc; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; clear:both; font-size:14px; height:60px; }
.intwrapper ul { margin:0 auto; padding:0; width:2000%;}
.intwrapper ul li { padding:15px; margin:0 auto; float:left; height:20px; text-transform:uppercase; list-style:none; border-right:1px solid #ccc;}
.moviesec {color:#d9005f;}
.musicsec {color:#3274ba;}
.booksec {color:#f556a1;}
.foodsec {color:#2ebdd7;}
.othersec {color:#f4283b;}

.indicatetop {position:absolute; top:-5px; z-index:10;}

.comnlikes {white-space: nowrap; overflow-y: hidden; overflow-x:auto; -webkit-overflow-scrolling: touch; background-color: #fff; border:1px solid #f498a4;  border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; margin:0 auto; width:94%; padding:10px 2%;}
.comnlikes a {margin:5px 0 5px 0; padding:0; display:inline-block; cursor:default; font-size:14px;}
.seperaterline {padding:5px 15px; font-size:14px; color:#ccc;}
/* .colorcode1 {color:#0072bc !important;}
.colorcode2 {color:#ed0c6e !important;}*/

/* Popup */
.difusescreen {background: none repeat scroll 0 0 #000000; height: 100%; left: 0; opacity: 0.7; overflow: hidden; position: fixed; top: 0; width: 100%; z-index: 1000; margin:0 auto; }
.popupframe {position: fixed; top: 0; margin:5% auto; left: 0; right: 0; z-index: 1000; background:#fff;  width:380px; -webkit-box-shadow: 0 0 10px #000; -moz-box-shadow: 0 0 10px #000; box-shadow: 0 0 10px #000; padding:0; border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px; }
.closepopup { position:absolute; top:-10px; right:-10px; color:#2e3f49; font-size:24px; background:#fff; border-radius:50%; -moz-border-radius:50%; -webkit-border-radius:50%; padding:1px 3px 0 3px;}

.thnkumsg {overflow:hidden; text-align:center;}
.thnkumsg p { padding:0; margin:10px; text-align:center; font-size:18px; color:#000; line-height:20px; clear:both;}
.thnkumsg a { background:#91b5dd; color:#fff; text-align:center; font-size:18px; padding:5px 15px; margin:0 0 10px 0; clear:both; margin:10px; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; display:inline-block; cursor:pointer;}

.regtxtbox {-webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; background-color:#e6e7e8; padding:5px 2.5%; border:none; width:94%; margin:15px 0 0 0; font-size:16px; clear:both; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; border:1px solid #ccc;}
		
@media screen and (max-width:800px){ 
}

@media screen and (max-width:640px){
}

@media screen and (max-width:480px){
.new_container, .pageheader, .pagefooter {width:100%;} 
.titletxt { font-size:20px;}
.detcell {width:80%;}
.popupframe {width:94%; margin:40% 3% 0 3%;}
}


@media screen and (max-width:360px){
.userdetails {background:url(../images/bgendorshdr2x.png) center center;}
.endhdrlogo {width:118px;}
.usrimage {margin-top:45px;}
.endrsmsgtxt p {font-size:17px;}
.usrwnedetail p {width:280px;}
}

@media screen and (max-width:320px){
.userdetails span, .hashtagsec ul li {font-size:14px;}
.hashtagsec ul li {margin:5px 3px;}
.usrwnedetail p {width:250px; font-size:14px;}
.usrwnedetail p span {font-size:13px; line-height:18px;}
.new_container h3 {font-size:15px;}
}



