

@font-face {
    font-family: 'Eurofurence Light';
    src: url('../fonts/eurof35.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Eurofurence';
    src: url('../fonts/eurof55.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*
@font-face {
    font-family: 'Eurofurence';
    src: url('../fonts/eurof75.ttf') format('truetype');
    font-weight: bold;
    font-style:normal;
}
*/
