body{font-family: 'Eurofurence','Open Sans',  sans-serif; font-size:14px; color:#2e3f49; margin:0px; padding:0px; background:#2e3f49;} 

.comphychobg {background:url(../images/common/comphycho_bg.jpg) no-repeat center center fixed;-webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; padding:15px 0;  min-height:620px;}

.valuephychobg {background:url(../images/common/value_bg.jpg) no-repeat center center fixed;-webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; padding:15px 0;  min-height:620px;}

.adaptphychobg {background:url(../images/common/adapt_bg.jpg) no-repeat center center fixed;-webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; padding:15px 0;  min-height:620px;}

.favstepbg {background:url(../images/common/fav_bg.jpg) no-repeat center center fixed;-webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; padding:15px 0;  min-height:620px;}

.basicstepbg {background:url(../images/common/basic_bg.jpg) no-repeat center center fixed;-webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; padding:15px 0; min-height:620px; }

.photostepbg {background:url(../images/common/photo_bg.jpg) no-repeat center center fixed;-webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; padding:15px 0; min-height:620px; }

a {cursor:pointer; text-decoration:none;}
a:hover {text-decoration:none;}

.fl {float:left !important;}
.fr {float:right !important;}
.fn {float:none !important;}
.clb {clear:both;}
.overf {overflow:hidden;}
.padt1 {padding-top:10px !important;}
.padl1 {padding-left:2% !important;}
.mrg0 {margin:0 auto !important;}
.lineh10 {line-height:10px !important;}
.inputindex {z-index:1;}
.fs11 {font-size:13px !important; text-align:right !important; padding:0 !important;}
.fs16 {font-size:16px !important;}
.padedit {width:90% !important; margin-top:-20px!important; }
.nobrdr {border:none !important;}
.inerror {font-size:16px; color:#F00; text-align:center;}
.doitlater {font-size:18px; color:#fff; margin-left:55%; text-decoration:underline;}
.padt2 {padding:35px 0 0 0 !important;}

.fullwidth {width:100%;} 
.hide {display:none;}
.new_wrapper {width:100%; margin:0 auto;}
.new_container {width:960px; margin:0 auto; overflow:hidden;}
.regprogress {text-align:center; overflow:hidden; margin:0 0 20px 0;}
.regprogress h2 {color:#e6e7e8; margin:0 0 10px 0; padding:0; font-weight:normal; font-size:24px; text-transform:uppercase; text-shadow: 3px 4px 5px rgba(0,0,0,.75); -moz-text-shadow: 3px 4px 5px rgba(0,0,0,.75); -webkit-text-shadow: 3px 4px 5px rgba(0,0,0,.75);}


.regscalesec {width:465px; height:18px; position:relative; margin:0 auto; background:url(../images/common/regprogress.png?v=2) no-repeat;}
/* .regscalesec img {border:none; z-index:2; position:absolute; top:1px; left:1px; width:630px; height:29px;} */
.regprogbar {height:18px; background:url(../images/common/regprogressfill.png?v=2) no-repeat; float:left;}
.pbarstep1 {width:3.5%;}
.pbarstep2 {width:17.3%;}
.pbarstep3 {width:31.1%;}
.pbarstep4 {width:44.9%;}
.pbarstep5 {width:58.7%;}
.pbarstep6 {width:72.4%;}
.pbarstep7 {width:86.2%;}
.pbarstep8 {width:100%;}
.pbarstep9 {width:86.2%;}
.pbarstep10 {width:100%;}

.regformsec {background:url(../images/common/regformbg.gif);-webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; -webkit-box-shadow: 0 5px 5px rgba(0,0,0,.5); -moz-box-shadow: 0 5px 5px rgba(0,0,0,.5); box-shadow: 0 5px 5px rgba(0,0,0,.5); border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px; margin:5px; width:65%; overflow:hidden;}

.regfbconnect {background-image: -webkit-linear-gradient(bottom, #23639b, #287aba); background-image: -moz-linear-gradient(bottom, #23639b, #287aba); 	background-image: -o-linear-gradient(bottom, #23639b, #287aba); background-image: linear-gradient(to top, #23639b, #287aba); font-size:20px; color:#fff; text-align:center; display:inline-block; padding:8px 20px; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; text-transform:uppercase; margin:10px 0 0 0;}
.regfbconnect i {margin:5px 10px 5px 0;}
.orline {background:url(../images/common/reggrayline.png); background-repeat:repeat-x; background-position:center left; margin:15px 15px 0 15px;}
.ortxt {font-size:20px; color:#969fa4; padding: 0 10px; display:inline-block; background:#fff;}
.notetxt {font-size:15px; color:#598fc9;}
.formreg {width:320px; overflow:hidden; margin:15px 0 20px 0;}
.formreg ul {margin:0 auto; padding:0; overflow:hidden;}
.formreg ul li {margin:0 auto; padding:0; list-style:none; width:49%;}
.formreg p, .formreg1 p {color:#ed0c6e; font-size:18px; margin:0 auto; text-align:left; padding:10px 0 0 3px;}
.formreg p span {color:#598fc9; font-size:14px; padding:4px 0 0 0; float:right;}
.ccitysec {border: 1px solid #ccc; padding: 0px 3% 3%; margin: 5px 0px 0px; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;}

.regtxtbox {-webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; background-color:#e6e7e8; padding:5px 2.5%; border:none; width:94%; margin:5px 0; font-family: 'Eurofurence','Open Sans',  sans-serif; font-size:18px; clear:both; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; border:1px solid #ccc;}
.continuebtn {background:#0072bc; font-size:24px; color:#fff; text-align:center; display:inline-block; padding:8px 0; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; text-transform:uppercase; margin:10px 0; width:100%; position:relative;}
.continuebtn span {font-size:30px; color:#87afdb; position:absolute; right:10px; top:3px;}
.continuebtn span i {font-size:20px; color:#fff;}

.backbtn {background:#969fa4; font-size:24px; color:#fff; text-align:center; display:inline-block; padding:8px 0 8px 15%; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; text-transform:uppercase; margin:10px 0; width:85%; position:relative;}
.backbtn span {font-size:30px; color:#e6e7e8; position:absolute; left:10px; top:3px;}
.backbtn span i {font-size:20px; color:#fff;}

.dobform {width:32% !important;}

.regselect-style {border: 1px solid #ccc; width: 99%; border-radius: 5px; overflow: hidden; background: #e6e7e8 url("../images/common/arrow_dd.png") no-repeat 98% 50%; margin:5px 0; position:relative;}
.regselect-style select {padding: 6px 8px; width: 110%; border: none; box-shadow: none; background: transparent; background-image: none; -webkit-appearance: none; font-family:'Eurofurence','Open Sans', sans-serif; font-size:16px;}
.regselect-style select:focus {outline: none;}
.regselect-style select option {padding:0 8px;}
/* Safari Hack 
::i-block-chrome,.regselect-style select,.regselect-style select option  {padding:6px 8px;}*/
.regloader {position:absolute; left:46%; top:5px;}

.regselddbg1 { background: #e6e7e8 url("../images/common/arrow_dd.png") no-repeat 92% 50% !important;}
.regselwidth1 { width:130% !important;}

.regselddbg2 { background: #e6e7e8 url("../images/common/arrow_dd.png") no-repeat 95% 50% !important;}
.regselwidth2 { width:120% !important; }

.regddselect {-webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; background-color:#e6e7e8; -webkit-box-shadow:inset 0 1px #c6cbcf; -moz-box-shadow:inset 0 1px #c6cbcf; box-shadow:inset 0 1px #c6cbcf; padding:8px 3%; border:none; width:100%; margin:0 0 10px 0; font-family: 'Eurofurence','Open Sans',  sans-serif; font-size:18px; clear:both; line-height: 35px; }

.nowork {width:100%; overflow:hidden; text-align:left; display:inline-block; margin:5px 0;}
.comdetails {position:relative; overflow:hidden; border: 1px solid #ddd; margin: 5px 0 0; padding: 0 5px;}
.comdetails ul {margin:0 auto; overflow:hidden; padding:0; text-align:left;}
.comdetails ul li {float:left; margin:0 5px 5px 0; padding:5px; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; background-color:#e6e7e8;width:auto; font-size:14px; white-space:nowrap;}
.addicon {position:absolute; top:8px; right:10px; color:#fff; font-size:16px; z-index:2; background:#ed0c6e; padding:3px 5px; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;}
.removeicon {color:#598fc9; margin:0 0 0 5px !important;}

/* interest & hobbies */
.formreg1 {width:90%; overflow:hidden; margin:15px 0 20px 0;}
.formreg1 ul {margin:0 auto; padding:0; overflow:hidden;}
.formreg1 ul li {margin:0 .5%; padding:0; list-style:none; float:left; width:24%;}


/* Questionaries css */
.psyformsec {background:url(../images/common/psychosec_bg.gif);-webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; -webkit-box-shadow: 0 5px 5px rgba(0,0,0,.5); -moz-box-shadow: 0 5px 5px rgba(0,0,0,.5); box-shadow: 0 5px 5px rgba(0,0,0,.5); border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px; margin:5px; width:65%; overflow:hidden;}
.formbtmbrdr {list-style-type: none; margin: 0 auto; padding: 0; clear:both;}
.formbtmbrdr li {float:left; width:16.667%; height:5px; -webkit-box-shadow: inset -2px 0 rgba(255,255,255,.75); -moz-box-shadow: inset -2px 0 rgba(255,255,255,.75); box-shadow: inset -2px 0 rgba(255,255,255,.75);}
.bg1 {background:#fd8cb5;}
.bg2 {background:#ee6296;}
.bg3 {background:#ed0c6e;}
.bg4 {background:#87afdb;}
.bg5 {background:#598fc9;}
.bg6 {background:#0072bc;}
.psytxtbox {font-size:18px; line-height:18px; text-align:left; margin:20px; color:#0072bc;}
.psytxtwdth {margin:20px 20px 10px 20px !important;}
.psytxtbox h4 {margin:0 auto; padding:0; font-weight:normal; font-size:24px;}
.psytxtbox h5 {margin:0 auto; padding:0; font-weight:normal; font-size:22px; color:#ed0c6e; line-height:22px;}
.psytxtbox h5 span {font-size:36px;}
.psycho1ans {margin:10px 0 0 0; padding:0; list-style-type:upper-alpha; list-style-position:outside; color:#ed0c6e; position:relative; display:inline-block; width:100%;}
.psycho1ans hr { margin:-15px 0; padding:0; opacity:0.3; filter:alpha(opacity=30);}
.txttopdd {position:absolute; right:-5px; top:-10px; font-size:14px; color:#666; line-height:14px;}
.psycho1ans li { padding:0; margin:25px 0 25px 50px; font-size:20px;}
.psycho1ans li span {color:#0072bc;}
/* .psycho1ans li p {padding:0; float:left; margin:0 0 0 5px; color:#ed0c6e; width:40px; text-align:center;} */
.tutinfo {margin:15px 0 15px 20px; padding:0;}
.tutinfo li {color:#ed0c6e; padding:5px 0; margin:0 auto;}
.psytestdone {background:#a8c7e9 !important; cursor:default !important;}
.psytest {margin:15px 0 0 0; width:100%; background:#598fc9; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; cursor:pointer;}
.psytest tr td {color:#fff; padding:8px 0;}
.psytest tr td span {font-size:14px;}
.psytest tr td i {margin:0 10px;}
.psytesttd1 {width:75%;}
.psytesttd1 p {padding:0; margin:0 10px;}
.psyfavimp {margin:0 auto; padding:0; text-align:right; font-size:13px; color:#666;}
.regfrmaction {margin:15px 5px; color:#fff; text-transform:uppercase; width:65%; font-size:18px; display:inline-block;}
.phofrmaction {width:770px;}
.showmatch { color:#fff; float:right; margin:0 auto;text-shadow: 3px 4px 5px rgba(0,0,0,.75);-moz-text-shadow: 3px 4px 5px rgba(0,0,0,.75);-webkit-text-shadow: 3px 4px 5px rgba(0,0,0,.75); text-decoration:underline; white-space:nowrap;}
.regbcbtn {-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; background-color: #598fc9; -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.6);
-moz-box-shadow: 1px 2px 3px rgba(0,0,0,.6); box-shadow: 1px 2px 3px rgba(0,0,0,.6); color:#fff; text-align:center; width:140px; padding:7px 0;}

.diffregbcbtn {-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; background-color:rgba(198,198,198,0.8); -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.4); -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.4); box-shadow: 1px 2px 3px rgba(0,0,0,.4); color:#fff; text-align:center; width:140px; padding:7px 0; opacity:0.6; cursor:default;}

.questans1 {margin:0 20px 20px 15px; clear:both; overflow:hidden; }
.questans1 p {padding:0 0 0 5px; margin:0 auto; color:#666; font-size:16px; text-align:left; text-transform:none;}
.questans1 label {margin:5px 0 5px 8px; overflow:auto; float:left; display:inline-block;}
.questans1 label span {text-align:center; font-size: 18px; padding:5px 8px; display:block; background-color:#e6e7e8; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; white-space:nowrap;}
.questans1 label span:hover {background-color:#ed0c6e; color:#fff;}
.questans1 label input {position:absolute; top:-20px;}
.questans1 input:checked + span {background-color:#ed0c6e; color:#fff;}

.qselect-style {border: 1px solid #ccc; width: 60px; border-radius: 5px; overflow: hidden; background: #e6e7e8 url("../images/common/arrow_dd.png") no-repeat 90% 50%; float:right; margin:-3px 0 0 10px;}
.qselect-style select {padding: 2px 8px; width: 160%; border: none; box-shadow: none; background: transparent; background-image: none; -webkit-appearance: none; font-family:'Eurofurence','Open Sans',  sans-serif; font-size:16px;}
.qselect-style select:focus {outline: none;}


.fieldtitle {text-align:left; padding:0 0 5px 0; margin:0 auto; font-size:14px; color:#555; clear:both; }
.newphyq { margin: 10px 0; padding:0; clear:both; overflow:hidden; display:table;}
.newphyq li { text-align:left; font-size:18px; color:#ed0c6e; list-style:none; padding:0 5px; margin:0 auto; text-transform:uppercase; display:table-cell; vertical-align:top;}
.newphyq li p { font-style:italic; color:#999; padding:0; margin:0 auto; text-align:left;  text-transform:none; width:70px;}
.ratingquest {float:left; margin:0 auto; padding:5px;}
.questtable { float:left; clear:both; font-size:16px; margin:0 0 20px 0; text-align:left; width:100%; text-transform:uppercase;}

.questtable ul {margin:10px 0; padding:0; clear:both; overflow:hidden; display:inline-block; text-shadow: 1px 1px #0072bc; font-size:16px; color:#fff;}
.questtable ul li {margin:0 auto; padding:5px 20px; float:left;list-style:none;}
.unselectnum {cursor:pointer; background:#74acdc; border:2px solid #fff;}
.activenum {background:#0072bc; cursor:default; border:2px solid #0166a8;}
.deactivenum {cursor:default; background:#e1ebf7; text-shadow:none; border:2px solid #fff; color:#fff !important; }

.questtxt { font-style:italic; color:#999; width:90px; text-align:right; text-transform:none; font-family:Verdana, Geneva, sans-serif; font-size:14px;}



/* iCheck plugin Line skin, blue (CheckBox & RadioButton)
----------------------------------- */
.icheckbox_line-blue, .iradio_line-blue {position: relative; display: block; margin: 5px 0; padding:7px 0; font-size: 16px; line-height: 17px; color: #2e3f49; background: #e6e7e8; border: none; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; cursor: pointer;}
.icheckbox_line-blue .icheck_line-icon, .iradio_line-blue .icheck_line-icon {position: absolute; top: 50%; left: 5px; /* width: 13px; */  height: 11px;        margin: -5px 0 0 0; padding: 0; overflow: hidden; background: url(../images/common/line.png) no-repeat; border: none; }
/* .icheckbox_line-blue.hover, .icheckbox_line-blue.checked.hover, .iradio_line-blue.hover {background: #4293f0; color:#fff;} */
.icheckbox_line-blue.checked, .iradio_line-blue.checked {background: #ed0c6e; color:#fff;}
.icheckbox_line-blue.checked .icheck_line-icon, .iradio_line-blue.checked .icheck_line-icon {background-position: -15px 0;}
.icheckbox_line-blue.disabled, .iradio_line-blue.disabled {background: #e6e7e8; cursor: default; color:#999;}
.icheckbox_line-blue.disabled .icheck_line-icon, .iradio_line-blue.disabled .icheck_line-icon {background-position: -30px 0;}
.icheckbox_line-blue.checked.disabled, .iradio_line-blue.checked.disabled {background: #e6e7e8;  color:#999;}
.icheckbox_line-blue.checked.disabled .icheck_line-icon, .iradio_line-blue.checked.disabled .icheck_line-icon {background-position: -45px 0;}
		

/* Photo Upload CSS */

.photosec {background:url(../images/common/regformbg.gif?v=1);-webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; -webkit-box-shadow: 0 5px 5px rgba(0,0,0,.5); -moz-box-shadow: 0 5px 5px rgba(0,0,0,.5); box-shadow: 0 5px 5px rgba(0,0,0,.5); border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px;  margin:5px; width:770px; overflow:hidden;}
/* .photomainframe {padding:20px; overflow:hidden; margin:0 auto;} */

.pframeright {float:right; margin:0 20px 20px 0; width:250px; text-transform:uppercase; text-align:center;}
.pframeright h2 {font-size:20px; font-weight:normal; margin:20px 0 0 0; padding:0; color:#ed0c6e; text-align:left;}
.phguidline {margin:10px 0; padding:0; color:#2e3f49; font-size:13px; width:50%; float:left;}
.pnotetxt {color:#2e3f49; font-size:12px; text-transform:none; padding:10px 0 20px 0; display:inline-block; border-bottom:1px solid #e6e7e8; width:100%;}
.pnotetxt strong {color:#0072bc; font-weight:normal;}
.pframeright ul {margin:0 auto; padding:0;}
.pframeright ul li {text-align:left; margin:20px 0 0 20px; padding:0; clear:both; font-size:16px; list-style:url(../images/tickmark.png); list-style-position:outside; text-transform:none;}
.pframeright ul li i {margin:0 5px 0 0; color:#0072bc;}
.pframeright ul li span {color:#0072bc; font-size:15px; padding:0 0 0 20px;}

.pframeleft {float:left; margin:0 0 20px 20px; width:480px;}
.profilepicsec {width:300px; height:300px; background:#e6e7e8; text-decoration:none; text-align:center; display:table; border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px; margin:20px 20px 0 0; float:left; position:relative;}
.profilepicsec img {width:300px; height:300px; border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px; border:none; display:block;}
.addotherpicsec {width:140px; height:140px; background:#e6e7e8; text-decoration:none; text-align:center; display:table; border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px; margin:20px 20px 0 0 ; float:left; position:relative;}
.addotherpicsec img {width:140px; height:140px; border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px; border:none; display:block;}
.addmore {color:#9ca4a8; font-size:24px; text-align:center; display:table-cell; vertical-align:middle; padding:0; margin:0 auto; cursor:pointer; }
.addmore i {font-size:70px; color:#aeb4b8;}
.safhake {margin:0 auto;}
::i-block-chrome, .addotherpicsec, .profilepicsec {display:block;}
::i-block-chrome, .addmore  {display:block; padding:25% 0 0 0;}
::i-block-chrome, .safhake {margin:14% 0 0 0;}

.undrmodphoto {background:#444; width:100%; height:100%; position:absolute; top:0; left:0; opacity:0.4; filter:alpha(opacity=40); color:#FFF; text-shadow:2px 2px #000; -moz-text-shadow:2px 2px #000; -webkit-text-shadow:2px 2px #000; cursor:pointer;; border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px; display:table-cell; vertical-align:middle; }
.undrmodphoto p {margin:40% 0 0 0; padding:0; font-size:24px}

.photoupaction {margin:10px 0 0 0; padding:0; list-style:none; width:770px;}
.photoupaction li { margin:0 auto; padding:0; width:150px;}


/* Photo Popup */
.difusescreen {background: rgba(0,0,0,0.7); height: 100%; left: 0; overflow: hidden; position: fixed; top: 0; width: 100%; z-index: 1000; margin:0 auto; }
.photopopup {position: fixed; top: 0; margin:5% auto; left: 0; right: 0; z-index: 1000; background:#fff;  width:50%; -webkit-box-shadow: 0 0 10px #000; -moz-box-shadow: 0 0 10px #000; box-shadow: 0 0 10px #000; padding:0;}
.photowraper {position:relative; margin:20px; text-align:center; text-transform:uppercase;}
.pwraptxt { margin:0 auto; padding:0 0 10px 0; text-align:left; font-size:18px; clear:both; text-align:left; color:#0072bc; text-transform:none;}
.pwrapulli { margin:0 0 10px 0; padding:0;}
.pwrapulli li {margin:0 0 0 15px; padding:5px 0; font-size:18px; text-align:left; color:#ed0c6e;  text-transform:none;}
.closepopup { position:absolute; top:-30px; right:-30px; color:#2e3f49; font-size:24px; background:#fff; border-radius:50%; -moz-border-radius:50%; -webkit-border-radius:50%; padding:1px 3px 0 3px;}
.cropframe {background:#222; width:100%; height:350px; clear:both; margin:0 0 20px 0; position:relative; color:#fff;}
.progresspup {width:48%; height:15px; top:45%; left:26%; background:url(../images/common/proggray.png); position:absolute;}
.progresspupbar {background:url(../images/common/progpink.png); height:100%;}
.phactionbtn {background:#ed0c6e; color:#fff; font-size:18px; text-align:center; padding:10px 0; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; margin:0 .5%; cursor:pointer; width:32%; float:left;}
.phactionbtn i {margin:0 10px 0 0; font-size:22px; position:relative;}
.phactionbtn i span {position:absolute; font-size:8px; color:#ed0c6e; bottom:2px; right:1px;}
.skiptxt {color:#0072bc; font-size:18px; padding:10px 0 0 10px; float:left; text-decoration:underline;}
.skiptxt1 {color:#fff; font-size:18px; padding:10px 13px 0 0; float:right; clear:both; text-transform:uppercase; text-decoration:underline; white-space:nowrap;}

.upoptionbtn {background:#ed0c6e; color:#fff; font-size:20px; text-align:left; padding:10px 0 10px 15px; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; margin:0 auto; width:280px; display:inline-block; position:relative;}
.upoptionbtn i {font-size:24px; border-right:1px solid #fff; padding:0; margin:0 15px 0 0; display:inline-block !important; width:35px;}
.photofmstyle {position:absolute; opacity:.01; top:0; left:0; width:100%; } 
.photofmstyle input {width:100%; height:45px; cursor:pointer;}


/* Edit Preferences */
.sliderContainer {margin:5px 0 15px 0;}
.ui-widget {margin:0 auto; padding:0 10px; list-style:none; background:#e6e7e8; overflow:auto; width:300px !important; font-size:16px; height:300px;}
.ui-widget li {margin:0; padding:3px 0;}
.ui-widget li span {float:right; font-size:12px; color:#999;}


/* FBerror */
.fberrmsg {color: #fff; left: 0; position: absolute; right: 0; top: 45%; z-index: 999;}

@media screen and (max-width:1020px){
.photopopup {width:80%;}
}

@media screen and (max-width:800px){
.new_container {width:100%;}
.photopopup {width:90%;}
.formreg1 ul li {width:32%;}
.psyformsec, .regfrmaction, .regformsec, .phofrmaction {width:80%;}
}

@media screen and (max-width:640px){
.photosec, .photoupaction {width:auto;}
.pframeleft {float:none; overflow:hidden; margin:0 0 0 20px;}
.pframeright {margin:20px; width:auto; float:none;}
.phguidline {width:25%;}
.photopopup {width:95%; margin:10px;}
.regformsec {width:80%;}
.icheckbox_line-blue, .iradio_line-blue {font-size:16px;}
.questtxt { width:auto;}
.phactionbtn {margin:0 2px;}
.psyformsec, .regfrmaction, .regformsec, .phofrmaction {width:96%; margin:2%;}
.doitlater {margin-left:80%;}
.progresspup {width:80%; left:10%;}
}

@media screen and (max-width:480px){
.regscalesec {width:248px; height:10px; background:url(../images/common/regprogress1.png?v=2) no-repeat;}
.regprogbar {height:10px; background:url(../images/common/regprogressfill1.png?v=2) no-repeat;}
.regformsec {width:100%; padding:15px 0 0 0; margin:0 0 5px 0;}
.formreg, .formreg1 {width:90%; margin:0 5% 10px 5%;}
.regfbconnect, .continuebtn, .backbtn, .regtxtbox, .regddselect, .formreg p, .formreg1 p {font-size:16px;}
.regfbconnect {padding:8px 15px;}
.ortxt {font-size:16px; padding:10px;}
.continuebtn span i, .backbtn span i, .regformsec, .notetxt  {font-size:14px;}
.continuebtn span, .backbtn span {font-size:22px;}
.formreg p span{padding:0; font-size:12px;}
.phguidline {width:50%;}
.pframeleft {width:auto;}
.profilepicsec, .profilepicsec img {width:276px; height:276px;}
.addotherpicsec, .addotherpicsec img {width:128px; height:128px;} 
.regprogress h2, .psytxtbox h4 {font-size:20px;}
.phactionbtn {margin:0 0 10px 0; width:95%; display:inline-block; padding:5px 0;}
.newphyq li {float:left; padding:5px;}
.psytesttd1 {width:70%;}
.psytxtbox {font-size:16px; margin:10px;}
.psytest tr td span, .psyfavimp {font-size:12px;}
}

@media screen and (max-width:360px){
.addmore {font-size:16px;}	
.addmore i {font-size:30px;}	
.pframeright {margin:10px; width:auto; float:none;}
.pframeleft {margin:0 0 0 10px;}
.profilepicsec, .profilepicsec img {width:210px; height:210px;}
.addotherpicsec, .addotherpicsec img {width:100px; height:100px;}

.profilepicsec, .addotherpicsec {margin:10px 10px 0 0;}
.upoptionbtn {font-size:16px; width:240px;}
.upoptionbtn i {font-size:20px;}
.undrmodphoto p {font-size:18px;}
.formreg, .formreg1 {width:96%; margin:0 2% 10px 2%;}
.formreg1 ul li {margin:0 1%; width:48%;}
.padedit {margin-top: -10px!important; width: auto !important;}
.basicstepbg, .photostepbg, .comphychobg, .valuephychobg, .adaptphychobg, .favstepbg {padding:0 0 10px 0;  min-height:480px;}
.psytxtbox {font-size:15px;}
.psyformsec, .regformsec {width:99%; margin:10px 0.5%; -webkit-box-shadow: 0 2px 3px rgba(0,0,0,.2); -moz-box-shadow: 0 2px 3px rgba(0,0,0,.2); box-shadow: 0 2px 3px rgba(0,0,0,.2);}
.psyformsec {border-top:1px solid #e6e7e8;}
.psytesttd1 {width:65%;}
.regprogress {margin:0; padding:10px 0;}
.regprogress h2, .psytxtbox h4 {font-size:18px;}
.regfrmaction { font-size:16px;  margin:10px 0.5%;}
.showmatch { margin:8px 0;}
.psytxtbox h5 {font-size:18px; line-height:18px;}
.psytxtbox h5 span {font-size:30px;}
.psycho1ans li, .questans1 label span {font-size:16px;}
.questans1 label span {padding:10px;}
.psytxtwdth {margin:10px !important;}
.questans1 p {font-size:14px;}
/* .formbtmbrdr {display:none;}
.psycho1ans li p {padding:0;} */
.psycho1ans li {margin:25px 0 25px 35px;}
.doitlater {margin-left:70%;}
}

@media screen and (max-width:320px){
.profilepicsec, .profilepicsec img {width:186px; height:186px;}
.addotherpicsec, .addotherpicsec img {width:88px; height:88px;}
.photoupaction li {width:145px;} 
.psytesttd1 {width:60%;}
}



