

body{font-family:Helvetica, Arial, sans-serif; font-size:14px; color:#2e3f49; background:#fafafa; margin:0; padding:0;} 
a {cursor:pointer; text-decoration:none;}
a:hover {text-decoration:none;}

.fl {float:left;}
.fr {float:right;}
.fn {float:none;}
.clb {clear:both;}
.overf {overflow:hidden;}
.posr { position:relative;}

.new_wrapper {width:100%; margin:0 auto;}
.new_container {width:420px; margin:0 auto; overflow:hidden; background:#fff; position:relative; border-bottom:1px solid #ddd;}
.pageheader {position:fixed; overflow:hidden; background:#fff; top:0; width:420px; z-index:999; border-bottom:1px solid #e6e7e8;}
.pagefooter {position:fixed; overflow:hidden; bottom:0; width:420px; z-index:11;}
.endhdrlogo {border:none; margin:10px; float:left;}
.appicon {border:none; margin:10px; float:right;}
.titletxt {margin: 60px 10px 10px 10px; padding:0; font-size:22px; text-align:left; clear:both; padding:10px 0 0 0; clear:both; border-top: 1px solid #c0bfc4;}
.usrimage {width:100%; border:none; display:inline-block;}
.userdetails { background:url(../images/imagebelowbg.png); margin:0 auto; padding:10px 0; width:100%; text-align:left; line-height:20px; }
.userdetails p { font-size:20px;margin:0 10px; padding:0; clear:both; overflow:hidden;}
.userdetails span { font-size:14px; margin:0 10px;}
.new_container h3 {font-size:16px; text-align:left; margin:20px 10px 10px 10px; padding:0 0 5px 0; font-weight:bold; border-bottom:1px solid #acc7e5;} 

.hashtagsec { margin:0 5px; overflow:hidden;}
.hashtagsec ul {margin:0 auto; padding:0; width:100%; clear:both; float:left;}
.hashtagsec ul li {padding:5px 10px; margin:5px; float:left; background:#e6e7e9; border-radius:20px; -moz-border-radius:20px; -webkit-border-radius:20px; color:#000; font-size:16px; list-style:none; font-weight:100;}

.favitemsec { margin:0 5px 10px 5px; overflow:hidden;}

.wnedetails { margin:0 5px; overflow:hidden;}
.wnedetails ul {margin:0 auto; padding:0; width:100%; clear:both; float:left;}
.wnedetails ul li {list-style-type: none; margin: 5px; padding:0; vertical-align: middle; float:left; text-align:left; font-size:16px; line-height:20px;}
.wnedetails ul li p {font-size:16px; clear:both; text-align:left; margin:20px 0 0 0; padding:0;}
.wnedetails ul li span {font-size:15px; color:#777; clear:both; text-align:left; margin:0; padding:0;}
.iconcell {width:40px;}
.iconcell img {width:40px; height:40px; border:none; margin:10px 0 0 0;}
.detcell {width:330px;}

.endorsebtn { background:#acc7e5; color:#fff; width:50%; text-align:center; font-size:22px; float:left; padding:20px 0; margin:0 auto;}
.nothankbtn { background:#fdb2b9; color:#fff; width:50%; text-align:center; font-size:22px; float:right; padding:20px 0; margin:0 auto;}
.clickendorsebtn { background:#598fc9;}	
.clicknothankbtn { background:#ee6296;}	


.inticons { margin:0 0 5px 5px; padding:0; list-style:none; clear:both; display:inline-block; width:100%;}
.inticons li { width:40px; height:40px; padding:0; margin:0 15px 0 0; float:left; background:url(../images/profile/iconfavourites.png) no-repeat 0 0; cursor:pointer;}
.inticons li span { width:40px; height:40px; display:inline-block;}

.intmovie { background-position:0 0 !important;}
.intmusic { background-position:-58px 0 !important;}
.intbooks { background-position:-115px 0 !important;}
.intfood { background-position:-169px 0 !important;}
.intother { background-position:-220px 0 !important;}

.moviedactive { background-position:0 -49px !important; cursor:default!important;}
.musicdactive { background-position:-58px -49px !important; cursor:default!important;}
.booksdactive { background-position:-115px -49px !important; cursor:default!important;}
.fooddactive { background-position:-169px -49px !important; cursor:default!important;}
.otherdactive { background-position:-220px -49px !important; cursor:default!important;}

.intwrapper {white-space: nowrap; overflow-y: hidden; overflow-x: scroll; -webkit-overflow-scrolling: touch; background-color: #fff; border:1px solid #ccc; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; clear:both; font-size:14px; height:60px; }
.intwrapper ul { margin:0 auto; padding:0; width:2000%;}
.intwrapper ul li { padding:15px; margin:0 auto; float:left; height:20px; text-transform:uppercase; list-style:none; border-right:1px solid #ccc;}
.moviesec {color:#d9005f;}
.musicsec {color:#3274ba;}
.booksec {color:#f556a1;}
.foodsec {color:#2ebdd7;}
.othersec {color:#f4283b;}

.indicatetop {position:absolute; top:-5px; z-index:10;}

.comnlikes {white-space: nowrap; overflow-y: hidden; overflow-x:auto; -webkit-overflow-scrolling: touch; background-color: #fff; border:1px solid #ccc;  border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; margin:0 auto; width:94%; padding:10px 2%; -webkit-box-shadow: 1px 1px rgba(0,0,0,.05); -moz-box-shadow: 1px 1px rgba(0,0,0,.05); box-shadow: 1px 1px rgba(0,0,0,.05);}
.comnlikes a {margin:5px 0 5px 0; padding:0; display:inline-block; cursor:default; font-size:14px;}
.seperaterline {padding:5px 15px; font-size:14px; color:#ccc;}
/* .colorcode1 {color:#0072bc !important;}
.colorcode2 {color:#ed0c6e !important;}*/

/* Photo Gallery */
.prophoto {margin:60px 0 0 0; position:relative; width:100%; height:300px;  background-size: cover; background-repeat: no-repeat;    background-position: 50% 20%; }
.prophoto img {border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; border:none;}
.profile-pic-img { width:100%; height:300px;}
.photothumbs {text-align:center; width:100%; position:absolute; bottom:2px;}
.photothumbs img {width:45px; height:45px; margin:0 1px; float:none; cursor:pointer; border:1px solid rgba(255,255,255,0.7);}

.mfp-wrap {background:rgba(0,0,0,0.7); height: 100%; left: 0; overflow: hidden !important; position: fixed; top: 0; width: 100%; z-index: 1000; margin:0 auto; }
.mfp-container {overflow:hidden; position: fixed; top: 0; margin:2% auto; left: 0; right: 0; z-index: 1000; width:700px; padding:0; color:#fff;}
.mfp-preloader {display:none;}
.mfp-arrow {width:35px; height:33px; background:url(../images/profile/photosliderarrow.png?v=1) no-repeat; position:absolute; top:240px; opacity:0.4; border:none; cursor:pointer;}
.mfp-arrow-left {left:5px; background-position:0px 0px !important;}
.mfp-arrow-right {right:5px; background-position:-45px 0px !important;}
.mfp-figure {height:580px !important;}
.mfp-img {max-height:500px !important; min-height:300px; max-width:100%;}
.mfp-figure figure {text-align:center;}
.mfp-close {background:rgba(0, 0, 0, 0.5); border:2px solid rgba(255, 255, 255, 0.9); color:#fff; position:absolute; top:0; right:0; font-size:18px; width:30px; height:30px; border-radius: 100%;  -webkit-border-radius:100%; -moz-border-radius:100%; cursor:pointer; padding-bottom:10px; }
		
@media screen and (max-width:800px){ 
}

@media screen and (max-width:640px){
.mfp-container {width:98%}
.mfp-figure {height:90% !important;}
.mfp-img {max-height:85% !important;}
}

@media screen and (max-width:480px){
.new_container, .pageheader, .pagefooter {width:100%;} 
.titletxt { font-size:20px;}
.detcell {width:80%;}
}


@media screen and (max-width:360px){
.photothumbs img {width:40px; height:40px;}
.mfp-arrow {top:140px;}
}

@media screen and (max-width:320px){

}



