body{font-family: 'Eurofurence','Open Sans', sans-serif; font-size:14px; color:#2e3f49; margin:0px; padding:0px; background:#fff;} 

a {cursor:pointer; text-decoration:none;}
a:hover {text-decoration:none;}

.fl {float:left;}
.fr {float:right;}
.fn {float:none;}
.clb {clear:both;}
.overf {overflow:hidden;}
.mrg0 {margin:0 auto;}
.cursp {cursor:pointer;}
.padt8 {padding-top:8px !important;}
.txtaleft { text-align:left !important;}

.hdrcontainer {width:100%; margin:0 auto; background:#2e3f49; padding: 0 0 7px 0;}
.hdrtopstc {width: 960px; margin:0 auto;}

/* top header */
.tbpagebg {background:url(../images/trustpagebg.jpg) no-repeat center center fixed;}
.tcpagebg {background:url(../images/tctpagebg.jpg) no-repeat center center fixed;}
.careerpagebg {background:url(../images/careerpagebg.jpg) top center  no-repeat; min-height:330px; -webkit-background-size: 100%; -moz-background-size: 100%; -o-background-size: 100%; background-size: 100%; width:100%; margin:0 auto; overflow:hidden;  position:relative; }
.abtpagebg {background:url(../images/abtpagebg.jpg) bottom center  no-repeat; min-height:530px; -webkit-background-size: 100%; -moz-background-size: 100%; -o-background-size: 100%; background-size: 100%; width:100%; margin:0 auto; overflow:hidden;  position:relative; }
.stchdr {-webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;  width:100%; margin:0 auto; overflow:hidden; min-height:440px; position:relative;}
.stchdr h1{color:#fff; font-weight:normal; font-size:90px; font-family:'Eurofurence Light','Open Sans', sans-serif; margin:15% 0 10% 10%; padding:0; float:left; clear:both; text-transform:uppercase; text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);}
.stctxttop {position:relative; background:#e6e7e8; clear:both; width:70%;}
.stctxttop p {padding:0; margin:20px 0; font-size:20px; text-align:left; color:#0072bc; line-height:20px; width:80%;}
.stctxttop p a {text-decoration:none; padding:5px 15px; background:#598fc9; color:#fff; font-size:22px; margin:0 10px 10px 0; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; display:inline-block;}
.paratitletxt {color:#ed0c6e; font-size:30px; text-transform:uppercase;}
.hartshape1 {background:url(../images/hartshape1.png) top right; position:absolute; width:45%; top:-317px; left:-45%; height:1000px; } 
.hartshape2 {background:url(../images/hartshape2.png) top left; position:absolute; width:45%; top:-317px; right:-45%; height:1000px; } 
.hrtbg1 {position:absolute; right:-10%; bottom:-30%; opacity:0.6;}
.hrtbg2 {position:absolute; right:-27%; bottom:10%; opacity:0.3;}
.hrtbg3 {position:absolute; left:-10%; top:10%; opacity:0.3;}
.hrtbg4 {position:absolute; right:-7%; bottom:-10%; opacity:0.3;}
.hrtbg5 {position:absolute; left:-20%; top:-50%; opacity:0.3;}

.stcsec1 {background:#fff; margin:0 auto; width:100%; position:relative; overflow:hidden;}
.stcsec1txt {width:80%; margin:0 auto; text-align:left; overflow:hidden; padding-bottom:40px;}
.stcsec1txt h2 {color:#0072bc; font-size:80px; font-weight:normal; text-transform:uppercase; margin:40px 0 30px 0;  font-family:'Eurofurence Light','Open Sans', sans-serif; padding:0;}
.stcsec1left {float:left; width:55%;}
.stcsec1left strong {color:#0072bc; font-size:28px; font-weight:bold; text-transform:uppercase;}
.stcsec1left p {color:#ed0c6e; font-size:20px; padding:0; margin:5px 0 20px 0;}
.stcsec1right {float:right; width:45%; text-align:right;}
.stcsec1right img { clear:both; width:398px; float:right; margin:10px;}

.stcsec2 {background:#e6e7e8; margin:0 auto; width:100%; position:relative; overflow:hidden;}
.stcsec2txt, .stcsec3txt, .stcsec4txt {width:80%; margin:0 auto; text-align:left;}
.stcsec2txt h2, .stcsec3txt h2, .stcsec4txt h2  {color:#ed0c6e; font-size:80px; font-weight:normal; text-transform:uppercase; margin:40px 0 30px 0;  font-family:'Eurofurence Light','Open Sans', sans-serif; padding:0; text-align:right;}
.stcsec2txt ul {float:right; width:70%}
.stcsec2txt ul li {padding:0; margin:0 0 20px 0; font-size:20px; text-align:left; color:#0072bc; line-height:20px;}
.stcsec2txt p {color:#0072bc; font-size:20px; padding:0; width:100%; margin:0 0 40px 0;}
.blurproimg {float:left; margin:-50px 0 30px 0;}

.stcsec3txt ul {float:right; width:100%; margin:0 auto; padding:0 0 40px 0; list-style:none; overflow:hidden;}
.stcsec3txt ul li {padding:0 0 20px 0; margin:0 7% 0 0; font-size:22px; text-align:left; color:#0072bc; line-height:30px; float:left;}
.stcsec3txt ul li a {color:#ed0c6e; font-size:26px;}

.stcsec4txt ul {float:left; width:70%; clear:both; list-style:none;}
.stcsec4txt ul li {padding:0; margin:0 0 20px 0; font-size:20px; text-align:left; color:#0072bc; line-height:20px;}
.stcsec4txt ul li i {font-size:18px; color:#ed0c6e;}
.stcsec4txt p {color:#0072bc; font-size:20px; padding:0; width:100%; margin:0 0 40px 0; clear:both;}
.stcsec4txt p span {font-size:28px;}
.stcsec4txt p a {color:#ed0c6e;}

.openings {float:left; clear:both; list-style:none;}
.openings li {padding:0; margin:0 0 20px 0; font-size:28px; text-align:left; color:#ed0c6e; line-height:20px; cursor:pointer;}
.openings li i {font-size:24px; color:#0072bc;}

.advprosec {margin:0 auto; width:90%; overflow:hidden;}
.advpro {background:#e6e7e8; border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px; -webkit-box-shadow: 0 2px 5px rgba(0,0,0,.3); 	-moz-box-shadow: 0 2px 5px rgba(0,0,0,.3); box-shadow: 0 2px 5px rgba(0,0,0,.3); width:23%; margin:1%; text-align:center; height:410px; float:left; display:inline-block;}
.advpro img {margin:5% 0 0 0; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; width:90%;}
.advpro h3 { font-size:22px; color:#ed0c6e; text-align:center; padding:10px 0; margin:0 10px; font-weight:normal; border-bottom:1px solid #d4d4d4;}
.advpro ul { margin:10px 0 0 0; padding:0; list-style-type:none;}
.advpro ul li {margin:0 0 10px 20px; padding:0; font-size:14px; text-align:left; color:#2e3f49; position:relative;}
.advpro ul li i {font-size:6px; position:absolute; margin:4px 0 0 -10px;}

.advpro1 {background:#e6e7e8; border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px; -webkit-box-shadow: 0 2px 5px rgba(0,0,0,.3); 	-moz-box-shadow: 0 2px 5px rgba(0,0,0,.3); box-shadow: 0 2px 5px rgba(0,0,0,.3); width:23%; margin:1%; text-align:center; height:340px; float:left; display:inline-block;}
/* .advpro1 img {margin:5% 0 0 0; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; width:90%;} */
.advpro1 h3 { font-size:22px; color:#ed0c6e; text-align:center; padding:10px 0; margin:10px; font-weight:normal; border-bottom:1px solid #d4d4d4; line-height:17px;}
.advpro1 h3 span {color:#0072bc; font-size:15px;}
.advpro1 ul { margin:10px 0 0 0; padding:0; list-style-type:none;}
.advpro1 ul li {margin:0 0 10px 20px; padding:0; font-size:14px; text-align:left; color:#2e3f49; position:relative;}
.advpro1 ul li i {font-size:6px; position:absolute; margin:4px 0 0 -10px;}


/* Flipper */
.flip-container {-webkit-perspective: 1000; -moz-perspective: 1000; -ms-perspective: 1000; perspective: 1000; -ms-transform: perspective(1000px); -moz-transform: perspective(1000px); -moz-transform-style: preserve-3d; -ms-transform-style: preserve-3d; margin:0 auto; padding:10px;}
/* START: Accommodating for IE */
.flip-container:hover .back, .flip-container.hover .back {-webkit-transform: rotateY(0deg); -moz-transform: rotateY(0deg); -o-transform: rotateY(0deg);-ms-transform: rotateY(0deg); transform: rotateY(0deg);}
.flip-container:hover .front, .flip-container.hover .front {-webkit-transform: rotateY(180deg); -moz-transform: rotateY(180deg); -o-transform: rotateY(180deg);
 transform: rotateY(180deg);}
/* END: Accommodating for IE */
.flip-container, .front, .back { width:100%; height:200px;  border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;}
.flipper {-webkit-transition: 0.4s; -webkit-transform-style: preserve-3d; -ms-transition: 0.4s; -moz-transition: 0.4s; -moz-transform: perspective(1000px); -moz-transform-style: preserve-3d; -ms-transform-style: preserve-3d; transition: 0.4s; transform-style: preserve-3d; position: relative;}
.front, .back {-webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -ms-backface-visibility: hidden; backface-visibility: hidden; -webkit-transition: 0.4s; -webkit-transform-style: preserve-3d; -moz-transition: 0.4s; -moz-transform-style: preserve-3d; -o-transition: 0.4s; -o-transform-style: preserve-3d; -ms-transition: 0.4s; -ms-transform-style: preserve-3d; transition: 0.4s; transform-style: preserve-3d; position: absolute; top: 0; left: 0;}
.front {-webkit-transform: rotateY(0deg); -ms-transform: rotateY(0deg); background: lightgreen; z-index: 2; }
.back { -webkit-transform: rotateY(-180deg); -moz-transform: rotateY(-180deg); -o-transform: rotateY(-180deg); -ms-transform: rotateY(-180deg); transform: rotateY(-180deg);  background: #252c30;}
.fliptxt {text-align: center; width:100%; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;}
.fliptxt p {color:#fff; font-size: 24px; text-shadow: 1px 1px 1px #000; padding:70px 0 0 0; line-height:30px;  font-family:'Eurofurence Light','Open Sans', sans-serif;}
.fliptxt p span {font-family: 'Eurofurence','Open Sans', sans-serif;}
.txtpink {color:#ed0c6e;}
.txtblue {color:#0072bc;}



/* Logo Header */
.pageheader {padding:5px 0; margin:0 auto; width:100%; background:#fff; border-radius:0 0 10px 10px; -moz-border-radius:0 0 10px 10px; -webkit-border-radius:0 0 10px 10px; -webkit-box-shadow: 1px 2px 6px rgba(0,0,0,.65); -moz-box-shadow: 1px 2px 6px rgba(0,0,0,.65); box-shadow: 1px 2px 6px rgba(0,0,0,.65); display:inline-block; }
.sitelogo {margin:5px 0 0 15px; float:left; border:none;}
.ddicon {font-size:26px !important; margin:5px 0 0 15px !important; border:none !important; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;}

/* Drop Down1 */
.click-nav {margin:0 auto; width:auto; float:left; }
.click-nav ul {}
.click-nav ul li {position:relative; list-style:none; cursor:pointer;}
.click-nav ul li ul { position:absolute; left:0; right:0; width:160px; border-radius:0 0 5px 5px; -moz-border-radius:0 0 5px 5px; -webkit-border-radius:0 0 5px 5px; overflow:hidden;background:#fff; padding:10px 0; -webkit-box-shadow: 0 3px 2px rgba(0,0,0,.4); -moz-box-shadow: 0 3px 2px rgba(0,0,0,.4); box-shadow: 0 3px 2px rgba(0,0,0,.4); z-index:10000;}
.click-nav ul .clicker {color:#2e3f49;}
.click-nav ul .clicker:hover, .click-nav ul .active {color:#598fc9;	background:#e6e7e8;}
.click-nav ul li a {transition:background-color 0.2s ease-in-out; -webkit-transition:background-color 0.2s ease-in-out; -moz-transition:background-color 0.2s ease-in-out; display:block; padding:5px; margin:3px 10px; font-size:16px; background:#FFF; color:#333; text-decoration:none; text-align:left; border-top:1px solid #e6e7e8; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; }
.click-nav ul li a:hover { color:#598fc9; background:#e6e7e8;}
/* Fallbacks */
.click-nav .no-js ul {display:none;}
.click-nav .no-js:hover ul {display:block;}
*, *:after, *:before {margin:0; padding:0; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -webkit-font-smoothing:antialiased; font-smoothing:antialiased; text-rendering:optimizeLegibility;}


/* Responsive Header */
.respheader {width:100%; background:#2e3f49; display:none; position:fixed; top:0; left:0; z-index:999;}

.click-nav2 {margin:5px 0 0 0; width:auto; float:left; }
.click-nav2 ul { background:rgba(46,63,73,0.9); display:inline-block;}
.click-nav2 ul li {position:relative; list-style:none; cursor:pointer;}
.click-nav2 ul li ul { position:absolute; top:35px; left:0; width:150px; overflow:hidden; padding-bottom:5px; z-index:10000;}

.click-nav2 ul .clicker2 {color:#fff; text-align:left; padding:5px; border-top:none !important; font-size:24px;}
.click-nav2 ul .active {color:#fff; background:#637077;}

/*.clicker1 {color:#fff; text-align:left; padding:5px;} */
.clicker2 img {width:25px; height:25px; border:none; margin:0 10px 0 0; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; }
.clicker2 span {text-transform:uppercase;}
.click-nav2 ul li a {display:block; padding:10px 5px; margin:0 5px; font-size:14px; text-transform:uppercase; color:#fff; text-decoration:none; text-align:left; border-top:1px solid #637077;}
.click-nav2 ul li a:hover { color:#e6e7e8;}
/* Fallbacks */
.click-nav2 .no-js1 ul {display:none;}
.click-nav2 .no-js1:hover ul {display:block;}

/* footer */
.ftrbg { background:#2e3f49; overflow:hidden; width: 100%;}
.pagefooter {padding:10px 0; margin:0 auto; width:960px; color:#fff; font-size:14px;}
.footerlink {margin:0 auto; overflow:hidden;}
.footerlink ul {margin:0 auto; padding:0; list-style-type:none; overflow:hidden; display:inline-block;}
.footerlink ul li {margin:0 8px; padding:0; float:left;}
.footerlink ul li a, .copyr a {color:#fff;}
.copyr {padding:0; margin:0 auto; text-align:center; color:#bdbdbd; font-size:13px; clear:both; width:100%;}
.followus {float:right; white-space:nowrap;}
.followus p {padding:0; margin:8px 10px 0 0; color:#fff; text-align:left; float:left; white-space:nowrap;}
.followus a {background:url(../images/common/social-icon.png) no-repeat; width:29px; height:29px;}
.followus a.fb{ background-position:left top; margin:0 3px 0 0; display:inline-block;}
.followus a.fb:hover{ background-position: left -29px; transition: all 0.5s ease 0s; }
.followus a.tmblog{background-position: -66px top; margin:0 3px 0 5px; display:inline-block;}
.followus a.tmblog:hover{ background-position: -66px -29px; transition: all 0.5s ease 0s; }
.followus a.twitter{ background-position: -33px top; margin:0 3px 0 5px; display:inline-block;}
.followus a.twitter:hover{ background-position: -33px -29px; transition: all 0.5s ease 0s; }
.followus a.insta{ background-position: -99px top;margin:0 3px 0 5px; display:inline-block;}
.followus a.insta:hover{ background-position: -99px -29px; transition: all 0.5s ease 0s; }
.followus a.youtube{ background-position: -132px top;margin:0 3px 0 5px; display:inline-block;}
.followus a.youtube:hover{ background-position: -132px -29px; transition: all 0.5s ease 0s; }


.hdrsoclink {margin:8px 10px 0 0;}
.graytxt {color:#999 !important;}

.difusescreen {background: none repeat scroll 0 0 #000000; height: 100%; left: 0; opacity: 0.7; overflow: hidden; position: fixed; top: 0; width: 100%; z-index: 1000; margin:0 auto; }

.popupframe {position: fixed; top: 0; margin:5% auto; left: 0; right: 0; z-index: 1000; background:#fff;  width:50%; -webkit-box-shadow: 0 0 10px #000; -moz-box-shadow: 0 0 10px #000; box-shadow: 0 0 10px #000; padding:0;}
.popupframe h4 {font-size:28px; text-align:left; margin:0 auto; padding:10px 20px; color:#ed0c6e; font-weight:normal;}
.popupframe ul {margin:0 0 20px 20px; float:left; clear:both; list-style:disc;}
.popupframe ul li { padding:0; text-align:left; font-size:20px; clear:both; margin:5px 20px;}
.closepopup { position:absolute; top:-10px; right:-10px; color:#2e3f49; font-size:24px; background:#fff; border-radius:50%; -moz-border-radius:50%; -webkit-border-radius:50%; padding:1px 3px 0 3px;}


@media screen and (max-width:800px){
.hdrtopstc {width: 90%;}
.hrtbg1, .hrtbg2, .hrtbg3, .hrtbg4, .hrtbg5 {display:none;}
.stcsec1right img {width:300px;}
.pagefooter {width:100%; font-size:12px;}
.footerlink ul li {margin:0 5px;}
.stctxttop, .stcsec1txt, .stcsec2txt, .stcsec3txt, .stcsec4txt {width:98%;}
.stctxttop p {width:90%; margin:5%;}
.stcsec1left {width: 45%; margin: 0 0 0 10px;}
.stchdr h1 {font-size:80px; margin:20% 0; width:100%; text-align:center;}
.stcsec1txt h2, .stcsec2txt h2, .stcsec3txt h2, .stcsec4txt h2 { font-size:60px;}
.blurproimg {margin:0 0 30px 0;}
.stcsec2txt ul {width:50%;}
.advprosec {width:100%;}
.advpro1 {width:31%;}
.abtpagebg {min-height:300px; }
.stcsec2txt p {width:96%; margin:0 2% 40px 2%;}
.popupframe {width:70%; top:10%;}
.stcsec4txt ul {width:99%;}
}
@media screen and (max-width:640px){
.respheader{ display:inline-block;}
.hdrcontainer, .hartshape1, .hartshape2 {display:none;}
.advpro {width:46%; height:470px; margin:2%;}
.advpro1 {width:46%; margin:2%;}
.abtpagebg, .careerpagebg {min-height:280px; }
.ftrbg {display:none;}
.popupframe {width:90%; top:10%;}
.popupframe h4 { font-size:24px;}
.openings li, .openings li i { font-size:24px;}
.popupframe ul li { font-size:18px;}
}

@media screen and (max-width:480px){
.stcsec1txt h2, .stcsec2txt h2, .stcsec3txt h2, .stcsec4txt h2 { font-size:40px; text-align:center;}
.stcsec1right {float: none; width: 100%; text-align:center;}
.stcsec1left, .stcsec2txt ul {width: 90%; margin: 5%; float:none;}
.stcsec1right img {float:none;}
.blurproimg {display:none;}
.advpro {height:410px;}
.stchdr h1 {font-size:60px;}
.abtpagebg, .careerpagebg {min-height:230px; }
.txtaleft { text-align:center !important;}
}
@media screen and (max-width:360px){
.advpro, .advpro1 {height:auto; width:80%; margin:5% 10%;}
.stchdr h1 {font-size:50px;}
.abtpagebg, .careerpagebg {min-height:180px; }
}

@media screen and (max-width:320px){
.stcsec1right img {width:290px; margin:0 auto;}
.abtpagebg, .careerpagebg {min-height:160px; }
}