body{font-family: 'Eurofurence','Open Sans', sans-serif; font-size:14px; color:#2e3f49; margin:0px; padding:0px; background:#fff;} 

a {cursor:pointer; text-decoration:none;}
a:hover {text-decoration:none;}

.fl {float:left;}
.fr {float:right;}
.fn {float:none;}
.clb {clear:both;}
.overf {overflow:hidden;}
.mrg0 {margin:0 auto;}
.mrgl1 {margin-left:150px !important;}
.mrgr1 {margin-right:110px !important;}
.mrgt1 { margin-top:-5px !important;}
.txalmid {text-align:center !important;}
.cursp {cursor:pointer;}
.fs14 {font-size:14px;}
.padt8 {padding-top:8px !important;}
.linkhide {}

.error{margin:5px 0; color:#C00; white-space:nowrap;}
#gensex .error {left: 50%; position: absolute !important; top: 25px; width: 100%; white-space:nowrap;}

/* top header */
.ioslaunch {background:#000; color:#fff; text-align: center; padding: 10px 0px; font-size: 21px; width:100%; font-family:'Eurofurence Light','Open Sans', sans-serif; position:relative;}
.txtdlapp {color:#fff; text-decoration:none;}
.closetoste { color:#999; text-decoration:none; cursor:pointer; position:absolute; font-size:36px; right:10px; top:0;}

.bgheader {background:url(../images/home/homehdrbg_new.jpg?v=1) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; height:600px; width:100%; margin:0 auto;}

.endorsheader {width:100%; clear:both; z-index:999; text-align:center; font-size:18px; overflow:hidden; background:#fff; color:#2e3f49; padding:5px 0; display:none;}

.endorsheaderweb {width:100%; clear:both; z-index:999; text-align:center; font-size:18px; overflow:hidden; background:#2e3f49; color:#fff; padding:5px 0;}

.homecontainer {width: 960px; margin:0 auto; color:#fff;}
.comontitle {text-align:left; padding:0; float:left; clear:both; font-weight:normal; font-family:'Eurofurence Light','Open Sans', sans-serif; text-transform:uppercase; text-transform:uppercase; text-shadow: 1px 2px 3px rgba(0,0,0,.5); -moz-text-shadow: 1px 2px 3px rgba(0,0,0,.5); -webkit-text-shadow: 1px 2px 3px rgba(0,0,0,.5);}
.homecontainer h1 {font-size:100px; margin:30px 0 0 0;}
.homecontainer h2 {font-size:52px; margin:80px 0 10px 0; width:80%;}
.homecontainer h3 {font-size:32px; margin:0 auto; width:420px; text-transform:none;}
.actionbtn {text-align:left; width:100%; clear:both;}
.actionbtn a {margin:0 20px 0 0; float:left; padding:10px 27px; color:#fff; font-size:24px; text-transform:uppercase; border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px;}
.blubtn {background:#598fc9;}
.pnkbtn {background:#ee6296;}

/* Logo Header */
.pageheader {padding:5px 0; margin:0 auto; width:100%; background:#fff; border-radius:0 0 10px 10px; -moz-border-radius:0 0 10px 10px; -webkit-border-radius:0 0 10px 10px; -webkit-box-shadow: 1px 2px 6px rgba(0,0,0,.65); -moz-box-shadow: 1px 2px 6px rgba(0,0,0,.65); box-shadow: 1px 2px 6px rgba(0,0,0,.65); display:inline-block; }
.sitelogo {margin:5px 0 0 15px; float:left; border:none;}
.ddicon {font-size:26px !important; margin:5px 0 0 15px !important; border:none !important; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;}

/* Drop Down1 */
.click-nav {margin:0 auto; width:auto; float:left; }
.click-nav ul {}
.click-nav ul li {position:relative; list-style:none; cursor:pointer;}
.click-nav ul li ul { position:absolute; left:0; right:0; width:160px; border-radius:0 0 5px 5px; -moz-border-radius:0 0 5px 5px; -webkit-border-radius:0 0 5px 5px; overflow:hidden;background:#fff; padding:10px 0; -webkit-box-shadow: 0 3px 2px rgba(0,0,0,.4); -moz-box-shadow: 0 3px 2px rgba(0,0,0,.4); box-shadow: 0 3px 2px rgba(0,0,0,.4); z-index:10000;}
.click-nav ul .clicker {color:#2e3f49;}
.click-nav ul .clicker:hover, .click-nav ul .active {color:#598fc9;	background:#e6e7e8;}
.click-nav ul li a {transition:background-color 0.2s ease-in-out; -webkit-transition:background-color 0.2s ease-in-out; -moz-transition:background-color 0.2s ease-in-out; display:block; padding:5px; margin:3px 10px; font-size:16px; background:#FFF; color:#333; text-decoration:none; text-align:left; border-top:1px solid #e6e7e8; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; }
.click-nav ul li a:hover { color:#598fc9; background:#e6e7e8;}
/* Fallbacks */
.click-nav .no-js ul {display:none;}
.click-nav .no-js:hover ul {display:block;}
*, *:after, *:before {margin:0; padding:0; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -webkit-font-smoothing:antialiased; font-smoothing:antialiased; text-rendering:optimizeLegibility;}

/* 2nd sec new love new app */
.bgnlna, .bgtmp, bgnlna1 {background:rgba(221,221,221,.68); width:100%; margin:0 auto; position:relative; overflow:hidden;}
.bgnlna1 {display:none;}
.sec2bgleft, .sec2bgright, .sec5bgleft, .sec5bgright {position:absolute; margin:0 auto; border:0; z-index:-1; opacity:0.7;}
.sec2bgright {right:-55%; top:-10%;}
.sec2bgleft {left:-40%; top:-5%;}
.sec5bgright {right:-55%; top:-33%;}
.sec5bgleft {left:-50%; top:-35%;}
.belowhedr {width: 960px; margin:0 auto; padding:20px 0; overflow:hidden;}
.belowhedr h4 {margin:0 auto; padding:0; font-size:60px; color:#0072bc; font-family:'Eurofurence Light','Open Sans', sans-serif; text-transform:uppercase; text-align:left; font-weight:normal;}
.belowhedr h4 span {color:#ed0c6e;}
.downlapp { border:0; cursor:pointer; clear:both; margin:15px 0 0 0;}
.appscreen {float:right;}
.appscreen img{height:512px;}
.newapp {float:left;}


/* 3rd sec verified profile */
.bgvp {background:rgba(255,255,255,.75); width:100%; margin:0 auto; overflow:hidden; position:relative;}
.sec3bgleft, .sec3bgright {position:absolute; margin:0 auto; border:0; z-index:-1;}
.sec3bgright {right:-5%; top:-50%;}
.sec3bgleft {left:-10%; top:-10%;}
.verproimg {-webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; border:0; margin:0 40px 0 0; height:321px;}
.belowhedr p {font-size:24px; text-align:left; margin:20px 0 0 0; padding:0; width:380px;}
.colrpink {color:#ed0c6e;}
.colrblue {color:#0072bc;}
.colrwhite {color:#fff !important;}

/* 4th & 5th sec TC & SnD */
.bgtcsnd {background:url(../images/home/sec3bg.jpg) no-repeat top center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; width:100%; margin:0 auto; overflow:hidden; position:relative;}
.sec4bgleft, .sec4bgright {position:absolute; margin:0 auto; border:0; opacity:.4;}
.sec4bgright {right:-10%; bottom:-35%;}
.sec4bgleft {left:-25%; bottom:-10%;}
.secheart {margin:230px 0 0 0;}

/* 6th sec match process */
.matchprocess {margin:20px 0 0 0; padding:0; list-style-type:none; overflow:hidden; width:100%;}
.matchprocess li {float:left; margin:0 1%; padding:0; width:18%; font-size:22px; text-align:center; text-transform:uppercase; color:#ed0c6e; }
.matchprocess li img {border:0; margin:0; width:170px;}

/*7th sec media */
.mediacov {overflow:hidden; margin:0;}
.mediacov img {border:0; margin:0 20px;}


/* footer */
.ftrbg { background:#2e3f49; overflow:hidden; width: 100%;}
.pagefooter {padding:10px 0; margin:0 auto; width:960px; color:#fff; font-size:14px;}
.footerlink {margin:0 auto; overflow:hidden;}
.footerlink ul {margin:0 auto; padding:0; list-style-type:none; overflow:hidden; display:inline-block;}
.footerlink ul li {margin:0 8px; padding:0; float:left;}
.footerlink ul li a, .copyr a {color:#fff;}
.copyr {padding:0; margin:0 auto; text-align:center; color:#bdbdbd; font-size:13px; clear:both; width:100%;}
.followus {float:right; white-space:nowrap;}
.followus p {padding:0; margin:8px 10px 0 0; color:#fff; text-align:left; float:left; white-space:nowrap;}
.followus a {background:url(../images/common/social-icon.png) no-repeat; width:29px; height:29px;}
.followus a.fb{ background-position:left top; margin:0 3px 0 0; display:inline-block;}
.followus a.fb:hover{ background-position: left -29px; transition: all 0.5s ease 0s; }
.followus a.tmblog{background-position: -66px top; margin:0 3px 0 5px; display:inline-block;}
.followus a.tmblog:hover{ background-position: -66px -29px; transition: all 0.5s ease 0s; }
.followus a.twitter{ background-position: -33px top; margin:0 3px 0 5px; display:inline-block;}
.followus a.twitter:hover{ background-position: -33px -29px; transition: all 0.5s ease 0s; }
.followus a.insta{ background-position: -99px top;margin:0 3px 0 5px; display:inline-block;}
.followus a.insta:hover{ background-position: -99px -29px; transition: all 0.5s ease 0s; }
.followus a.youtube{ background-position: -132px top;margin:0 3px 0 5px; display:inline-block;}
.followus a.youtube:hover{ background-position: -132px -29px; transition: all 0.5s ease 0s; }

.hdrsoclink {margin:8px 10px 0 0;}
.graytxt {color:#999 !important;}



/* Popup */
.difusescreen {background: none repeat scroll 0 0 #000000; height: 100%; left: 0; opacity: 0.7; overflow: hidden; position: fixed; top: 0; width: 100%; z-index: 1000; margin:0 auto; }
.popupframe {position: fixed; top: 0; margin:5% auto; left: 0; right: 0; z-index: 1000; background:#fff;  width:400px; -webkit-box-shadow: 0 0 10px #000; -moz-box-shadow: 0 0 10px #000; box-shadow: 0 0 10px #000; padding:0; border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px; }
.closepopup { position:absolute; top:-10px; right:-10px; color:#2e3f49; font-size:24px; background:#fff; border-radius:50%; -moz-border-radius:50%; -webkit-border-radius:50%; padding:1px 3px 0 3px;}
.popupframe1 {position: fixed; top: 0; margin:8% auto; left: 0; right: 0; z-index: 1000; width:65%; -webkit-box-shadow: 0 0 10px #000; -moz-box-shadow: 0 0 10px #000; box-shadow: 0 0 10px #000; padding:0; border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px; }

.thnkumsg {overflow:hidden; text-align:center;}
.thnkumsg p { padding:0; margin:10px; text-align:center; font-size:20px; color:#000; line-height:24px; clear:both;}
.thnkumsg a { background:#91b5dd; color:#fff; text-align:center; font-size:20px; padding:5px 15px; margin:0 0 10px 0; clear:both; margin:10px; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; display:inline-block; cursor:pointer;}

/* Registration */
.regformsec, .logformsec {margin:0 auto; padding:20px 0 10px 0; text-align:center; font-size:16px;}
.regfbconnect {background-image: -webkit-linear-gradient(bottom, #23639b, #287aba); background-image: -moz-linear-gradient(bottom, #23639b, #287aba); 	background-image: -o-linear-gradient(bottom, #23639b, #287aba); background-image: linear-gradient(to top, #23639b, #287aba); font-size:20px; color:#fff; text-align:center; display:inline-block; padding:8px 0; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; text-transform:uppercase; margin:0 0 5px 0; width:80%;}
.regfbconnect i {margin:5px 10px 5px 0;}
.orline {background:url(../images/home/reggrayline.png); background-repeat:repeat-x; background-position:center left; margin:0 auto; width:80%;}
.ortxt {font-size:20px; color:#969fa4; padding: 0 10px; display:inline-block; background:#fff;}
.notetxt {color:#ee6296; padding: 0 0 10px 0; display: inline-block;}
.formreg {width:320px; overflow:hidden; margin:0 auto;}
.formreg ul {margin:15px 0 0 0; padding:0; position:relative; display: inline-block; clear: both; width: 100%;}
.formreg ul li {margin:0 auto; padding:0; list-style:none; width:49%;}


.regtxtbox {-webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; background-color:#e6e7e8; padding:5px 2.5%; border:none; width:94%; margin:15px 0 0 0; font-family: 'Eurofurence','Open Sans',  sans-serif; font-size:18px; clear:both; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; border:1px solid #ccc;}

.regbcbtn {border:none; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; background-color: #598fc9; -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.6); -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.6); box-shadow: 1px 2px 3px rgba(0,0,0,.6); color:#fff; text-align:center; padding:7px 20px; text-transform:uppercase;font-size:18px; margin:10px 5px 0 0;}


/* iCheck plugin Line skin, blue (CheckBox & RadioButton)
----------------------------------- */
.icheckbox_line-blue, .iradio_line-blue {position: relative; display: block; margin:0 auto; padding:7px 0; font-size: 16px; line-height: 17px; color: #2e3f49; background: #e6e7e8; border: none; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; cursor: pointer;}
.icheckbox_line-blue .icheck_line-icon, .iradio_line-blue .icheck_line-icon {position: absolute; top: 50%; left: 5px; /* width: 13px; */  height: 11px;        margin: -5px 0 0 0; padding: 0; overflow: hidden; background: url(../images/common/line.png) no-repeat; border: none; }
/* .icheckbox_line-blue.hover, .icheckbox_line-blue.checked.hover, .iradio_line-blue.hover {background: #4293f0; color:#fff;} */
.icheckbox_line-blue.checked, .iradio_line-blue.checked {background: #ed0c6e; color:#fff;}
.icheckbox_line-blue.checked .icheck_line-icon, .iradio_line-blue.checked .icheck_line-icon {background-position: -15px 0;}
.icheckbox_line-blue.disabled, .iradio_line-blue.disabled {background: #e6e7e8; cursor: default; color:#999;}
.icheckbox_line-blue.disabled .icheck_line-icon, .iradio_line-blue.disabled .icheck_line-icon {background-position: -30px 0;}
.icheckbox_line-blue.checked.disabled, .iradio_line-blue.checked.disabled {background: #e6e7e8;  color:#999;}
.icheckbox_line-blue.checked.disabled .icheck_line-icon, .iradio_line-blue.checked.disabled .icheck_line-icon {background-position: -45px 0;}


/* Responsive Header */
.respheader {width:100%; background:#2e3f49; display:none; position:fixed; top:36px; left:0; z-index:999;}
.ioslaunch_mobile {background:#000; display:none; color:#fff; text-align: center; font-size: 19px; width:100%; font-family:'Eurofurence Light','Open Sans', sans-serif; position:fixed; top: 0; z-index:999;}

.click-nav2 {margin:5px 0 0 0; width:auto; float:left; }
.click-nav2 ul { background:rgba(46,63,73,0.9); display:inline-block;}
.click-nav2 ul li {position:relative; list-style:none; cursor:pointer;}
.click-nav2 ul li ul { position:absolute; top:35px; left:0; width:150px; overflow:hidden; padding-bottom:5px; z-index:10000;}

.click-nav2 ul .clicker2 {color:#fff; text-align:left; padding:5px; border-top:none !important; font-size:24px;}
.click-nav2 ul .active {color:#fff; background:#637077;}

/*.clicker1 {color:#fff; text-align:left; padding:5px;} */
.clicker2 img {width:25px; height:25px; border:none; margin:0 10px 0 0; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; }
.clicker2 span {text-transform:uppercase;}
.click-nav2 ul li a {display:block; padding:10px 5px; margin:0 5px; font-size:14px; text-transform:uppercase; color:#fff; text-decoration:none; text-align:left; border-top:1px solid #637077;}
.click-nav2 ul li a:hover { color:#e6e7e8;}
/* Fallbacks */
.click-nav2 .no-js1 ul {display:none;}
.click-nav2 .no-js1:hover ul {display:block;}


@media screen and (max-width:800px){
.homecontainer, .belowhedr {width:96%;}
.appscreen img {height:350px;}
.verproimg  {height:250px;}
.belowhedr h4 {font-size:55px;}
.belowhedr p {font-size:22px; display:inline-block; width:340px;}
.mrgl1 {margin-left: 5% !important;}
.mrgr1 {margin-right: 5% !important;}
.matchprocess li {font-size:18px;}
.matchprocess li img {width:150px;}
.mediacov img {height:60px;}
.popupframe1 {width:94%; margin:20% 3%;}

/* heart bg */
.sec2bgright {right:-100%; top:-10%;}
.sec2bgleft {left:-90%; top:-25%;}
.sec3bgright {right:-35%; top:10%;}
.sec3bgleft {left:-30%; top:-10%;}
.sec4bgright {right:-30%; bottom:-35%;}
.sec4bgleft {left:-25%; bottom:-50%;}
.sec5bgright {right:-100%; top:-33%;}
.sec5bgleft {left:-95%; top:-35%;}

/* Header Footer */	
.pageheader {width:98%;}
.pagefooter {width:100%; font-size:12px;}
.footerlink ul li {margin:0 5px;}
}

@media screen and (max-width:640px){
.ioslaunch {display:none !important;}	
.endorsheader {display:block;}	
.endorsheaderweb {display:none;}
.respheader{ display:inline-block;}
.ioslaunch_mobile { display:block;}
.pageheader, .linkhide {display:none;}
.homecontainer, .belowhedr {width:100%;}
.belowhedr {padding:35px 0 20px 0;}
.appscreen {float:none; margin:20px 0 0 0;}
.bgvp, .bgtcsnd {display:none;}
.newapp {float: none; margin: 2%;}
.belowhedr h4 {float:none; font-size:55px;  text-align:center;  width:100%;}
.downlapp {float: none;}
.bgtmp {background:rgba(255,255,255,.75);} 
.matchprocess li {font-size:14px;}
.matchprocess li img {width: 120px;}
.bgheader {height:380px; background:url(../images/home/homehdrbg.jpg) no-repeat center center; -webkit-background-size: 150%; -moz-background-size: 150%; -o-background-size: 150%; background-size: 150%;}
.homecontainer h1 {font-size: 80px; margin: 30px 0 0 10px;}
.homecontainer h3 {font-size: 30px; margin: 0 0 0 15px; width:380px;}
.homecontainer h2 {font-size: 48px; margin: 50px 0 10px 15px;}
.actionbtn {margin: 0 0 0 15px; width:auto;}
.hdrsoclink {margin:7px 0 0 0;}
.hdractbtn {margin:0 10px 0 0; float:left; padding:5px 10px; color:#fff; font-size:16px; text-transform:uppercase; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;}
.popupframe {position:absolute;}
.bgnlna1 {display:block; background:rgba(221,221,221,.68); margin:40px 0 0 0;}
.bgnlna {display:none;}
.sec2bgright, .sec2bgleft, .sec3bgright, .sec3bgleft, .sec4bgright, .sec4bgleft {display:none;}
.popupframe1 {width:94%; margin:20% 3%;}
}

@media screen and (max-width:480px){
.appscreen img {height:300px;}
.downlapp {width:240px;}
.belowhedr {padding:35px 0 20px 0;}
.belowhedr h4 {font-size:45px;}
.matchprocess li {width:30%;}
.matchprocess li img {width:100%;}
.popupframe {width:94%; margin:5% 3%;}
.popupframe1 {width:94%; margin:40% 3%;}
.homecontainer h1 {font-size: 75px; margin: 25px 0 0 10px;}
.homecontainer h3 {font-size: 28px; margin: 0 0 0 15px;}
.homecontainer h2 {font-size: 44px; margin: 45px 0 10px 15px;}
.bgheader { background-position:top center;}
}

@media screen and (max-width:360px){
.bgheader {background:url(../images/home/homehdrbg1.jpg?v=1) no-repeat top center;}
.belowhedr {padding:10px 0 20px 0;}
.belowhedr h4 {float:none; font-size:36px;}
.appscreen {float:none; margin:10px 0 0 0;}
.appscreen img {height: 240px;}
.matchprocess li {width: 90%; font-size:16px; margin:10px 5%;}
.matchprocess li img {width:auto; margin:0 auto; clear:both;}
.formreg {width:280px;}
.regformsec, .logformsec {margin:15px 0 0 0;}
.sec5bgleft {left:30%; top:0%;}
.sec5bgright {right:30%; top:50%;}
.bgheader {height:470px;}
.homecontainer h1 {font-size: 60px; margin: 40px 0 0 7px; color:#ed0c6e; text-shadow:none;}
.homecontainer h3 {font-size: 24px; margin: 0 0 0 10px; color:#0072bc; text-shadow:none; width:80%;}
.homecontainer h2 {font-size: 36px; margin: 160px 0 5px 10px;}
.actionbtn {margin: 0 0 0 10px; width:auto;}
.downlapp { width:180px;}
.regfbconnect {width:90%;}
.popupframe1 {width:94%; margin:40% 3%;}
}

@media screen and (max-width:320px){
.regformsec {height:400px; overflow-y:auto; overflow-x: hidden;}
.popupframe1 {width:94%; margin:40% 3%;}
}