body{font-family: 'Eurofurence','Open Sans',  sans-serif; font-size:14px; color:#2e3f49; background:#2e3f49; margin:0px; padding:0px;} 

.truststepbg {background:url(../images/common/trust_bg.jpg) no-repeat center center fixed;-webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; padding:15px 0; min-height:620px; }

a {text-decoration:none;}
a:hover {text-decoration:none;}

.itext {
    text-transform: capitalize;
}

.fl {float:left !important;}
.fr {float:right !important;}
.fn {float:none;}
.clb {clear:both;}
.overf {overflow:hidden;}
.posrel {position:relative;}
.mt10 { margin-top:10px;}
.mb10 { margin-bottom:10px;}
.dispnone {display:none;}
.fs14 {font-size:14px !important;}
.notetxt {font-size:14px; color:#999;}
.txtred {color:#F00;}
.txtgreen {color:#009900;}


.new_wrapper {width:100%; margin:0 auto;}
.new_container {width:960px; margin:0 auto; overflow:hidden;}
.regprogress {text-align:center; overflow:hidden; margin:0 auto;}
.regprogress h2 {color:#e6e7e8; margin:0 0 5px 0; padding:0; font-weight:normal; font-size:24px; text-transform:uppercase; text-shadow: 3px 4px 5px rgba(0,0,0,.75); -moz-text-shadow: 3px 4px 5px rgba(0,0,0,.75); -webkit-text-shadow: 3px 4px 5px rgba(0,0,0,.75);}
.regscalesec {width:465px; height:18px; position:relative; margin:0 auto; background:url(../images/common/regprogress.png?v=1) no-repeat;}
/* .regscalesec img {border:none; z-index:2; position:absolute; top:1px; left:1px; width:630px; height:29px;} */
.regprogbar {height:18px; background:url(../images/common/regprogressfill.png?v=1) no-repeat; float:left;}
.pbarstep6 {width:72.4%;}

.trstbuildsec {background:url(../images/common/regformbg.gif);-webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; -webkit-box-shadow: 0 5px 5px rgba(0,0,0,.5); -moz-box-shadow: 0 5px 5px rgba(0,0,0,.5); box-shadow: 0 5px 5px rgba(0,0,0,.5); border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px;  margin:25px 0 5px 0; font-size:18px; width:660px; overflow:hidden;}
.tbswraper {margin:20px; overflow:hidden;}
.tbstitle1 {float:left; margin:0 auto; width:50%;}
.tbstitle1 p {margin:0 auto; padding:10px 0 0 0; font-size:16px; clear:both; color:#ed0c6e; text-align:left;}
.tbstitle {float:left; margin:0 auto; position:relative; width:52%; background:#eee; border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; border:1px solid #e6e7e8;}
.tbstitle h3 {background:#ddd; border-radius:5px; -moz-border-radius: 5px; -webkit-border-radius:5px; clear: both; color: #ed0c6e; font-size: 19px; font-weight: normal; margin: 5px; padding: 3px 0; text-align: center; white-space: nowrap;}
.tbstitle h3 span {font-size:18px;}
.tbstitle p {margin:0 auto; padding:0 0 5px 0; font-size:20px; clear:both; color:#0072bc; text-align:center; white-space:nowrap;}
.tbstitle p span {font-size:14px; color:#999;}
/*
.tbswhy {position:absolute; margin:0 auto; padding:10px; top:110%; right:-15px; background:#ed0c6e; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; z-index:999; -webkit-box-shadow: 0 2px 2px rgba(0,0,0,.5); -moz-box-shadow: 0 2px 2px rgba(0,0,0,.5); box-shadow: 0 2px 2px rgba(0,0,0,.5); display:none;}
.tbswhy:after {content: ' '; height: 0; position: absolute; width: 0; border: 5px solid transparent; border-bottom-color: #ed0c6e; bottom: 100%; right: 5%; 	}
.tbswhy li {font-size:15px; text-align:left; margin:0 0 0 15px; padding:5px; list-style-type:disc; list-style-position:outside; color:#fff;}
.tbstitle:hover .tbswhy{display: block;}

.tbswhy1 {margin:0 auto; padding:0; clear:both;}
.tbswhy1 li {font-size:15px; text-align:left; margin:0 0 0 30px; padding:5px 0 0 0;  list-style-type: none;  list-style-position:outside; color:#ed0c6e;  border-left:1px solid #ed0c6e;}
.tbswhy1  li:before {content:"─ ";}*/

.metersec {float:right;}
.metersec h3 {margin:0px auto; font-weight:normal; color:#0072bc; padding:40px 5px 0px 0px; font-size:24px; float:left;}

/* trust meter */
.pieContainer { height: 50px; margin:15px 40px 0 0; float:right; width:100px; }
.pieBackground { background-color: #c5d9f1; position: absolute; width: 100px; height: 100px; -moz-border-radius: 50px; -webkit-border-radius: 50px; -o-border-radius: 50px; border-radius: 50px; clip: rect(0px, 100px, 50px, 0px);} 
.pie { position: absolute; width: 100px; height: 100px; -moz-border-radius: 50px; -webkit-border-radius: 50px; -o-border-radius: 50px; border-radius: 50px; clip: rect(0px, 50px, 100px, 0px); }
.hold { position: absolute;  width: 100px; height: 50px; -moz-border-radius: 50px; -webkit-border-radius: 50px; -o-border-radius: 50px; border-radius: 50px; clip: rect(0px, 100px, 50px, 0px);}
#pieSlice1 .pie { background-color: #0072bc;}
.persentbg { background-color: #fff; position: absolute; width: 70px; height: 70px; -moz-border-radius: 50% 50% 0 0; -webkit-border-radius: 50% 50% 0 0;  -o-border-radius: 50% 50% 0 0; border-radius: 50% 50% 0 0; margin:15px 0 0 15px; text-align:center; } 
.persentbg p {color:#0072bc; padding:0; margin:10px 0 0 0; font-size:24px; font-weight:bold;}

/* tiles */
.tbsverified {cursor:default !important; background:#0072bc !important;}
.tbstilesblue { position:relative; margin:10px 0 0 0; padding:0; list-style:none; height:45px; overflow:hidden; clear:both; width:100%; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; background-color: #598fc9; -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.70); -moz-box-shadow: 0 1px 3px rgba(0,0,0,.70); box-shadow: 0 1px 3px rgba(0,0,0,.70); display:inline-block; cursor:pointer;}
.tbstilesblue li {color:#fff; text-align:left; float:left; margin:0 auto; padding:0; height:45px; }
.tbstilesblue li div {color:#fff; text-transform:uppercase;}

.tbstd1 {width:55px; text-align:center; font-size:24px; margin:12px 0 0 0;}
.tbstd2 {width:445px; text-align:left;  margin:15px 10px 0 0;}
.tbstd2 p {font-size:18px; padding:0; margin:0 auto; text-align:left; white-space:nowrap;}
.tbstd3 {width:40px; padding:2px 0 0 0;}
.tbstd3 p {width:40px; height:40px; background:#fd8cb5; font-size:18px; text-align:center; border-radius: 40px; -moz-border-radius:40px; -webkit-border-radius: 40px; line-height:0; margin:0 auto; padding:0; display:table-cell; vertical-align:middle;}
.verifiedts {background:#ed0c6e !important;-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.50); -moz-box-shadow: 0 1px 1px rgba(0,0,0,.50); box-shadow: 0 1px 1px rgba(0,0,0,.50);}
.tbstd4 {width:40px; height:45px; text-align:center; background:#0072bc; font-size:18px; display:table-cell; vertical-align:middle; -webkit-border-radius:0 10px 10px 0; -moz-border-radius: 0 10px 10px 0; border-radius: 0 10px 10px 0; }
.difficon {opacity:.5;}

.tbsbelowtile {font-size:16px; text-align:left; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; background-color: #e6e7e8; 	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.65); -moz-box-shadow: 0 1px 3px rgba(0,0,0,.65); box-shadow: 0 1px 3px rgba(0,0,0,.65); padding:25px 15px 15px 15px; margin:-20px 0 5px 0;}

.tbsdettile {padding:25px 15px 0 15px !important;}

.tbsbelowtile p {line-height:18px; padding:0; margin:0;}
.tbsactionbtn {background:#ed0c6e; font-size:18px; color:#fff; text-align:center; display:inline-block; padding:8px 15px; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; text-transform:uppercase; cursor:pointer; white-space:nowrap;}

.inbtndiv {padding:0 0 0 0; }
::i-block-chrome,.inbtndiv {padding:0 0 20px 0;}

.tberrmsg {color:#F00 !important; margin:0 0 5px 0 !important;  display:inline-block;}
.tbsucess {color:#090 !important;}

/* register_new.css */
.qselect-style {border: 1px solid #ccc; width:245px; border-radius: 5px; overflow: hidden; background: #fff url("../images/common/arrow_dd.png") no-repeat 97% 50%;
margin:10px 5px 10px 0;}
.qselect-style select {padding: 5px 8px; width: 112%; border: none; box-shadow: none; background: transparent; background-image: none; -webkit-appearance: none; font-family:'Eurofurence','Open Sans',  sans-serif; font-size:16px;}
.qselect-style select:focus {outline: none;}

.questans1 {margin:0 auto; overflow:hidden;}
.questans1 label {width:150px; margin:5px 5px 0 0; overflow:auto; float:left; position:relative;}
.questans1 label span {text-align:center; font-size: 18px; padding:5px 0px; display:block; background-color:#ccc; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;}
.questans1 label span:hover {background-color:#0072bc; color:#fff;}
.questans1 label input {position:absolute; top:-20px;}
.questans1 input:checked + span {background-color:#0072bc; color:#fff;}

.formbtmbrdr {list-style-type: none; margin: 0 auto; padding: 0; clear:both;}
.formbtmbrdr li {float:left; width:16.66%; height:5px; -webkit-box-shadow: inset -2px 0 rgba(255,255,255,.75); -moz-box-shadow: inset -2px 0 rgba(255,255,255,.75); box-shadow: inset -2px 0 rgba(255,255,255,.75);}
.bg1 {background:#fd8cb5;}
.bg2 {background:#ee6296;}
.bg3 {background:#ed0c6e;}
.bg4 {background:#87afdb;}
.bg5 {background:#598fc9;}
.bg6 {background:#0072bc;}
/* register_new.css close */

.tbsddselect {-webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; background:#fff; -webkit-box-shadow:inset 0 1px #c6cbcf; -moz-box-shadow:inset 0 1px #c6cbcf; box-shadow:inset 0 1px #c6cbcf; padding:8px 5px; border:none; width:245px; font-family: 'Eurofurence','Open Sans',  sans-serif; font-size:18px; line-height: 35px; margin-right:5px;}

.tbstxtbox {-webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; background:#fff; -webkit-box-shadow:inset 0 1px #c6cbcf; -moz-box-shadow:inset 0 1px #c6cbcf; box-shadow:inset 0 1px #c6cbcf; padding:9px 5px; border:none; width:235px; font-family: 'Eurofurence','Open Sans',  sans-serif; font-size:16px;  margin:0 8px 5px 0; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box;}

.tbstxtlabel {text-transform:uppercase; padding:5px 0; display:inline-block;}
.opttxt {font-size:13px; color:#598fc9; text-align:right; width:240px;}

.regfrmaction {margin:15px 5px; color:#fff; text-transform:uppercase; width:660px; font-size:18px; display:inline-block;}
.regbcbtn {-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; background-color: #598fc9; -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.6);
-moz-box-shadow: 1px 2px 3px rgba(0,0,0,.6); box-shadow: 1px 2px 3px rgba(0,0,0,.6); color:#fff; text-align:center; width:140px; padding:7px 0; cursor:pointer;}

.diffregbcbtn {-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; background-color:rgba(198,198,198,0.8); -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.4); -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.4); box-shadow: 1px 2px 3px rgba(0,0,0,.4); color:#999; text-align:center; width:140px; padding:7px 0; opacity:0.6; cursor:default;}

.skiptxt1 {color:#fff; font-size:18px; padding:10px 13px 0 0; float:right; clear:both; text-transform:uppercase; text-decoration:underline; cursor:pointer; white-space:nowrap; }

/* Photo Popup */
.difusescreen {background: rgba(0,0,0,0.7); height: 100%; left: 0; overflow: hidden; position: fixed; top: 0; width: 100%; z-index: 1000; margin:0 auto; }
.tbpopupframe {overflow:hidden; position: fixed; top: 0; margin:5% auto; left: 0; right: 0; z-index: 1000; background:#fff;  width:50%; -webkit-box-shadow: 0 0 10px #000; -moz-box-shadow: 0 0 10px #000; box-shadow: 0 0 10px #000; padding:0;}
.tbpopupframe p { margin:0 auto; padding:20px; text-align:left; font-size:18px; clear:both;}
.sorrytxt {color:#ee6296; font-size:20px; margin:0 0 0 10px;}

.rspopup {overflow:hidden; position: fixed; top: 0; margin:20% auto; left: 0; right: 0; z-index: 1000; padding:10px 0; text-align:center; font-size:24px; background:#fff; color:#0072bc; -webkit-box-shadow: 0 0 10px #000; -moz-box-shadow: 0 0 10px #000; box-shadow: 0 0 10px #000; width: 150px; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; }

label {margin:4px 0; overflow:auto;}
label span {text-align:center; font-size: 18px; padding:5px 0px; display:block; background-color:#e6e7e8; border-top:1px solid #c1c5c8;}
label span:hover {background-color:#0072bc; color:#fff;}
label input {position:absolute; top:-20px;}
input:checked + span {background-color:#0072bc; color:#fff;}

/*Tutorial */
.chalktut {position:relative; margin:0 auto; width:960px; text-shadow: 1px 2px 2px #000; }
.chalktut h4 {color: #fff; font-size: 24px; font-weight: normal; margin:0; padding: 0; text-transform: uppercase; text-align:center; width:100%; position:absolute; top:75px;}
.whtverify {position:absolute; font-size:22px; color:#fff; text-align:left; left:18%; top:150px;}
.whtverify ul {margin:10px 0 0 25px;}
.needscore {position:absolute; font-size:20px; color:#fff; text-align:left; right:6%; top:200px;}
.needscore span {color:#87afdb; font-size:22px;}
.needscore img {position:absolute; left:-30px; top:20px;}
.waystoverf {position:absolute; font-size:20px; color:#fff; text-align: center; top:280px; height:216px; background:url(../images/tbarrowverti.png) no-repeat center center; width:100%; padding-top: 95px;}

/* Endorsment */
.endorssec{
	width:100%;
	height:80px;
	padding:5px;
	border:1px solid #ccc;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	background: #fff;	
	position:relative;
	margin:10px 0 0 0;
}
.slider_wrapper{
	overflow: hidden;
	position:relative;
	height:70px;
	top:auto;
	margin:0 20px;
}
#image_slider{

	position: relative;
	height: auto;
	list-style: none;
	overflow: hidden;
	float: left;
	/*Chrom default padding for ul is 40px */
	padding:0px;
	margin:0px;
}
#image_slider li{
	position: relative;
	float: left;
}
#image_slider li img{width:50px; height:50px; border-radius:50%; padding:5px;}
#image_slider li p {font-size:11px; color:#2e3f49; text-align:center; width:100%; padding:0; margin:0; clear:both;}
.nvgt{
	position:absolute;
	top: 10px;
	height: 50px;
	width: 20px;
	opacity: 0.6;
}
.nvgt:hover{
	opacity: 0.9;
}
#prev{
	background: #fff url('../images/profile/prev.png') no-repeat center;
	left: 0px;
}
#next{
	background: #fff url('../images/profile/next.png') no-repeat center;
	right: 0px;
}


@media screen and (max-width:800px){
.new_container {width:100%;}
.tbpopupframe {width:80%;}
.chalktut {width:100%;}
.whtverify {left: 10%;}
.needscore {right:1%; font-size:18px; top:200px;}
}

@media screen and (max-width:640px){
.trstbuildsec {width:99%;}
.regfrmaction {width:95%;}
.tbstd2 {width:410px;}
.chalktut h4 {top:55px;}
.whtverify {left: 2%; top: 130px;}
.needscore {top:240px;}
.needscore img {-ms-transform: rotate(90deg); -webkit-transform: rotate(90deg); transform: rotate(90deg); left: 20px; top: -20px;}
.waystoverf {top:260px;}
}
@media screen and (max-width:480px){
.regscalesec {width:248px; height:10px; background:url(../images/common/regprogress1.png?v=1) no-repeat;}
.regprogbar {height:10px; background:url(../images/common/regprogressfill1.png?v=1) no-repeat;}
.tbstd1 {width:40px; margin:10px 0 0 0;}
.tbstd2 {width:270px;  margin:16px 10px 0 0;}
.tbstd2 p {font-size:16px;}
.tbstd3 p {font-size:16px; height:40px; width:40px;}
.tbpopupframe {width:90%;}
.tbstitle {float:none; width:100%;}
.tbstitle p {font-size:18px;}
.regprogress h2 {font-size:20px;}
.pieContainer {margin:10px 30px 0 0; }
.metersec h3 {padding: 35px 5px 0 0;}
.chalktut h4 {font-size:20px;}
.whtverify {font-size:18px; top: 120px;}
.waystoverf {top: 300px; font-size:18px;}
.needscore {font-size: 16px; right: 33%; top: 225px;}
.needscore span {font-size:18px;}
.needscore img {-ms-transform: rotate(180deg); -webkit-transform: rotate(180deg); transform: rotate(180deg); left: 130px; top: 15px;}
}

@media screen and (max-width:385px){
.trstbuildsec {width:100%;  margin:20px 0.5% 0 0.5%; -webkit-box-shadow: 0 2px 3px rgba(0,0,0,.2); -moz-box-shadow: 0 2px 3px rgba(0,0,0,.2); box-shadow: 0 2px 3px rgba(0,0,0,.2);}
.tbstitle h3 {font-size:18px; }
.tbstd2 {width:190px; margin:10px 0 0 0;}
.tbstd2 p {float:left !important; font-size:14px; text-overflow: ellipsis; overflow:hidden; width:150px;}
.tbstd3 {padding: 2px 0 0 0; width:40px;}
.tbstd4 {width:30px;}
.tbstitle p {font-size:16px;}
.chalktut h4 {font-size:18px; top:50px;}
.whtverify {top: 110px;}
.needscore {right: 40%; top: 205px;}
.waystoverf {top: 280px;}
/* trust meter */
.pieContainer { height: 40px; width:80px; }
.pieBackground {width: 80px; height: 80px; -moz-border-radius: 40px; -webkit-border-radius: 40px; -o-border-radius: 40px; border-radius: 40px;  clip: rect(0px, 80px, 40px, 0px); } 
.pie {width: 80px; height: 80px; -moz-border-radius: 40px; -webkit-border-radius: 40px; -o-border-radius: 40px; border-radius: 40px; clip: rect(0px, 40px, 80px, 0px); }
.hold {width: 80px; height: 40px; -moz-border-radius: 40px; -webkit-border-radius: 40px; -o-border-radius: 40px; border-radius: 40px; clip: rect(0px, 80px, 40px, 0px);}
.persentbg {width: 50px; height: 50px; -moz-border-radius: 50% 50% 0 0; -webkit-border-radius: 50% 50% 0 0;  -o-border-radius: 50% 50% 0 0; border-radius: 50% 50% 0 0; margin:15px 0 0 15px;} 
.persentbg p {color:#0072bc; margin:7px 0 0 0; font-size:18px;}
.tbsbelowtile p, .tbsactionbtn {font-size:14px; line-height:16px;}
.questans1 label {width:110px;}
.questans1 label span, .tbstxtbox, .qselect-style select {font-size:14px;}
.truststepbg {padding:0 0 10px 0;  min-height:480px; }
.regprogress {margin:0; padding:10px 0 0 0;}
.regprogress h2 {font-size:18px;}
.tbswhy1 li {font-size: 13px; margin:0 auto;}

.metersec h3 {font-size: 18px; padding: 30px 5px 0 0;}
}

@media screen and (max-width:320px){
.tbswraper {margin:10px;}
.tbstd2 {width:170px;}
.tbstitle p {font-size:15px;}
.needscore {top: 190px;}
.waystoverf {top: 265px;}
}