.panelHeading{
	
	background:#ffffff !important;
	border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
	padding:20px 15px !important;
}
.panelDefault{
	border-color: transparent !important;
	border-bottom:1px solid #cccccc !important;
}
.borderTop0{
	border-top: 0px !important;
}
/*.iconDiv{
	background-color: pink;
    border-radius: 50%;
    padding: 3px 3px 3px 5px;
    color: #ffffff;
	font-size: 16px;
}*/
.glyphicon-minus{
	/*padding-left:3px;*/
}

.glyphicon-plus:before {

}
.iconDiv ::before {
    background-color: pink !important;
    border-radius: 50% !important;
    padding: 3px 3px 3px 5px !important;
    color: #ffffff !important;
	font-size: 16px !important;
}

.panelTitle{
	/*color: #0183bd !important;
    font-size: 24px !important;*/
}
.panelTitle a{
	text-decoration:none !important;
	color: #0186C4 !important;
    /*font-size: 38px;*/
}

.panelTitle a span{	
	padding: 0px 10px 0px 0px !important;
}

.panelBody{
	/*font-size: 26px;*/
    /*color: #262626 !important;*/
	color:rgba(38, 38, 38, 0.74) !important;
	text-align: justify;
    padding-right: 70px;
}
.panelBody a{
	word-wrap: break-word !important;
}
.contactDiv{
	background:#efefef;
	padding-top:20px;
	padding-bottom:20px;
}
.contactLink{
	width:80%;
	margin-left:auto;
	margin-right:auto;
	display:block;
	background:#feb1b9;
	padding-top:10px;
	padding-bottom:10px;
	text-align:center;
	font-size:36px;
	border-radius:4px;
	font-weight:bold;
	text-decoration:none !important;
	color:#000000;
}
.decorationNone{
	text-decoration:none !important;
}
.emptyDiv{
	height:40px;
	background:#efefef;
}
.selectDiv{
	width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
	color:#ccc !important;
}
.submitButton{
	background-color: transparent !important;
    border: none !important;
	font-size: 22px;
	float:right;
}

@import url('//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css');
.accordion-toggle:after {
    font-family: 'Roboto', sans-serif;
        content: "\f078";    
    float: right;
}
.accordion-opened .accordion-toggle:after {    
    content: "\f054";    
}
