@import url(https://fonts.googleapis.com/css?family=Roboto);

/* Base Styles */
#cssmenu,
#cssmenu ul,
#cssmenu li,
#cssmenu a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  font-weight: normal;
  text-decoration: none;
  line-height: 1;
  font-family: 'Roboto', sans-serif;
 /* font-size: 1em; */
  position: relative;
}
#cssmenu {
  /*width: 250px;
  border-bottom: 4px solid #656659;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;*/
}
#cssmenu a {
  line-height: 1.3;   
  color: #0186C4 !important;
}
/*
#cssmenu > ul > li:first-child {
  background: #66665e;
  background: -moz-linear-gradient(#66665e 0%, #45463d 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #66665e), color-stop(100%, #45463d));
  background: -webkit-linear-gradient(#66665e 0%, #45463d 100%);
  background: linear-gradient(#66665e 0%, #45463d 100%);
  border: 1px solid #45463d;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}
#cssmenu > ul > li:first-child > a {
  padding: 15px 10px;
  background: url(menu_images/pattern.png) top left repeat;
  border: none;
  border-top: 1px solid #818176;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  font-size: 1.2em;
  font-weight: 300; 
  text-shadow: 0 -1px 1px #000000;
}
#cssmenu > ul > li:first-child > a > span {
  padding: 0;
}
#cssmenu > ul > li:first-child:hover {
  background: #66665e;
  background: -moz-linear-gradient(#66665e 0%, #45463d 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #66665e), color-stop(100%, #45463d));
  background: -webkit-linear-gradient(#66665e 0%, #45463d 100%);
  background: linear-gradient(#66665e 0%, #45463d 100%);
}
*/
#cssmenu > ul > li {
    box-shadow: 0px 1px 0px #dddddd;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right:10px;	
   /*background: #e94f31;
  background: -moz-linear-gradient(#e94f31 0%, #d13516 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e94f31), color-stop(100%, #d13516));
  background: -webkit-linear-gradient(#e94f31 0%, #d13516 100%);
  background: linear-gradient(#e94f31 0%, #d13516 100%);*/
}
#cssmenu > ul > li:hover {
  /*background: #e84323;
  background: -moz-linear-gradient(#e84323 0%, #c33115 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e84323), color-stop(100%, #c33115));
  background: -webkit-linear-gradient(#e84323 0%, #c33115 100%);
  background: linear-gradient(#e84323 0%, #c33115 100%);*/
}
#cssmenu > ul > li > a {
 /* font-size: .9em; */
  display: block;
  /*background: url(menu_images/pattern.png) top left repeat;
  color: #ffffff;
  border: 1px solid #ba2f14;
  border-top: none;*/
  /*text-shadow: 0 -1px 1px #751d0c;*/
  border-color: transparent !important;
  /*border-bottom: 1px solid #cccccc !important;*/
}
#cssmenu > ul > li > a > span {
  display: block;
  padding: 12px 32px 12px 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-size: 17px;
}
#cssmenu > ul > li > a:hover {
  text-decoration: none;
}
#cssmenu > ul > li.active {
  border-bottom: none;
}
#cssmenu > ul > li.has-sub > a span {
  background: url(../images/icon_plus.png) 99% 60% no-repeat;
  background-size: 20px 20px;
 /* padding-left: 50px;
  padding-right: 100px; */
  font-weight: 500;
}
#cssmenu > ul > li.has-sub.active > a span {
  background: url(../images/icon_minus11.png) 99% 60% no-repeat;
  background-size: 20px 20px;  
/* padding-left: 50px;
  padding-right: 100px; */
  font-weight: 500;
}

#cssmenu ul ul {
  display: none;
  background: #fff;
  /*border-right: 1px solid #a2a194;
  border-left: 1px solid #a2a194;*/
}
#cssmenu ul ul li {
  padding-left: 20px;
  padding-right:30px;
  /*border-bottom: 1px solid #d4d4d4;*/
  border-top: none;
  background: #fbfbfb !important;
  background: -moz-linear-gradient(#fbfbfb 0%, #ececec 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fbfbfb), color-stop(100%, #ececec));
  background: -webkit-linear-gradient(#fbfbfb 0%, #ececec 100%);
  background: linear-gradient(#fbfbfb 0%, #ececec 100%);
}
#cssmenu ul ul li:last-child {
  /*border-bottom: none;*/
}
#cssmenu ul ul a {
  padding: 10px 10px 10px 25px;
  display: block;
  color: #676767;
 /* font-size: .8em; */
  font-weight: normal;
}
/*
#cssmenu ul ul a:before {
  content: '\00BB';
  position: absolute;
  left: 10px;
  color: #e94f31;
}
*/
#cssmenu ul ul a:hover {
  color: #e94f31;
}
#cssmenu ul ul li p{
	padding:0px 10px;
	/*text-align:justify;*/
	line-height: 1.4;
	font-size:15px;
	color: rgba(38, 38, 38, 0.74) !important;
}

#cssmenu ul ul li p .listElement{
	padding:12px 10px !important; 
	/*text-align:justify;*/
	line-height: 1.4;
	font-size:16px !important;
	color: rgba(38, 38, 38, 0.74) !important;
	width: 80% !important;
    margin-left: auto;
    
}

#cssmenu ul ul li li{
	padding:10px 90px !important; 
	/*text-align:justify;*/
	line-height: 1.4;
	font-size:24px !important;
	color: rgba(38, 38, 38, 0.74) !important;
	width: 80% !important;
    margin-left: auto;
}

.paddingleftright0{
	padding-left:0px !important;
	padding-right:0px !important;
}
.heading{
	font-size: 70px !important;
        font-weight: bold !important;
        text-align:center;
        padding-top:5px;
        padding-bottom:5px
        color:#ffffff !important;
}
.new_heading{
	font-size: 70px !important;
        font-weight: bold !important;
        text-align:center;
        padding-top:5px;
        padding-bottom:5px
        color:#ffffff !important;
}
.headingnew{
	font-size: 50px !important;
        font-weight: bold !important;
        padding-top:25px;
        color:#ffffff;
        padding-left: 50px;
}
.topHeader{
	background: #91b2d5 !important;
}

.list {
     list-style:disc outside none;
     display:list-item; 
}
