
body {font-family: 'Roboto', sans-serif; font-weight: 400; font-size: 14px; background: #fff; margin:0; padding:0; color:#333; }


/* My work */
.clb {clear:both;}
.fl {float:left;}
.fr {float:right;}
.mrg { margin:0 auto;}
.mt10 { margin-top:10px;}
.mt20 { margin-top:20px;}
.talc { text-align:center;}
.fs12 { font-size:12px;}
.ttrns { text-transform:uppercase;}
.fs16 { font-size:16px;}


.tbwrapper { width: 100%; margin: 0px; padding: 0px; }
.tbhdrcontainer{ background:url(../../images/infog/tbinfog_hdrbg.jpg) center center; background-size: cover; height:420px; position:relative; -webkit-box-shadow: inset 0 -1px 3px #b2b2b2; -moz-box-shadow: inset 0 -1px 3px #b2b2b2; box-shadow: inset 0 -1px 3px #b2b2b2;}
.tbhdrcontainer h1 { text-align:center; text-shadow: 1px 2px 5px #555; font-size: 36px; color:#fff; margin:0 auto; padding:150px 0 0 0; font-weight:500;}

.cbhdrcontainer{ background:url(../../images/infog/cbinfog_hdrbg.jpg) center center; background-size: cover; height:420px; position:relative; -webkit-box-shadow: inset 0 -1px 3px #b2b2b2; -moz-box-shadow: inset 0 -1px 3px #b2b2b2; box-shadow: inset 0 -1px 3px #b2b2b2;}
.cbhdrcontainer h1 { text-align:center; text-shadow: 1px 2px 5px #333; font-size: 36px; color:#fff; margin:0 auto; padding:150px 0 0 0; font-weight:500; width:50%;}


.hiwframe {  bottom: 0; position: absolute; text-align: center; width: 100%;}
.hiwframe a {display:inline-block;padding:15px;background:#fff;color:#666;font-weight:500;font-size:18px;border-top:1px solid #fff;-moz-border-radius:5px 5px 0 0;-webkit-border-radius:5px 5px 0 0;border-radius:5px 5px 0 0;-webkit-box-shadow: 0 -2px 2px #bfbfbf; -moz-box-shadow: 0 -2px 2px #bfbfbf; box-shadow: 0 -2px 2px #bfbfbf;-webkit-transition:padding-bottom 180ms ease-out;-moz-transition:padding-bottom 180ms ease-out;-o-transition:padding-bottom 180ms ease-out;transition:padding-bottom 180ms ease-out; text-decoration:none;}
.hiwframe a:hover {color:#4091ed;text-decoration:none;padding-bottom:20px;}
.hiwframe a:after {content: ' '; height: 0; position: absolute; width: 0; border: 7px solid transparent; border-top-color: #666; top: 100%; left: 50%; margin-left: -7px;}

.hiwframe1 {  bottom: 0; position: absolute; text-align: center; width: 100%;}
.hiwframe1 a {display:inline-block;padding:15px;background:#888;color:#fff;font-weight:500;font-size:18px;border-top:1px solid #777;-moz-border-radius:5px 5px 0 0;-webkit-border-radius:5px 5px 0 0;border-radius:5px 5px 0 0;-webkit-box-shadow: 0 -2px 2px #bfbfbf; -moz-box-shadow: 0 -2px 2px #bfbfbf; box-shadow: 0 -2px 2px #bfbfbf;-webkit-transition:padding-bottom 180ms ease-out;-moz-transition:padding-bottom 180ms ease-out;-o-transition:padding-bottom 180ms ease-out;transition:padding-bottom 180ms ease-out; text-decoration:none;}
.hiwframe1 a:hover {color:#eee;text-decoration:none;padding-bottom:20px;}
.hiwframe1 a:after {content: ' '; height: 0; position: absolute; width: 0; border: 7px solid transparent; border-top-color: #888; top: 100%; left: 50%; margin-left: -7px;}


.tbinfosec1 {-webkit-box-shadow: inset 0 -1px 1px #ccc; -moz-box-shadow: inset 0 -1px 1px #ccc; box-shadow: inset 0 -1px 1px #ccc; overflow:hidden; padding:40px 0;
	background-image: -webkit-linear-gradient(bottom, #f4f4f4, #fff 50%);
	background-image: -moz-linear-gradient(bottom, #f4f4f4, #fff 50%);
	background-image: -o-linear-gradient(bottom, #f4f4f4, #fff 50%);
	background-image: linear-gradient(to top, #f4f4f4, #fff 50%);}
.tbinfosec1 h2 { text-align:center; font-size: 24px; color:#333; margin:0 auto; padding:0; font-weight:400;}
.tbinfosec1txt { margin:0 auto; width:900px;}
.tbisec1img { float:right;}

/*
.tbinfosec4 {-webkit-box-shadow: inset 0 -1px 1px #ccc; -moz-box-shadow: inset 0 -1px 1px #ccc; box-shadow: inset 0 -1px 1px #ccc; overflow:hidden; padding:40px 0; margin-top:10px; width:100%;	background-image: -webkit-linear-gradient(bottom, #f4f4f4, #fff 50%); background-image: -moz-linear-gradient(bottom, #f4f4f4, #fff 50%); background-image: -o-linear-gradient(bottom, #f4f4f4, #fff 50%); 	background-image: linear-gradient(to top, #f4f4f4, #fff 50%);} 
.tbinfosec4 h2 { text-align:center; font-size: 24px; color:#333; margin:0 auto; padding:0 0 10px 0; font-weight:400;}
.tbinfosec4txt { margin:0 auto; width:50%; text-align:center; font-size:14px; border-top:1px dashed #999;}
.subtndeact {width:150px; background:#4794ED; color:#fff; font-size:18px; margin:10px 0 0 0; padding:10px; border:none; cursor:pointer;}
.ddlist {margin: 10px auto; padding: 5px; width:300px; resize: none;}
.ddlist option { padding:0 0 0 5px;}
.tbinfosec4txt p { color:#090; font-size:14px; text-align:center; margin:0 auto; padding:10px;} 
*/


.cbinfosec1txt { margin:0 auto; width:900px; padding-top:10px;}
.cbhwfimg { width:407px; height:318px; margin-top:20px;}
.cbisec1img { text-align:left; width:100%; float:right;}
/* .cbisec1img ul{ margin:0 auto; padding:0;}
.cbisec1img ul li {list-style:none; width: 235px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; background-color: #eee; -webkit-box-shadow: 1px 2px 2px #e7e7e7; -moz-box-shadow: 1px 2px 2px #e7e7e7; box-shadow: 1px 2px 2px #e7e7e7; font-size:16px; text-align:center; padding:5px 0;} */


.cbinfosec2 { width:960px; margin:0 auto; position:relative;}
.cbinfosec2 h2 {font-size: 24px; color:#333; margin:0 auto; padding:40px 0 0 0; font-weight:400; text-align:center;}
.cboardimg { width:367px; height:783px;}
.cbinfosec2txt {float:left; width:550px; text-align:left;}
.cbinfosec2txt ul { margin:0 auto; padding:0;}
.cbinfosec2txt ul li { list-style:none; text-align:left; padding:10px 0 10px 90px; background:url(../../images/infog/cbprocessicons.gif) center center no-repeat; margin:20px 0; font-size:14px;}
.cbinfosec2txt ul li strong { font-size:16px; font-weight:500;}
.cbinfosec2txt ul li.km { background-position:0 -2px;}
.cbinfosec2txt ul li.fm{ background-position:0 -103px;}
.cbinfosec2txt ul li.sm{ background-position:0 -203px;}

.cbmodelimg { width:343px; height:280px; float:right; margin-top:20px;}

.tbinfosec1txt ul{ margin:0 auto; padding:0;}
.tbinfosec1txt ul li { list-style:none; background:url(../../images/infog/tbinfotxtbox.png) no-repeat; width:456px; height:31px; font-size:16px; text-align:left; padding:8px 0 0 20px;}
.tbinfili1 { margin:10px 0;}
.tbinfili2 { margin:10px 0 10px 40px;}
.tbinfili3 { margin:10px 0 10px 80px;}
.tbinfili4 { margin:10px 0 10px 120px;}
.tbinfili5 { margin:10px 0 10px 150px;}

.tbinfosec1txt p { color:#e6296d; font-size:12px; text-transform:uppercase; margin:0 auto; padding:0; font-weight:500;}

.tbinfosec2 { width:960px; margin:0 auto; position:relative;}
.tboardimg { position:absolute; left:0; top:-53px; width:367px; height:783px;}

.tbscoresec { float:right; width:550px; text-align:left; padding:40px 0;}
.tbscoresec h2 {font-size: 24px; color:#333; margin:0 auto; padding:0; font-weight:400;}
.tbscoresec h2 span { color:#4091ed;}
.tbscoresec h2 sup { font-size:14px; color:#777;}
.tbscoresec p strong { color:#E7276B; font-weight:normal;}
.tbscoresec ul { margin:0 auto; padding:0;}
.tbscoresec ul li { list-style:none; text-align:left; padding:0 0 0 40px; background:url(../../images/infog/tbvericon.png) center center no-repeat; margin:20px 0; font-size:14px;}
.tbscoresec ul li strong { font-size:16px; font-weight:400;}
.tbscoresec ul li.tbfb { background-position:0 0;}
.tbscoresec ul li.tbin{ background-position:0 -150px;}
.tbscoresec ul li.tbid{ background-position:0 -298px;}
.tbscoresec ul li.tbph{ background-position:0 -430px;}
.tbscoresec ul li.tbad{ background-position:0 -562px;}
.tbscoresec ul li.tbem{ background-position:0 -693px;}

.tbinfosec3 {	-webkit-box-shadow: inset 0 1px 1px #ccc; -moz-box-shadow: inset 0 1px 1px #ccc; box-shadow: inset 0 1px 1px #ccc; display:inline-block; width:100%;
	background-image: -webkit-linear-gradient(bottom, #fff 50%, #f4f4f4);
	background-image: -moz-linear-gradient(bottom, #fff 50%, #f4f4f4);
	background-image: -o-linear-gradient(bottom, #fff 50%, #f4f4f4);
	background-image: linear-gradient(to top, #fff 50%, #f4f4f4);}
.tbinfosec3txt { margin:0 auto; width:960px;  position:relative;}
.tboardimg1 { position:absolute; left:0; top:-61px; width:366px; height:383px;}
.tbboardsec {float:right; width:550px; text-align:left; padding:40px 0;}
.tbboardsec h2 {font-size: 24px; color:#333; margin:0 auto; padding:0; font-weight:400;}
.tbboardsec ul { margin:0 auto; padding:0;}
.tbboardsec ul li { list-style:none; text-align:left; padding:0 0 0 40px; background:url(../../images/infog/tboardicon.png) center center no-repeat; margin:20px 0; font-size:14px;}
.tbboardsec ul li strong { font-size:16px; font-weight:500;}
.tbboardsec ul li.tblike { background-position:0 0;}
.tbboardsec ul li.tbnot{ background-position:0 -88px;}
.tbboardsec ul li.tbfree{ background-position:0 -179px;}
.tbboardsec ul li.tbmsg{ background-position:0 -264px;}

.topnav ul { margin:0 auto; padding:0;}
.has-submenu a { text-decoration:none;}
#headertop { z-index:1;}
.topnav { border:1px solid #ddd;}

/*Media Queries*/
@media screen and (max-width:970px)
{
.tbinfosec1txt, .tbinfosec2, .tbinfosec3txt, .cbinfosec1txt, .cbinfosec2 { width:100%;}
.tbscoresec, .tbboardsec {width:55%;}
.tbinfili1, .tbinfili2, .tbinfili3, .tbinfili4, .tbinfili5 { margin:10px 0 0 20px;}

.cbhdrcontainer h1 { width:70%;}
}

@media screen and (max-width:800px)
{
.tbscoresec h2, .tbinfosec1 h2, .tbboardsec h2 { font-size:20px;}
.tbscoresec, .tbboardsec {width:60%;}
.tbinfosec1txt ul li {background:url(../../images/infog/tbinfotxtbox1.png) no-repeat; width:296px;font-size:14px; padding:8px 0 0 20px;}
.tboardimg { width:250px; height:533px; top:-36px;}
.tboardimg1 {width:250px; height:262px; top:-41px;}
.cbhwfimg { width:300px; height:234px; margin-top:30px;}
.cbmodelimg {width:250px; height:204px;}
.cbisec1img {width:100%; font-size:14px;}
.cbinfosec2txt {width:60%; font-size:14px;}
/* .cbisec1img ul li { font-size:14px; width:90%;} */

}

@media screen and (max-width:640px)
{
.tbhdrcontainer {height:320px;}
.tbscoresec h2, .tbinfosec1 h2, .tbboardsec h2, .cbinfosec2 h2 { font-size:17px; font-weight:500;}
.tbscoresec, .tbboardsec {width:55%; font-size:14px;}
.tbscoresec ul li, .tbboardsec ul li { font-size:12px;}
.tbisec1img { float:none;}
.cbhwfimg { width:407px; height:318px; margin-top:30px; clear:both;}
.cbisec1img, .cbinfosec2txt { width:95%; margin:0 auto; float:none;}
.cbisec1img ul li { width:90%;}
.cbmodelimg { width:343px; height:280px; float:none; margin-top:20px;}
.cbhdrcontainer h1 { width:90%; font-size:30px; padding:80px 0 0 0;}
.cbhdrcontainer { height:350px;}
.tbinfosec4txt { width:100%;}
}

@media screen and (max-width:480px)
{
.cbhdrcontainer h1 { width:95%; padding:80px 0 0 0; }
.tbhdrcontainer h1 { padding:80px 0 0 0; font-size:30px;}
.tbscoresec h2, .tbinfosec1 h2, .tbboardsec h2 { font-size:16px;}
.tbscoresec h2 sup { font-size:11px;}
.tbscoresec, .tbboardsec {width:95%; font-size:14px;}
.tbinfosec1txt, .tbinfosec2, .tbinfosec3txt { width:100%; text-align:center;}
.tbscoresec ul li, .tbboardsec ul li { font-size:12px; padding: 0 0 0 35px;}
.tbscoresec ul li strong, .tbboardsec ul li strong { font-size:14px;}
.tbisec1img { float:none;}
.tboardimg { width:250px; height:533px; position:relative;}
.tboardimg1 {width:250px; height:262px; position:relative; }
.tbinfili1, .tbinfili2, .tbinfili3, .tbinfili4, .tbinfili5 { margin:10px 0 0 0;}
.cbisec1img ul li { width:100%;}
.cbhwfimg { width:300px; height:234px; margin-top:20px;}
.cbmodelimg {width:250px; height:204px;}
.cbinfosec2txt ul li { font-size:12px;}

}

@media screen and (max-width:320px)
{
.tbinfosec1txt ul li {background:url(../../images/infog/tbinfotxtbox1.png) no-repeat; width:251px; font-size:14px; padding:8px 0 0 10px;}

}