/*
07. CUSTOME FORM
08. BOOK YOUR TRAVEL
09. FOOTER
*/
.alpha { margin-left: 0; }
.omega { margin-right: 0; }
.mt30 {margin-top:30px;}
h2 {
  font-size:50px;
  color:#666666;
  font-weight:500;font-family: 'SegoeUILight';
  /*background:url(../img/linebg.gif) no-repeat right bottom;
  padding-right:100px;*/
  margin-bottom:30px;
}
h6{font-size:24px;color:#578ecb;font-weight:500;margin-bottom:20px;font-family: 'SegoeUILight';}
a,a:focus,input:focus,select:focus,button:focus{outline:none;}
.tc { text-align:center;}
.tc .btn {width:120px; margin:17px 0 0 0;
background: #578ecb;
-webkit-box-shadow: 0px 1px 10px rgba(178, 178, 178, 0.75);-moz-box-shadow:0px 1px 10px rgba(178, 178, 178, 0.75);box-shadow:0px 1px 10px rgba(178, 178, 178, 0.75); border:1px solid #578ecb; text-shadow:none;font-family: 'SegoeUI8Regular'; padding:6px; font-size:16px;}

.tc .btn:hover {background: #236dbe; 
}

img{max-width: 100%;height: auto;}
@font-face {
    font-family: 'SegoeUILight';
    src: url('../font/segoeuil.eot');
    src: url('../font/segoeuil.eot') format('embedded-opentype'),
         url('../font/segoeuil.woff') format('woff'),
         url('../font/segoeuil.ttf') format('truetype'),
         url('../font/segoeuil.svg#SegoeUILight') format('svg');
}

@font-face {
    font-family: 'SegoeUI8Regular';
    src: url('../font/segoeui.eot');
    src: url('../font/segoeui.eot') format('embedded-opentype'),
         url('../font/segoeui.woff') format('woff'),
         url('../font/segoeui.ttf') format('truetype'),
         url('../font/segoeui.svg#SegoeUI8Regular') format('svg');
}
/***************************************************	HERADER   ***************************************************/
.tmhead-section {background-image:url(../img/Head.jpg);background-repeat:no-repeat;background-position:center;min-height:622px;background-size: cover; }
.logo { width:460px; clear:both;}
.signup-box {background:rgba(255, 255, 255, 0.5); border:#819cc0 1px solid; padding:20px; width:300px; position:relative; float:right;-webkit-border-radius: 6px;-moz-border-radius: 6px;border-radius: 6px; margin:0 25px 0 0;}
.singup-icon { position:absolute; left:-34px; width:64px; height:64px; display:block; top:10px;}
.singup-title {font-size:26px;color:#578ecb;font-weight:500; padding:10px 0px; text-align:center; margin-bottom:0px;}
.singup-table { width:100%;}
.singup-table td{ padding:0px 0px 10px 0px; font-weight:600;}
.singup-table td input {padding:6px;font-family: 'SegoeUI8Regular'; color:#999; height:24px;}
.selectionmode { padding:10px 0 0 0;}
.singup-table td label{ font-weight:600;}
.singup-table td.td1 { width:62px;}
.singup-table td select {width:99%; padding:4px; height:35px;box-shadow: 0 5px 4px rgba(0, 0, 0, 0.075);transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;color:#999;font-family: 'SegoeUI8Regular'; }
.input-full { width:94%;}
.input-age { width:40px;}
.sex-type { width:109px; overflow:hidden; height:30px;}
/***************************************************	07. CUSTOME FORM   ***************************************************/
.radio{margin-bottom:0px;padding-left:28px; position: relative; -webkit-transition: 0.25s; -moz-transition: 0.25s; -o-transition: 0.25s;transition: 0.25s;-webkit-backface-visibility: hidden; width:28px; }
.radio:hover {color: #00355f; }
.radio input {outline: none !important;opacity: 0;filter: alpha(opacity=0);zoom: 1; }
.radio.checked .icon {background-position:0px -28px;opacity: 1;display: block; }
.radio.checked .icon-to-fade {opacity: 0;display: none; }
.radio.disabled {color: #d7dddd;cursor: default; }
.radio.disabled .icon {opacity: 0;display: none; }
.radio.disabled .icon-to-fade {background-position: -30px -60px;opacity: 1;display:block; }
.radio.disabled.checked .icon {background-position: 0 -90px;opacity: 1;display: block; }
.radio.disabled.checked .icon-to-fade {opacity: 0;display:none; }
.radio .icon,.radio .icon-to-fade {background: url("../img/fmtype.png") 0px 0px no-repeat;display: block;height:28px;
    left: 0;opacity: 1;position: absolute;top:0px;width:28px;-webkit-transition: opacity 0.1s linear;-moz-transition: opacity 0.1s linear;-o-transition: opacity 0.1s linear;transition: opacity 0.1s linear;-webkit-backface-visibility: hidden; }
.radio .icon {opacity: 0;top: 0;z-index: 2;display:none; }
.radio .icon,.radio .icon-to-fade {background-image: url("../img/fmtype.png"); }
.radio.man,.radio.woman { width:54px; float:left; padding-left:0px;}
.radio.man .icon,.radio.man .icon-to-fade {background: url("../img/fmtype.png") -28px 0px no-repeat;}
.radio.man.checked .icon {background-position:-28px -28px;opacity: 1;display: block; }



/********************************************** Process steps ****************************************/
#processstepssection { background:#f1f1f1 url(../img/shadow.gif) left top repeat-x;padding:10px 0px;}
.brdrrgt { border-right:1px solid #c1c1c1;}
#processstepssection .row .span4.last {border:none;}
.processstep-img { float:left; min-height:52px; padding-right:20px;}
.processstep-title { color:#578ecb; margin-bottom:0px; font-weight:600;}
.processstep-title span { color:#ff0048;font-family: 'SegoeUI8Regular'; font-size:14px;}
.processstep-descp {font-size:13px;}


/********************************************** About Us****************************************/
#aboutsection { background:#FFF;padding:30px 0px;}
.about-img { float:right; padding-left:30px; margin-top: -35px;}
.about-title {font-size:14px;color:#e6296d;font-weight:500;margin-bottom:20px;font-family: 'SegoeUI8Regular';text-align:center;}
.about-title span { color:#ff0048;}
#aboutsection h2 span,#contactsection h2 span,#currentopeningssection h2 span,#ourteamsection h2 span {background:url(../img/linebg.gif) no-repeat right 51px; width:125px; height:3px; padding-right:156px;}


/********************************************** Our Team ****************************************/
#ourteamsection {background:#eaeaea;padding:30px 0px;}
.teammember-img img{ background:#FFF;}
.teammember-name {font-size:48px;color:#578ecb;font-weight:500;margin-bottom:0px;padding:0 5px; font-family: 'SegoeUI8Regular';font-size:22px;}
.teammember-desig{font-size:18px;color:#666;font-weight:500;margin-bottom:0px;padding:0 5px;font-family: 'SegoeUILight';}
.teammember-dec{ /*width: 66%;*/word-wrap:break-word;padding:06px;}
.teamsectionhgt {position:relative;}
.ellipsify {height: 198px; width:66%; overflow: hidden; position: relative;}
.pre-dots {float: right;height: 168px;}
.dots { float: right; clear: right; position: relative; right: 49px;}
.team-details {width:250px;background:#f5f5f5; border:5px solid #fff; min-height:591px; margin-bottom:20px;}

.about-person { background:#578ecb; display:none; position:absolute;}

/********************************************** Current Openings ****************************************/
#currentopeningssection { background:#FFF;padding:30px 0px;}
.co-list { margin:0px; padding:0px;}
.co-list li { background:url(../img/libg.gif) no-repeat left 8px; padding-left:15px; list-style:none; margin-bottom:15px; font-weight:600;}

.sendresume {padding:3px 0; border-top:1px solid #e0e0e0;border-bottom:1px solid #e0e0e0; margin:20px 0 0 0;}
.sendresume p {margin-bottom:0; font-size:14px; color:#666;}
.sendresume a {font-size:24px; color:#666;}
.sendresume a:hover {color:#ff0048;}

/********************************************** Contact Us ****************************************/
#contactsection {background:#eaeaea url(../img/shadow.gif) repeat-x left bottom;padding:30px 0px;color:#000000;}
address,.phone,.email {font-size:22px; line-height:26px;}
.phone { margin-bottom:35px;}
.email a{ color:#000000;}
#contactsection h6{ margin-bottom:8px;}
.socialicons a{margin-right:10px; text-indent:-9999px;background:url(../img/social-icons.png) no-repeat left center;width:47px; height:48px;display:block;float:left;}
.socialicons .facebook {background-position:-5px -2px;}
.socialicons .facebook:hover {background-position:-5px -51px;}

.socialicons .linkedin {background-position:-87px -2px;}
.socialicons .linkedin:hover {background-position:-87px -51px;}
/********************************************** Map ****************************************/
#contact-map{min-height:350px;width: 100%;position: relative;}


/***************************************************	MEDIA 	 ***************************************************/
@media \0screen {
.teammember-img img{width: auto; /* for ie 8 */}
}
@media (min-width:980px) and (max-width:1024px) {
.processstep-img { float:none; padding-right:0px; margin-bottom:0px;}
.team-details {width:83% !important;}

}

@media (min-width: 768px) and (max-width:979px) {
	.logo {left: -74px;top: 150px;width: 460px;}
#contactsection .container,#currentopeningssection .container,#ourteamsection .container,#aboutsection .container,#processstepssection .container{ padding:0px 20px;}
.processstep-img { float:none; padding-right:0px; margin-bottom:0px;}
.processstep-title b { display:none;}
.processstep-title span { display:block;}
.about-img{ width:280px; margin-top:50px;}
.teammember-dec{ width:100%;}
.teamsectionhgt {min-height:530px !important;}
#aboutsection h2 span,#contactsection h2 span,#currentopeningssection h2 span,#ourteamsection h2 span {background:url(../img/linebg.gif) no-repeat right 51px; width:125px; height:3px; padding-right:150px;}

}

@media (max-width: 767px) {
h2 {font-size:30px; margin-bottom:30px;}
h6{font-size:24px;margin-bottom:14px;}
#contactsection .container,#currentopeningssection .container,#ourteamsection .container,#aboutsection .container,#processstepssection .container{ padding:0px 20px;}
.logo {width:90%; margin:auto; position:static; top:0px; padding:30px 0px 30px 0px;}
.signup-box  { width:80%; margin:auto; float:none; padding:10px; top:7px; left:0;}
.singup-icon {position:static; left:0px; text-align:center; width:100%;height:64px; display:block; top:0px;}
.singup-title {font-size:26px;color:#00a5ff;font-weight:500; padding:0px 0px 24px 0px; text-align:center; margin-bottom:0px;}
/*.singup-table td{ padding:0px 0px 20px 0px;}*/
.brdrrgt {   border-right: none;}
.about-img{ float:none;padding-left:0px; width:160px;}
.about-img{ float:none;padding-left:0px;}
.team-details {width:auto; float:left; margin-left:100px; position:relative; margin:20px 0; min-height:219px;}
.teammember-img { /*position:absolute; left:-100px; top:0px;*/ width:80px;}
.teammember-dec{ width:100%;}
.contact-pe { margin-top:30px;}
.co-list li { font-weight:bold;}
.singup-table td select {width:97%;}
}

@media (max-width: 480px){
.processstep-img { float:none; display:block; padding-right:0px; margin-bottom:0px;}
.team-details {width:auto; float:none; margin-left:0px; position:relative; margin-bottom:0px;}
.teammember-img { position:static; left:0px; top:0px; width:100px;}
.teammember-dec{ width:100%; }
#aboutsection h2 span, #contactsection h2 span, #currentopeningssection h2 span, #ourteamsection h2 span {padding-right:0;}

}


@media (max-width:320px){

}

