<table border="0" align="center" cellpadding="0" cellspacing="0" style="background-image:url(http://cdn.trulymadly.com/email/images/bgmailer.jpg); background-color:#38434f; font-family:Arial, Helvetica, sans-serif; color:#333;width:100%;">
  <tr>
    <td align="center"><a href="{$analyticsLinks.analytics_header_link}" target="_blank"><img src="http://cdn.trulymadly.com/email/images/tmlogo.png" width="210" height="35" style="margin:10px 0; border:none;" alt="TrulyMadly.com" /></a></td>
  </tr>
  </table>

