<!DOCTYPE>
{include file='templates/registration/header_registration.tpl'}
<script>

var casteAll='{$castes}';
{if isset($fb_dob)}
var  fb_dob  = new Array(); 
fb_dob['fb_date']='{$fb_dob.fb_date}';
fb_dob['fb_month']='{$fb_dob.fb_month}';
fb_dob['fb_year']='{$fb_dob.fb_year}';
{/if}
</script>
<script src="{$cdnurl}/js/register/core.js?v=10"></script>
<script type="text/javascript">var timeStart = Date.now();</script>
    <div class="container hide" id="container">
        {include file='templates/registration/birthplace.tpl'}
</div>
    <div class="container hide" id="container" >
        {include file='templates/registration/religion.tpl'}
	</div>
    <div class="container hide" id="container">
        {include file='templates/registration/livingspace.tpl'}
</div>
<div class="container hide" id="container">
       {include file='templates/registration/reloader.tpl'}
</div>

     </div>
</body>
</html>

