{include file='templates/registration/header_registration.tpl'}
<script>
var income_spouse_array='{$income_spouse}';
</script>
<script src="{$cdnurl}/js/register/core3.js?v=1"></script>
<div class="container hide" id="container">
{include file='templates/registration/familyDetail.tpl'}
</div>
<div class="container hide" id="container">
       {include file='templates/registration/reloader.tpl'}
</div>

    </div>
</div>
</body>
</html>

