<div class="new_wrapper">
<!--Centered Container Start -->
<div class="new_container" align="center">
<!-- Top progress section start -->
    <div class="regprogress">
		<h2>TICKLE YOUR FANCY</h2>
		<div class="regscalesec" align="center">
           <div class="regprogbar pbarstep2"></div>
   	 	</div>
   <!-- <div class="regscalesec"><img src="http://dev.trulymadly.com/trulymadly/templates/new/images/regprogress.png">
    	<div class="regprogbar"></div>-->
    </div>

<!-- Top progress section end -->
<!--Interests Start -->
<div class="regformsec">
<div class="formreg1">
<p>&nbsp;Describe yourself in 5 hashtags:</p>
<ul>
				<li><input id="interest1" type="checkbox" class = "cutomradio" name="interest" value="#MovieManiac"><label>#MovieManiac</label></li>
				<li><input id="interest2" type="checkbox" class = "cutomradio" name="interest" value="#TVAddict"><label>#TVAddict</label></li>
				<li><input id="interest3" type="checkbox" class = "cutomradio" name="interest" value="#BollywoodBuff"><label>#BollywoodBuff</label></li>
				<li><input id="interest4" type="checkbox" class = "cutomradio" name="interest" value="#AvidTraveller"><label>#AvidTraveller</label></li>
				<li><input id="interest5" type="checkbox" class = "cutomradio" name="interest" value="#BeachBum"><label>#BeachBum</label></li>
				<li><input id="interest6" type="checkbox" class = "cutomradio" name="interest" value="#NatureSeeker"><label>#NatureSeeker</label></li>
				<li><input id="interest7" type="checkbox" class = "cutomradio" name="interest" value="#MusicSnob"><label>#MusicSnob</label></li>
				<li><input id="interest8" type="checkbox" class = "cutomradio" name="interest" value="#BookWorm"><label>#BookWorm</label></li>
				<li><input id="interest9" type="checkbox" class = "cutomradio" name="interest" value="#SportsFanatic"><label>#SportsFanatic</label></li>
				<li><input id="interest10" type="checkbox" class = "cutomradio" name="interest" value="#Foodie"><label>#Foodie</label></li>
				<li><input id="interest11" type="checkbox" class = "cutomradio" name="interest" value="#HealthFreak"><label>#HealthFreak</label></li>
				<li><input id="interest12" type="checkbox" class = "cutomradio" name="interest" value="#Artsy"><label>#Artsy</label></li>
				<li><input id="interest13" type="checkbox" class = "cutomradio" name="interest" value="#AnimalLover"><label>#AnimalLover</label></li>
				<li><input id="interest14" type="checkbox" class = "cutomradio" name="interest" value="#AdrenalineJunkie"><label>#AdrenalineJunkie</label></li>
				<li><input id="interest15" type="checkbox" class = "cutomradio" name="interest" value="#Scholar"><label>#Scholar</label></li>
				<li><input id="interest16" type="checkbox" class = "cutomradio" name="interest" value="#PartyHopper"><label>#PartyHopper</label></li>
				<li><input id="interest17" type="checkbox" class = "cutomradio" name="interest" value="#Homebody"><label>#Homebody</label></li>
				<li><input id="interest18" type="checkbox" class = "cutomradio" name="interest" value="#Trendy"><label>#Trendy</label></li>
				<li><input id="interest19" type="checkbox" class = "cutomradio" name="interest" value="#EDMPundit"><label>#EDMPundit</label></li>
				<li><input id="interest20" type="checkbox" class = "cutomradio" name="interest" value="#RealityShowAddict"><label>#RealityShowAddict</label></li>
				<li><input id="interest21" type="checkbox" class = "cutomradio" name="interest" value="#CricketFan"><label>#CricketFan</label></li>
				<li><input id="interest22" type="checkbox" class = "cutomradio" name="interest" value="#FootballCrazy"><label>#FootballCrazy</label></li>
				<li><input id="interest23" type="checkbox" class = "cutomradio" name="interest" value="#CoffeeLover"><label>#CoffeeLover</label></li>
				<li><input id="interest24" type="checkbox" class = "cutomradio" name="interest" value="#Chocaholic"><label>#Chocaholic</label></li>
				<li><input id="interest25" type="checkbox" class = "cutomradio" name="interest" value="#NightOwl"><label>#NightOwl</label></li>
				<li><input id="interest26" type="checkbox" class = "cutomradio" name="interest" value="#EarlyBird"><label>#EarlyBird</label></li>
</ul>
                
                <p id='hobby_Error' style="color:red;" class="fs11 mt5"></p>
</div>

<!-- color bar -->    
<ul class="formbtmbrdr">
<li class="bg6"></li>
<li class="bg5"></li>
<li class="bg4"></li>
<li class="bg1"></li>
<li class="bg2"></li>
<li class="bg3"></li>
</ul> 
</div>
<!--Interests End -->
<div class="regfrmaction">
<a onclick="onBack(this)" class="regbcbtn fl"><i class="icon-angle-left"></i>&nbsp; Back</a>
<a id="activeInterest" onclick="onContinue(this)" class="regbcbtn fr hide">Continue &nbsp;<i class="icon-angle-right"></i></a>
<a id="inactiveInterest" class="diffregbcbtn fr">Continue &nbsp;<i class="icon-angle-right"></i></a>
</div>

</div>
<!--Centered Container End -->
</div>
            
            

