<p class="caption">Let’s save on some of your typing time!!</p>
<div class="clearfix">
        	<h2 class="mt20 tc lightgray">Would you like to connect  to your  LinkedIn account to fill in your education & professional details?</h2>
            <p class="note fs16">(don’t worry we will never post anything on your behalf)</p>
<p id='error_linkedin' class="note fs16" style="color:red"></p>
            <div class="mt40">
		<script type='in/login'></script>	
	<img src="{$cdnurl}/images/ajax_loader.gif"  align='left' width='50' id='linkedin_loader'></img>
                <p class="buttonright"><a onclick="onContinue(this)">NO THANKS<br> I WILL FILL IN  THE DETAILS</a></p>
            </div>
        </div>
