<!DOCTYPE>
{include file='templates/header_dashboard.tpl'}
<script>
var cameraOn=false;
var server="{$SERVER}";
var fb_api="{$fb_api}";
var incomplete='{$incomplete}';
var imagePath="{$imagePath}";
var facebookScope = "{$facebook_scope}";
var profile_photo_exist = "{$profile_photo_exist}";
var   jcrop_api;
var sayCheese;
var connectedFrom = "photoLater";
var photosAll='';
var edit=true;
if(incomplete)
var profile='{$fb_profile}';
else if(''!='{$photos}')
 photosAll=JSON.parse('{$photos}');
</script>
<link rel="stylesheet" href="{$cdnurl}/css/register/jquery.Jcrop.css" type="text/css" />
<link rel="stylesheet" href="{$cdnurl}/css/register/facebook_photo.css" type="text/css" />
<script src="{$cdnurl}/js/lib/jquery.simplemodal.js"></script>
<script src='{$cdnurl}/js/lib/say-cheese.js'></script>
<script src="{$cdnurl}/js/lib/jquery.Jcrop.min.js"></script>
<script src="{$cdnurl}/js/lib/facebook_photo.js"></script>
<script src="{$cdnurl}/js/register/jquery.slimscroll.js"></script>
<script src="{$cdnurl}/js/register/core5.js?v=32"></script>
<div class="container" id="container">
{include file='templates/registration/coverphoto1.tpl'}
</div>
    </div>
</div>
<script id="_webengage_script_tag" type="text/javascript">
var _weq = _weq || {};
_weq['webengage.licenseCode'] = '76a9cca';
_weq['webengage.widgetVersion'] = "4.0";

(function(d){
  var _we = d.createElement('script');
  _we.type = 'text/javascript';
  _we.async = true;
  _we.src = (d.location.protocol == 'https:' ? "https://ssl.widgets.webengage.com" : "http://cdn.widgets.webengage.com") + "/js/widget/webengage-min-v-4.0.js";
  var _sNode = d.getElementById('_webengage_script_tag');
  _sNode.parentNode.insertBefore(_we, _sNode);
})(document);
</script>
</body>
</html>

