<div class="container">
   
   
   
   
   <!-- Questionaries Section Start    -->
        
<p class="captionphy" align="center">It's now time to know the real you through our next set of questions. </p>
<!-- <h2 class="mt20"></h2> -->
<!--<div id="progressbar"></div> -->

<div class="clearfix mt10">

	<!--Hobbies Pop up-->
	<div align="center" class="befphys">
    <ul>
    
    <li>There is no right or wrong, so answer impulsively and truthfully</li>

<li>The answers will be kept completely confidential and will not be shared with other TrulyMadly members</li>

<li>The answers will be used for matching purposes only</li>
    </ul>

    
    </div>
    </div>
    
    <div class="clearfix mt20">
	<div class="continuert"><a href="javascript:void(0)" id='physcoIntroCnt'>Continue</a></div>
	</div>
    
    

</div>