{include file='templates/registration/header_registration.tpl'}
<script src="{$cdnurl}/js/register/core2.js?v=2"></script>
<div class="container hide" id="container">
{include file='templates/registration/height.tpl'}
</div>
<!-- <div class="container hide" id="container"> -->
{* include file='templates/registration/complexion.tpl' *}
<!-- </div> -->
<div class="container hide" id="container">
{include file='templates/registration/bodytype.tpl'}
</div>
<div class="container hide" id="container">
{include file='templates/registration/smoking.tpl'}
</div>
<div class="container hide" id="container">
{include file='templates/registration/drinking.tpl'}
</div>
<div class="container hide" id="container">
{include file='templates/registration/food.tpl'}
</div>
<div class="container hide" id="container">
       {include file='templates/registration/reloader.tpl'}
</div>

    </div>
</div>
</body>
</html>

