{include file='templates/registration/header_registration.tpl'}
<script>
var education_ids_array=new Array();
var current_education_id=-1;
var work_ids_array=new Array();
var current_work_id=-1;
var verify_connections_linkedin="{$linkedin_minimum_connections}";
var maxAddMores="{$maxAddMore}";
var industries=JSON.parse('{$industries}');
var educations ='{$education_levels}';
var educationsub ='{$education_sublevels}';
var json_l='{$linkedin_mapping_industry}';
</script>
<script src="{$cdnurl}/js/lib/jquery-ui-1.10.3.custom-min.js?v=1"></script>
<script src="{$cdnurl}/js/register/core4.js?v=16"></script>
<script type="text/javascript" src="http://platform.linkedin.com/in.js">
api_key: {$linkedin_api}
onLoad: fetchLinkedIn
</script>
{literal}
<script>
</script>
{/literal}
	{literal}
	<script>

	
	/**
	 *Initialise the work first div
	 * 
	 */

	$(document).ready(function() {
		
		$("#moreWork").click();
		$("#moreeducation").click();
	});
	
	</script>
	{/literal}
		<div class="container hide" id="container">
		{include file='templates/registration/workDetail.tpl'}
		</div>
		<div class="container hide" id="container">
		{include file='templates/registration/education.tpl'}
		</div>
		<div class="container hide" id="container">
		{include file='templates/registration/reloader.tpl'}
		</div>

		</div>
		</div>
		</body>
		</html>

