/*-------------------------------------------------
					Reset
-------------------------------------------------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block }
blockquote, q { quotes: none }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
ul { list-style: none; margin: 0px; padding: 0px; }
ol { margin-left: 22px }
ol li { padding: 2px 0px }
strong, b { font-weight: bold }
a { text-decoration: none; background: none; }
p { font-size: 12px; color: #565656; line-height: 16px; }
.cl { clear: both; margin: 0px; padding: 0px; }
textarea { font-size: 14px; color: #565656; }
h1{ font-size:66px; color:#fff; font-weight:300;font-family: 'Roboto', sans-serif;}
h2{ font-size:60px; color:#333333; font-weight:100;font-family: 'Roboto', sans-serif; display:inline;}

/*-------------------------------------------------
				Clear Floated Elements
-------------------------------------------------*/
.fl{ float:left;}
.clearfix:before, .clearfix:after { content: '\0020'; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; }
.clearfix:after { clear: both }
.clearfix { zoom: 1 }
/*-------------------------------------------------
				Table Style
-------------------------------------------------*/
table { border-collapse: collapse; border-spacing: 0; width: 100%; }
.tablestyle { font-size: 13px; border: #8d8d8d 1px solid; border-top: none; margin: 8px 0px; }
.tablestyle th { background: #00612e; color: #FFF; text-align: center; padding: 2px 4px; }
.tablestyle td { color: #333; text-align: center; padding: 6px 4px; }
.p15 { padding: 15px; }
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input { display: inline-block; vertical-align: middle; padding: 5px; height: 20px; line-height: 20px; background-color: #ffffff; border: 1px solid #cccccc; /*-webkit-appearance: none;*/ -webkit-border-radius: 0; border-radius: 0; font-family: 'Roboto', sans-serif; font-weight: 400; }
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus { border-color: #CB392A; outline: 0; outline: thin dotted \9;/* IE6-9 */ }
input[type="radio"], input[type="checkbox"] { margin: 0px 5px 0px 0px }
input[type="radio"] + input[type="radio"], input[type="checkbox"]+input[type="checkbox"] { margin: 0px 5px 0px 15px }
input[type="file"], input[type="image"], input[type="submit"], input[type="reset"], input[type="button"], input[type="radio"], input[type="checkbox"] { /*-webkit-appearance: none;*/ -webkit-border-radius: 0; border-radius: 0; border: 1px solid #CCCCCC; border: 0px \9; font-family: 'Roboto', sans-serif; font-weight: 400; }
input[type="image"], input[type="submit"], input[type="reset"], input[type="button"] { height: 32px; border: none; outline: none; }
textarea { overflow: auto; vertical-align: top; height: auto }
select, input[type="file"] { height: 30px; *margin-top: 4px;
/*-webkit-appearance: none;*/
-webkit-border-radius: 0; border-radius: 0; outline: none; }
