body {font-family: 'Roboto', sans-serif; font-weight: 400; font-size: 16px; background: #fff; }
#wrapper { width: 100%; margin: 0px; padding: 0px; }

/* My work */
.clb {clear:both;}
.fl {float:left;}
.fr {float:right;}
.mrg { margin:0 auto;}
.ml25 { margin-left:22px!important;}
.ml55 { margin-left:55px;}
.mt10 { margin-top:10px;}

.fs11 { font-size:11px;}
.fs12 {font-size:12px;}
.fsi {font-style:italic;}
.blue { color:#4794ED;}
.tall { text-align:left;}
.txtgray { color:#999;}
.txtgreen {color:#006600;}
.pad90 { padding-top:90px;}

.error { color:red; font-size:12px; text-align:left; float:left; clear:both;}
#namefld .error {clear:none!important;}
#generr .error { left: 0; position: absolute !important; top: 50px; width: 100%;}
#tncreg .error {top: 18px; left: 0px; position: absolute;}
#termAgree .error { margin-top:-12px; position:relative;}

.gendertxt {float:right; font-size:11px;}
.genderusr {position:absolute; top:35px; left:57px; width:120px;}

/*=========Header section start here=========*/

#headertop {  background-color: rgba(255,255,255,0.85); /* opacity:.85;*/ height:72px; width: 100%; position: fixed; box-shadow:0 0 2px 0px #CCCCCC;}
.headercontainer{ background:url(../../images/login/main-header-img.jpg) center center fixed; /*float:left;*/}
.container{ max-width:1156px; display:block; margin:0 auto; padding:0px;}
.container.top{ padding-top:110px; height:600px;}
.logo { margin: 10px 0 0 10px; padding: 0px; float: left; }
.logo img{ max-width:100%;}
.bannerimg { float:left; margin:6px 0 0 20px; display:block;}

/*===================Menu===========================*/ 
.mainmenu{float:left;margin:20px 0 0 10px;color:#444; width:5%;}
.menu-link {text-decoration: none; background:url(../../images/login/menu-icon.png) left top no-repeat; width:36px; height:26px; display:block;}
.menu-link:hover, .menuactive{ background:url(../../images/login/menu-click.png) left top no-repeat; width:36px; height:26px; display:block;}
.topnav{position: relative;display: inline-table;top:0px; margin-top:27px; padding:10px 0; background:#fff; border-radius:5px;width:170px; display:none;}
.topnav ul li {display:block; margin:0px 10px; text-align:center; font-weight:300; font-size:16px; color:#444; border-bottom:1px solid #ccc;}
.topnav ul li:last-child{ border-bottom:none;}
.topnav li a{padding:5px;color:#444;display:block;}
.topnav li a:hover, .topnav li a.active{ color:#4794ED;}
.loginright{ margin:25px 0px 0 0; padding:0px; width:100px; float:right;}
.bluebutton{ padding:5px 25px; font-size:16px; background:#4794ed; color:#fff; border-radius:5px; box-shadow:1px 1px 1px #dbdad6;}

/*===================================Login popup page code start=============================================*/

#overlay { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: #000; filter: alpha(opacity=70); -moz-opacity: 0.7; -khtml-opacity: 0.7; opacity: 0.7; z-index: 999; display: none; }
.loginpopup { width: 100%; margin: 0 auto; display: none; position: fixed; z-index: 9999; }
.loginpopup .fblogin{ padding:8px 85px 8px 55px; background:url(../../images/login/fblogin-icon.png)left -1px no-repeat; background-color:#3a589b; border-radius:5px; color:#fff; font-size:16px; font-weight:300; float:left; cursor:pointer;}
.loginpopup .formbox  input[type="submit"]{  height:40px; width:140px; margin:10px 3px 0 0; border-radius: 5px; box-shadow: 1px 1px 1px #ccc; clear:both; }
a.forgot{ font-size:14px; font-weight:300; text-decoration:none; color:#4794ed; float:left; clear:both;}
.loginpopup .content { min-width:322px; width: 322px; min-height:320px; margin:100px auto 0; background: #fff; position: relative; z-index: 99999; padding: 20px; border-radius:5px;}
.loginpopup .genderbox .checkbox .icon{ background:url(../../images/login/checkbox-icon.png)left top no-repeat; width:22px; height:21px; display:inline-block; float:left;}
.loginpopup .genderbox .checkbox.checked .icon{ background:url(../../images/login/checkbox-icon.png)left -22px no-repeat; width:22px; height:21px; display:inline-block; float:left;}
.loginpopup .genderbox .checkbox{color:#444; font-size:14px; font-weight:300;}

.genderbox input[type=checkbox]{  opacity: 0; outline: medium none !important; margin-left:-15px;}
.loginpopup .content .hide { float: right; height:38px; left:38px; position: relative; margin-top:-38px; width:38px; background-image: url(../../images/login/popup_close.png); background-repeat: no-repeat; background-position: left top; }
.loginpopup .content .hide:hover { cursor: pointer; }

/*============top fblogin container section start===============*/
.leftcol{margin-left:5%; float:left;}
.leftcol p{ font-size:32px; font-weight:300; color:#fff; line-height:38px; margin:40px 0 0 0;}
.rightcol{ margin:0px 10px 0 0px; padding:0px; float:right;}
.fbloginouter{ background:url(../../images/login/fbloginbg.png)left top repeat; width:323px; padding:20px 30px 0 30px; box-shadow:0px 0px 2px #ccc; border-radius:5px; overflow:hidden;  text-align:center; /*float:right;*/}
.fblogin{ padding:8px 106px 8px 55px; background:url(../../images/login/fblogin-icon.png)left -1px no-repeat; background-color:#3a589b; border-radius:5px; color:#fff; font-size:16px; font-weight:300; float:left;cursor: pointer;}
.neverpost{ color:#3a589b; font-size:13px; font-weight:300; padding:0 0 5px 0px; margin:5px 0 0px 0; float:left;}
.hrline {height: 2px; background:url(../../images/login/hrline.png) left top no-repeat; width:320px; float:left; }
.signupdetail{ color:#444; font-size:16px; font-weight:300; padding:10px 36px 0px 0px; margin:0px 0 10px 0; float:left;}
.formbox  input[type="text"]{ width:94%; padding:8px 8px 8px 10px; border-radius:4px; border:1px solid #c1c1c1; background:#fff; margin:8px 0px; color:#333; font-size:16px; font-weight:300;}
.formbox  input[type="number"]{ width:94%; padding:8px 8px 8px 10px; border-radius:4px; border:1px solid #c1c1c1; background:#fff; margin:8px 0px; color:#333; font-size:16px; font-weight:300;}
.formbox  input[type="password"]{ width:94%; padding:8px 8px 8px 10px; border-radius:4px; border:1px solid #c1c1c1; background:#fff; margin:8px 0px; color:#333; font-size:16px; font-weight:300;}
.formbox  input[type="submit"]{ height:40px; width:140px; margin:25px 3px 0 0; border-radius: 5px; box-shadow: 1px 1px 1px #ccc;cursor: pointer; }
.genderbox{ margin:5px 0; float:left; clear:both; position:relative;}

.gender{color:#000; font-size:16px; font-weight:300; padding:5px 10px 0px; float:left;}
.genderbox input[type=radio]{  opacity: 0; outline: medium none !important; }

.genderbox .radio.male .icon{ background:url(../../images/login/checkbox-men.png) left top no-repeat; width:32px; height:32px; display:block; float:left; margin-right:10px;}
.genderbox .radio.male.checked .icon{ background:url(../../images/login/checkbox-men.png) left -34px no-repeat; width:32px; height:32px; display:block; float:left; margin-right:10px;}
.genderbox .radio.female .icon{ background:url(../../images/login/checkbox-women.png) left top no-repeat; width:32px; height:32px; display:block; float:left; margin-left:10px;}
.genderbox .radio.female.checked .icon{ background:url(../../images/login/checkbox-women.png) left -34px no-repeat; width:32px; height:32px; display:block; float:left; margin-left:10px;}

/*============Profile container section start===============*/
.profilecontainer{ background: #ffffff;
background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5));
background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%);
background: -o-linear-gradient(top, #ffffff 0%,#e5e5e5 100%);
background: -ms-linear-gradient(top, #ffffff 0%,#e5e5e5 100%);
background: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 );
 width:100%; height:auto; float:left;}
/*.profilepic{ width:310px; float:left; margin:50px 0 0 50px; padding:0px;}
*/.profiledes{ margin:40px 0 0 10px; padding:0px; width:98%;}
.profiledes img{ float:left; margin:0 10px 0 4%;}
.profilecontent{ font-size:20px; margin:5px 0 20px 15px; line-height:24px; color:#444; font-weight:300;}
.nofake{font-size:20px; margin:80px 0 0 10px; line-height:24px; color:#444; font-weight:300; float:left; margin-right:30px;}
.smallsize{ display:none;}

/*============Real Compatibility section start===============*/
.realcontainer{ background:#fff; width:100%; box-shadow:0 -6px 4px -4px #CCCCCC; float:left;}
.realcontainer h2{ padding-top:40px;}
.box{ float:left; margin:0px 0 0 5%; width:95%;}
.box img{ float:right;}
.box h2{ display:inline-block;}
.realcontent{ font-size:20px; margin:10px 0 0 0px; line-height:24px; color:#444; font-weight:300;}
.rcscores{ font-size:20px; padding:9px 0 10px 20px; background:#578ecb; color:#fff; width:80%; margin:30px 0 0 0; width:360px; }
.realcontainer ul{ width:auto;}
.realcontainer ul li{ font-size:18px; color:#444;  padding:5px 0 5px 20px; background:#ddd; margin-top:3px; font-weight:300; width:360px}

/*============Private and safe container section start===============*/
.safecontainer{ background: #ffffff;
background: -moz-linear-gradient(top, #e5e5e5 0%, #ffffff 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5e5e5), color-stop(100%,#ffffff));
background: -webkit-linear-gradient(top, #e5e5e5 0%,#ffffff 100%);
background: -o-linear-gradient(top, #e5e5e5 0%,#ffffff 100%);
background: -ms-linear-gradient(top, #e5e5e5 0%,#ffffff 100%);
background: linear-gradient(to bottom, #e5e5e5 0%,#ffffff 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#ffffff',GradientType=0 );
 width:100%; height:auto; float:left;}
.safepic{ width:310px; float:left; margin:40px 0 0 50px; padding:0px;}
.safefiledes{ float:right; margin:40px 0 0 10px; padding:0px; width:65%;}
.safefilecontent{ font-size:20px; margin:10px 0 10px 0px; line-height:24px; color:#444; font-weight:300;}
.connecting{font-size:20px; margin:20px 0 0 0px; line-height:24px; color:#444; font-weight:300; float:left; margin-right:30px;}
.devices img{ float:right; margin:10px 0 0 0;}

/*============Match Step section start===============*/
.stepcontainer{ background:#f0f0f0; padding-bottom:50px; width:100%; float:left; /*box-shadow:0 6px 4px 4px #CCCCCC;*/ float:left;/* position:relative;*/}
.stepcontainer ul.steps{ margin:30px auto;}
.stepcontainer h2.center{ text-align:center; margin:30px auto 0; width:100%; display:block;}
.stepcontainer ul li:first-child{ margin-left:2%;}
.stepcontainer ul li{ width:22%; margin:1%; padding:0px; float:left; display:inline-block;}
p.step{max-width:100%; margin:0 auto; text-align:center;}
p.step img{ max-width:100%; border-radius:115px; border:8px solid #fff; box-shadow:0px 0px 8px 0px #999;}
.stepcontainer ul li h3{ font-size:22px; font-weight:500; text-align:center; color:#333333; margin:20px 0 0 0;}
.matchdesc{ color:#444; font-size:18px; text-align:center; font-weight:300; line-height:22px;}

/*========Footer section start here=========================*/
#footer{ width:100%; background:#ccc; float:left;box-shadow:0 5px 4px -2px #acacac inset;}
#footer .copyright{  color: #444444; float: left; font-size: 14px; font-weight: 300; margin: 0 0 15px; text-align: center; width: 100%;}
#footer ul.footernav{ margin:23px 0 25px 0;float:left; color:#444; font-weight:300;}
#footer ul.footernav li{ display:inline-block; margin:0px; padding:0 10px;}
#footer ul.footernav li a{ font-size:16px; color:#444; font-weight:300;}
.joinus{margin:20px 0; color:#444; font-weight:300; font-size:16px; float:right;}
.joinus p{ padding:5px 0 0 0; float:left; font-size:14px;}
.joinus a.fb{ background:url(../../images/login/social-icon.png?v=2)left top no-repeat; width:29px; height:29px; margin:0 3px 0 10px; display:inline-block;}
.joinus a.fb:hover{ background:url(../../images/login/social-icon.png?v=2)left -29px no-repeat; transition: all 0.5s ease 0s; }
.joinus a.tmblog{ background:url(../../images/login/social-icon.png?v=2)-139px top no-repeat; width:29px; height:29px; margin:0 3px 0 5px; display:inline-block;}
.joinus a.tmblog:hover{ background:url(../../images/login/social-icon.png?v=2)-139px -29px no-repeat; transition: all 0.5s ease 0s; }

.joinus a.in{ background:url(../../images/login/social-icon.png?v=2)-35px top no-repeat; width:29px; height:29px; margin:0 3px 0 5px; display:inline-block;}
.joinus a.in:hover{ background:url(../../images/login/social-icon.png?v=2)-35px -29px no-repeat; transition: all 0.5s ease 0s; }

.joinus a.gplus{ background:url(../../images/login/social-icon.png?v=2)-70px top no-repeat; width:29px; height:29px; margin:0 3px 0 5px; display:inline-block;}
.joinus a.gplus:hover{ background:url(../../images/login/social-icon.png?v=2)-70px -29px no-repeat; transition: all 0.5s ease 0s; }

.joinus a.twitter{ background:url(../../images/login/social-icon.png?v=2)-105px top no-repeat; width:29px; height:29px; margin:0 3px 0 5px; display:inline-block;}
.joinus a.twitter:hover{ background:url(../../images/login/social-icon.png?v=2)-105px -29px no-repeat; transition: all 0.5s ease 0s; }

.hdrsoclink {margin:20px 0 0 15px; color:#444; font-weight:300; font-size:16px; float:left;}
.hdrsoclink p{ padding:10px 0 10px 15px; float:left; font-size:14px; border-left:1px solid #999999;}
.hdrsoclink a.fb{ background:url(../../images/login/social-icon.png?v=2)left top no-repeat; width:29px; height:29px; margin:3px 3px 0 10px; display:inline-block;}
.hdrsoclink a.fb:hover{ background:url(../../images/login/social-icon.png?v=2)left -29px no-repeat; transition: all 0.5s ease 0s; }
.hdrsoclink a.tmblog{ background:url(../../images/login/social-icon.png?v=2)-139px top no-repeat; width:29px; height:29px; margin:0 3px 0 5px; display:inline-block;}
.hdrsoclink a.tmblog:hover{ background:url(../../images/login/social-icon.png?v=2)-139px -29px no-repeat; transition: all 0.5s ease 0s; }

#goto-top { background-image:url(../../images/login/goto-top.png); background-position: left top; background-repeat: no-repeat; bottom:100px; color: #BBBBBB; display: block; font: 11px/100% Arial, Helvetica, sans-serif; height: 48px; position: fixed; right: 112px; text-align: center; text-decoration: none; text-transform: uppercase; width: 48px; z-index: 99999; cursor:pointer;}
#goto-top:hover { background-image: url(../../images/login/goto-top.png); background-position: left -49px; background-repeat: no-repeat; transition: all 0.5s ease 0s; }


/*==============Responsive css start here=====================*/
@media all and (max-width: 1180px) and (min-width: 760px)
{
.container.top{ padding-top:110px; height:572px;}
.leftcol{margin-left:2%; float:left; width:45%;}
.leftcol p { font-size:26px;}	
.bannerimg { display:none;}

.headercontainer h1{ font-size:50px;}
.profilepic img{ max-width:100%;}
.profiledes{ float:left; margin:40px 0 0 10px; padding:0px; width:98%;}

.realcontainer{ background:#fff; width:100%; box-shadow:0 -6px 4px -4px #CCCCCC; float:inherit;}
.rcscores{ font-size:18px; padding:7px 0 7px 20px; background:#578ecb; color:#fff; width:80%; margin:30px 0 0 0; width:360px; }
.realcontainer ul{ width:340px; float:left;}

.box{ float:left; margin:0px 0 0 5%; width:95%;}
.box img{ float:right; max-width:40%; margin-top:-90px;}
.box h2{ display:inline-block;}
.largesize{ display:none;}
.smallsize{ display:block;}
#footer .joinus{text-align:center; float:none; width:100%;} 
.joinus p{ padding:5px 0; float:none; font-size:14px;}
.safepic{ width:35%; float:left; margin:40px 0px 0 50px; padding:0px;}
.safepic img{ max-width:100%;}
.safefiledes{ float:right; margin:40px 0 0 10px; padding:0px; width:54%;}
p.step{max-width:100%; margin:0 auto; text-align:center;}
p.step img{ max-width:90%; border-radius:115px; border:8px solid #fff; box-shadow:0px 0px 8px 0px #999;}
#goto-top{ display:none !important;}
}

@media all and (max-width: 759px) and (min-width: 480px)
{


.logo { margin:13px 0 0 10px; padding: 0px; float: left; width:70%; text-align:center; }
.logo img{ max-width:100%;}
.bannerimg { display:none;}
.hdrsoclink { display:none;}

.mainmenu{float:left;margin:26px 0 0 10px;color:#444; width:5%;}
.menu-link img {float: left;text-decoration: none; max-width:100%;}
.leftcol p{ line-height:25px;}
.loginright{ margin:25px 0px 0 0; padding:0px; width:17%; float:right;}
.bluebutton{ padding:5px 15px; font-size:16px; background:#4794ed; color:#fff; border-radius:5px; box-shadow:1px 1px 1px #dbdad6;}

.container.top{ padding-top:85px; height:750px;}
.leftcol{margin-left:3%; float:left; width:97%; text-align:center;}	
.leftcol p{ margin-top:30px; font-size:18px; margin-bottom:20px;}
.rightcol{margin-left:0 auto; float:left; width:100%; text-align:center;}
.loginpopup .hrline {height: 2px; background:url(../../images/login/hrline.png) left top repeat-x; width:315px; float:left; }
.loginpopup .content { min-width:322px; width: 322px; min-height:320px; margin:100px auto 0; background: #fff; position: relative; z-index: 99999; padding: 20px; border-radius:5px;}
.topnav{position:absolute;display: inline-table;top:28px; margin-top:45px; padding:10px 0; background:#fff; border-radius:0px; margin-left:-10px; display:none;  box-shadow:0 4px 5px 0px #ccc;}

.fbloginouter{ background:url(../../images/login/fbloginbg.png)left top repeat; width:365px; padding:20px 10px 0 10px; box-shadow:0px 0px 2px #ccc; border-radius:5px; overflow:hidden; text-align:center; margin:0 auto;}
.fblogin{ padding:8px 140px 8px 55px; background:url(../../images/login/fblogin-icon.png)left -1px no-repeat; background-color:#3a589b; border-radius:5px; color:#fff; font-size:16px; font-weight:300; float:left;}
.neverpost{ color:#3a589b; font-size:13px; font-weight:300; padding:0 0 5px 0px; margin:5px 0 0px 0; float:left;}
.hrline {height: 2px; background:url(../../images/login/hrline.png) left top repeat-x; width:350px; float:left; }
.signupdetail{ color:#444; font-size:16px; font-weight:300; padding:10px 36px 0px 0px; margin:0px 0 10px 0; float:left;}
.formbox  input[type="text"]{ width:87%; padding:8px 8px 8px 10px; border-radius:4px; border:1px solid #c1c1c1; background:#fff; margin:8px 0px; color:#333; font-size:16px; font-weight:300;}
.formbox  input[type="number"]{ width:87%; padding:8px 8px 8px 10px; border-radius:4px; border:1px solid #c1c1c1; background:#fff; margin:8px 0px; color:#333; font-size:16px; font-weight:300;}
.formbox  input[type="password"]{ width:87%; padding:8px 8px 8px 10px; border-radius:4px; border:1px solid #c1c1c1; background:#fff; margin:8px 0px; color:#333; font-size:16px; font-weight:300;}
.formbox  input[type="submit"]{  height:40px; width:140px; margin:15px 8px 0 0; border-radius: 5px; box-shadow: 1px 1px 1px #ccc; }

.headercontainer h1{ font-size:40px;}
.profiledes{ float:left; margin:40px 0 0 10px; padding:0px; width:98%; text-align:center;}
.profiledes img{ max-width:90%;/* display:block;*/ margin:0 auto; float:none;}
.profiledes h2{ float:left; font-size:40px; text-align:center; width:97%;}
.profilecontent{ float:left; margin:5px 0 10px 5px; text-align:left;}
.profilecontainer .devices{ float:none; margin:0px auto; text-align:center; padding:0px;}
.profilecontainer .devices img{ max-width:94%;}

.realcontainer{ background:#fff; width:100%; box-shadow:0 -6px 4px -4px #CCCCCC; float:inherit;}
.box{ float:left; margin:0px 0 0 3%; width:95%;}
.box img{ float:none; max-width:55%; margin:0 auto; text-align:center;}
.realcontainer .box h2{ margin-top:20px; display:inline-block; font-size:40px; width:97%; text-align:center; padding:0px;}
.realcontainer .realcontent{ float:left; clear:both; margin-bottom:20px;}
.rcscores{ line-height:28px; width:95%; clear:both; font-size:16px;}
.realcontainer ul{  float:left; clear:both; margin:0px 0 0 0; width:100%;}
.realcontainer ul li {width:95%;  font-size:16px;}
.largesize{ display:none;}
.smallsize{ display:block;}

.safepic{ width:98%; float:none; text-align:center; margin:40px auto 10px; padding:0px;}
.safepic img{ max-width:100%;}
.safefiledes{ float:left; margin:10px 0 0 10px; padding:0px; width:95%;}
.safefiledes h2{ display:inline-block; font-size:40px; width:97%; text-align:center; padding:0px;}
.safefilecontent{ width:96%; margin:0px; text-align:center;}
.safecontainer .devices{ float:left; text-align:center; margin:0px auto; padding:0px; min-height:213px;}
.safecontainer .devices img{ max-width:80%; text-align:center; float:none;}
.safecontainer .devices p.connecting{ text-align:left;}

.stepcontainer{ margin-top:-4px;}
.stepcontainer h2.center{ font-size:35px; margin:20px auto 0; padding:0px;}
p.step{max-width:100%; margin:0 auto; text-align:center;}
p.step img{ max-width:90%; border-radius:115px; border:8px solid #fff; box-shadow:0px 0px 8px 0px #999;}
.stepcontainer ul.steps{ width:100%;}
.stepcontainer ul.steps li{ float:left; margin-bottom:20px; display:block; width:100%;}
#footer{ padding-bottom:20px;}
#footer ul.footernav{ width:100%; text-align:center;}
#footer .joinus{text-align:center; float:none; width:100%;} 
#goto-top{ display:none !important;}
.joinus p{ padding:5px 0; float:none; font-size:14px;}
}

@media all and (max-width: 479px) and (min-width:320px)
{
.logo { margin:16px 0 0 10px; padding: 0px; float: left; width:58%; }
.logo img{ max-width:100%;}
.bannerimg { display:none;}
.mainmenu{float:left;margin:24px 4px 0 7px;color:#444; width:5%;}
.menu-link img {float: left;text-decoration: none; max-width:100%;}
.topnav{position:absolute;display: inline-table;top:28px; margin-top:45px; padding:10px 0; background:#fff; border-radius:0px; margin-left:-7px; display:none; box-shadow:0 4px 5px 0px #ccc;}

.leftcol p{ line-height:25px;}
.loginright{ margin:25px 0px 0 0; padding:0px; width:25%; float:right;}
.bluebutton{ padding:5px 15px; font-size:16px; background:#4794ed; color:#fff; border-radius:5px; box-shadow:1px 1px 1px #dbdad6;}

.container.top{ padding-top:85px; height:750px;}
.leftcol{margin-left:3%; float:left; width:97%; text-align:center;}	
.leftcol p{ margin-top:30px; font-size:18px; margin-bottom:20px;}
.rightcol{margin-left:0 auto; float:left; width:100%; text-align:center;}

.menu-link {text-decoration: none; background:url(../../images/login/menu-icon.png) left top no-repeat; width:36px; height:26px; display:block; background-size:60%;}
.menu-link:hover, .menuactive{ background:url(../../images/login/menu-click.png) left top no-repeat; width:36px; height:26px; display:block; background-size:60%;}


.loginpopup { width: 100%; margin: 0 auto; display: none; position: fixed; z-index: 9999; }
.loginpopup .fblogin{ padding:8px 15px 8px 50px; background:url(../../images/login/fblogin-icon.png)left -1px no-repeat; background-color:#3a589b; border-radius:5px; color:#fff; font-size:16px; font-weight:300; float:left;}
.loginpopup .formbox  input[type="submit"]{ float:left; height:40px; width:140px; margin:15px 3px 0 0; border-radius: 5px; box-shadow: 1px 1px 1px #ccc; clear:both; }
a.forgot{ font-size:12px; font-weight:300; text-decoration:none; color:#4794ed; float:left; clear:both;}
.loginpopup .content { min-width:250px; width: 250px; min-height:350px; margin:100px auto 0; background: #fff; position: relative; z-index: 99999; padding:10px; border-radius:5px;}
.loginpopup .neverpost{ color:#3a589b; font-size:13px; font-weight:300; padding:0 0 10px 0px; margin:5px 0 0px 0; float:left;}
.loginpopup .hrline {height: 2px; background:url(../../images/login/hrline.png) left top repeat-x; width:245px; float:left; }
.loginpopup .signupdetail{ color:#444; font-size:14px; font-weight:300; padding:10px 36px 0px 0px; margin:0px 0 10px 0; float:left;}
.loginpopup .content .hide { float: right; height:38px; left:30px; position: relative; margin-top:-30px; width:38px; background-image: url(../../images/login/popup_close.png); background-repeat: no-repeat; background-position: left top; }

.fbloginouter{ background:url(../../images/login/fbloginbg.png)left top repeat; width:275px; padding:20px 10px 0 10px; box-shadow:0px 0px 2px #ccc; border-radius:5px; overflow:hidden; text-align:center; margin:0 auto;}
.fblogin{ padding:8px 50px 8px 55px; background:url(../../images/login/fblogin-icon.png)left -1px no-repeat; background-color:#3a589b; border-radius:5px; color:#fff; font-size:16px; font-weight:300; float:left;}
.neverpost{ color:#3a589b; font-size:12px; font-weight:300; padding:0 0 5px 0px; margin:5px 0 0px 0; float:left;}
.hrline {height: 2px; background:url(../../images/login/hrline.png) left top repeat-x; width:270px; float:left; }
.signupdetail{ color:#444; font-size:16px; font-weight:300; padding:10px 36px 0px 0px; margin:0px 0 10px 0; float:left;}
.formbox  input[type="text"]{ width:87%; padding:8px 8px 8px 10px; border-radius:4px; border:1px solid #c1c1c1; background:#fff; margin:8px 0px; color:#333; font-size:16px; font-weight:300;}
.formbox  input[type="number"]{ width:87%; padding:8px 8px 8px 10px; border-radius:4px; border:1px solid #c1c1c1; background:#fff; margin:8px 0px; color:#333; font-size:16px; font-weight:300;}
.formbox  input[type="password"]{ width:87%; padding:8px 8px 8px 10px; border-radius:4px; border:1px solid #c1c1c1; background:#fff; margin:8px 0px; color:#333; font-size:16px; font-weight:300;}
.formbox  input[type="submit"]{ height:40px; width:140px; margin:15px 8px 0 0; border-radius: 5px; box-shadow: 1px 1px 1px #ccc; }

.headercontainer h1{ font-size:40px;}
.profiledes{ float:left; margin:40px 0 0 10px; padding:0px; width:98%; text-align:center;}
.profiledes img{ max-width:90%;/* display:block;*/ margin:0 auto; float:none;}
.profiledes h2{ float:left; font-size:40px; text-align:center; width:97%;}
.profilecontent{ float:left; margin:5px 0 10px 5px; text-align:left;}
.profilecontainer .devices{ float:none; margin:0px auto; text-align:center; padding:0px;}
.profilecontainer .devices img{ max-width:94%;}

.realcontainer{ background:#fff; width:100%; box-shadow:0 -6px 4px -4px #CCCCCC;/* float:inherit;*/}
.box{ float:left; margin:0px 0 0 3%; width:95%;}
.box img{ float:none; max-width:55%; margin:0 auto; text-align:center;}
.realcontainer .box h2{ margin-top:20px; display:inline-block; font-size:40px; width:97%; text-align:center; padding:0px;}
.realcontainer .realcontent{ float:left; clear:both; margin-bottom:50px;}
.rcscores{ line-height:28px; width:95%; clear:both;  font-size:14px;}
.realcontainer ul{  float:left; clear:both; margin:0px 0 0 0; width:100%;}
.realcontainer ul li { width:95%;  font-size:14px;}
.largesize{ display:none;}
.smallsize{ display:block;}

.safepic{ width:98%; float:none; text-align:center; margin:40px auto 10px; padding:0px;}
.safepic img{ max-width:100%;}
.safefiledes{ float:left; margin:10px 0 0 10px; padding:0px; width:95%;}
.safefiledes h2{ display:inline-block; font-size:40px; width:97%; text-align:center; padding:0px;}
.safefilecontent{ width:96%; margin:0px;}
.safecontainer .devices{ /*float:left;*/ text-align:center; margin:0px auto; padding:0px;}
.safecontainer .devices img{ max-width:80%; text-align:center; float:none;}
.safecontainer .devices p.connecting{ text-align:left;}
.stepcontainer{ margin-top:-4px;}
.stepcontainer h2.center{ font-size:35px; margin:20px auto 0; padding:0px;}
p.step{max-width:100%; margin:0 auto; text-align:center;}
p.step img{ max-width:90%; border-radius:115px; border:8px solid #fff; box-shadow:0px 0px 8px 0px #999;}
.stepcontainer ul.steps{ width:100%;}
.stepcontainer ul.steps li{ float:left; margin-bottom:20px; display:block; width:97%;}

#footer{ padding-bottom:20px;}

#footer ul.footernav{ width:100%; text-align:center;}
#footer .joinus{text-align:center; float:none; width:100%;} 
/* #footer .joinus{margin:0px auto; color:#444; font-weight:300; font-size:16px; text-align:left;  float:none; text-align:center;} */
#goto-top{ display:none !important;}
.joinus p{ padding:5px 0; float:none; font-size:14px;}

.hdrsoclink { display:none;}

}



.termsContainer {
max-width: 90%;
display: block;
margin: 0 auto;
padding: 20px 0 0 0;
 font-size:14px;
line-height: 20px;
color:#333;
}

.termsContainer h2 { font-size:40px; color:#333;}

.termsContainer p{ font-weight: 300; margin:15px 0; font-size:14px; line-height: 20px; color:#333;}

.termsContainer p strong, b {font-weight: 400; color:#000;}

.termsContainer ol li {font-weight: 300; font-size:14px; color:#333;}
.termsContainer ul li {font-weight: 300; font-size:14px; color:#333; margin:10px 0;}

