<!DOCTYPE html>
<html lang="en">
<head>
  <title>Query List</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	{include file='../deals/adminIncludes.tpl'}
  <script src="{$baseurl}/js/reporting/queryList.js"></script>
</head>
<body>

{include file='../deals/header.tpl'}

   

</body>
</html>
