
/* Header */
.headbg ,.ftrbg { background:#2e3f49; display: inline-block; width: 100%;}
/* .ftrbg { position:fixed; bottom:0;} */
.pageheader {padding:5px 0; margin:0 0 8px 0; width:960px; background:#fff; border-radius:0 0 10px 10px; -moz-border-radius:0 0 10px 10px; -webkit-border-radius:0 0 10px 10px; -webkit-box-shadow: 1px 2px 6px rgba(0,0,0,.65); -moz-box-shadow: 1px 2px 6px rgba(0,0,0,.65); box-shadow: 1px 2px 6px rgba(0,0,0,.65); display:inline-block; }
.ddicon {font-size:26px !important; margin:5px 0 0 15px !important; border:none !important; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;}
.sitelogo {margin:5px 0 0 15px; float:left; border:none;}
.headright, .headlinks {float:right; margin:0 15px 0 0;}
.headlinks a {color:#2e3f49; position:relative; width:65px; padding:33px 0 0 0; margin:0 5px 0 0; display:inline-block; text-align:center; font-size:11px; text-transform:uppercase; background:url(../../images/common/headericons.png) no-repeat;}
.headlinks a p {position:absolute; margin:0 auto; padding:2px 0 0 0; color:#fff; background:#ed0c6e; top:-5px; right:-5px; border-radius:100%; -moz-border-radius:100%; -webkit-border-radius:100%; width:18px; height:18px;}
.headlinks a:hover {color:#598fc9;}
.headlinks a.homepage {background-position:13px top;}
.headlinks a.matchpage {background-position:-50px top;}
.headlinks a.msgpage {background-position:-118px top;}
.headlinks a.maybepage {background-position:-185px top;}
.headlinks a.homepage:hover {background-position:13px -49px;}
.headlinks a.matchpage:hover {background-position:-50px -49px;}
.headlinks a.msgpage:hover {background-position:-118px -49px;}
.headlinks a.maybepage:hover {background-position:-185px -50px;}

.regusrdet {margin:10px 15px 0 0; padding:0; font-size:16px; color:#2e3f49; float:right;}
.regusrdet img{width:25px; height:25px; border:none; margin:0 10px 0 0; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; }

/* Drop Down1 */
.click-nav {margin:0 auto; width:auto; float:left; }
.click-nav ul {}
.click-nav ul li {position:relative; list-style:none; cursor:pointer;}
.click-nav ul li ul { position:absolute; left:0; right:0; width:160px; border-radius:0 0 5px 5px; -moz-border-radius:0 0 5px 5px; -webkit-border-radius:0 0 5px 5px; overflow:hidden;background:#fff; padding:10px 0; -webkit-box-shadow: 0 3px 2px rgba(0,0,0,.4); -moz-box-shadow: 0 3px 2px rgba(0,0,0,.4); box-shadow: 0 3px 2px rgba(0,0,0,.4); z-index:10000;}
.click-nav ul .clicker {color:#2e3f49;}
.click-nav ul .clicker:hover, .click-nav ul .active {color:#598fc9;	background:#e6e7e8;}
.click-nav ul li a {transition:background-color 0.2s ease-in-out; -webkit-transition:background-color 0.2s ease-in-out; -moz-transition:background-color 0.2s ease-in-out; display:block; padding:5px; margin:3px 10px; font-size:16px; background:#FFF; color:#333; text-decoration:none; text-align:left; border-top:1px solid #e6e7e8; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; }
.click-nav ul li a:hover { color:#598fc9; background:#e6e7e8;}
/* Fallbacks */
.click-nav .no-js ul {display:none;}
.click-nav .no-js:hover ul {display:block;}
*, *:after, *:before {margin:0; padding:0; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -webkit-font-smoothing:antialiased; font-smoothing:antialiased; text-rendering:optimizeLegibility;}

/* Drop Down2 */
.click-nav1 {margin:5px 0 0 0; width:auto; float:right; }
.click-nav1 ul { background:rgba(46,63,73,0.9); display:inline-block; width:180px;}
.click-nav1 ul li {position:relative; list-style:none; cursor:pointer;}
.click-nav1 ul li ul { position:absolute; top:35px; right:0; width:180px; overflow:hidden; padding-bottom:5px; z-index:10000;}

.click-nav1 ul .clicker1 {color:#fff; text-align:left;  padding:5px; background:url(../../images/common/barrow.png) no-repeat 93% 50%; height:36px;}
.click-nav1 ul .active {color:#fff;	background: url(../../images/common/tarrow.png) no-repeat 93% 50%;}

/*.clicker1 {color:#fff; text-align:left; padding:5px;} */
.clicker1 img {width:25px; height:25px; border:none; margin:0 10px 0 0; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; float:left; }
.clicker1 span {display: inline-block; margin: 4px 0; overflow: hidden; text-overflow: ellipsis; text-transform: uppercase; white-space: nowrap; width: 65px;}
::i-block-chrome,.clicker1 span{margin: 6px 0;}

.click-nav1 ul li a {transition:background-color 0.2s ease-in-out; -webkit-transition: background-color 0.2s ease-in-out; -moz-transition:background-color 0.2s ease-in-out; display:block; padding:10px 5px; margin:0 5px; font-size:14px; text-transform:uppercase; color:#fff; text-decoration:none; text-align:left; border-top:1px solid #637077;}
.click-nav1 ul li a:hover { color:#e6e7e8; background:#637077;}
/* Fallbacks */
.click-nav1 .no-js1 ul {display:none;}
.click-nav1 .no-js1:hover ul {display:block;}



/* footer */
.padt8 {padding-top:8px !important;}
.pagefooter {padding:10px 0; margin:0 auto; width:960px; color:#fff; font-size:14px;}
.footerlink {margin:0 auto; overflow:hidden;}
.footerlink ul {margin:0 auto; padding:0; list-style-type:none; overflow:hidden; display:inline-block;}
.footerlink ul li {margin:0 8px; padding:0; float:left;}
.footerlink ul li a, .copyr a {color:#fff;}
.copyr {padding:0; margin:0 auto; text-align:center; color:#bdbdbd; font-size:13px; clear:both; width:100%;}
.followus {float:right;}
.followus p {padding:0; margin:8px 10px 0 0; color:#fff; text-align:left; float:left; white-space:nowrap;}
.followus a {background:url(../../images/common/social-icon.png) no-repeat; width:29px; height:29px;}
.followus a.fb{ background-position:left top; margin:0 3px 0 0; display:inline-block;}
.followus a.fb:hover{ background-position: left -29px; transition: all 0.5s ease 0s; }
.followus a.tmblog{background-position: -66px top; margin:0 3px 0 5px; display:inline-block;}
.followus a.tmblog:hover{ background-position: -66px -29px; transition: all 0.5s ease 0s; }
.followus a.twitter{ background-position: -33px top; margin:0 3px 0 5px; display:inline-block;}
.followus a.twitter:hover{ background-position: -33px -29px; transition: all 0.5s ease 0s; }
.followus a.insta{ background-position: -99px top;margin:0 3px 0 5px; display:inline-block;}
.followus a.insta:hover{ background-position: -99px -29px; transition: all 0.5s ease 0s; }
.followus a.youtube{ background-position: -132px top;margin:0 3px 0 5px; display:inline-block;}
.followus a.youtube:hover{ background-position: -132px -29px; transition: all 0.5s ease 0s; }

/* Responsive Header */
.respheader {width:100%; background:#2e3f49; display:none; position:fixed; top:0; left:0; z-index:999;}
.downlapp {background:#e6e7e8; overflow:hidden;}
.downlapp ul {margin:5px auto; padding:0; overflow:hidden; list-style-type:none;}
.downlapp ul li { margin:0 auto; padding:0 5px; color:#2e3f49; font-size:18px;}
.downlapp ul li span {font-size:30px; color:#777; display: inline-block; margin:0 5px; cursor:pointer;}
.downlapp ul li a {background:#0072bc; color:#fff; font-size:24px; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; padding:5px 10px; display:inline-block; }
.click-nav2 {margin:5px 0 0 0; width:auto; float:left; }
.click-nav2 ul { background:rgba(46,63,73,0.9); display:inline-block;}
.click-nav2 ul li {position:relative; list-style:none; cursor:pointer;}
.click-nav2 ul li ul { position:absolute; top:36px; left:0; width:220px; overflow:hidden; padding-bottom:5px; z-index:10000;}

.click-nav2 ul .clicker2 {color:#fff; text-align:left; padding:5px; border-top:none !important; font-size:24px;}
.click-nav2 ul .active {color:#fff; background:#637077;}

/*.clicker1 {color:#fff; text-align:left; padding:5px;} */
.clicker2 img {width:25px; height:25px; border:none; margin:0 10px 0 0; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; }
.clicker2 span {text-transform:uppercase;}
.click-nav2 ul li a {display:block; padding:10px 5px 10px 40px; margin:0 5px; font-size:14px; text-transform:uppercase; color:#fff; text-decoration:none; text-align:left; border-top:1px solid #637077;}
.click-nav2 ul li a:hover { color:#e6e7e8;}
/* Fallbacks */
.click-nav2 .no-js1 ul {display:none;}
.click-nav2 .no-js1:hover ul {display:block;}

.ddhome { background:url(../../images/common/respmenueicon.png?v=2) no-repeat left 10px;}
.ddphoto { background:url(../../images/common/respmenueicon.png?v=2) no-repeat  left -233px;}
.ddtrustb { background:url(../../images/common/respmenueicon.png?v=2) no-repeat  left -83px;}
.ddmpro { background:url(../../images/common/respmenueicon.png?v=2) no-repeat  left -22px;}
.ddepro { background:url(../../images/common/respmenueicon.png?v=2) no-repeat  left -111px;}
.ddepref { background:url(../../images/common/respmenueicon.png?v=2) no-repeat  left -51px;}
.ddquiz { background:url(../../images/common/respmenueicon.png?v=2) no-repeat  left -171px;}
.ddinvfnd { background:url(../../images/common/respmenueicon.png?v=2) no-repeat  left -201px;}
.ddsett { background:url(../../images/common/respmenueicon.png?v=2) no-repeat  left -261px;}
.ddlogout { background:url(../../images/common/respmenueicon.png?v=2) no-repeat  left -292px;}
.ddcredit { background:url(../../images/common/respmenueicon.png?v=2) no-repeat  left -321px;}
.ddfeed { background:url(../../images/common/respmenueicon.png?v=2) no-repeat  left -352px;}
.ddlike { background:url(../../images/common/respmenueicon.png?v=2) no-repeat  left -384px;}
.ddmaybe {background:url(../../images/common/respmenueicon.png?v=2) no-repeat  left -417px;}

@media screen and (max-width:800px){
.pageheader {width:98%;}
.pagefooter {width:100%; font-size:12px;}
.footerlink ul li {margin:0 5px;}
}

@media screen and (max-width:640px){
.new_wrapper {margin:40px 0 0 0;}	
.headbg, .ftrbg {display:none;}
.headlinks a {padding:25px 0 0 0; background:url(../../images/common/headericons1.png) no-repeat; color:#fff; margin:5px 0 0 0; font-size:10px; width:60px;}
.headlinks a.matchpage {background-position:15px top;}
.headlinks a.msgpage {background-position:-33px top;}
.headlinks a.homepage {background-position:-85px top;}
.headlinks a.maybepage {background-position:-135px top;}
.headlinks a.matchpage:hover {background-position:15px -37px;}
.headlinks a.msgpage:hover {background-position:-33px -37px;}
.headlinks a.homepage:hover {background-position:-85px -36px;}
.headlinks a.maybepage:hover {background-position:-135px -36px;}
.regusrdet {margin:5px 15px 0 0; color:#fff;}
.respheader {display:inline-block;}
}

@media screen and (max-width:480px){
}

@media screen and (max-width:340px){

}

