

<div class="newmatch">
<div style="display:none;position:absolute;left:0;top:0;width:100%;height:100%;z-index:1000;"></div>
<div class="bg-overlay"></div>
<div class="matchimg" style="background:url({%=o.profile_pic%})">
        <img src="{%=o.likeStamp_url%}" class="stampicon likeStamp" style="display:none;">
        <img src="{%=o.hideStamp_url%}"  class="stampicon hideStamp" style="display:none;">
        <img src="{%=o.maybeStamp_url%}"  class="stampicon maybeStamp" style="display:none;">
           <a> <img src="{%=o.spacerImgIcon%}" border="0" class="propic" url="{%=o.profile_url%}"></a>
	        <div class="matchname">
	        {%=o.fname%}, {%=o.age%}, {%=o.city%} 
	        
	        
	       
	         {% if(o.mutual_connections_count) { %}
	        	<div class="matchmutual"  onMouseOver="document.getElementById('promutual_{%=o.id%}').style.display='block';" onMouseOut="document.getElementById('promutual_{%=o.id%}').style.display='none';">
	        	<p> 
	        	{%=o.mutual_connections_count%}</p>
	        	<div class="promutfrnd" id="promutual_{%=o.id%}" style="display:none;">
	              	<ul>
	              	{% for (var i=0; i < o.mutual_connections.length; i++) { %}
	              		<li><img src="{%=o.mutual_connections[i].pic%}" />
	              		<p>{%=o.mutual_connections[i].name%}</p></li>
	              	{% } %}	
	                </ul>
              </div>
              </div>
	        {% } %}

	        </div>
	        {% if(o.other_pics > 1) { %}
	        <div class="photocount"><img src="{%=o.photoCount%}" width="15" height="13" align="left" border="0">1/{%=o.other_pics%}</div>
	        {% } %}
	        <!--<div class="matchscore"><img src="{%=o.matchScore%}" width="59" height="30">Match Score<p>Excellent</p></div> -->
<!--Trust Meter Start -->
<div class="trustscore">
     <div class="tmtitle">
     <div class="pieContainer">
     <div class="pieBackground"></div>
     <div id="pieSlice1" class="hold">
     	{% if(o.trust_score >0){ %}
     <div id="pieSlice1" class="hold"><div class="pie" style="-webkit-transform:rotate({%=o.trust_score_angle%}deg); -moz-transform:rotate({%=o.trust_score_angle%}deg); -o-transform:rotate({%=o.trust_score_angle%}deg); transform:rotate({%=o.trust_score_angle%}deg);"></div></div>
     <div class="persentbg"><p>{%=o.trust_score%}%</p></div>
     {% } else { %}
      <div id="pieSlice1" class="hold"><div class="pie" style="-webkit-transform:rotate(-90deg); -moz-transform:rotate(-90deg); -o-transform:rotate(-90deg); transform:rotate(-90deg);"></div></div>
     <div class="persentbg"><p>0%</p></div>
     {% } %}
     </div>
     
     </div>
     </div>
     <h3>Trust Score</h3>
</div>
<!-- Trust Meter end -->
	        <a ><div class="viewprofile" url="{%=o.profile_url%}"><img src="{%=o.profileImgIcon%}" width="25" height="25" align="absmiddle" >View<br>Profile</div></a>
	    </div>
	  <div class="mscoresec">
      
		<ul class="proworkedu overf">
		<li class="wewidth1"><i class="icon-briefcase matdeticon"></i></li><li class="wewidth2">
		{%=o.industry%}{% if(o.industry && o.designation) { %}, {% } %}{%=o.designation%} 
		<!-- 	 <span>
		
			{% if(o.companies) { %}
		        	{% for (var i=0; i<o.companies.length; i++) { %}
		    			<span class="1">{%=o.companies[i]%}</span>
		    				 {% if(i<(o.companies.length-1)) { %}
		    					&nbsp;|&nbsp;
		    				 {% } %}	 
					{% } %}
				{% } %}
				
            	
            	
		</span> -->
        </li>
        </ul>
        <ul class="proworkedu overf">
        <li class="wewidth1"><i class="icon-graduation matdeticon"></i></li><li class="wewidth2">{%=o.highest_degree%}
        <!-- <span>
           	  
           	  {% if(o.institutes) { %}
		        	{% for (var i=0; i<o.institutes.length; i++) { %}
		    			<span class="1">{%=o.institutes[i]%}</span>
		    				 {% if(i<(o.institutes.length-1)) { %}
		    					&nbsp;|&nbsp;
		    				 {% } %}	 
					{% } %}
				{% } %}
				
           	  
         </span> -->
         </li>
         </ul>
         {% if(o.preferredInterests) { %}
         	<ul class="proworkedu overf">
            <li class="wewidth1"><p class="hashtag">#</p></li>
            <li class="wewidth2">
      		{% for (var i=0; i < o.preferredInterests.length; i++) { %}
      			<h4>{%=o.preferredInterests[i]%} {% if(o.preferredInterests.length>i+1) { %}&nbsp; {% } %}	</h4>
      		{% } %}	 
      	
        </li>
		</ul>
		{% } %}
         
	    <!--<p class="pgbtxt1">Values</p>
	    <div class="scalesec"><img src="../../images/profile/dotsscale.png"><div class="progbar pgb1"></div></div>
	    <p class="pgbtxt2">ADAPTABILITY</p>
	    <div class="scalesec"><img src="../../images/profile/dotsscale.png"><div class="progbar pgb2"></div></div>
	    <p class="pgbtxt3">BELIEFS</p>
	    <div class="scalesec"><img src="../../images/profile/dotsscale.png"><div class="progbar pgb3"></div></div>
	    <p class="pgbtxt4">Common Likes <span>(10)</span></p>
	    	<div class="comnlikes">
	       		<a>Music Addict</a>
	            <a>Party Hopper</a>
	            <a>Health Freak</a>
	            <a>Neature seeker</a>
	            <a>Movie Maniac</a>
	            <a>Avid Traveller</a>
	            <a>Foodie</a>
	            <a>TV addict</a>
	            <a>Book worm</a>
	            <a>Adrenaline Junkie</a>
	            <a>Bollywood Buff</a>
	            <a>Artsy</a>
				<a>Homebody</a>
	        </div> -->

	    </div>
<a  url="{%=o.like_url%}" class="matchaction like_user" name="likebox" title="LIKE"></a> 
<!-- <a  url="{%=o.maybe_url%}"  class="matchaction maybe_user maybeact" name="maybebox"  title="MAYBE"></a> -->      
<a  url="{%=o.hide_url%}"  class="matchaction hide_user" name="hidebox" title="NOPE"></a>  
 


	    
	</div>
    
	
	