<table border="0" align="center" cellpadding="0" cellspacing="0" style="background-image:url(http://cdn.trulymadly.com/email/images/bgmailer.jpg); background-color:#38434f; width:90%; min-width:360px;">
  <tr>
    <td align="center"><a href="{$analyticsLinks.analytics_header_link}" target="_blank"><img src="http://cdn.trulymadly.com/email/images/trulymadly_logo.png" width="172" height="35" style="margin:10px 0 10px 10px; border:none; float:left" alt="TrulyMadly.com" /></a><div style="margin:5px 10px 0 0; float:right;"><img src="http://cdn.trulymadly.com/email/images/androidtmapp.png" width="27" height="45" style="margin:0 5px 0 0; float:left;"><p style="float:right; margin:5px 0 0 0; padding:0; text-align:left; white-space:nowrap; line-height:16px; font-size:12px; font-family:'Eurofurence',Arial,Helvetica,sans-serif; color:#fff; ">Trulymadly Android App<br><a target="_blank" href="https://play.google.com/store/apps/details?id=com.trulymadly.android.app" style="color:#fff; text-decoration:none;">DOWNLOAD NOW &raquo;</a></div></td>
  </tr>
  </table>

