{include file='../header_dashboard.tpl'}
<link href="{$cdnurl}/css/infog/infogstyle.css?v=1" rel="stylesheet" type="text/css" />

<script type="text/javascript">
function fun(){
	var option1 =  $("#profileDeletionSelect option:selected").text();
	if(option1 == 'Other'){
		$("#reasonDesc").css("display", "block");
	}
	else{
		$("#reasonDesc").css("display", "none");
	}
}
$(document).ready(function(){
	$('#phide').click(function() {	
		 if($('#phide').is(':checked')) {
			 $('#profileDeletionSelect').css("display", "block");
		 }
	});
});

</script>
<!--wrapper secton start here-->
<div class="tbwrapper">
	
    
    <!--info secton 1 start here-->
   
    <div class="tbinfosec4txt formbox mt20">
    
    {if !isset($taskDone)}
   <form action="deactivate.php" id="form1" method="post" name="lg-form" novalidate='novalidate'>
  <br>
 By selecting this option, your profile status will change accordingly:<br><br>
	<input type="radio" name="radio" id="phide" value="phide">
	<label for="phide" id="deact" class="fs16">Deactivate My Profile</label>
    <select id="profileDeletionSelect" name="reason" onchange="fun()" style="display:none;" class="ddlist clb" >
    <option selected="selected" disabled="disabled">Please select a reason</option>
		          	<option>TrulyMadly helped me find my life partner.</option>
		          	<option>I found my life partner through some other way.</option>
		          	<option>I don't find TrulyMadly useful.</option>
		          	<option>Other</option>
        </select>
<textarea id="reasonDesc" name="reason_desc" style="display:none; width:290px;" class="ddlist clb"></textarea>
                  
    <div class="clb"></div>
    <input type="submit" value="Save Changes" id='register1' class="subtndeact">
    <div class="clb"></div>
   
   </form>
   {/if}
 
    </div>
    <!--info secton 1 end here-->
    
    
</div>
<!--wrapper secton end here-->

</body>
</html>
