<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Truly Madly | Reset Password</title>
<link href="../images/infog/favicon.ico" rel="shortcut icon" type="image/x-icon" />
<link href="../css/infog/infogstyle.css" rel="stylesheet" type="text/css" />

<link href="../css/login/style.css" rel="stylesheet" type="text/css" />

<link href="http://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet" type="text/css">
<script src="../js/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="../js/login/custom.js"></script>
</head>
<body>
<!--wrapper secton start here-->
<div class="tbwrapper">
	<div id="headertop">
				<div class="container">
					<!--Menu-->
					<div class="mainmenu">
						<a class="menu-link" href="#"></a>
						<div class="topnav" id="menu">
							<ul>
								<li class="has-submenu"><a href="http://www.trulymadly.com">Home</a></li>
								<li class="has-submenu"><a href="aboutus.html">About Us</a></li>
								<li class="has-submenu"><a href="TrustSecurity.html" class="active">Trust & Security</a></li> 
                    			<li class="has-submenu"><a href="ScientificMatching.html">Scientific Matching</a></li> 
                                <li class="has-submenu"><a href="../terms.php">Terms of Use</a></li>
                                <li class="has-submenu"><a href="../policy.php">Privacy Policy</a></li>
								<li class="has-submenu"><a href="../guidelines.php">Safety Guidelines</a></li>
							</ul>
						</div>
					</div>
					<!--Menu END-->
					<div class="logo">
						<img src="../images/login/truly-madly-logo.png"
							alt="truly-madly" />
					</div>
					<!--<div class="loginright">
						<a href="../index.php" class="bluebutton">Log In</a>
					</div> -->
	  </div>
			</div>

    
    <!--info secton 1 start here-->
    <div class="tbinfosec1 pad90" id="bot1">
    <h2>Change My Profile Password</h2>
    <div class="tbinfosec1txt formbox" style="width:300px;">
   <form  id="form1" method="post" name="lg-form" novalidate='novalidate'>
   <input type="password" placeholder="Create New Password" id='password1' name='password'>
   <input type="password" placeholder="New Password Confirmation" id='password2' name='passwordAgain' onchange='checkPasswords()'> 
    <div class="clb"></div>
    {if isset($stat)}
    <p>{$stat}</p> 
    {/if}
    <input type="submit" value="Update Password" id='register1' style="width:150px; background:#4794ED; color:#fff; font-size:15px; margin:10px 0 0 0;">
	</form>
    </div>
    </div>
    <!--info secton 1 end here-->
    
    
</div>
<!--wrapper secton end here-->

</body>
</html>
