
<table border="0" align="center" cellpadding="0" cellspacing="0" style="font-family:Arial, Helvetica, sans-serif; color:#333;width:100%;">
  <tr><td style="background-color:#fc5151;">
  <div style="margin:15px 20px; color:#fff; font-size:13px; line-height:16px; text-align:left; font-family:'Myriad Pro',Arial,Helvetica,sans-serif;">
     <strong style="font-size:16px;"><img src="http://cdn.trulymadly.com/email/images/sysalert.png" width="22" height="22" align="absmiddle" />&nbsp;Your Trust Score is below 25%</strong>
     <ul style="margin:10px 0 10px 20px; padding:0;">
     <li>You need a Trust Score of 25% to become visible to your matches for them to view your profile</li>
     <li>You need a Trust Score of 25% to express interest in your matches</li>
     </ul>

You can increase your trust score by going here <a href="http://www.trulymadly.com/trustbuilder.php" target="_blank" style="color:#3d0000;">http://www.trulymadly.com/trustbuilder.php</a><br />
<br />
Don't worry all your private information is completely secure and confidential with us. So go ahead and connect with your soul mate on trulymadly.com now!
</div>
  </td></tr>
  </table>

