
<div style="margin:10px 30px 20px 30px; line-height:18px; clear:both; text-align:center; color:#333f4a; font-family:'Myriad Pro',Arial,Helvetica,sans-serif; font-size:13px;">
<strong style="font-family:'Myriad Pro',Arial,Helvetica,sans-serif; color:#CC0000; font-size:13px;">Why am I seeing blurred photos?</strong><br />
 Because we do not have an approved photo of your's. <a href="{$analyticsLinks.analytics_photo_link}"  target="_blank" style="color:#0067dd; text-decoration:underline; font-size:13px; font-weight:bold; ">Upload Photo</a>
</div>



