.chzn-container {
  position: relative;
  display: inline-block;
  zoom: 1;
  *display: inline;
  width:280px !important;
}
.chzn-container .chzn-drop {
  background: #efefef;
  border: 1px solid #cecccc;
  position: absolute;
  top: 29px;
  left: 0;
  z-index: 1010;
  margin: 4px 0 0;
  text-align:left;
  width:278px !important;
}

.chzn-container-single .chzn-single {
  background-color: #fff;
  border: 1px solid #cecccc;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  height: 28px;
  line-height: 28px;
  padding:0 0 0 5px;
  color: #666;
  text-decoration: none;
}
.chzn-container-single .chzn-single span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: 26px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-align:left;
}
.chzn-container-single .chzn-single abbr {
  display: block;
  position: absolute;
  right: 26px;
  top: 8px;
  width: 12px;
  height: 13px;
  font-size: 1px;
  background:url(../../images/dashboard/chosen-sprite.png)right top no-repeat;
}
.chzn-container-single .chzn-single abbr:hover {
  background-position: right -11px;
}
.chzn-container-single .chzn-single div {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  height: 100%;
  width: 22px;
}
.chzn-container-single .chzn-single div b {
  background: url(../../images/dashboard/chosen-sprite.png) no-repeat 0 8px;
  display: block;
  width: 100%;
  height: 100%;
}
.chzn-container-single .chzn-search {
  padding: 3px 4px;
  position: relative;
  margin: 0;
  white-space: nowrap;
  z-index: 1010;
}
.chzn-container-single .chzn-search input {
  margin: 1px 0;
  padding: 4px 20px 4px 5px;
  outline: 0;
  width:270px !important;width:242px\9 !important;
  background:#fff url(../../images/dashboard/chosen-sprite.png) no-repeat right -24px;
}
.chzn-container-single .chzn-default {
  color: #999;
}
.chzn-container-single .chzn-drop {
  width:278px !important;
}
.chzn-container-single.chzn-disabled .chzn-single abbr:hover {
  background-position: right top;
}
.chzn-container-single-nosearch .chzn-search input {
  position: absolute;
  left: -9000px;
}
.chzn-container-multi .chzn-choices {
  -webkit-transition: border linear 0.2s;
  -moz-transition: border linear 0.2s;
  -o-transition: border linear 0.2s;
  transition: border linear 0.2s;
  -webkit-transition: box-shadow linear 0.2s;
  -moz-transition: box-shadow linear 0.2s;
  -o-transition: box-shadow linear 0.2s;
  transition: box-shadow linear 0.2s;
  background-color: #efefef !important;
  border: 1px solid #cecccc;
  cursor: text;
  overflow: hidden;
  height: auto !important;
  height: 1%;
  position: relative;
  display: block;
  padding: 0;
  /*margin-top: 7px;*/
  font-size: 14px;
  line-height: 20px;
  color: #666;
}
.chzn-container-multi .chzn-choices li {
  float: left;
  list-style: none;
}
.chzn-container-multi .chzn-choices .search-field {
  white-space: nowrap;
  margin: 0;
  padding: 0;
}
.chzn-container-multi .chzn-choices .search-field input {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #666;
  background: transparent !important;
  border: 0 !important;
  font-family: sans-serif;
  font-size: 100%;
  height: 28px;height: 22px\9;
  padding: 5px;
  margin: 1px 0 2px;
  outline: 0;
  width:270px !important;
}
.chzn-container-multi .chzn-choices .search-field .default {
  color: #666;
}
.chzn-container-multi .chzn-choices .search-choice {
  background-color: #4293f0;
  color: #fff;
  line-height: 13px;
  padding: 6px 20px 6px 5px;
  margin: 3px 0 3px 5px;
  position: relative;
  cursor: default;
}
.chzn-container-multi .chzn-choices .search-choice .search-choice-close {
  display: block;
  position: absolute;
  right: 3px;
  top: 8px;
  width: 10px;
  height: 10px;
  font-size: 1px;
  background: url(../../images/dashboard/chosen-sprite.png) right top no-repeat;
}
.chzn-container-multi .chzn-choices .search-choice .search-choice-close:hover {
  background-position: right -11px;
}
.chzn-container-multi .chzn-choices .search-choice.search-choice-disabled {
  background-color: #eeeeee;
  color: #666;
  border: 1px solid #cccccc;
  padding-right: 5px;
}
.chzn-container-multi .chzn-choices .search-choice-focus {
  background: #d4d4d4;
}
.chzn-container-multi .chzn-choices .search-choice-focus .search-choice-close {
  background-position: right -11px;
}
.chzn-container .chzn-results {
  margin: 0 4px 4px 0;
  max-height: 240px;
  padding: 0 0 0 4px;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.chzn-container .chzn-results li {
  display: none;
  line-height: 15px;
  padding: 5px 6px;
  margin: 0;
  list-style: none;
}
.chzn-container .chzn-results li em {
  background: #feffde;
  font-style: normal;
}
.chzn-container .chzn-results .no-results {
  background: #f4f4f4;
  display: list-item;
}
.chzn-container .chzn-results .group-result {
  cursor: default;
  color: #999;
  font-weight: bold;
}
.chzn-container .chzn-results .group-option {
  padding-left: 15px;
}
.chzn-container .chzn-results .active-result {
  cursor: pointer;
  display: list-item;
}
.chzn-container .chzn-results .highlighted {
  background-color: #4293f0;
  color: #fff;
}
.chzn-container .chzn-results .highlighted em {
  background: transparent;
}
.chzn-container .chzn-results-scroll {
  background: white;
  margin: 0 4px;
  position: absolute;
  text-align: center;
  width: 321px;
  z-index: 1;
}
.chzn-container .chzn-results-scroll span {
  display: inline-block;
  height: 17px;
  text-indent: -5000px;
  width: 9px;
}
.chzn-container .chzn-results-scroll-down {
  bottom: 0;
}
.chzn-container .chzn-results-scroll-down span {
  background: url(../../images/dashboard/chosen-sprite.png) no-repeat -4px -3px;
}
.chzn-container .chzn-results-scroll-up span {
  background: url(../../images/dashboard/chosen-sprite.png) no-repeat -22px -3px;
}
.chzn-container-multi .chzn-results {
  margin: 4px;
  padding: 0;
}
.chzn-container-multi .chzn-drop .result-selected {
  display: none;
}
.chzn-container-active .chzn-single {
  border: 1px solid #4293EF;
  -webkit-box-shadow: 0px 0px 2px 1px #cccccc;
  box-shadow: 0px 0px 2px 1px #cccccc; 
}
.chzn-container-active .chzn-single .chzn-drop {
  margin-top: -29px;
}
.chzn-container-active .chzn-single-with-drop {
  border-color: #4293EF;
}
.chzn-container-active .chzn-single-with-drop div {
  background: transparent;
  border-left: none;
}
.chzn-container-active .chzn-single-with-drop div b {
  background-position: -21px 8px;
}
.chzn-container-active .chzn-choices {
 -webkit-box-shadow: 0px 0px 2px 1px #cccccc;
 box-shadow: 0px 0px 2px 1px #cccccc;
 border: 1px solid #4293EF;
 outline: 0;
 outline: thin dotted \9;
}
.chzn-container-active .chzn-choices .search-field input {
  color: #111 !important;
}
.chzn-disabled {
  opacity: 0.005;
  filter: alpha(opacity=0.5);
  cursor: default;
}
.chzn-disabled .chzn-single {
  cursor: default;
}
.chzn-disabled .search-choice-close {
  cursor: default;
}
.chzn-rtl {
  text-align: right;
}
.chzn-rtl .chzn-single {
  padding: 0 8px 0 0;
  overflow: visible;
}
.chzn-rtl .chzn-single span {
  margin-left: 26px;
  margin-right: 0;
  direction: rtl;
}
.chzn-rtl .chzn-single div {
  left: 3px;
  right: auto;
}
.chzn-rtl .chzn-single abbr {
  left: 26px;
  right: auto;
}
.chzn-rtl .chzn-choices li {
  float: right;
}
.chzn-rtl .chzn-choices .search-field input {
  direction: rtl;
}
.chzn-rtl .chzn-choices .search-choice {
  padding: 3px 5px 3px 19px;
  margin: 3px 5px 3px 0;
}
.chzn-rtl .chzn-choices .search-choice .search-choice-close {
  left: 4px;
  right: auto;
  background-position: right top;
}
.chzn-rtl .chzn-results .group-option {
  padding-left: 0;
  padding-right: 15px;
}
.chzn-rtl .chzn-search input {
  padding: 4px 5px 4px 20px;
  direction: rtl;
}
.chzn-rtl.chzn-container-single .chzn-results {
  margin: 0 0 4px 4px;
  padding: 0 4px 0 0;
}
.chzn-rtl.chzn-container-active .chzn-single-with-drop div {
  border-right: none;
}


