ul.resp-tabs-list, p {
}

.resp-tabs-list li {
    display: inline-block;
    margin: 0;
    cursor: pointer;
}

.resp-tabs-container {
    padding: 0px;
    clear: left;
	margin-bottom:30px;
}

h2.resp-accordion {
    
}

.resp-tab-content {
    display: none;
    padding: 15px 15px 50px;
}

.innertabs li.resp-tab-active a {
	color:#fff;background:#4293f0;border:1px solid #407cc0;border-bottom:none;-webkit-box-shadow: inset 0px 3px 3px 0px #3b7dc9;box-shadow: inset 0px 3px 3px 0px #3b7dc9;
}


.resp-content-active, .resp-accordion-active {
    display: block;
}

.resp-tab-content {
   /* border: 1px solid #c1c1c1;*/
}

/*-----------Accordion styles-----------*/

h2.resp-accordion {
	cursor: pointer;
    padding: 5px;
    display: none;
    font-size: 16px;
    border: 1px solid #c1c1c1;
    border-top: 0px solid #c1c1c1;
    padding: 10px 15px;background:#e5e5e5;
	font-family: 'robotomedium';
}
h2.resp-accordion a{color:#939393;}

h2.resp-tab-active {
	color:#fff;background:#4293f0;border:1px solid #407cc0;border-bottom:none;-webkit-box-shadow: inset 0px 3px 3px 0px #3b7dc9;box-shadow: inset 0px 3px 3px 0px #3b7dc9;
}
h2.resp-tab-active a{color:#fff;}

h2.resp-tab-title:last-child {
    border-bottom: 12px solid #c1c1c1 !important;
    background: blue;
}

.resp-arrow {
    width: 0;
    height: 0;
    float: right;
    margin-top: 3px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 12px solid #c1c1c1;
}

h2.resp-tab-active span.resp-arrow {
    border: none;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 12px solid #fff;
}

.resp-easy-accordion  h2.resp-accordion {
        display: block;
}
.resp-easy-accordion .resp-tab-content {
    border: 1px solid #c1c1c1;
}

.resp-easy-accordion .resp-tab-content:last-child {
    border-bottom: 1px solid #c1c1c1 !important;
}

.resp-jfit {
    width: 100%;
    margin: 0px;
}

.resp-tab-content-active {
    display: block;
}

h2.resp-accordion:first-child {
    border-top: 1px solid #c1c1c1 !important;
}
h2.resp-tab-active:first-child{border-top:none !important;}

/*Here your can change the breakpoint to set the accordion, when screen resolution changed*/
@media only screen and (max-width: 768px) {
    ul.resp-tabs-list {
        display: none;
    }

    h2.resp-accordion {
        display: block;
    }

    .resp-vtabs .resp-tab-content {
        border: 1px solid #C1C1C1;
    }

    .resp-vtabs .resp-tabs-container {
        border: none;
        float: none;
        width: 100%;
        min-height: initial;
        clear: none;
    }
    .resp-accordion-closed {
        display:none !important;
    }
    .resp-vtabs .resp-tab-content:last-child {
        border-bottom: 1px solid #c1c1c1 !important;
    }
}
