.menu li a{padding:0 10px 21px;}

.sortby li.sorttext{width:66px;}

.matcheslist li, .panel{height:369px;}

.gallerylist{margin-top:0px;}
.gallerylist li{margin-right:1px;}
.alldetails, .trustmeter{width:187px;}
.threesections{margin-top:60px;}
.alldetailspartner{width:291px;}

.senttextareabefore{top:17px;}
