*{
	padding: 0;
	margin: 0;
}

body{font-family: 'RobotoRegular', Arial;font-size:14px;color:#333;background:url(../../images/dashboard/body-bg.gif) repeat;}

.mt10{margin-top:10px;}
.mt20{margin-top:20px !important;}
.mt30{margin-top:30px !important;}
.mt40{margin-top:40px;}
.mt80{margin-top:80px !important;}
.mb15{margin-bottom:15px !important;}
.mlr20{margin:0 20px;}


/*Layout*/
.wrapper{width:100%;}
.container{width:960px;margin:0 auto 10px;position:relative;}

/*Header*/
.header{background:#fff;height:66px;-webkit-box-shadow: 0px 5px 3px -2px #d4d4d4;box-shadow: 0px 5px 3px -2px #d4d4d4;position:fixed;width:100%;left:0;top:0;z-index:999; }
	/*Logo*/
	.logo{float:left;margin-top:15px;}
	/*Menu*/ 
	.mainmenu{float:left;margin:20px 0 0 150px;color:#666;position:relative;}
	.menu-link {display: none;float: right;text-decoration: none;}
	.menu ul { position: relative;display: inline-table;margin-top:5px;}
	.menu > ul > li {display: inline-block; margin:0px 10px;}
	.menu li a{padding:0 5px 18px;color:#666;display:block;padding:0 10px 19px\9;display: block;}
	.menu li a:hover, .menu li a.active{border-bottom:4px solid #e7276b;}
	.notification{border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;background:#e7276b;padding:0px 2px;color:#fff;font-size:11px;margin-left:3px;font-family:'RobotoBold';}
	/*User Details*/
	.userdetails{float:right;width:140px;cursor:pointer;position:relative;min-height:40px;margin:20px 0 0 0;}
	.photo{margin-right:5px;float:left;}
	.downarrow{margin:11px 0 0 5px;float:right;}
	.userdetails span{width:90px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;display:block;float:left;margin-top:4px;}
	.usersettings{background:#fff;border:1px solid #c1c1c1;display:none;margin-top:35px;padding:5px;position:absolute;z-index:99;width:140px;right:0;font-size:13px; }
	.usersettings:before{background:url(../../images/dashboard/top-arrow.png) no-repeat 0 0;position:absolute;content:"";display:block;width:15px;height:9px;top:-9px;right:20px;}
	.usersettings li{border-bottom:1px solid #e1e1e1;}
	.usersettings li a{display:block;padding:9px 5px;color:#666;}
	.usersettings li a:hover, .usersettings li.active a{color:#e93675;}
	.usersettings li.last{border-bottom:none;}
	.userdetails:hover .usersettings{display:block;}
	
	.usersettings span{background:url(../../images/dashboard/icons/user-setttings.png) no-repeat;width:12px;height:12px;margin-right:10px;margin-right:8px\9;}
	.usersettings span.account{background-position:0 0;}
	.usersettings span.partners{background-position:0 -17px;}
	.usersettings span.signout{background-position:0 -35px;}
	
	.usersettings li:hover span.account, .usersettings li.active span.account{background-position:-17px 0;}
	.usersettings li:hover span.partners, .usersettings li.active span.partners{background-position:-17px -17px;}
	.usersettings li:hover span.signout, .usersettings li.active span.signout{background-position:-17px -35px;}
	
	/*Likes*/
	.likes_content{background:#fff;border:1px solid #c1c1c1;margin-top:-4px;padding:5px 0 5px 5px;width:240px;right:-40px;font-size:13px;position:absolute;z-index:99;/*display:none;*/}
	.likeclose{position:absolute;right:-10px;top:-15px;cursor:pointer;}
	.likes-top-arrow{background:url(../../images/dashboard/top-arrow.png) no-repeat 0 0;position:absolute;content:"";display:block;width:15px;height:9px;top:-9px;right:70px;}
	.likes_content li{border-bottom:1px solid #e1e1e1;padding:8px 0;}
	.likes_content li.last{border-bottom:none;}
	.likes-pic{display:inline-block;margin-right:5px;}
	.likes-details{display:inline-block;}
	.likes-name{color:#333;font-family: 'robotomedium';}
	.likes-name span{color:#666;font-family: 'RobotoRegular';}
	.likes-info{font-size:11px;color:#bababa;}
	.likeback-onhover{background:#4293F0;border-bottom:1px solid #407CC0;border-radius:4px;width: 70px;text-align:center;float:right;display:none;}
	.likeback-onhover a{border-radius: 4px;color: #FFFFFF; display: block; padding: 2px 0;font-size:12px;}
	.likeback-onhover a:hover{background:#116AD0;}
	.likes_content li:hover .likeback-onhover{display:block;}
	.customscroll{height:200px;overflow:auto;}

	/*.menu li.clicklikes:hover .likes_content{display:block;}*/
	
/*Slider*/
.viewall{ text-align:right;}
.viewall a{color:#000;text-decoration:underline;}
.sliderul{clear:both;padding-top:10px;}
.sliderul li{float:left; height:325px;background:#fff;margin-right:17px;width:225px !important;-webkit-box-shadow: 2px 2px 6px 0px #bdbdbd;box-shadow: 2px 2px 6px 0px #bdbdbd; }
.sliderul li:last-child{margin-right:0px;}	
.bigphoto{position:relative;}
.mutual{position:absolute;top:0;left:0;background:#3a589b;color:#fff;text-transform:uppercase;padding:2px 0 2px 10px;font-size:12px;width:200px;}
.mutual span{text-transform:lowercase;padding-right:10px;margin-right:10px;font-family:'RobotoBold';border-right:1px solid #fff;}
.new{position:absolute;top:0;right:0;background:#e7276b;color:#fff;font-size:12px;padding:2px 4px;font-family:'RobotoBold';text-transform:uppercase;}
.name{position:absolute;bottom:0;left:0;background:#fff;padding:10px 0 10px 10px;text-transform:uppercase;filter:alpha(opacity=80);-moz-opacity:0.8;   opacity: 0.8;width:215px;}
.name span{font-family:'RobotoBold';font-weight:bold\9;}

.perosonal-details{padding:15px;overflow:hidden;background:#fff;}
.perosonal-details img{float:left;margin-right:15px;}
.persontext{float:left;}
.persontext span{font-family:'RobotoBold';font-weight:bold\9;}


/*Content*/
.content{overflow:hidden;}	
		/*Right Panel*/
		.rtpanel{float:right;width:355px;}
		/*Alerts*/
		.days{font-family:'RobotoLight';font-size:45px;text-transform:uppercase;line-height:1;}
		.days span{font-family:'RobotoBold';font-size:45px;}
		.daysleft{font-size:15px;margin:5px 0 10px;}
		.renewnow{background:#4293f0;width:120px;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;border-bottom:1px solid #3474bc;}
		.renewnow a{color:#fff;text-transform:uppercase;padding:10px 0;display:block;text-align:center;}
		/*Notification*/
		.rtnotification{margin-top:40px;}
		.ntitle{background:#fff;padding:10px 0 10px 10px;font-family:'RobotoBold';font-size:15px;font-weight:bold\9;}
		.notify{border-bottom:1px solid #666;background:url(../../images/dashboard/right-down-arrow.png) no-repeat right bottom;overflow:hidden;padding:15px 0;width:100%;}
		.icons{float:left;margin-right:15px;width:55px;height:55px;background:url(../../images/dashboard/icons/notification-icons.png) no-repeat;position:relative}
		.time{background-position: 0 0;}
		.thumb{background-position: 0 -68px;}
		.check{background-position: 0 -141px;}
		.message{background-position: 0 -215px;}
		.rtnotification-no{border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;background:#e7276b;padding:1px 2px;color:#fff;font-size:10px;border:1px solid #d9d9d9;position:absolute;top:0px;right:-3px;font-family: 'RobotoBold';}
		
		.notify-content{ overflow:hidden;}
		.details{float:none;line-height:22px;font-family: 'RobotoLight';display:block;}
		.details span a{color:#e62066;}
	/*Left Panel*/
	.leftpanel{float:left;width:565px;margin-right:40px;}
	.lttitle{background:url(../../images/dashboard/dotted.png) repeat-x left center;margin-bottom:20px;margin-right:10px;}	
	.lttitle span{font-family: 'RobotoBold';font-size:16px;background:#e3e3e3;padding-right:8px;font-weight:bold\9;}
		/*Updates*/
		.updates{width:100%;margin-top:10px;}
		.updates-icon{float:left;background:url(../../images/dashboard/icons/updates-icons.png) no-repeat; width:33px;height:33px;margin:20px 15px 0 0;}
		.pointer{background-position: 0 0;}
		.camera{background-position:0 -47px;}
		.pencil{background-position:0 -92px;}
		.updates-white{ overflow:hidden;padding:0 10px 10px 0;}
		.updates-content{background:#fff; float:none;display:block;padding:10px;box-shadow:2px 2px 6px 0 #BDBDBD;overflow:hidden;}
		.personimg{float:left;margin-right:10px;}
		.updates-details{float:left;font-family: 'RobotoLight';}
		.updates-details span a{color:#e62066;}
		.hours{color:#999;margin-top:10px;text-transform:uppercase;font-family: 'RobotoBold';font-weight:bold\9;}
		.hours img{vertical-align:middle;}
		.photolist li{float:left;margin:10px 5px 0 0;}


/*Matches*/
	/*Show Sort By*/
	.showsort{padding-top:15px;}
		/*Show*/
		.show{float:left;}
		.show li{float:left;background:#fff;width:40px;height:40px;border-radius:50%;margin-right:5px;cursor:pointer;text-align:center;-webkit-box-shadow: 0px 3px 3px -2px #bcbcbc;box-shadow: 0px 3px 3px -2px #bcbcbc; }
		.show li.showtext{background:none;font-family: 'RobotoBold';font-weight:bold\9;font-size:14px;text-transform:uppercase;line-height:38px;margin-right:10px;box-shadow:none;}
		.show li:hover.showtext{background:none;color:#000;}
		.show li.all{font-family: 'RobotoBold';font-weight:bold\9;font-size:14px;line-height:36px;text-transform:uppercase;}
		.show li:hover, .show li.active{background:#4293f0;color:#fff;}	
		.show li span{text-indent:-9999px;display:block;background:url(../../images/dashboard/icons/show-icons.png) no-repeat;width:18px;height:18px;display:inline-block;margin-top:10px;}
		.show li span.starshow{background-position:0 0;}
		.show li span.thumbshow{background-position:0 -71px;}
		.show li span.cancelshow{background-position:0 -36px;}
		.show li:hover span.starshow, .show li.active span.starshow{background-position:0 -18px;}
		.show li:hover span.thumbshow, .show li.active span.thumbshow{background-position:0 -91px;}
		.show li:hover span.cancelshow, .show li.active span.cancelshow{background-position:0 -54px;}
		/*Sort By*/
		.sortby{float:right;}
		.sortby li{float:left;background:#fff;width:40px;height:40px;border-radius:50%;-webkit-border-radius:50%;-moz-border-radius:50%; margin-right:5px;cursor:pointer;text-align:center;-webkit-box-shadow: 0px 3px 3px -2px #bcbcbc;box-shadow: 0px 3px 3px -2px #bcbcbc;font-family: 'RobotoBold';font-weight:bold\9;font-size:14px;line-height:36px;text-transform:uppercase;color:#4293f0;}
		.sortby li:hover, .sortby li.active{background:#4293f0;color:#fff;}	
		.sortby li:last-child{margin-right:0;}
		.sortby li.sorttext{background:none;font-family: 'RobotoBold';font-weight:bold\9;font-size:14px;text-transform:uppercase;line-height:36px;margin-right:10px;box-shadow:none;width:59px;color:#000;}
		.sortby li:hover.sorttext{background:none;color:#000;}
		.sortby li.percent{font-size:20px;}

	/*Filter*/
	.filter{background:#fff;padding:10px;}
	.fliterleft{float:left; background:url(../../images/dashboard/matches/plus.png) no-repeat 5px 5px;padding-left:30px;}
	.fliterleft.active{ background:url(../../images/dashboard/matches/minus.png) no-repeat 5px 7px;}
	
	.search{float:right;position:relative;}
	.search input{background:#fff;border:1px solid #999;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;padding:3px 10px;}
	.searchicon{position:absolute;background:url(../../images/dashboard/matches/search_icon.png) no-repeat; width:21px;height:20px;top:3px;right:5px;}
	.searchnew{/*margin-top:-73px;*/ position:absolute; top:25px; right:0;}
	.searchnew input{background:none;border:none; border-bottom:1px solid #999;padding:3px 10px 3px 0;-webkit-appearance: none;}
	.smallline{border-left:1px solid #999;width:1px;height:5px;position:absolute;bottom:0;right:32px}

	.filterbox{background:#fff;width:100%;clear:both;padding:20px 0;}
	.filterbox ul{margin-left:20px;}
	.filterbox li{display:inline-block;margin:5px 10px 5px 0;}
	.filterbox li.filtertitle{width:140px;}
	.filterbox .submit{margin:20px 0 20px 173px;}
	.filterbox select{width:120px;background:#EFEFEF; border: 1px solid #CECCCC;color: #666666;padding:3px;}
	.filterbox input[type="submit"]{ background: #4293F0;border:none; border-radius: 3px 3px 3px 3px;width: 120px;color: #FFFFFF;display: inline-block;  padding: 5px 0;  text-align: center;}

/*Matches List*/
.matcheslist li{float:left;height:378px;background:#fff;margin:0 15px 15px 0;width:225px;-webkit-box-shadow: 2px 2px 6px 0px #bdbdbd;box-shadow: 2px 2px 6px 0px #bdbdbd;cursor:pointer; }
.actions{clear:both;border-top:1px solid #d9d9d9;}
.actions p.first{float:left;border-right:1px solid #fff;margin-top:1px;background:#d9d9d9;padding:5px 15px;color:#4293f0;}
.actions p a{color:#4293f0;display:block;}
.actions p a:hover, .actions p a.active, .actions p.active a{color:#666;}
.actions span{background:url(../../images/dashboard/icons/tile-icon.png) no-repeat;width:13px;height:13px;padding-right:18px;}
.actions span.fav{background-position:0 0;}
.actions p:hover span.fav, .actions p.active span.fav{background-position:-17px 0;}
.actions p.clicklike{padding: 5px 0;  text-align: center; width: 74px;background:#d9d9d9;float:left;border-right:1px solid #fff;margin-top:1px;}
.actions span.like{background:url(../../images/dashboard/icons/like_active_icon.png) no-repeat 0 3px;padding:0 0 0 18px;}
.actions span.likedst{background:url(../../images/dashboard/icons/like_inactive_icon.png) no-repeat 0 3px;color:#666;}

.actions p.last{background:#d9d9d9;float:left;padding:5px 15px;margin-top:1px;}
.actions p.last a{color:#666;}
.actions p.last a:hover, .actions p.last a.active, .actions p.last.active a{color:#4293f0;}
.actions span.hide{background-position:-17px -36px;}
.actions p:hover span.hide, .actions p.active span.hide{background-position:0 -36px;}
.actions p.last{border-right:1px solid #d9d9d9;}


	/*Flip*/
	.panel {float: left;width: 225px;height:378px;position: relative;-webkit-perspective: 600px;-moz-perspective: 600px;background:#fff;}
	.panel .front {float: none;position: absolute;top: 0;left: 0;z-index: 900;width: inherit;height: inherit;-webkit-transform: rotateX(0deg) rotateY(0deg);-webkit-transform-style: preserve-3d;-webkit-backface-visibility: hidden;-moz-transform: rotateX(0deg) rotateY(0deg);-moz-transform-style: preserve-3d;-moz-backface-visibility: hidden;-o-transition: all .4s ease-in-out;-ms-transition: all .4s ease-in-out;-moz-transition: all .4s ease-in-out;-webkit-transition: all .4s ease-in-out;transition: all .4s ease-in-out;}
	.panel.flip .front {z-index: 900;-webkit-transform: rotateY(180deg);-moz-transform: rotateY(180deg);}
	.panel .back {float: none;position: absolute;top: 0;left: 0;z-index: 800;width: inherit;height: inherit;-webkit-transform: rotateY(-180deg);-webkit-transform-style: preserve-3d;-webkit-backface-visibility: hidden;-moz-transform: rotateY(-180deg);-moz-transform-style: preserve-3d;
	-moz-backface-visibility: hidden;-o-transition: all .4s ease-in-out;-ms-transition: all .4s ease-in-out;-moz-transition: all .4s ease-in-out;-webkit-transition: all .4s ease-in-out;transition: all .4s ease-in-out;}
	.panel.flip .back {z-index: 1000;background: #4186d3;-webkit-transform: rotateX(0deg) rotateY(0deg);-moz-transform: rotateX(0deg) rotateY(0deg);}
	
	/*Back*/
	.fliphover{text-align:center;font-family: 'RobotoLight';}
	.fliphover .fliptitle{background:#333;padding:10px 0;color:#fff;font-size:18px;}
	.fliphover span{font-family: 'RobotoBold';font-weight:bold\9;}
	.flippara{margin:40px 0;color:#fff;}
	.flippara p{margin-top:22px;}
	.flippara span{font-family: 'RobotoBold';font-weight:bold\9;}
	.viewprofile a{padding:10px 20px;background:#fff;text-transform:uppercase;color:#333;border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;font-family: 'RobotoRegular';border-bottom:1px solid #135aaa;}

.loading {background:#4293F0;color:#fff;font-size:20px;padding:5px 10px;text-align:center;width:450px;margin:0px auto;display:none;border-radius: 5px;}


/*Profile*/
.leftpane {float:left; width:300px;}
.rightpane {float:left; width:643px; margin-left:17px;}

	/*Profile Left*/
	.gallerylist{margin:6px 0 15px;}
	.gallerylist li{display:inline-block;margin-right:2px;}
	.gallerylist li img{border:1px solid #fff;}
	.gallerylist li:last-child{margin-right:0;}
	
	/*Profile Right*/
	.personname{font-size:24px;float:left;font-family: 'RobotoLight';}
	.personname span{font-family: 'RobotoBold';font-weight:bold\9;}
	.profile_socialicon{float:right;margin-bottom:8px;}
	.profile_socialicon li{width:38px;height:38px;border-radius:8px;background:#4293f0;border-bottom:1px solid #5b86b6;float:left;margin-left:10px;}
	.profile_socialicon li span{background:url(../../images/dashboard/icons/profile-icons.png) no-repeat;width:38px;height:38px;text-indent:-9999px;display:block;}
	.profile_socialicon li .pmessage{background-position:0 0;}
	.profile_socialicon li .pstar{background-position:0 -38px;}
	.profile_socialicon li .pthumb{background-position:0 -76px;}
	.profile_socialicon li .pcancel{background-position:0 -114px;}
	.profile_socialicon li:hover, .profile_socialicon li.active{background:#116ad0;}
	.respond{width:135px !important;text-align:center;padding-top:8px;height:29px !important;border-radius:3px !important;border-bottom:1px solid #3977bd;}
	.respond a{color:#fff;}
	
	.lastcon{font-size:12px;margin-bottom:15px;clear:both;text-align:right;}
	
	.aboutprofiler {margin:30px 0;color:#000;}
	
	.persondetails li{background:#4293f0;padding:10px;margin:0 4px 4px 0;color:#fff;float:left;text-align:center;font-size:17px;}
	.width1{width:74px;}
	.width2{width:200px;}
	.width3{width:190px;}
	.width4{width:83px;}
	.width5{width:123px;}
	.width6{width:160px;}
	.width7{width:146px;}
	.width8{width:118px;}

	/*My Family*/
	.bottom_titles{color:#4293f0;margin:10px 0 15px;font-family: 'robotomedium';font-size:15px;line-height:45px;}
	.bottom_titles .imgicon, .bottom_titlesed .imgicon{margin-right:10px;float:left;}
	.myfamliy_outer{position:relative;min-height:135px;position:relative;}
	.divider_bottom{border-bottom:1px solid #4293f0;position:absolute;min-height:115px;z-index:1;top:0;width:90%;left:20px}
	.familydetails{position:absolute;z-index:2;top:0;left:0;}
	.familydetails li{float:left;text-align:center;margin-right:36px;}
	.familydetails li .circle_white{background:#fff;width:99px;height:99px;border-radius:50%;margin-top:10px;color:#4293f0;border-bottom:1px solid #c7c7c7;font-family: 'robotomedium';display: table;text-align:center;}
	.familydetails li .circle_white span {display: table-cell;vertical-align: middle;}
	.familydetails li.last{margin-right:0;}
	
	/*Education And Work*/
	.bottom_titlesed{color:#4293f0;margin:20px 0 0;font-family: 'robotomedium';font-size:15px;line-height:30px;text-transform:uppercase;}
	.education-work-salary{margin:0 auto;}
	.education-work-salary li{display:inline-block;vertical-align:top;}
	.alldetails{width:188px;padding:20px 12px 0 12px;min-height:120px;background:url(../../images/dashboard/profile/dropshadownew.png) no-repeat bottom right #fff;}
	.alldetails p{font-family: 'robotomedium';font-size:15px;}
	.alldetails span{color:#666;}
	.showmore{text-align:right;font-size:12px !important;margin-right:10px;}
	.showmore a{color:#f5216d;}
	.showmore a:hover{text-decoration:underline;}
	.alldetails p.salary-rupees{font-size:20px;font-family: 'RobotoBold';text-align:center;margin-top:32px;}
	.alldetails p.salary-rupees span{font-size:14px;}

	/*Profile Right*/
	.trustmeterleft{background:url(../../images/dashboard/profile/dropshadow.png) no-repeat bottom right #fff;width:285px;padding:10px 20px 20px 10px;min-height:184px;}
	.trustmeter{background:url(../../images/dashboard/profile/dropshadownew.png) no-repeat bottom right #fff;width:188px;padding:10px 14px 20px 10px;min-height:178px;}
	.trust_title{font-family: 'RobotoBold';font-weight:bold\9;font-weight:16px;text-transform:uppercase;margin-bottom:10px;}
	.trust_title .imgstyle{margin-right:20px;vertical-align:middle;float:right;}
	.trust_title .iconstyle{margin-right:6px;float:left;}
	.trustmeterlist{padding:5px 6px 5px 4px;}
	.trustmeterlist li{border-bottom:1px solid #f0f0f0;padding:10px 0;}
	
	.trustmeterlist li .iconsmall{font-size:11px;margin:5px 10px 0 0;color:#666;float:left;}
	.trustmeterlist li .tick{float:right;}
	.trustmeterlist li.last{border-bottom:none;}
	.trustmeterlist li.textgray, .trustmeterlist li.textgray .iconsmall{color:#c5c5c5;}
	
	.threesections{margin-top:70px;}
	.threesections li{display:inline-block;vertical-align:top;}
	
	.map{margin-bottom:12px;}
	
	.languages li{text-transform:uppercase;width:100%;}
	
	.mutualcon li{margin:5px 19px 5px 0;display:inline-block;}
	.rtviewall{text-align:right;font-size:12px;margin:0 10px 4px 0;}
	.rtviewall a{color:#F5216D;}
	.rtviewall a:hover{text-decoration:none;}
	
	.qualities{margin:10px 0;}
	.qualities li{width:180px;margin:3px 0;display:inline-block;line-height:35px;}
	.qualities li span{width:29px;height:29px;background:url(../../images/dashboard/profile/qualities.png) no-repeat top left;padding-right:10px;float:left;}
	.qualities li .nonveg{background-position:0 0;}
	.qualities li .occ{background-position:0 -29px;}
	.qualities li .never{background-position:0 -58px;}
	
	/*Profile Hobbies*/
	.profile-hobbies h2 {font-family: 'RobotoLight'; margin-bottom:5px;}
	.profile-hobbies li{background:#fff;text-align:center;width:240px !important;margin:5px 0 0 0;border-bottom:1px solid #c6c6c6;float:left !important;}
	.profile-topwhite{background:#fff;border-right:1px solid #e4e4e4;padding:30px 0 10px;}
	.profile-hobbytitle{color:#4293f0;font-size:20px;padding:0 0 10px 0;}
	
	.profile-graybg{display: table;height: 170px;text-align: center;background:#eee;color: #666;border-right:1px solid #fff;padding:0 30px;}
	.profile-graybg span {display: table-cell;vertical-align: middle;text-transform:uppercase;font-family: 'RobotoBold';}
	.profile-htitle{text-transform:uppercase;color:#666;font-family: 'RobotoBold';margin:15px 0 5px;}
	.profile-graybg.last{border-right:0px !important;width:170px;}
	
	.profile-selectedicon{width:113px;height:113px;border-radius:50%;-webkit-border-radius:50%;-moz-border-radius:50%;background:url(../../images/dashboard/icons/hobbies-icons.png) no-repeat left center #4293ef;-webkit-box-shadow: inset 0px 3px 3px -2px #3b7dc9;box-shadow: inset 0px 3px 3px -2px #3b7dc9;margin:0 auto;}
	.profile-hobbies .music{background-position:0 center !important;}
	.profile-hobbies .reading{background-position:-113px center !important;}
	.profile-hobbies .eating{background-position:-226px center !important;}
	.profile-hobbies .movies{background-position:-339px center !important;}
	
	.about-title{display:none;}

	/*Profile Matched Hobbies*/
	.hobbies-matched {display:block; position:relative; margin:80px 0;}
	.hobbies-matched .title {font-size:16px; display:block; text-align:center; width:90%; height:36px; margin:10px 5%; border-top:1px solid #4293f0; border-right:1px solid #4293f0; border-left:1px solid #4293f0; position:relative;}
	.hobbies-matched .title span {position:absolute; top:-15px; left:38.5%; background:url(../../images/dashboard/body-bg.gif) repeat-x left center; padding:2px 10px; }
	
	.your-img {display:inline-block; position:absolute; left:0; top:auto;}
	.matched-img {display:inline-block; position:absolute; right:0; top:auto;}
	
	.matched-list {display:inline-block; text-align:center; width:80%; height:100px; margin:0 9.8%;}
	.matched-list li {display:block; float:left; width:100px; margin:0px 25px; }
	.matched-list li span {display:block; float:left;width:46px;height:46px;margin:0px 25px 10px 25px;background:url(../../images/dashboard/profile/matched-hobbies-icons.png) no-repeat left top;}
	
	.matched-list li .music {background-position:0 0;}
	.matched-list li .food {background-position:-46px 0;}
	.matched-list li .books {background-position:-92px 0;}
	.matched-list li .sports {background-position:-138px 0;}
	.matched-list li .movies {background-position:-184px 0;}
	
	/*Profile Page3*/
	.partner-outer{ margin-bottom: 30px;min-height: 120px;position: relative;}
	.partnerdivider{border-bottom: 1px solid #4293F0;left: 30px;min-height: 76px; position: absolute;top: 0; width: 92%; z-index: 1;}
	.partnerdetails{ left: 0;position: absolute; top: 0; z-index: 2;}
	.partnerdetails li {float: left;  text-align: center;width:320px;}
	.partnerdetails li.first{text-align:left;}
	.partnerdetails li.second{text-align:center;}
	.partnerdetails li.third{text-align:right;}
	.partnerdetails li .pcirclewhite{background:#fff;width:79px;height:79px;border-radius:50%;margin:10px 0;color:#4293f0;border-bottom:1px solid #c7c7c7;font-family: 'robotomedium';display: table;text-align:center;}
	.partnerdetails li.first .pcirclewhite{margin-left:15px;}
	.partnerdetails li.first p{margin-left:25px;}
	.partnerdetails li.second .pcirclewhite{margin:10px auto;}
	.partnerdetails li.third .pcirclewhite{float:right;margin-right:15px;}
	.partnerdetails li.third p{clear:both;}
	.partnerdetails li .pcirclewhite span {display: table-cell;vertical-align: middle;}
	.partnerdetails li:last-child{margin-right:0;}
	.partnerdetails p{color:#666;}
	.partnerdetails li.middle{width:300px;}
	.profession-religion-physical{margin:0 auto;}
	.profession-religion-physical li{ display: inline-block;vertical-align: top;margin-right:10px;}
	.profession-religion-physical li.last{margin-right:0;}
	.alldetailspartner{background:#fff;width:292px;padding:20px 5px 10px 14px;min-height:180px;}
	.alldetailspartner td{color:#666;vertical-align:top;padding-bottom:10px;font-size:15px;}
	.alldetailspartner .td1{font-family: 'robotomedium';font-size:14px;color:#333;width:140px;}
	
	.partnerhobbies{margin-top:70px;}
	.partnerhobbies li{display:inline-block;width:310px;}
	.phheading{color:#4293f0;text-transform:uppercase;font-size:15px;font-family: 'robotomedium';}
	.partnerhobbies span{background:#4293f0 url(../../images/dashboard/icons/partners-icon.png);width:50px;height:50px;border-radius:50%;display:inline-block;margin-right:5px;vertical-align:middle;}
	.partnerhobbies span.psmoking{background-position:0 0}
	.partnerhobbies span.pdrinking{background-position:0 -50px;}
	.partnerhobbies span.pfood{background-position:0 -100px;}
	.smokinglist{margin:10px 0 0 55px;}
	.smokinglist li{background:#fff;margin-right:8px;color:#656565;font-size:13px;border-top:1px solid #d4d4d4;padding:5px 10px;width:auto;}
	.smokinglist img{display:inline-block;vertical-align:middle;}
	
	.ploction{display:inline-block;width:380px;}
	.locationlist span{width:90px;font-family: 'robotomedium';font-size:15px;float:left;}
	.locationlist p, .familylist p{background:#4293f0;color:#fff;padding:5px 0;width:100px;text-align:center;float:left;margin-right:5px;}
	.pfamily{display:inline-block;width:430px;}
	.familylist span{width:170px;font-family: 'robotomedium';font-size:15px;float:left;}
	.familylist p.widthincrease{width:140px;}
	

/*Messages*/
	/*Filter*/
	.customcheckbox{float:left;margin-left:30px;color:#666;}
	.customcheckbox label{margin-right:15px;}

	/*Inner Tabs*/
	.innertabs{ height:24px;}
	.innertabs li{float:left;margin:0 6px 5px 0;}
	.innertabs li a{color:#939393;padding:5px 38px;background:#e5e5e5;border:1px solid #c5c5c5;border-bottom:none;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;}
	.innertabs li a:hover, .innertabs li a.active{color:#fff;background:#4293f0;border:1px solid #407cc0;border-bottom:none;-webkit-box-shadow: inset 0px 3px 3px 0px #3b7dc9;box-shadow: inset 0px 3px 3px 0px #3b7dc9;}
	.innertabs li:last-child{margin-right:0;}

	/*Recieved Messages*/
	.communicate_mess li{background:#fff;padding:15px 10px 15px 20px;border-bottom:1px solid #d0d0d0;margin-bottom:5px;position:relative;}
	.communicate_mess li.grybg{background:#e5e5e5;border:1px solid #c5c5c5;color:#5f5f5f;}
	
	.icontoleft{width:23px;height:23px;background:#e7276b;position:absolute;left:-5px;top:6px;color:#fff;}
	.icontoleft:after{background:url(../../images/dashboard/messages/pink-coner.png) no-repeat bottom left;content:"";display:block;position:absolute;height:3px;width:5px;bottom:-3px}
	.csmallicons{background:url(../../images/dashboard/icons/communication_message.png) no-repeat top center; width:13px;height:13px;text-indent:-9999px;display:block;margin:6px 0 0 5px;}
	.cmessage{background-position:0 0;}
	.cthumb{background-position:0 -14px;}
	
	.communicate_pic{display:inline-block; margin-right:12px;}
	.communicate_details{display:inline-block;width:87%;vertical-align:top;position:relative;}
	.commname{font-size:18px;}
	.comm_message{font-size:13px;margin-right:40px;}
	.mess_time{font-size:13px;position:absolute;top:10px;right:12px;}
	.leftarrow{position:absolute;bottom:17px;right:10px;text-indent:-9999px;}
	.leftarrow a{background:url(../../images/dashboard/icons/left-arrow.png) no-repeat;width:26px;height:26px;display:block;}
	.showmessage{text-align:center;background:#eee;border:1px solid #c9c9c9;color:#4293f0;border-radius:12px;padding:5px 0;margin:10px 20px 0 0;cursor:pointer;}
	.messageshowed{background:#ddd;color:#666;border:1px solid #b0b0b0;border-radius:12px;padding:5px 15px;margin:10px 19px 0 0;overflow:hidden;}
	.likeback, .reply{float:right;margin:10px 35px 0 0;background:#4293f0;border-bottom:1px solid #407cc0;border-radius:4px;text-align:center}
	.likeback a, .reply a{color:#fff;padding:4px 10px;text-align:center;width:70px;display:block;border-radius:4px;}
	.reply{margin:10px 0 0 0;}
	.likeback a:hover, .reply a:hover {background:#116AD0;}
	.replied{float:right;margin:10px 0 0 0;background:#838383;border-bottom:1px solid #747474;border-radius:4px;text-align:center}
	.replied a{color:#fff;padding:4px 10px;text-align:center;width:70px;display:block;border-radius:4px;}
	.liked{background:#838383;border-bottom:1px solid #747474;}
	
	/*Messages Expaneded*/
	.pagetitle {padding-top:20px;}
	.pagetitle img{vertical-align:top;}
	.pagetitle a{color:#000;}
	.individualmessages{margin-bottom:100px;}
	.comtitle{ border-top: 1px solid #b0b0b0; display: block;  height: 15px;  margin: 10px 0; position: relative; text-align: center; width: 100%;color:#9b9a9a;font-size:13px;	}
	.comtitle span{background: url("../../images/dashboard/body-bg.gif") repeat-x scroll left center;
    left: 48%; padding: 4px 10px;  position: absolute; top: -15px;}
	.messages-content{width:100%;margin-bottom:8px;}
	.messager-img{float:left;margin-top:4px;}
	.messager-img img{border:3px solid #fff;}
	.message-text{overflow:hidden;padding:0 0 10px 0;}
	.messageinner{display: block;  float: none; padding:0 15px;position:relative;}
	.messagermessages{ border:1px solid #267ad9;color:#fff;font-size:12px;padding:5px 10px 30px;width:70%;min-height:70px;
	background: #9ac3f3;
	background: -moz-linear-gradient(top,  #9ac3f3 0%, #7ab1f0 25%, #63a5f0 48%, #509af0 73%, #4293f0 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9ac3f3), color-stop(25%,#7ab1f0), color-stop(48%,#63a5f0), color-stop(73%,#509af0), color-stop(100%,#4293f0)); 
	background: -webkit-linear-gradient(top,  #9ac3f3 0%,#7ab1f0 25%,#63a5f0 48%,#509af0 73%,#4293f0 100%); 
	background: -o-linear-gradient(top,  #9ac3f3 0%,#7ab1f0 25%,#63a5f0 48%,#509af0 73%,#4293f0 100%); 
	background: -ms-linear-gradient(top,  #9ac3f3 0%,#7ab1f0 25%,#63a5f0 48%,#509af0 73%,#4293f0 100%); 
	background: linear-gradient(to bottom,  #9ac3f3 0%,#7ab1f0 25%,#63a5f0 48%,#509af0 73%,#4293f0 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9ac3f3', endColorstr='#4293f0',GradientType=0 ); 
	-webkit-box-shadow: 0px 2px 2px 0px #aeaeae;
	box-shadow: 0px 2px 2px 0px #aeaeae;position:relative;border-radius:12px; -moz-border-radius:12px; -webkit-border-radius:12px;border-radius:0\9;
	}
	.messagermessagesbefore{background:url(../../images/dashboard/messages/bule-arrow.png) no-repeat top left;position:absolute;content:"";display:block;width:11px;height:12px;top:25px;left:5px;z-index:9;}
	.message-time{float:right;}
	.seenicon{position:absolute;right:10px;bottom:6px;font-family: 'robotoitalic';width:50px;}

	.messager-img-gray{float:right;margin:4px 0 0 0;}
	.messager-img-gray img{border:3px solid #fff;}
	.messagermessages-gray{border-radius:12px; -moz-border-radius:12px; -webkit-border-radius:12px; border:1px solid #bdbdbd;color:#666;font-size:12px;padding:5px 10px 30px;width:70%;min-height:60px;float:right;
	background: #f7f7f7;
	background: -moz-linear-gradient(top,  #f7f7f7 0%, #e3e3e3 48%, #cdcdcd 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(48%,#e3e3e3), color-stop(100%,#cdcdcd)); 
	background: -webkit-linear-gradient(top,  #f7f7f7 0%,#e3e3e3 48%,#cdcdcd 100%); 
	background: -o-linear-gradient(top,  #f7f7f7 0%,#e3e3e3 48%,#cdcdcd 100%); 
	background: -ms-linear-gradient(top,  #f7f7f7 0%,#e3e3e3 48%,#cdcdcd 100%); 
	background: linear-gradient(to bottom,  #f7f7f7 0%,#e3e3e3 48%,#cdcdcd 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#cdcdcd',GradientType=0 ); 
	-webkit-box-shadow: 0px 2px 2px 0px #aeaeae;
	box-shadow: 0px 2px 2px 0px #aeaeae;position:relative;border-radius:0\9;}
	.message-time-gray{float:right;color:#bbbaba;}
	.messagermessages-graybefore{background:url(../../images/dashboard/messages/gray-arrow.png) no-repeat top right;position:absolute;content:"";display:block;width:11px;height:13px;top:25px;right:5px;z-index:9;}
	.seenicon-gray{position:absolute;right:10px;bottom:6px;font-family: 'robotoitalic';color:#9c9c9c;}
	.seenicon-gray i{font-size:14px;color:#9b9b9b;}
	.seenicon-gray span{font-family: 'RobotoRegular';color:#af0a0a;}
	
	.sent-message-bottom{background:#f0f0f0;border-top:1px solid #cecece;padding:15px 0;position:fixed;bottom:0;left:0;width:100%;z-index:999;}
	.senttextareabefore{background:url(../../images/dashboard/top-arrow.png) no-repeat top left;position:absolute;content:"";display:block;width:15px;height:9px;top:18px;left:55px;z-index:999;}
	.senttextarea{border-radius:12px; -moz-border-radius:12px; -webkit-border-radius:12px; background:#fff;border:1px solid #b0b0b0;width:80%;display:inline-block;vertical-align:middle;min-height:70px;color:#bdbdbd;padding:10px;font-size:13px;}
	.messagesend{display:inline-block;vertical-align:middle;background:#4293f0;padding:10px 0;border:none;border-bottom:1px solid #3977bd;border-radius:5px;color:#fff;width:140px;text-align:center;margin-left:20px;cursor:pointer;}
	.messagesend:hover{background:#116AD0;}
	.sent-message-bottom ul{margin:0 0 10px 30px;overflow:hidden;}
	.sent-message-bottom li{float:left; margin-right:20px;color:#797777;font-size:12px;width:110px\9;}
	
/*Partner Perferences*/
.partnersection{background:#fff;clear:both;border-bottom: 1px solid #C5C5C5;}
.partnerinner{padding:30px 0px; font-family: 'robotomedium';}
.pit{width:86%;margin:0 auto;}
.partnerinner td{border-bottom:1px solid #ECECEC;padding:15px 0 15px 6px;}
.partnerinner .td1{width:30%;vertical-align:middle;}
.partnerinner .td2{color:#666;font-family: 'RobotoRegular';}
.partnerinner .td3{width:20%;text-align:right;color:#4293f0;font-size:13px;}
.partnerinner td a{color:#4293f0;}
.partnerinner td a:hover{color:#333;}
/*.partnerinner tr:last-child td{border-bottom:none;}*/
.partnerinner td.last{border-bottom:none;}

.partner-details-gray{background:#ececec;font-family: 'RobotoRegular';padding:30px 0 15px 74px;display:none;}
.formlabel{float:left;font-size:17px;margin-top:6px;}
.pink{color:#e7276b;font-size:12px;text-align:center;display:block;}
.blue { color: #549CF0;font-size: 18px; margin-top: 5px;text-align:center;display:block;}
.formlabelrt{font-size:15px;color:#555;}
.formlabelrt span{color:#e7276b;font-size:12px;}
.formlabel-fields{float:left;margin-left:50px;width:350px;}

.selectsearch{display:inline-block;vertical-align:middle;}
.selectsearch .chzn-container {width:70px !important;}
.selectsearch .chzn-container .chzn-drop, .selectsearch .chzn-container-single .chzn-drop  {width:68px !important;}
.selectsearch .chzn-search{display:none;}

/*Cancel and Save*/
.cancel_save_buttons{text-align:right; margin:25px 10px 0 0;clear:both;}
.cancel_button, .save_button{text-align:center;font-size:15px; text-transform:uppercase;display:inline-block; width:90px;background:#666;padding:5px 0px;border-bottom:1px solid #464646;border-radius:4px;}
.save_button{background:#e7276b;border-bottom:1px solid #971644;margin-left:10px;}
.cancel_button a, .save_button a{color:#fff;display:block;}
.cancel_button:hover {background:#767474;}
.save_button:hover {background: #c72566;}

/*Custom Radio and Checkboxes*/
.customerradio li{margin:0 6px 7px;display:inline-block;font-size:13px;text-align:center;width:100px;height:32px;}
.customerradio li input[type="radio"], .customerradio li input[type="checkbox"]{margin-top:0;}
.customstylesheight li {height: 53px;}

/*Yearly Income*/
.yearincomewidth{width:200px;margin-top:0;}
.income{display:inline-block;width:211px;}
.rangecount input{background:none;border:none;width:200px;}
.rangecount input:focus{border:none;box-shadow:none;}

/*Family*/
.familystatus{width:400px;text-align:center;}

.ui-slider {
	position: relative;
	text-align: left;
}
.ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	cursor: default;
}
.ui-slider .ui-slider-range {
	position: absolute;
	z-index: 1;
	display: block;
	border: 0;
	background-position: 0 0;
}

/* For IE8 - See #6727 */
.ui-slider.ui-state-disabled .ui-slider-handle,
.ui-slider.ui-state-disabled .ui-slider-range {
	filter: inherit;
}
.ui-slider-horizontal {
	background:url(../../images/dashboard/height_slider.png) no-repeat !important; width:213px; height:38px;box-shadow:none;
}
.ui-slider-horizontal .ui-slider-handle {
	background:url(../../images/dashboard/pointer.png) no-repeat !important;
	width:14px; height:27px; top:27px;border:none !important;
}

.income.ui-slider-horizontal {
	background:url(../../images/dashboard/income_slider.png) no-repeat !important; width:211px; height:24px;box-shadow:none;
}
.income.ui-slider-horizontal .ui-slider-handle {
	background:url(../../images/dashboard/income_slider_knob.png) no-repeat !important;
	width:11px; height:30px; top:-8px;border:none !important;cursor:pointer;
}
.income.ui-slider-horizontal .ui-slider-range{background:url(../../images/dashboard/between-color.jpg) repeat-x !important;height:11px;top:1px;}

.ui-slider-horizontal .ui-slider-range {
	top: 0;
	height: 100%;
	background:none !important;
}
.ui-slider-horizontal .ui-slider-range-min {
	left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
	right: 0;
}



/*Back and Continue*/
.backleft{float:left;width:149px;height:46px;background:url(../../images/register/buttons.png) no-repeat left top;margin-bottom:20px;text-align:center;cursor:pointer;-webkit-border-top-right-radius: 4px;
-webkit-border-bottom-right-radius: 4px;
-moz-border-radius-topright: 4px;
-moz-border-radius-bottomright: 4px;
border-top-right-radius: 4px;
border-bottom-right-radius: 4px;}
.backleft a{color:#fff;font-size:18px;display:block;padding:9px 0 13px 20px}
.backleft:hover{background-position: 0 -47px;}

.continuert{float:right;width:149px;height:46px;background:url(../../images/register/buttons.png) no-repeat right -94px;margin-bottom:20px;text-align:center;cursor:pointer;-webkit-border-top-left-radius: 4px;
-webkit-border-bottom-left-radius: 4px;
-moz-border-radius-topleft: 4px;
-moz-border-radius-bottomleft: 4px;
border-top-left-radius: 4px;
border-bottom-left-radius: 4px;}
.continuert a{color:#fff;font-size:18px;display:block;padding:9px 15px 13px 0;}
.continuert:hover{background-position: right -141px;}	

/*Notification*/
.clicklikeback.ui-notify, .clicklikeback1.ui-notify { width:380px; position:fixed; top:50%; left:40%;}
.clicklikeback .ui-notify-message, .clicklikeback1 .ui-notify-message { padding:20px; margin-bottom:15px; -moz-border-radius:8px; -webkit-border-radius:8px; border-radius:8px }
.clicklikeback .ui-notify-message p, .clicklikeback1 .ui-notify-message p { margin:3px 0; padding:0; line-height:18px }
.clicklikeback .ui-notify-message:last-child,.clicklikeback1 .ui-notify-message:last-child { margin-bottom:0 }
.clicklikeback .ui-notify-message-style, .clicklikeback1 .ui-notify-message-style { background:#4d4d4d; }
.clicklikeback .ui-notify-message-style p, .clicklikeback1 .ui-notify-message-style p { color:#fff;text-align:center;}

.likedliked.ui-notify { width:200px; position:absolute; top:290px; left:13px; z-index:9999999;background:none;}
.likedliked .ui-notify-message { padding:10px; margin-bottom:15px; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;-webkit-box-shadow: 0px 5px 3px -2px #d4d4d4;box-shadow: 0px 5px 3px -2px #d4d4d4; }
.likedliked .ui-notify-message p { margin:3px 0; padding:0; line-height:18px }
.likedliked .ui-notify-message:last-child { margin-bottom:0 }
.likedliked .ui-notify-message-style { background:#E7276B; color:#fff !important;text-align:center;}
.likedliked .ui-notify-message-style p { color:#fff !important;text-align:center;}

/*Modal Pop Up*/
#messagereply {display:none;}

/* Overlay */
#simplemodal-overlay {background-color:#000;}

/* Container */
#simplemodal-container {height:300px; width:490px;}
#simplemodal-container .messagereplycontent{background:#f0f0f0;padding:10px 20px;overflow:hidden;}
#simplemodal-container .messagereplycontent p{font-size:18px;margin-bottom:10px;}
#simplemodal-container .messagereplycontent textarea{width:100%;height:200px;border-radius:10px;border:1px solid #a8a8a8;resize:none;padding:10px;}
.btnactions{float:right;margin-top:10px;}
.send, .cancelpop{background:#4293f0;color:#fff;border-radius:4px;border-bottom:1px solid #407cc0;text-transform:uppercase;font-size:13px;padding:5px 20px;margin-right:10px;}
.cancelpop{background:#5b5b5b;border-bottom:1px solid #454545;margin-right:0;}
		
/*Footer*/	
.footer{background:#4b4b4b;color:#ddd;/*margin-top:20px;*/}	
.footer .container {margin-bottom:0;}
.footercontent{position:relative;font-size:13px;padding:15px 0;}
.copyfootermenu{margin-top:10px;float:left;}
.copyright{width:150px; float:left;}
.footernav{text-align:center;float:left;margin-left:80px;}
.footernav a{padding:0 20px 0 0;color:#ddd;}
.socialicons{float:right;}
.socialicons ul li{float:left;margin-right:5px;}
.socialicons ul li a{color:#4b4b4b;}
.join{margin-top:8px;}
.fbicon{background:#CCC;width:30px;text-align:center;padding:4px 0 3px;font-size:20px;}
.socialicons ul li:lst-child{margin-right:0;}
.fbicon:hover{background:#4293f0;}


/*Media Queries*/

@media screen and (max-width:800px){
	/*body{background:#CFC}*/
.container{width:740px;margin:0 auto;}
/* Index Page*/
.mainmenu{float:left;margin:20px 0 0 100px;}
.userdetails{width:30px;}
.userdetails span, .downarrow{display:none;}
.usersettings span{display:block;}
.usersettings:before{right:8px;}
.slider { width:700px; margin:10px auto 0;}
.leftpanel{float:none;width:100%;margin:40px 0px 0 0;}
.rtpanel{float:none;width:100%;}

/*Matches*/
.matcheslist{margin-left:15px;}
.matcheslist li{margin-right:16px;}

.likedliked.ui-notify {top:-157px;left:250px;}

/*Profile*/
.profilemainslider .bx-wrapper .bx-controls-direction a{position:fixed;}
.profilemainslider .bx-wrapper .bx-prev {left: 0;}
.profilemainslider .bx-wrapper .bx-next {right: 0;}
.profilemainslider .profile-hobbies .bx-wrapper .bx-controls-direction a {position: absolute;}

.rightpane{width:423px;}
.profile_socialicon{float:left;}
.profile_socialicon li{margin:10px 10px 0 0;}
.lastcon{text-align:left;}

.aboutprofiler{margin:15px 0;}

.width1{width:110px;}
.width2{width:265px;}
.width3{width:220px;}
.width4{width:155px;}
.width5{width:175px;}
.width6{width:200px;}
.width7{width:215px;}
.width8{width:160px;}

.education-work-salary li{width:94%;}
.education-work-salary li:last-child .alldetails{min-height:80px;}

.alldetails p.salary-rupees{margin-top:15px;}
.alldetails{width:100%;padding: 5px 12px 0;}

.familydetails li .circle_white {font-size: 12px; height: 60px; width: 60px;}
.familydetails li {margin-right: 20px;}

.ftitle{font-size:12px;}
.divider_bottom{min-height:80px;}
.myfamliy_outer{min-height:50px;}
.bottom_titles{margin:10px 0 0 !important;}
.bottom_titlesed{margin-top:10px;}

.trustmeter{width:100%;min-height:167px;}

.threesections li{width:189px;margin-right:18px;}
.threesections li:nth-child(2){margin-right:0;}
.threesections li:last-child{width:94%;}
.threesections li:last-child .trustmeter{min-height:80px;}

.qualities li{width:auto !important;margin-right:20px !important;}
.qualities li:last-child{margin-right:0 !important;}

/*Profile Matched Hobbies*/
.hobbies-matched .title span {left: 32%;}
.matched-list {margin-left: 12%; margin-right: 12%; width:75%;}
.matched-list li {width:80px; margin:0px 15px; }

/*Profile Page 3*/
.profession-religion-physical li { margin-right: 2px;}
.alldetailspartner {padding: 20px 5px 10px; width: 232px;min-height:220px;}
.partnerdetails li{width:245px;}
.alldetailspartner .td1{ width: 130px;}
.partnerhobbies li{width:240px;}
.smokinglist {margin: 10px 0 0 15px;}
.smokinglist li{margin-right:2px;width:auto}
.ploction{width:316px;}
.pfamily{width:420px;}

/*Messages*/
.communicate_details{width:83%;}
.ui-notify {left:30%; }
.messageshowed, .showmessage { margin-right: 10px;}
.messageshowed{padding:5px 10px;}
.likeback {margin-right:20px;}
.clicklikeback.ui-notify { left:28%;}

.senttextarea{width:75%;}

/*Partners Perferences*/
.innertabs li a{padding: 5px 22px;}
.partnerinner {padding: 20px 0;}
.pit{width:90%;}
.partner-details-gray{padding:15px 0 15px 44px;}
.formlabel-fields{margin-left:25px;width:345px;}
.formlabel{width:280px;margin-top:0;text-align:center;}

/*Footer*/
.copyfootermenu{margin-top:0;float:left;}
.copyright{width:100%; float:none !important; padding-bottom:10px;}
.footernav{text-align:left; float:none !important; padding-bottom:10px;margin-left:0;}
}

@media screen and (max-width:640px){
	/*body{background:#FC9}*/
.container{width:92%;margin:0 4%;}
/* Index Page*/
.logo{margin-left:50px;}

/*Menu*/
.mainmenu{float:none;margin:0;position:relative;padding-top:20px;}
a.menu-link {display: block;position:absolute;}
.menu {overflow: hidden;max-height: 0;	background:#fff;width:100%;	position:absolute;z-index:99999;top:66px;}
.menu.active{max-height: 55em;}
.menu ul {display: inline;}
.menu li, .menu > ul > li {display: block;float:none;border-bottom:1px dotted;	}
.menu li a {display: block;	position: relative;padding:10px 0;border-bottom:4px solid #fff;border-top:4px solid #fff;}
.menu li:last-child{border-bottom:none;}
.notification{float:right;}

.likes_content{display:none !important;}

.userdetails{top:-19px;right:5px;}

.viewall{float:right;clear:both;}
.slider { width:540px; margin:10px auto 0;}

.rtpanel { position:relative; min-height:230px;}
.alert { position:absolute; bottom:10px; z-index:2}
.rtnotification{margin-top:0;}
.notifylist{width:100%;text-align:center;}
.notify-content { display:none;}
.ntitle { display:none;}
.notify{border-bottom:none;background:none;overflow:hidden;padding:15px 0;width:70px; display:inline-block;}

/*Matches*/
.matcheslist li{margin:15px 25px;}
.likedliked.ui-notify {top:-171px;left:180px;}

/*Profile*/
.leftpane, .rightpane{width:100%;}
.leftpane{margin-top:140px !important;}
.rightpane{margin-left:0;}
.mainpic{margin:0 auto;}

.profile_socialicon{overflow:hidden;}
.profile_socialicon, .personname{float:none;}

.gallerylist{margin:10px auto;text-align:center;}
.trustmeterleft{width:95%;min-height:120px;}

.education-work-salary li, .threesections li{width:96%;}
.familydetails li .circle_white {font-size: 13px; height: 70px; width: 70px;}
.familydetails li {margin-right: 49px;}
.ftitle{font-size:13px;}

.width1{width:90px;}
.width2{width:229px;}
.width3{width:180px;}
.width4{width:124px;}
.width7{width:215px;}
.width8{width:160px;}

.about-title{display:block; font-family: 'robotomedium';font-size:24px;}
.aboutprofiler{margin:5px 0 15px;}
.partnerdivider{width: 90%;}

.name-socialicon{position:absolute;top:20px;left:0;width:100%;}

.threesections li{margin-right: 25px; width: 261px;}
.threesections li:last-child{width:96%;}

/*Profile Matched Hobbies*/
.hobbies-matched {height:100%;}
.hobbies-matched .title span {left: 28%;}
.matched-list {margin-left: 14.5%; margin-right: 14.5%; width:70%;}
.matched-list li {width:90px; margin:0px 15px 30px 15px; float:none; display:inline-block;}

/*Profile Page 3*/
.partnerdetails li {width: 190px;}
.profession-religion-physical li {width:100%;}
.alldetailspartner{min-height:100px;padding:10px 10px 10px;width:100%;}
.partnerhobbies li{width:100%;margin-bottom:10px;}
.smokinglist {margin: 10px 0 0 55px;}
.smokinglist li { margin-right: 10px;  width: auto;}
.locationlist span{width:170px;}
.ploction{width:100%;}
.pfamily{margin-top:20px;width:100%;}


/*Messages*/
.communicate_details{width:78%;}
.clicklikeback.ui-notify { left:20%;}

.senttextarea{width:70%;}
.messagesend{width:120px;}

/*Partners Perferences*/
.partnersection{min-height:300px;border-bottom:none;}
.partner-details-gray{padding:15px 0 15px 32px;}
.formlabel{width:94%;float:none;}
.formlabel-fields {margin-left:0;width:94%;float:none;margin:10px 0 0;text-align:center;}
.formlabelrt{display:none;}
.resp-tabs-container{margin:20px 0;}
.resp-tab-content{border-bottom: 1px solid #C5C5C5;}
.noline td{border:none;}

/*Footer*/
.footernav a{padding:0 10px 0 0;}
}

@media screen and (max-width:480px){
	/*body{background:#9FF}*/
.slider { width:380px; margin:10px auto 0;}

.updates-details{width:78%;}

/*Matches*/
.show, .show li.showtext{width:190px;}
.sortby, .sortby li.sorttext{width:135px;}
.show li.showtext, .sortby li.sorttext{text-align:left;}

.search input{width:160px;}

.matcheslist{width:100%;text-align:center;margin-left:0;}
.matcheslist li{margin:15px 25px;float:none;display:inline-block;}
.mutual, .name, .persontext{text-align:left;}

.filterbox li.filtertitle{width:100%;}
.filterbox .submit{margin:20px 0 20px 20px;}

.likedliked.ui-notify {top:-211px;left:30px;}

.loading {width:100%;font-size:14px;padding:10px 0;}


/*Profile*/
.leftpane{margin-top:150px !important;}
.trustmeterleft{width:93%;min-height:120px;}
.education-work-salary li, .threesections li{width:94%;}

.width1{width:145px;}
.width3{width:215px;}
.width4{width:159px;}

.divider_bottom{display:none;}

.myfamliy_outer{min-height:690px;margin:0 auto;}
.familydetails li {display: inline-block; float: none; font-size: 13px; margin: 0 0 20px; width: 425px;}
.familydetails li .circle_white:after {border-right: 1px solid #4293F0; content: "";display: block; height: 108px;left: 50%; position: absolute;   z-index: -1;}
.familydetails li .circle_white { height: 90px; width: 90px;margin:10px auto;}
.familydetails li:last-child .circle_white:after {border-right:0;}

.profile_socialicon{float:left;margin:8px 0;}
.profile_socialicon li{margin:0 4px 0 0;}

.respond{width:117px !important;}
.lastcon{text-align:left;}
.mutualcon li{margin-right:13px;}
.partnerdivider{width: 85%;}

.threesections li{margin-right: 21px; width: 189px;}
.threesections li:last-child{width: 94.5%;}

/*Profile Matched Hobbies*/
.hobbies-matched .title span {left:15%;}

/*Profile Page 3*/
.alldetailspartner{width:96%;}
.partnerdetails li{width:140px;}

/*Messages*/
.searchnew{top:70px;}
.communicate_details{width:69%;}
.messageshowed{margin-right:5px;padding:5px 5px 10px;}
.likeback{margin-right:10px;}
.clicklikeback.ui-notify { left:10%;}
#simplemodal-container {width:420px;}

.senttextarea{width:68%;}
.messagesend { margin-left: 10px; width: 100px;}

/*Partners Perferences*/
.partnerinner {padding:10px 0;}
.partnerinner td{font-size:14px;}
.partnerinner .td1 { width: 35%;}
.resp-tabs-container{margin:46px 0 20px;}
.partner-details-gray{padding:15px 0 15px 26px;}

/*Footer*/
.socialicons{float:none;}
}

@media screen and (max-width:320px){
	/*body{background:#FFC}*/
.slider { width:235px; margin:10px auto 0;}
.sliderul li{margin-bottom:13px;}

.notify{width:65px;}

.updates-details{width:78%;}

.personimg img{width:32px;height:32px;}
.photolist img{width:32px;height:32px;}

/*Matches*/
.show li.showtext, .sortby li.sorttext, .show{width:auto;}
.sortby{float:left;margin-top:20px;width:auto;}
.matcheslist{margin-left:0;}

.filterbox ul{margin-left:10px;}
.filterbox .submit{margin:20px 0 20px 10px;}
.filterbox select{width:112px;}

.likedliked.ui-notify {top:-231px;left:20px;}

/*Profile*/
.profile_socialicon li{margin:0 2px 0 0;}

.gallerylist li img{width:64px;height:45px;}

.trustmeterleft{width:89%;}
.education-work-salary li, .threesections li{width:91%;}
.persondetails li{margin:0 2px 2px 0;font-size:16px;}
.familydetails li {width: 280px;}

.width1{width:62px;}
.width2{width:173px;}
.width3{width:150px;}
.width4{width:85px;}
.width5{width:116px;}
.width6{width:119px;}
.width7{width:145px;}
.width8{width:90px;}

.mutualcon li{margin-right:11px;}

.trustmeter{min-height:100px;}
.qualities li{width:100% !important;margin-right:0 !important;}

.threesections li:last-child{width:91%;}

/*Profile Hobbies*/
.profile-hobbies h2 {font-size:18px;font-family: 'RobotoRegular';}
.profile-hobbies li { display:block !important; width:278px !important;}
.profile-graybg {width:207px;}

/*Profile Matched Hobbies*/
.hobbies-matched .title { height:26px; font-size:14px; width:80%; margin-left:10%; margin-right:10%;}
.hobbies-matched .title span {left:4%;}
.your-img,.matched-img {max-width:25%;}

/*Profile Page 3*/
.partner-outer{min-height:340px;}
.partnerdivider{display:none;}
.partnerdetails li {display: inline-block; float: none; text-align: center !important; width: 300px;}
.partnerdetails li.first{text-align:center;}
.partnerdetails li.first .pcirclewhite{margin:10px auto}
.partnerdetails li.third{text-align:center;}
.partnerdetails li.third .pcirclewhite{float:none;margin:10px auto;}

.smokinglist {margin: 10px 0 0 10px;}
.locationlist span, .familylist span{width:100%;margin-bottom:5px;}

/*Messages*/
.searchnew input{width:130px;font-size:12px;}
.innertabs {margin-left:0;}
.innertabs li{margin-right:4px;}
.innertabs li a {padding: 5px 10px;}
.communicate_pic img{width:50px;height:50px;}
.communicate_details{width:73%;}
.mess_time {left: 85px; top: 40px;color:#878484;}
.comm_message{margin-top:20px;}
.leftarrow { top: 15px;z-index:99;}
.messageshowed{margin-right:5px;padding:5px 5px 10px;}
.likeback{margin-right:10px;}
.clicklikeback.ui-notify { left:4%;width:280px;}
#simplemodal-container {width:280px;}

.messagermessages, .messagermessages-gray{width:90%;}
.senttextarea{width:64%;}
.messagesend { margin-left: 5px; width: 70px;}

/*Partners Perferences*/
.partnerinner td{font-size:12px;}
.partnerinner .td1 { width: 32%;}
.formlabel{font-size:15px;}
.partner-details-gray{padding:15px 0 15px 15px;}
.cancel_button, .save_button{font-size:14px;}
.chzn-container{width:200px !important;}
.chzn-container .chzn-drop{width:198px !important;}
.chzn-container-multi .chzn-choices .search-field input{width:200px !important;}
.heightcount {width: 62%;margin:0 auto;}
.toinbetween { margin: 10px 0; width: 82%;}

/*Footer*/
.socialicons{float:none;}
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
/* Safari 5+ ONLY */
::i-block-chrome, .customstylesheight .radio .options,
.customstylesheight .checkbox .options, 
.customstylesheight .radio .icon,
.customstylesheight .radio .icon-to-fade, 
.customstylesheight .checkbox .icon,
.customstylesheight .checkbox .icon-to-fade{height:52px;}
}