/* Custom Elastislide Styling */

/*** Profile Slider ***/
.js .fixed-bar {
	position: fixed;
	width: 100%;
	left: 0;
	bottom: 0;
}

.js .gallery {
	width: 100%;
	max-width: 720px;
	margin: 0 auto;
	border-radius: 20px;
	position: relative;
	/*background: #000 url(../images/black_denim.png);
	box-shadow: 0 2px 1px rgba(255,255,255,0.9), 0 -2px 1px rgba(255,255,255,0.9);*/
}

.lt-ie8 .elastislide-list {
	display: none;
}
.elastislide-list {max-height:132px !important}
.indpersonprofile .elastislide-horizontal {
	background-color: transparent;
}

.indpersonprofile .elastislide-horizontal.elastislide-loading {
	background-image:url(../../images/dashboard/profile/slider/loading_dark.gif);
}

.indpersonprofile .elastislide-carousel ul li a{
	padding: 2px;
}

.indpersonprofile .elastislide-carousel ul li a img {
	outline: 1px solid #fff;
	/*box-shadow: 0 1px 2px #000;*/
}

.indpersonprofile .elastislide-wrapper nav span {
	background-color: #666;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.2);
}

.indpersonprofile .image-preview img {
	margin-left:0px;
	max-width:100%;
	display: block;
	/*-webkit-box-shadow: 0px 3px 3px rgba(136, 136, 136, 0.75);
-moz-box-shadow:    0px 3px 3px rgba(136, 136, 136, 0.75);
box-shadow:         0px 3px 3px rgba(136, 136, 136, 0.75);*/
	/*-webkit-box-shadow: 0px -3px 5px rgba(136, 136, 136, 0.75);
-moz-box-shadow:    0px -3px 5px rgba(136, 136, 136, 0.75);
box-shadow:         0px -3px 5px rgba(136, 136, 136, 0.75);*/
		 border-bottom:1px solid #d4d4d4;
}

.indpersonprofile .elastislide-carousel ul li.current-img a img, .indpersonprofile .elastislide-carousel ul li:hover a img  {
	/*box-shadow: 0 0 3px 2px rgba(241,48,92,0.8);*/
	/*border:1px solid #4293f0;
	background:#fff;height:118px;*/
	outline:1px solid #4293f0;
	border:2px solid #4293f0;
}
.indpersonprofile .elastislide-carousel ul li.current-img:before {
   /*background:url(../../images/dashboard/profile/toparrow.png) no-repeat;content:"";position:absolute;display:block;width:19px;height:11px;top:-19px;*/
}
/*.indpersonprofile .elastislide-carousel ul li a img:hover,.indpersonprofile .elastislide-carousel ul li a img.active{border:2px solid #b4b4b4;}*/

@media screen and (max-width: 460px) {
	.demo-3 .elastislide-horizontal {
		padding: 10px 40px;
	}
}
