.checkbox,
.radio {
margin-bottom: 12px;
padding-left: 10px;
position: relative;
-webkit-transition: 0.25s;
-moz-transition: 0.25s;
-o-transition: 0.25s;
transition: 0.25s;
-webkit-backface-visibility: hidden;cursor:pointer;  }

.checkbox input,
.radio input {
outline: none !important;
opacity: 0;
filter: alpha(opacity=0);
zoom: 1; }

.checkbox.checked .icon {
background-position: 0 -15px;
opacity: 1;
display: block\9;top:2px; }

.radio.checked .icon {
opacity: 1;
display: block\9;  }

.checkbox.checked .icon-to-fade,
.radio.checked .icon-to-fade {
opacity: 0;
display: none\9; }

.checkbox.disabled,
.radio.disabled {
color: #d7dddd;
cursor: default; }

.checkbox.disabled .icon,
.radio.disabled .icon {
  opacity: 0;
  display: none\9; }
  
.checkbox.disabled .icon-to-fade{
  background-position: -30px -60px;
  opacity: 1;
  display: block\9; }
  
.radio.disabled .icon-to-fade, .radio.disabled.checked .icon {
  opacity: 1;
  display: block\9; }
  
.checkbox.disabled.checked .icon{
  background-position: 0 -90px;
  opacity: 1;
  display: block\9; }
  
.checkbox.disabled.checked .icon-to-fade,
.radio.disabled.checked .icon-to-fade {
  opacity: 0;
  display: none\9; }
  
.checkbox .icon,
.checkbox .icon-to-fade {
background: url("../../images/dashboard/checkbox.png") 0 0 no-repeat;
display: block;
height: 15px;
left: 0;
opacity: 1;
position: absolute;
top: 2px;
width: 15px;
}
.radio .icon,
.radio .icon-to-fade {
display: block;
height:32px;
left: 0;
opacity: 1;
position: absolute;
top:0;
width: 100px;
-webkit-transition: opacity 0.1s linear;
-moz-transition: opacity 0.1s linear;
-o-transition: opacity 0.1s linear;
transition: opacity 0.1s linear;
-webkit-backface-visibility: hidden;background:#e0e0e0;
}

.checkbox .icon,
.radio .icon {
opacity: 0;
top: 0;
z-index: 2;
display: none\9; }

.radio .icon,
.radio .icon-to-fade {
 }
 
.radio .options{position:absolute;z-index:999;top:0;left:0;color:#606060;padding:8px 0;background:#e0e0e0;}

.radio.checked .options,.radio:hover .options{color:#fff;background:#4293ef;-webkit-box-shadow: inset 0px 3px 3px 0px #3b7dc9;box-shadow: inset 0px 3px 3px 0px #3b7dc9;}

/*List of items Radio Button*/
.customerradio .radio{padding-left:84px;}
.radio .options,
.customerradio .radio .icon,
.customerradio .radio .icon-to-fade{width:98px;} 



