*{
	padding: 0;
	margin: 0;
}

body{font-family: 'RobotoRegular', Arial;font-size:14px;color:#333;background:url(../../images/dashboard/body-bg.gif) repeat;}
.mt2 {margin-top:2px;}
.mt5 {margin-top:5px;}
.mt10{margin-top:10px;}
.mt15{margin-top:15px;}
.mt20{margin-top:20px;}
.mt30{margin-top:30px !important;}
.mt40{margin-top:40px;}
.mb20{margin-bottom:20px;}
.mb30{margin-bottom:30px;}
.talc { text-align:center;}
.mr5 { margin-right:5px;}
.ml12 {margin-left:12px!important;}
.ml20 { margin-left:20px;}
.pink {color:#e7276b;}
.fbcolor { color:#28448a!important;}
.incolor { color:#0077b5!important;}
.idcolor { color:#00B5B3!important;}
.phcolor { color:#00b56a!important;}
.adcolor { color:#00b52f!important;}
.emcolor { color:#88b500!important;}
.curp { cursor:pointer;}
.posr { position:relative;}
.showhide { clear:both; display:none;}

.ht60 { height:65px; overflow:hidden;}
.mb5 {margin-bottom:5px;}
.mb10{margin-bottom:10px;}
.mb40{margin-bottom:40px;}
.mrg { margin:0 auto;}
.padg { padding:0;}
.fl { float:left;}
.fr { float:right;}
.ml10 { margin-left:10px;}
.clb { clear:both;}
.ttrans { text-transform:uppercase;}
.ttransl { text-transform:none;}
.fs12 { font-size:12px;}
.fs11 { font-size:11px;}
.fs14 { font-size:14px;}
.fs18 { font-size:18px;}



/*My work start*/

/* Popup Deactivated */
.difusescreen {background: none repeat scroll 0 0 #000000; height: 100%; left: 0; opacity: 0.7; overflow: hidden; position: fixed; top: 0; width: 100%; z-index: 1000; margin:0 auto; }

.sndmpopupframe { display:block; overflow:hidden; position: fixed; top: 0; margin:2% auto; left: 0; right: 0; z-index: 1000; background:#fff;  width:40%; -webkit-box-shadow: 0 0 10px #000; -moz-box-shadow: 0 0 10px #000; box-shadow: 0 0 10px #000; padding:20px; font-size:14px; font-family:'RobotoLight'; text-align:left;}
.sndmpopupframe h4 {background:#d6034e; color:#fff; font-size:16px; font-weight:normal; text-align:center; margin:0 0 10px 0; padding:5px 0; font-family:'RobotoRegular';}
.sndmpopupframe h4 a {color:#fff; padding:0 10px 0 0;}

.sndmpopupframe Strong { font-family:'RobotoMedium';}
.sndmpopupframe p { margin:0 auto; padding:5px 0 20px 15px;}
.survaysubmit {background:#598fc9; border:none; font-size:16px; color:#fff; text-align:center; padding:5px 15px; font-weight:bold;}

/* popup end */



.chzn-container-single .chzn-search input {  padding: 4px 0 !important;}


.numsectop { background-color: #E7276B; position: absolute; color:#fff; text-align:center; font-size:10px; font-family:'RobotoMedium'; padding:2px 5px; display:inline-block;
    margin:-17px 0 0 0; }
.numsectop:after { content: ' '; height: 0; position: absolute; width: 0; border: 5px solid transparent; border-top-color: #E7276B; top: 100%; left: 50%; margin-left: -5px; }

.pos1 {left:60px;}
.pos2 {left:105px;}
.pos3 {left:150px;}
.pos4 {left:195px;}

.noresulttxt { border: 1px solid #ccc; color: #aaa; font-size: 40px; margin: 50px 0; padding: 4.9%; text-align: center; width: 90%;}

.verifyinfobox {font-size: 14px; font-family:'RobotoLight'; color: #333; background-color: #FFFFC7; padding:10px 15px; text-align:center; margin:20px 0 0 0; -webkit-box-shadow: 1px 1px 3px 0 #ccc; -moz-box-shadow: 1px 1px 3px 0 #ccc; box-shadow: 1px 1px 3px 0 #ccc;  }
.verifyinfobox a {background-color: #4293f0; -webkit-box-shadow: 1px 1px 1px #777; -moz-box-shadow: 1px 1px 1px #777; box-shadow: 1px 1px 0 #777; color:#fff; text-transform:uppercase; padding:3px 10px; margin-left:10px;}
.verifyinfobox a:hover {background-color:#2682ec;}

/*
.effect2 { position: relative;}
.effect2:before, .effect2:after { z-index: -1; position: absolute; content: ""; bottom: 15px; left: 10px; width: 50%; top: 20%; max-width:300px; background: #777;  -webkit-box-shadow: 0 15px 10px #777; -moz-box-shadow: 0 15px 10px #777; box-shadow: 0 15px 10px #777; -webkit-transform: rotate(-3deg); -moz-transform: rotate(-3deg);   -o-transform: rotate(-3deg); -ms-transform: rotate(-3deg); transform: rotate(-3deg); }
.effect2:after { -webkit-transform: rotate(3deg); -moz-transform: rotate(3deg); -o-transform: rotate(3deg); -ms-transform: rotate(3deg); transform: rotate(3deg); right: 10px;
  left: auto; }
  */
  
  .likeinfobox { position:absolute; bottom:35px; left:-15px;}
  .hideinfobox { position:absolute; bottom:35px; right:-10px;}
  
  .infocontainer {background-color: #fff; -webkit-box-shadow: 0 0 7px #444; -moz-box-shadow: 0 0 7px #444; box-shadow: 0 0 7px #444; width:130px; font-size:11px; text-align:center; padding:7px; line-height:14px;}
  
/* .infocontainer:after {  content: ' '; height: 0; position: absolute; width: 0; border: 10px solid transparent; border-top-color: #fff; top: 100%; left: 50%; margin-left: -10px;}  */
	
.infocontainer a {-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; background-color: #e7276b; color:#fff!important; font-size:13px; padding:5px 10px 7px; margin:10px 0 0 0; display:inline-block; cursor:pointer; }
.infocontainer img {position:absolute; bottom:-13px; left:4px;}
.infocontainer strong {color:#e7276b; font-weight:bold;}
  
  
.blurimgnote {padding:15px 0 0 10px; font-size:12px; float:left; position:relative; color: #E7276B; cursor:help; }  
  
.tmtitle { font-size:11px; color:#4293f0; text-align:center; width:90px; float:left; margin:0 auto; text-transform:uppercase;}  
.pieContainer { height: 33px; margin:3px 0 0 2px!important; }
.pieBackground { background-color: #c5d9f1; position: absolute; width: 66px; height: 33px; -moz-border-radius: 33px 33px 0 0; -webkit-border-radius: 33px 33px 0 0; -o-border-radius: 33px 33px 0 0; border-radius: 33px 33px 0 0; } 
.pie { position: absolute; width: 66px; height: 66px; -moz-border-radius: 33px; -webkit-border-radius: 33px; -o-border-radius: 33px; border-radius: 33px; clip: rect(0px, 33px, 66px, 0px); }
.hold { position: absolute;  width: 66px; height: 33px; -moz-border-radius: 33px; -webkit-border-radius: 33px; -o-border-radius: 33px; border-radius: 33px; clip: rect(0px, 66px, 33px, 0px);}
#pieSlice1 .pie { background-color: #4293f0; -webkit-transform:rotate(-54deg);  -moz-transform:rotate(-54deg); -o-transform:rotate(-54deg); transform:rotate(-54deg); }
 .persentbg { background-color: #fff; position: absolute; width: 46px; height: 23px; -moz-border-radius: 23px 23px 0 0; -webkit-border-radius: 23px 23px 0 0;  -o-border-radius: 23px 23px 0 0; border-radius: 23px 23px 0 0; margin:10px 0 0 10px; text-align:center; } 
.persentbg p {color:#4293f0; padding:0; margin:4px 0 0 0!important; font-size:14px!important; font-weight:normal!important; font-family:'RobotoBold';}


/*My work Dashboard*/

.activevrfypay1 {background-color: #555;font-size:12px; color:#fff; text-align:left; height:50px; line-height:14px;}
.activevrfypay1 ul { margin:0 auto; display:table; list-style:none; padding:0; float:left; width:82%;}
.activevrfypay1 ul li { margin:0 auto; float:left; display:table-cell; vertical-align:middle; width:33%; padding:13px 0 0 0; background:url(../../images/register/seperator1.png) no-repeat; background-position:right; }
.activevrfypay1 ul li span { font-size:14px;}
.activevrfypay1 ul li p {background:url(../../images/register/tb_feature1.png) no-repeat; display: inline-block; height: 40px; margin: 0 auto; padding: 0 0 0 30px; text-align: left;}
.bsrchrnk1 { background-position:0px 0px!important;}
.ernfrcr1 {background-position:0px -35px!important;}
.getmrmsg1 {background-position:0px -70px!important;}
.divinblck1 {display:inline-block; text-align:left;}


.misregstep { border:1px solid #4b4b4b; background:#fff; width:99%; clear:both;}  
.mrstitle { background:#555; padding:10px 15px 7px; color:#fff; font-size:16px; overflow:hidden;}
.mrstitle a { color:#999; font-weight:bold; font-size:20px;}
.regformdb { padding:20px; overflow:hidden;} 
.rgsavebtn a{color:#fff;text-transform:uppercase;padding:7px 20px;text-align:center;background:#4293f0;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;border-bottom:1px solid #3474bc;display:inline-block;}
.rgskipbtn a{color:#fff;text-transform:uppercase;padding:7px 20px;text-align:center;background:#999;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;border-bottom:1px solid #444;display:inline-block;}
.rgpaybtn a{color:#fff;text-transform:uppercase;padding:7px 20px;text-align:center;background:#205590;border-bottom:1px solid #113d8e;display:inline-block;}

.sysalertmsg { font-size:14px; text-align:left; padding:15px; background:#FFFFC7; overflow:hidden; box-shadow:1px 1px 3px 0 #ccc; -moz-box-shadow:1px 1px 3px 0 #ccc; -webkit-box-shadow:1px 1px 3px 0 #ccc; font-family:'RobotoLight';}
.sysalertmsg img { margin:0 10px 0 0; clear:right;}

.lstactv { font-size:11px; color:#888;} 

.infocredit { text-align:center;}
.infocredit a{background-color: #e7276b; color:#fff!important; font-size:13px; padding:5px 10px!important; margin:10px 0 0 0; display:inline-block!important; cursor:pointer;  text-align:center;  }
.infocredit a:hover {border-bottom:4px solid #fff!important;}

.WebRupee {font-family: 'WebRupee';}

.paysection1 {display: table;}
.paysection1 li {  margin:7px; float:left; display:table-cell; vertical-align:middle; position:relative;}
.payplan1 {text-align:center; color:#fff; padding:13px;background:#4293f0; font-size:14px; width:75px;}
.payplan1 h3 {border-bottom: 1px solid #D8D8D8; font-size: 14px !important; font-weight:normal; padding-bottom: 5px; text-transform: uppercase; }
.pkgname1 {color: #F4F4F4; font-size: 11px; font-weight:bold;}
.pkgrate1 { font-size:16px;}

.paysection li h3 { text-transform:uppercase; font-weight:bold; border-bottom:1px solid #d8d8d8; font-size:15px!important; padding-bottom:5px;}
.sploffer { background:#e7276b!important;border-bottom:1px solid #9d0038!important;border-right:1px solid #9d0038!important;}


.crdtwallet { position:absolute; width:84px; background:url(../../images/dashboard/crdtwallet.png) no-repeat; top:-49px; right:1px; text-align:center; }
.crdtwallet p {font-size:14px; font-family:'RobotoBold'; color:#fff; padding:30px 0 5px 0;}
.crdtwallet span {text-transform:uppercase; font-size:10px; color:#D6034E; font-family:'RobotoRegular';}

.memftr { clear:both; text-align:left; position:relative;box-shadow:1px 1px 3px 0 #ccc; -moz-box-shadow:1px 1px 3px 0 #ccc; -webkit-box-shadow:1px 1px 3px 0 #ccc; background:url(../../images/dashboard/pcsecbg.png); font-family:'RobotoLight'; padding:5px 10px;}
.memftrline { border-bottom:2px solid #E7276B; margin:10px 90px 15px 20px; position:relative; font-size:14px; padding-bottom:5px;}
.memftrline p { bottom: -15px; height: 15px; left: 10px; position: absolute; width: 1px; border-left:2px solid #E7276B; }
.memftrline span { font-size:20px; font-family:'RobotoBold';}

/* .memftr:before  {content: ' '; height: 0; position: absolute; top:-20px; left:49%; width: 0; border: 10px solid transparent; border-bottom-color: #999;} */
.memftr ul { margin:20px 0 15px; font-size:13px; font-family:'RobotoRegular';}
.memftr ul li { list-style:none; margin:10px 0 0; clear:both;  }
.memftr ul li p { background:url(../../images/dashboard/pay_feature1.png) no-repeat; width:30px; float:left; margin:-3px 0 0 20px; height:25px;}
.memftr ul li a { background:#D6034E; color:#fff; padding:5px 15px;  text-transform:uppercase; font-family:'RobotoRegular'; font-size:14px;}
.vapp { background-position:0 -40px!important;}
.vmfc { background-position:0 -53px!important;}
.spm { background-position:0 -76px!important;}
.memftr ul li strong { font-weight:bold;}
.memftr ul li span { font-size:11px; text-align:left; line-height:14px;}

.trustBuilderError { color:#FF0000; font-size:11px; text-align:left; line-height:14px;}
.tbsucess { color:#006600; font-size:11px; line-height:14px;}
.uploadbtn  {cursor:pointer;}

/*New Matches */
.nmatch { width:100%;}
.dbnmatch {display: block; float: none;  position:relative; width:100%; overflow:hidden;}
.dbnmatch ul { margin:0 auto; clear:both; list-style:none;}
.dbnmatch ul li { margin:0 14px 0 0; float:left; padding:5px; text-align:center; box-shadow: 1px 1px 3px 0 #ccc; -webkit-box-shadow: 1px 1px 3px 0 #ccc; -moz-box-shadow: 1px 1px 3px 0 #ccc; background:#fff;}
.dbnmatch ul li p { text-align:center; font-size:11px; display:inline-block; overflow:hidden; padding:0; margin:0 auto;}
.dbnmatch ul li a { color:#0066dd;}
.dbnmatch ul li img { width:108px; height:108px;}

.fnamelimit {white-space:nowrap; max-width: 80px; min-width: 20px; text-overflow:ellipsis;}
.fnamelimit1 {white-space:nowrap; max-width: 150px; min-width: 20px; text-overflow:ellipsis;}

.relexptxt a { background:#4293f0; color:#fff; padding:5px 10px;}

.vall { font-size:12px; text-align:left; padding:10px 0 0 0; clear:both; float:left;}
.vall a { color:#0066dd;}

/*Trust Builder */

.tbconsec { background:url(../../images/dashboard/tbconbg.png); overflow:hidden; padding:5px 90px 0 30px; font-family:'RobotoLight'; box-shadow: 1px 1px 3px 0 #ccc; -webkit-box-shadow: 1px 1px 3px 0 #ccc; -moz-box-shadow: 1px 1px 3px 0 #ccc; text-align:left; position:relative; font-size:13px; border:2px solid #fff;}
.tbconsec p { border-bottom:2px solid #e7276b; font-size:14px; padding-bottom:5px; position:relative;}
.tbconsec p span { font-size:20px; font-family:'RobotoBold';}
.tbconsec p img { position:absolute; left:10px; bottom:-15px; width:2px; height:15px;}
.tbconsec ul { margin: 0 0 0 2px; padding: 2px 0 5px; font-family:'RobotoRegular';}
.tbconsec ul li { margin:12px 0;}
/* .tbconsec ul li i {float:left; border-top:1px dashed #e7276b; width:15px; height:1px; margin:8px 5px 0 0;} */
.tbconicon {float:left; margin-right:5px; width:22px; height:22px; font-size:18px; color:#333;}
.tbiconbg { background:url(../../images/dashboard/tbconicon.png) no-repeat; }
.hrtico {background-position: 0 0px;}
.crdtico {background-position: 0 -31px;}
/* .eyeico {background-position: 0 3px;}
.likeico {background-position: 0 -18px;}
 */
.dotline { width:1px; height:100%; border-right:1px dashed #4293f0; position:absolute; right:33px; top:20px;} 
.mytscore {text-transform:uppercase; font-size:10px; color:#4293f0; font-family:'RobotoRegular'; width:60px; position:absolute; top:4px; right:4px; text-align:center; }

.dbtbuild {background:#FFFFFF; box-shadow: 1px 1px 3px 0 #ccc; -webkit-box-shadow: 1px 1px 3px 0 #ccc; -moz-box-shadow: 1px 1px 3px 0 #ccc; display: block; float: none;  padding: 0 10px 5px; position:relative;}

.dbtrustdetails{border-bottom:1px solid #ddd; padding:10px 0; background:url(../../images/dashboard/bluedot.png) repeat-y; background-position:93% 0%; position:relative;}
.hovrtitle { background: #FFF; border: 1px solid #999; box-shadow: 1px 1px 6px 0 #888; -moz-box-shadow: 1px 1px 6px 0 #888; -webkit-box-shadow: 1px 1px 6px 0 #888; color: #666;
    font-family: 'RobotoRegular'; font-size: 11px; left: -13px; line-height: 14px; padding: 10px; position: absolute; text-align: left; top: -70px; width: 250px; z-index: 1;}
.hovrtitle:after {content: ' '; height: 0; position: absolute; width: 0; border: 7px solid transparent; border-top-color: #fff; top: 100%; left: 10px;} 
.hovrtitle a {-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; background-color: #e7276b; color:#fff!important; font-size:13px; padding:5px 10px 7px; margin:10px 0 0 0; display:inline-block; cursor:pointer; }

.dbtrustdetails li{display:inline-block;vertical-align:middle;}

.dbtrustdetails .td0{width:50px;}
.dbtrustdetails .td1{ font-size:14px; width:120px; font-family:'RobotoLight';}
/*.dbtrustdetails .td1 img{margin-top:4px;} */
.dbtrustdetails .td2{font-size:12px; width:178px;}
.dbtrustdetails .td3{width:210px;}
.dbtrustdetails .td4{width:50px; margin:0 11px;}
.dbtrustdetails .td5{margin: -6px 0 0; position: absolute; right: 0; width: 50px; z-index:1;}
.dbtrustdetails .td2 .inputwidth{width:163px; margin:2px 0; padding:4px!important;}

.dbtrusttitle { text-transform:uppercase; font-size:16px;}

.dbfacebook{background:#3a589b;text-align:center;padding:5px 6px; width: 148px;}

.linkedin {
    background:#007AB9;
    padding: 6px;
    text-align: center;
    width: 148px;
    height: 16px;
}
.dbfacebook a, .linkedin a{color:#fff; font-size:14px; cursor:pointer;}

.bluecircle{width:40px;height:40px;border-radius:50%;background:#4293f0; padding:5px; color:#fff; font-size:12px; font-weight:bold; line-height:38px; text-align:center;}
.bluecircle img{margin:12px 10px;}
.graycircle{width:40px;height:40px;border-radius:50%;background:#d8d8d8;color:#4293f0;font-size:13px;padding:10px 5px 0;text-align:center; line-height:30px;}

.uploadbtn a{color:#fff;text-transform:uppercase;background:#4293f0;padding:4px!important;border-radius:3px;}
.uploadbtn a:hover{background:#116AD0;}

.trustdropbox .chzn-container {width:250px !important;}
.trustdropbox .chzn-container .chzn-drop, .trustdropbox .chzn-container-single .chzn-drop  {width:248px !important;}
.trustdropbox .chzn-search{display:none;}
.trustdropbox .chzn-container-single .chzn-single{margin-top:0 !important;}

.tmsealico {background:url(../../images/dashboard/tmseal_small.png) no-repeat; width:38px; height:38px; float:left; margin:15px 15px 0 0;}

.dbfreecrdittxt {color: #009000; font-size: 12px; line-height: normal; margin: 3px 0 0 20px; padding: 0; text-align: left; }

.dbtrustmeter-reading{width:70px;height:38px;background:#fff;border-radius:35px 35px 0 0;position:absolute; z-index:1; top:-187px; right:0;}
.dbtrustmeter-reading p{color:#4293f0;font-size:11px;margin-top:6px;text-align:center;}

.dbstyled-select { width: 160px; height: 24px; background: url(../../images/register/nsm_newddselect.png) no-repeat right #fff; border: 1px solid #888888; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; margin:0 auto;}
   
.dbstyled-select select { background: transparent; width: 160px; padding:2.5px 20px 0px 2px; font-size: 12px; line-height: 1; border: 0; border-radius: 0; height: 24px; -webkit-appearance: none;  -moz-appearance: none; text-indent: 0.01px; text-overflow: '';}
.dbstyled-select select option { padding:5px 0 5px 10px;}
 
.dbstyled-select form:select { background: transparent; width: 160px; padding:2.5px 20px 0px 2px; font-size: 12px; line-height: 1; border: 0; border-radius: 0; height: 24px; -webkit-appearance: none;  -moz-appearance: none; text-indent: 0.01px; text-overflow: '';}

/*My work End*/


/*Layout*/
.wrapper{width:100%;}
.container{width:960px;margin:0 auto;position:relative;}

/*Header*/
.header{background:#fff;height:66px;-webkit-box-shadow: 0px 5px 3px -2px #d4d4d4;box-shadow: 0px 5px 3px -2px #d4d4d4; }
	/*Logo*/
	.logo{float:left;margin-top:15px;}
	/*Menu*/ 
	.mainmenu{float:left;margin:20px 0 0 150px;color:#666;}
	.menu-link {display: none;float: right;text-decoration: none;}
	.menu ul { position: relative;display: inline-table;margin-top:5px;}
	.menu > ul > li {display: inline-block; margin:0px 10px; position:relative;}
	.menu li a{padding:0 0 5px;color:#666;display:block;padding:0 0 5px\9;display: block; border-bottom:4px solid #fff;}
	.menu li a:hover, .menu li a.active{border-bottom:4px solid #e7276b;}
	.notification{border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;background:#e7276b;padding:0px 2px;color:#fff;font-size:11px;margin-left:3px;font-family:'RobotoBold';}
	/*User Details*/
	.userdetails{float:right;width:140px;cursor:pointer;position:relative;min-height:40px;margin:20px 0 0 0;}
	.photo{margin-right:5px;float:left; width:27px!important; height:27px!important;}
	.downarrow{margin:11px 0 0 5px;float:right;}
	.userdetails span{width:90px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;display:block;float:left;margin-top:4px;}
	.usersettings{border-radius:5px;background:#fff;border:1px solid #999;-webkit-box-shadow: 0px 0px 3px 0px #d6d6d6;box-shadow: 0px 0px 3px 0px #d6d6d6;display:none;margin-top:32px;padding:5px 0;position:absolute;z-index:9999;width:140px;right:0; }
	.usersettings li{border-bottom:1px dotted;}
	.usersettings li a{display:block;padding:5px 10px 5px;color:#666;}
	.usersettings li a:hover{background:#666;color:#fff;}
	.usersettings li:last-child{border-bottom:none;}
	.userdetails:hover .usersettings{display:block;}
	
	
/*Slider*/
.viewall{ text-align:right;}
.viewall a{color:#000;text-decoration:underline;}
.sliderul{clear:both;padding-top:10px; overflow:hidden;}
.sliderul li{float:left; height:325px;background:#fff;margin-right:17px;width:225px !important;-webkit-box-shadow: 1px 1px 3px 0 #ccc;box-shadow: 1px 1px 3px 0 #ccc; }
.sliderul li:last-child{margin-right:0px;}	
.bigphoto{position:relative;}
.mutual{position:absolute;top:0;left:0;background:#3a589b;color:#fff;text-transform:uppercase;padding:2px 0 2px 10px;font-size:12px;width:215px;}
.mutual span{text-transform:lowercase;padding-right:10px;margin-right:10px;font-family:'RobotoBold';border-right:1px solid #fff;}
.new{position:absolute;top:0;right:0;background:#e7276b;color:#fff;font-size:12px;padding:2px 4px;font-family:'RobotoBold';text-transform:uppercase;}
.name{position:absolute;bottom:0;left:0;background:#fff;padding:10px 0;filter:alpha(opacity=80);-moz-opacity:0.8;   opacity: 0.8;width:225px; text-align:center}
.name p { display:inline-block; overflow:hidden;}
.name p span{font-family:'RobotoBold';font-weight:bold\9;}

.perosonal-details{margin:10px 0;overflow:hidden;background:#fff;}
.perosonal-details img{float:left;margin-right:15px;}
.persontext{float:left; width:132px;}
.persontext span{font-family:'RobotoBold';font-weight:bold\9;}


/*Likes*/
	.likes_content{background:#fff;border:1px solid #c1c1c1;margin-top:5px;padding:5px 0 5px 5px;width:270px;right:-20px;font-size:13px;position:absolute;z-index:1000;/*display:none;*/}
	.likeclose{position:absolute;right:-10px;top:-15px;cursor:pointer;}
	.likes-top-arrow{background:url(../../images/dashboard/top-arrow.png) no-repeat 0 0;position:absolute;content:"";display:block;width:15px;height:9px;top:-9px;right:25px;}
	.likes_content li{border-bottom:1px solid #e1e1e1;padding:8px 0;}
	.likes_content li.last{border-bottom:none;}
	.likes-pic{display:inline-block;margin-right:5px;}
	.likes-details{display:inline-block;}
	.likes-name{color:#333;font-family: 'robotomedium';}
	.likes-name a { color:#4293F0!important; padding:0!important;}
	.likes-name a:hover {border-bottom:4px solid #fff!important;  padding:0!important;}
	.likes-name span{color:#666;font-family: 'RobotoRegular';}
	.likes-info{font-size:10px;color:#bababa;}
	.likeback-onhover{background:#4293F0;border-bottom:1px solid #407CC0;border-radius:4px;width: 70px;text-align:center;float:right;display:none;}
	.likeback-onhover a{border-radius: 4px;color: #FFFFFF; display: block; padding: 2px 0;font-size:12px;}
	.likeback-onhover a:hover{background:#116AD0;}
	.likes_content li:hover .likeback-onhover{display:block;}
	/* .customscroll{height:200px;overflow:auto;} */
	.likes_dropdown_content {max-height: 250px; overflow: auto;}

/*Credits*/	
.credit_content{background:#fff;border:1px solid #c1c1c1;margin-top:5px;padding:5px 0 5px 5px;width:220px;left:0px;font-size:13px;position:absolute;z-index:999;}
.credit-top-arrow{background:url(../../images/dashboard/top-arrow.png) no-repeat 20px 0;position:absolute;content:"";display:block;width:200px;height:9px;top:-9px;left:0px;}
.credit_content ul { width:215px;}
	.credit_content li{border-bottom:1px solid #e1e1e1;padding:5px 0 5px 10px;}
	.credit_content li.last{border-bottom:none;}
	.credit_content li:hover {display:block;}	
	.credit_dropdown_content {max-height: 250px; overflow-y: auto; overflow-x: hidden;}
	.creditno { color:#E7276B; width:50px; font-size:12px; font-weight:bold;}
	

/*Content*/
.content{overflow:hidden;}	
		/*Right Panel*/
		.rtpanel{float:right;width:375px; padding-right:5px;}
		/*Alerts*/
		.days{font-size:26px;text-transform:uppercase;line-height:1;}
		.days span{font-size:26px; font-family:'RobotoBold';}
		.days sup {font-family:'RobotoBold'; font-size:14px;}
		.daysleft{font-size:15px;margin:5px 0 10px;}
		.renewnow{background:#4293f0;width:120px;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;border-bottom:1px solid #3474bc;}
		.renewnow a{color:#fff;text-transform:uppercase;padding:10px 0;display:block;text-align:center;}
		/*Notification*/
		.rtnotification{margin-top:40px;}
		.ntitle{background:#fff;padding:10px 0 10px 10px;font-family:'RobotoBold';font-size:15px;font-weight:bold\9;}
		.notify{border-bottom:1px solid #666;background:url(../../images/dashboard/right-down-arrow.png) no-repeat right bottom;overflow:hidden;padding:15px 0;width:100%;}
		.icons{float:left;margin-right:15px;width:55px;height:55px;background:url(../../images/dashboard/icons/notification-icons.png) no-repeat;position:relative}
		.time{background-position: 0 0;}
		.thumb{background-position: 0 -68px;}
		.check{background-position: 0 -141px;}
		.message{background-position: 0 -215px;}
		.rtnotification-no{border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;background:#e7276b;padding:1px 2px;color:#fff;font-size:10px;border:1px solid #d9d9d9;position:absolute;top:0px;right:-3px;font-family: 'RobotoBold';}
		
		.notify-content{ overflow:hidden;}
		.details{float:none;line-height:22px;font-family: 'RobotoLight';display:block;}
		.details span a{color:#e62066;}
	/*Left Panel*/
	.leftpanel{float:left;width:545px; /*Old: width:565px;*/}
	.lttitle{background:url(../../images/dashboard/dotted.png) repeat-x left center;margin-bottom:10px;margin-right:10px;}	
	.lttitle span{font-size:14px;background:#e3e3e3;padding-right:8px;font-weight:bold;}
		/*Updates*/
		.updates{width:100%;margin-top:10px;}
		.updates-icon{float:left;background:url(../../images/dashboard/icons/updates-icons.png) no-repeat; width:33px;height:33px;margin:20px 15px 0 0;}
		.pointer{background-position: 0 0;}
		.camera{background-position:0 -47px;}
		.pencil{background-position:0 -92px;}
		.updates-white{ overflow:hidden;padding:0 10px 10px 0;}
		.updates-content{background:#fff; float:none;display:block;padding:10px;box-shadow:1px 1px 3px 0 #ccc;overflow:hidden;}
		.personimg{float:left;margin-right:10px;}
		.updates-details{float:left;font-family: 'RobotoLight';}
		.updates-details span a{color:#e62066;}
		.hours{color:#999;margin-top:10px;text-transform:uppercase;font-family: 'RobotoBold';font-weight:bold\9;}
		.hours img{vertical-align:middle;}
		.photolist li{float:left;margin:10px 5px 0 0;}

/* Banner */
.dbbanner {background:#fff;box-shadow:1px 1px 3px 0 #ccc;-moz-box-shadow:1px 1px 3px 0 #ccc;-webkit-box-shadow:1px 1px 3px 0 #ccc;overflow:hidden; text-align:center; margin:0 10px 10px 3px;}
.dbbanner h3 {color:#fff; font-size:14px; text-align:center; text-transform:uppercase; padding:5px 0; margin:0 0 10px 0; background:#3a589b; font-weight:normal;font-family: 'RobotoRegular';}
.dbbanner p {font-size:12px; color:#3a589b; padding:10px 0; margin:0 auto;}
.dbbanner p i { margin:0 3px;}
.dbbanner a {background:#3a589b; color:#fff; text-transform:uppercase; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; font-size:14px; text-align:center; padding:8px 15px; overflow:hidden; margin:0 0 10px; display:inline-block; }
.dbbanner a i { font-size:18px;}

/*Matches*/
	/*Show Sort By*/
	.showsort{margin-top:30px;}
		/*Show*/
		.show{float:left;}
		.show li{float:left;background:#fff;height:36px;border-radius:5px;margin-right:5px;text-align:center;-webkit-box-shadow: 0px 3px 3px -2px #bcbcbc;box-shadow: 0px 3px 3px -2px #bcbcbc; padding:0 10px; line-height:36px; position:relative;text-transform:uppercase;font-family: 'RobotoRegular';  }
		.show li.showtext{background:none;font-weight:bold\9;font-size:14px;line-height:38px;margin-right:10px;box-shadow:none; font-family:'RobotoBold'; padding:0 0 0 0;}
		.show li:hover.showtext{background:none;color:#000;}
		.show li.all{font-weight:bold\9;font-size:14px;line-height:36px; color:#4293f0;}
		.show li:hover, .show li.active{background:#4293f0;color:#fff;}	
		.show li span{text-indent:-9999px;display:block;background:url(../../images/dashboard/icons/show-icons.png) no-repeat;width:18px;height:18px;display:inline-block;margin-top:10px;}
		.show li span.starshow{background-position:0 0;}
		.show li span.thumbshow{background-position:0 -71px;}
		.show li span.cancelshow{background-position:0 -36px;}
		.show li:hover span.starshow, .show li.active span.starshow{background-position:0 -18px;}
		.show li:hover span.thumbshow, .show li.active span.thumbshow{background-position:0 -91px;}
		.show li:hover span.cancelshow, .show li.active span.cancelshow{background-position:0 -54px;}
		.show li.active:after {content: ' '; height: 0; position: absolute; width: 0; border: 5px solid transparent; border-top-color: #4293f0; top: 100%; left: 50%; margin-left: -5px;}
		
		/*Sort By*/
		.sortby{float:right;}
		.sortby li{float:left;background:#fff;width:40px;height:40px;border-radius:50%;-webkit-border-radius:50%;-moz-border-radius:50%; margin-right:5px;cursor:pointer;text-align:center;-webkit-box-shadow: 0px 3px 3px -2px #bcbcbc;box-shadow: 0px 3px 3px -2px #bcbcbc;font-size:12px;line-height:36px;color:#4293f0;}
		.sortby li:hover, .sortby li.active{background:#4293f0;color:#fff;}	
		.sortby li:last-child{margin-right:0;}
		.sortby li.sorttext{background:none;font-family: 'RobotoBold';font-weight:bold\9;font-size:14px;text-transform:uppercase;line-height:36px;margin-right:10px;box-shadow:none;width:100px;color:#000; text-align:right;}
		.sortby li:hover.sorttext{background:none;color:#000;}
		.sortby li.percent{font-size:20px;}

	/*Filter*/
	.filter{background:#fff;padding:10px;}
	.fliterleft{float:left; background:url(../../images/dashboard/matches/plus.png) no-repeat 5px 5px;padding-left:30px;}
	.fliterleft.active{ background:url(../../images/dashboard/matches/minus.png) no-repeat 5px 7px;}
	
	.search{float:right;position:relative;}
	.search input{background:#fff;border:1px solid #999;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;padding:3px 10px;}
	.searchicon{position:absolute;background:url(../../images/dashboard/matches/search_icon.png) no-repeat; width:21px;height:20px;top:3px;right:5px;}
	.searchnew{/*margin-top:-73px;*/ position:absolute; top:6px; right:0;}
	.searchnew input{background:none;border:none; border-bottom:1px solid #999;padding:3px 10px 3px 0;}
	.smallline{border-left:1px solid #999;width:1px;height:5px;position:absolute;bottom:0;right:32px}

	.filterbox{background:#fff;width:100%;clear:both;padding:20px 0;}
	.filterbox ul{margin-left:20px;}
	.filterbox li{display:inline-block;margin:5px 10px 5px 0;}
	.filterbox li.filtertitle{width:140px;}
	.filterbox .submit{margin:20px 0 20px 173px;}
	.filterbox select{width:120px;background:#EFEFEF; border: 1px solid #CECCCC;color: #666666;padding:3px;}
	.filterbox input[type="submit"]{ background: #4293F0;border:none; border-radius: 3px 3px 3px 3px;width: 120px;color: #FFFFFF;display: inline-block;  padding: 5px 0;  text-align: center;}

/*Matches List*/
.matcheslist li{float:left;height:310px;background:#fff;margin:0 15px 15px 0;width:225px;-webkit-box-shadow: 1px 1px 3px 0 #ccc;box-shadow: 1px 1px 3px 0 #ccc;cursor:pointer; position:relative; }
.actions{bottom: 0; position: absolute; width: 225px; z-index: 999;}
.actions p.first{float:left;border-right:1px solid #fff;margin-top:1px;background:#d9d9d9;padding:5px 15px;color:#4293f0;}
.actions p a{color:#4293f0;display:block;}
.actions p a:hover, .actions p a.active, .actions p.active a{color:#666;}
.actions span{background:url(../../images/dashboard/icons/tile-icon.png) no-repeat;width:13px;height:13px;padding-right:18px;}

.actions span.fav{background-position:0 0;}
/*.actions span.fvdst{background:url(../../images/dashboard/icons/like_inactive_icon.png) no-repeat 0 3px;color:#666;}

*/.actions p:hover span.fav, .actions p.active span.fav{background-position:-17px 0;}
.actions p.clicklike{background:#d9d9d9;  border: 1px solid #FFFFFF; float: left; margin-top: 1px; padding: 5px 0; text-align: center; width: 110px;}
/*.actions span.like{background:url(../../images/dashboard/icons/like_active_icon.png) no-repeat 0 3px;padding:0 0 0 18px;}*/
.actions span.likedst{background:url(../../images/dashboard/icons/like_inactive_icon.png) no-repeat 0 3px;color:#666;}


.actions p.mid{background:#d9d9d9;float:left;padding:5px 15px;margin-top:1px;border-right:1px solid #fff;}
.actions p.mid a{color:#4293f0;}
.actions p.mid a:hover, .actions p.mid a.active, .actions p.mid.active a{color:#666;}
.actions span.like{background-position:0 -16px;}
.actions p:hover span.like, .actions p.active span.like{background-position:-17px -16px;}
.actions p.mid{border-right:1px solid #d9d9d9;}


.actions p.last{background:#d9d9d9;float:left;padding:5px 0;margin-top:1px; width:111px; text-align:center;}
.actions p.last a{color:#4293f0;}
.actions p.last a:hover, .actions p.last a.active, .actions p.last.active a{color:#666;}
.actions span.hide{background-position:0 -36px;}
.actions p:hover span.hide, .actions p.active span.hide{background-position:-17px -36px;}
.actions p.last{border: 1px solid #FFFFFF;}


	/*Flip*/
	.panel {float: left;width: 225px;height:310px;position: relative;-webkit-perspective: 600px;-moz-perspective: 600px;background:#fff; z-index:111;}
	.panel .front {float: none;position: absolute;top: 0;left: 0;z-index:900;width: inherit;height: inherit;-webkit-transform: rotateX(0deg) rotateY(0deg);-webkit-transform-style: preserve-3d;-webkit-backface-visibility: hidden;-moz-transform: rotateX(0deg) rotateY(0deg);-moz-transform-style: preserve-3d;-moz-backface-visibility: hidden;-o-transition: all .4s ease-in-out;-ms-transition: all .4s ease-in-out;-moz-transition: all .4s ease-in-out;-webkit-transition: all .4s ease-in-out;transition: all .4s ease-in-out; background:#fff;}
	.panel.flip .front {z-index: 900;-webkit-transform: rotateY(180deg);-moz-transform: rotateY(180deg);}
	.panel .back {float: none;position: absolute;top: 0;left: 0;z-index: 800;width: inherit;height: inherit;-webkit-transform: rotateY(-180deg);-webkit-transform-style: preserve-3d;-webkit-backface-visibility: hidden;-moz-transform: rotateY(-180deg);-moz-transform-style: preserve-3d;
	-moz-backface-visibility: hidden;-o-transition: all .4s ease-in-out;-ms-transition: all .4s ease-in-out;-moz-transition: all .4s ease-in-out;-webkit-transition: all .4s ease-in-out;transition: all .4s ease-in-out;}
	.panel.flip .back {z-index: 1000;background: #4186d3;-webkit-transform: rotateX(0deg) rotateY(0deg);-moz-transform: rotateX(0deg) rotateY(0deg);}
	
	/*Back*/
	.fliphover{text-align:center;font-family: 'RobotoLight';}
	.fliphover .fliptitle{background:#333;padding:10px 0;color:#fff;font-size:16px;}
	.fliptitle p { display:inline-block; overflow:hidden;}
	.fliptitle p span{font-family:'RobotoBold';font-weight:bold\9;}

	.fliphover span{font-family: 'RobotoBold';font-weight:bold\9;}
	.flippara{margin:10px 5px 0 5px;color:#fff; height:210px;}
	.flippara p{margin-top:5px;}
	.flippara span{font-family: 'RobotoMedium';font-weight:bold\9; font-size:13px;}
	.viewprofile a{padding:10px 20px;background:#fff;text-transform:uppercase;color:#333;border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;font-family: 'RobotoRegular';border-bottom:1px solid #135aaa;}

.loading {background:#4293F0;color:#fff;font-size:20px;padding:5px 10px;text-align:center;width:450px;margin:0px auto;display:none;border-radius: 5px;}


/*Profile*/
.leftpane {float:left; width:720px;}
.rightpane {float:left; width:224px; margin-left:16px;}

	/*Profile Left*/
	.personname{font-size:24px;float:left;}
	.personname span{font-family: 'RobotoBold';font-weight:bold\9;}
	.profile_socialicon{float:right;}
	.profile_socialicon li{width:38px;height:38px;border-radius:8px;background:#4293f0;border-bottom:1px solid #5b86b6;float:left;margin-left:10px;}
	.profile_socialicon li span{background:url(../../images/dashboard/icons/profile-icons.png) no-repeat;width:38px;height:38px;text-indent:-9999px;display:block;}
	.profile_socialicon li .pmessage{background-position:0 0;}
	.profile_socialicon li .pstar{background-position:0 -38px;}
	.profile_socialicon li .pthumb{background-position:0 -76px;}
	.profile_socialicon li .pcancel{background-position:0 -114px;}
	.profile_socialicon li:hover, .profile_socialicon li.active{background:#116ad0;}
	
	.indpersonprofile{margin-top:15px;}
	.indpersonprofile .gallery .image-preview{position:relative;}
	.respond{background:#4293f0;border-radius:6px;position:absolute;top:5px;right:5px;padding:10px;font-size:16px;}
	.respond a{color:#fff;padding:0 10px;}
	.aboutprofiler {background:#fff; padding:10px 20px 20px; position:absolute; bottom:1px;left:0px;opacity:0.6;filter:alpha(opacity=60);}
	.detailshead {font-size:18px;font-family: 'RobotoBold';font-weight:bold\9;margin-bottom:10px; }
	.aboutprofiler p{color:#000;}
	
	.persondetails li{background:#4293f0;padding:10px;margin:0 4px 4px 0;color:#fff;float:left;text-align:center;}
	.width1{width:90px;}
	.width2{width:252px;}
	.width3{width:200px;}
	.width4{width:82px;}
	.width5{width:130px;}
	.width6{width:230px;}
	.width7{width:146px;}
	.width8{width:118px;}

	/*My Family*/
	.bottom_titles{color:#4293f0;margin:10px 0 15px;font-family: 'robotomedium';font-size:15px;line-height:45px;}
	.bottom_titles .imgicon, .bottom_titlesed .imgicon{margin-right:10px;float:left;}
	.bottom_titlesed{color:#4293f0;margin:10px 0 15px;font-family: 'robotomedium';font-size:15px;line-height:35px;}
	.myfamliy_outer{position:relative;min-height:135px;margin-bottom:30px;}
	.divider_bottom{border-bottom:1px solid #4293f0;position:absolute;min-height:115px;z-index:1;top:0;width:90%;left:20px}
	.familydetails{position:absolute;z-index:2;top:0;left:0;}
	.familydetails li{float:left;text-align:center;margin-right:50px;}
	.familydetails li .circle_white{background:#fff;width:100px;height:100px;border-radius:50%;margin-top:10px;color:#4293f0;border-bottom:1px solid #c7c7c7;font-family: 'robotomedium';display: table;text-align:center;}
	.familydetails li .circle_white span {display: table-cell;vertical-align: middle;}
	.familydetails li:last-child{margin-right:0;}
	
	/*Education And Work*/
	.educationwork_details{font-family: 'robotomedium';}
	.educationwork_details li{width:187px;float:left;min-height:140px;margin:0 20px 15px 0;}
	.educationwork_details li.pinktile{background:url(../../images/dashboard/profile/education_pinktile.png) no-repeat top center;}
	.educationwork_details li.yellowtile{background:url(../../images/dashboard/profile/education_yellowtile.png) no-repeat top center;}
	.educationwork_details li .tilename{color:#fff;font-family: 'RobotoRegular';text-align:center;margin-top:5px;}
	.educationwork_details li .edudetails{text-align:right;text-transform:uppercase;margin:60px 18px 0 0;}
	.educationwork_details li .edudetails span{color:#4293f0;text-transform:none;}
	.educationwork_details li:last-child{margin-right:0;}

	/*Profile Right*/
	.lastcon{font-size:13px;margin-bottom:15px;}
	.trustmeter{background:url(../../images/dashboard/profile/dropshadow.png) no-repeat bottom right #fff;width:201px;padding:10px 20px 20px 7px;min-height:110px;}
	.trust_title{font-family: 'RobotoBold';font-weight:bold\9;font-weight:16px;text-transform:uppercase;margin-bottom:10px;}
	.trust_title .imgstyle{margin-right:20px;vertical-align:middle;float:right;}
	.trust_title .iconstyle{margin-right:6px;float:left;}
	.trustmeterlist{padding:5px 6px 5px 4px;}
	.trustmeterlist li{border-bottom:1px solid #f0f0f0;padding:10px 0;}
	
	.trustmeterlist li {font-size:11px;margin:5px 10px 0 0;color:#666;float:left;}
	.trustmeterlist li .tick{float:right;}
	.trustmeterlist li.last{border-bottom:none;}
	.trustmeterlist li.textgray, .trustmeterlist li.textgray {color:#c5c5c5;}
	
	.iconsmall {
    color: #666666;
    float: left;
    font-size: 16px;
	width:20px;
}
	
	.iconinfotb {font-size:11px; color:#999; float:left; margin:-3px 0 0 0; position:relative;}
	
	
	.map{margin-bottom:12px;}
	
	.languages li{text-transform:uppercase;margin-left:10px;}
	
	.mutualcon li{margin:5px 10px 5px 5px;display:inline-block;}
	.rtviewall{text-align:right;font-size:12px;margin:0 10px 20px 0;}
	.rtviewall a{color:#333;text-decoration:underline;}
	.rtviewall a:hover{text-decoration:none;}
	
	.qualities{margin:10px 0;}
	.qualities li{width:180px;margin:3px 0;display:inline-block;line-height:35px;}
	.qualities li span{width:29px;height:29px;background:url(../../images/dashboard/profile/qualities.png) no-repeat top left;padding-right:10px;float:left;}
	.qualities li .nonveg{background-position:0 0;}
	.qualities li .occ{background-position:0 -29px;}
	.qualities li .never{background-position:0 -58px;}
	
	/*Profile Hobbies*/
	.profile-hobbies h2 {font-family: 'RobotoLight'; margin-bottom:5px;}
	.profile-hobbies li{background:#fff;text-align:center;width:240px !important;margin:5px 0 0 0;border-bottom:1px solid #c6c6c6;float:left !important;}
	.profile-topwhite{background:#fff;border-right:1px solid #e4e4e4;padding:30px 0 10px;}
	.profile-hobbytitle{color:#4293f0;font-size:20px;padding:0 0 10px 0;}
	
	.profile-graybg{display: table;width: 169px;height: 170px;padding:0 35px; text-align: center;background:#eee;color: #666;border-right:1px solid #fff;}
	.profile-graybg span {display: table-cell;vertical-align: middle;text-transform:uppercase;font-family: 'RobotoBold';}
	.profile-htitle{text-transform:uppercase;color:#666;font-family: 'RobotoBold';margin:15px 0 5px;}
	.profile-graybg.last{border-right:0px !important;width:170px;}
	
	.profile-selectedicon{width:113px;height:113px;border-radius:50%;-webkit-border-radius:50%;-moz-border-radius:50%;background:url(../../images/dashboard/icons/hobbies-icons.png) no-repeat left center #4293ef;-webkit-box-shadow: inset 0px 3px 3px -2px #3b7dc9;box-shadow: inset 0px 3px 3px -2px #3b7dc9;margin:0 auto;}
	.profile-hobbies .music{background-position:0 center !important;}
	.profile-hobbies .reading{background-position:-113px center !important;}
	.profile-hobbies .eating{background-position:-226px center !important;}
	.profile-hobbies .movies{background-position:-339px center !important;}

	/*Profile Matched Hobbies*/
	.hobbies-matched {display:block; position:relative; margin:80px 0;}
	.hobbies-matched .title {font-size:16px; display:block; text-align:center; width:90%; height:36px; margin:10px 5%; border-top:1px solid #4293f0; border-right:1px solid #4293f0; border-left:1px solid #4293f0; position:relative;}
	.hobbies-matched .title span {position:absolute; top:-15px; left:38.5%; background:url(../../images/dashboard/body-bg.gif) repeat-x left center; padding:2px 10px; }
	
	.your-img {display:inline-block; position:absolute; left:0; top:auto;}
	.matched-img {display:inline-block; position:absolute; right:0; top:auto;}
	
	.matched-list {display:inline-block; text-align:center; width:80%; height:100px; margin:0 9.8%;}
	.matched-list li {display:block; float:left; width:100px; margin:0px 25px; }
	.matched-list li span {display:block; float:left;width:46px;height:46px;margin:0px 25px 10px 25px;background:url(../../images/dashboard/profile/matched-hobbies-icons.png) no-repeat left top;}
	
	.matched-list li .music {background-position:0 0;}
	.matched-list li .food {background-position:-46px 0;}
	.matched-list li .books {background-position:-92px 0;}
	.matched-list li .sports {background-position:-138px 0;}
	.matched-list li .movies {background-position:-184px 0;}

/*Messages*/
	/*Filter*/
	.customcheckbox{float:left;margin-left:30px;color:#666;}
	.customcheckbox label{margin-right:15px;}

	/*Inner Tabs*/
	.innertabs{margin-left:10px;}
	.innertabs li{float:left;margin:0 11px 5px 0;}
	.innertabs li a{
	color:#fff;
	padding:5px 7px;
	background:#4293f0;
	border:1px solid #407cc0;
	border-bottom:none;
	-moz-box-shadow: inset 0px 3px 3px 0px #3b7dc9;
	-webkit-box-shadow: inset 0px 3px 3px 0px #3b7dc9;
	box-shadow: inset 0px 3px 3px 0px #3b7dc9;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	
	}
	.innertabs li a:hover, .innertabs li a.active{color:#333;background:#fff;
	border:1px solid #c5c5c5;border-bottom:none;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	box-shadow:none;}

		/*Recieved Messages*/
	.communicate_mess li{background:#fff;padding:15px 10px 15px 20px;border-bottom:1px solid #d0d0d0;margin-bottom:5px;position:relative;}
	.communicate_mess li.grybg{background:#f1f1f1;border:1px solid #fff;color:#5f5f5f;}
	
	.icontoleft{width:23px;height:23px;background:#e7276b;position:absolute;left:-5px;top:6px;color:#fff;}
	.icontoleft:after{background:url(../../images/dashboard/messages/pink-coner.png) no-repeat bottom left;content:"";display:block;position:absolute;height:3px;width:5px;bottom:-3px}
	.csmallicons{background:url(../../images/dashboard/icons/communication_message.png) no-repeat top center; width:13px;height:13px;text-indent:-9999px;display:block;margin:6px 0 0 5px;}
	.cmessage{background-position:0 0;}
	.cthumb{background-position:0 -14px;}
	
	.communicate_pic{display:inline-block; margin-right:12px;}
	.communicate_details{display:inline-block;width:87%;vertical-align:top;position:relative;}
	.commname{font-size:18px; float:left; padding-right:5px;}
	.comm_message{font-size:13px;margin-right:40px;}
	.comm_message a {-webkit-border-radius: 3px; -moz-border-radius: 3px;	border-radius: 3px;	background-color: #4293f0;	-webkit-box-shadow: 1px 1px 1px #8d0032; -moz-box-shadow: 1px 1px 1px #8d0032; box-shadow: 1px 1px 0 #777; color:#fff; padding:5px 10px;}
	.comm_message a:hover {background-color:#116ad0;}
	.mess_time{font-size:13px; float:right;}
	.mess_time1{font-size:13px; position:absolute; right:10px; top:10px;}
	.leftarrow{position:absolute;bottom:17px;right:10px;text-indent:-9999px; z-index:999;}
	.leftarrow a { cursor:pointer;width:28px;height:28px;}
	.leftarrow a img{width:28px;height:28px;display:block;}
	.showmessage{text-align:left;background:#eee;border:1px solid #c9c9c9;color:#4293f0;border-radius:12px;padding:5px 15px;margin:10px 20px 0 0;cursor:pointer;}
	.messageshowed{background:#ddd;color:#666;border:1px solid #b0b0b0;border-radius:12px;padding:5px 15px;margin:10px 19px 0 0;overflow:hidden; cursor:pointer;}
	.likeback, .reply{float:right;margin:10px 35px 0 0;background:#4293f0;border-bottom:1px solid #407cc0;border-radius:4px;text-align:center}
	.likeback a, .reply a{color:#fff;padding:4px 10px;text-align:center;width:70px;display:block;border-radius:4px;}
	.reply{margin:10px 0 0 0;}
	.likeback a:hover, .reply a:hover {background:#116AD0;}
	.replied{float:right;margin:10px 0 0 0;background:#838383;border-bottom:1px solid #747474;border-radius:4px;text-align:center}
	.replied a{color:#fff;padding:4px 10px;text-align:center;width:70px;display:block;border-radius:4px;}
	.liked{background:#838383;border-bottom:1px solid #747474;}
	
	/*Messages Expaneded*/
	.pagetitle img{vertical-align:top;}
	.individualmessages{margin-bottom:250px;}
	.comtitle{ border-top: 1px solid #b0b0b0; display: block;  height: 15px;  margin: 10px 0 0 0; position: relative; text-align: center; width: 100%;color:#9b9a9a;font-size:13px;	}
	.comtitle span{background: url("../../images/dashboard/body-bg.gif") repeat-x scroll left center;
    left: 48%; padding: 4px 10px;  position: absolute; top: -15px;}
	.messages-content{width:100%;margin-bottom:8px;}
	.messager-img{float:left;margin-top:4px;}
	.messager-img img{border:3px solid #fff;}
	.message-text{overflow:hidden;padding:0 0 10px 0;}
	.messageinner{display: block;  float: none; padding:0 15px;position:relative;}
	.messagermessages{ border:1px solid #267ad9;color:#fff;font-size:14px;padding:5px 10px 30px;width:80%;
	background: #9ac3f3;
	line-height:20px;
	background: -moz-linear-gradient(top,  #abcaef 0%, #69aaee 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#abcaef), color-stop(100%,#69aaee)); 
	background: -webkit-linear-gradient(top,  #abcaef 0%,#69aaee 100%); 
	background: -o-linear-gradient(top,  #abcaef 0%,#69aaee 100%); 
	background: -ms-linear-gradient(top,  #abcaef 0%,#69aaee 100%); 
	background: linear-gradient(to bottom,  #abcaef 0%,#69aaee 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#abcaef', endColorstr='#69aaee',GradientType=0 ); 
	-webkit-box-shadow: 0 1px 2px 0 #005ccc; -moz-box-shadow: 0 1px 2px 0 #005ccc;
	box-shadow:  0 1px 2px 0 #005ccc;position:relative;
	text-shadow:1px 1px #3482d4;border-radius:12px; -moz-border-radius:12px; -webkit-border-radius:12px;border-radius:0\9; overflow:hidden;
	}
	.messagermessagesbefore{background:url(../../images/dashboard/messages/bule-arrow.png) no-repeat top left;position:absolute;content:"";display:block;width:11px;height:12px;top:25px;left:5px;z-index:9;}
	.message-time{ position:absolute; right:10px; bottom:6px; font-size:11px; width:145px;}
	.message-time1{ position:absolute; right:10px; bottom:20px; font-size:11px;  width:160px;}
	.seenicon{position:absolute; right:100px; bottom:6px;font-family: 'robotoitalic';width:50px; color:#eee; font-size:13px;}
	.seenicon1{position:absolute; right:115px; bottom:20px;font-family: 'robotoitalic';width:50px; color:#eee; font-size:13px;}

	.messager-img-gray{float:right;margin:4px 0 0 0;}
	.messager-img-gray img{border:3px solid #fff;}
	.messagermessages-gray{ border:1px solid #bdbdbd;color:#666;font-size:14px;padding:5px 10px 30px;width:80%;float:right;
	background: #f7f7f7;
	text-shadow:1px 1px #fff;
	line-height:20px;
	background: -moz-linear-gradient(top,  #fff 0%, #eee 48%, #ddd 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(48%,#eee), color-stop(100%,#ddd)); 
	background: -webkit-linear-gradient(top,  #fff 0%,#eee 48%,#ddd 100%); 
	background: -o-linear-gradient(top,  #fff 0%,#eee 48%,#ddd 100%); 
	background: -ms-linear-gradient(top,  #fff 0%,#eee 48%,#ddd 100%); 
	background: linear-gradient(to bottom,  #fff 0%,#eee 48%,#ddd 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#ddd',GradientType=0 ); 
	-webkit-box-shadow: 0 1px 2px 0 #ccc; -moz-box-shadow: 0 1px 2px 0 #ccc;
	box-shadow: 0 1px 2px 0 #ccc;position:relative;border-radius:12px; -moz-border-radius:12px; -webkit-border-radius:12px;border-radius:0\9; overflow:hidden;}
	.message-time-gray{color:#999; font-size:11px; position:absolute; right:10px; bottom:6px;  width:145px;}
	.messagermessages-graybefore{background:url(../../images/dashboard/messages/gray-arrow.png) no-repeat top right;position:absolute;content:"";display:block;width:11px;height:13px;top:25px;right:5px;z-index:9;}
	.seenicon-gray{position:absolute;right:10px;bottom:6px;font-family: 'robotoitalic';color:#fff; font-size:13px;}
	.seenicon-gray i{font-size:14px;color:#fff;}
	.seenicon-gray span{font-family: 'RobotoRegular';color:#af0a0a;}
	
		.repabu-gray{position:absolute;left:10px;bottom:6px;font-family: 'robotoitalic';color:#9c9c9c;}
		.repabu-gray a {color:#4695f0;}
	
	.sent-message-bottom{background:url(../../images/dashboard/body-bg.gif);padding:15px 0;position:fixed;bottom:0;left:0;width:100%;z-index:999; border-top:1px solid #ddd;}
	.senttextareabefore{background:url(../../images/dashboard/top-arrow.png) no-repeat top left;position:absolute;content:"";display:block;width:15px;height:9px;top:-8px;left:35px;z-index:999;}
	.senttextarea{border-radius:12px; -moz-border-radius:12px; -webkit-border-radius:12px; background:#fff;border:1px solid #b0b0b0;width:80%;display:inline-block;vertical-align:middle;min-height:40px;color:#333;padding:10px;font-size:13px; resize:none;}
	.messagesend{display:inline-block;vertical-align:middle;background:#4293f0;padding:10px 0;border:none;border-bottom:1px solid #3977bd;border-radius:5px;color:#fff;width:140px;text-align:center;margin-left:20px; cursor:pointer;}
	.messagesend:hover {background:#0270ee;}
	
	.dmessagesend{display:inline-block;vertical-align:middle;background:#ccc;padding:10px 0;border:none;border-bottom:1px solid #999;border-radius:5px;color:#fff;width:140px;text-align:center;margin-left:20px; cursor:pointer;}

	
.loadmoremsg {  background: #ccc; border: 1px solid #e9e9e9; padding:7px 0 7px 0; margin:0 0 15px 0; clear:both;}
.loadmoremsg a{color:#fff; text-shadow: 1px 1px #999; font-size:15px;}
.loadmoremsg a:hover {color:#fff;}
.loadmoremsg span { color:#999;}
	
	.sent-message-bottom ul{margin:-5px 0 0 0;overflow:hidden; float:right; }
	.sent-message-bottom li{font-size:12px;width:150px; text-align:center;}
	.sent-message-bottom li a { color:#888;}
	
/*Partner Perferences*/
.partnersection{
	/**Done by snehil for edit partnerprefernce
	background:#fff;
	*/
	clear:both;min-height:400px;}
.partnerinner{padding:30px 70px; font-family: 'robotomedium';}
.partnerinner td{border-bottom:1px solid #ddd;padding:15px 0 15px 6px;}
.partnerinner .td1{width:30%;vertical-align:middle;}
.partnerinner .td2{color:#666;font-family: 'RobotoRegular';}
.partnerinner .td3{width:20%;text-align:right;color:#4293f0;font-size:13px;}
.partnerinner td a{color:#4293f0;}
.partnerinner td a:hover{color:#333;}
.partnerinner td.last{border-bottom:none;}

.customerradio li{margin:0 6px 0;display:inline-block;font-size:13px;text-align:center;width:100px;height:32px;}
.customerradio li input[type="radio"]{margin-top:0;}

/*Back and Continue*/
.backleft{float:left;width:149px;height:46px;background:url(../../images/register/buttons.png) no-repeat left top;margin-bottom:20px;text-align:center;cursor:pointer;-webkit-border-top-right-radius: 4px;
-webkit-border-bottom-right-radius: 4px;
-moz-border-radius-topright: 4px;
-moz-border-radius-bottomright: 4px;
border-top-right-radius: 4px;
border-bottom-right-radius: 4px;}
.backleft a{color:#fff;font-size:18px;display:block;padding:9px 0 13px 20px}
.backleft:hover{background-position: 0 -47px;}

.continuert{float:right;width:149px;height:46px;background:url(../../images/register/buttons.png) no-repeat right -94px;margin-bottom:20px;text-align:center;cursor:pointer;-webkit-border-top-left-radius: 4px;
-webkit-border-bottom-left-radius: 4px;
-moz-border-radius-topleft: 4px;
-moz-border-radius-bottomleft: 4px;
border-top-left-radius: 4px;
border-bottom-left-radius: 4px;}
.continuert a{color:#fff;font-size:18px;display:block;padding:9px 15px 13px 0;}
.continuert:hover{background-position: right -141px;}	

/*Notification*/
.clicklikeback.ui-notify { width:380px; position:fixed; top:50%; left:40%;}
.clicklikeback .ui-notify-message { padding:20px; margin-bottom:15px; -moz-border-radius:8px; -webkit-border-radius:8px; border-radius:8px }
.clicklikeback .ui-notify-message p { margin:3px 0; padding:0; line-height:18px }
.clicklikeback .ui-notify-message:last-child { margin-bottom:0 }
.clicklikeback .ui-notify-message-style { background:#4d4d4d; }
.clicklikeback .ui-notify-message-style p { color:#fff;text-align:center;}


.favorited.ui-notify { width:200px; position:relative;top:290px; left:13px;z-index:9999999;background:none;}
.favorited .ui-notify-message { padding:10px; margin-bottom:15px; -moz-border-radius:8px; -webkit-border-radius:8px; border-radius:8px;-webkit-box-shadow: 0px 5px 3px -2px #d4d4d4;box-shadow: 0px 5px 3px -2px #d4d4d4; }
.favorited .ui-notify-message p { margin:3px 0; padding:0; line-height:18px }
.favorited .ui-notify-message:last-child { margin-bottom:0 }
.favorited .ui-notify-message-style { background:#E7276B; }
.favorited .ui-notify-message-style p { color:#fff;text-align:center;}


.likedliked.ui-notify {left: 13px; position: absolute; top: -60px; width: 200px; background:none;}
.likedliked .ui-notify-message { padding:10px; margin-bottom:15px; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;-webkit-box-shadow: 0px 5px 3px -2px #d4d4d4;box-shadow: 0px 5px 3px -2px #d4d4d4; }
.likedliked .ui-notify-message p { margin:3px 0; padding:0; line-height:18px }
.likedliked .ui-notify-message:last-child { margin-bottom:0 }
.likedliked .ui-notify-message-style { background:#E7276B; color:#fff !important;text-align:center;}
.likedliked .ui-notify-message-style p { color:#fff !important;text-align:center;}


.favorited.ui-notify { width:200px; position:absolute; top:290px; left:13px; z-index:9999999;background:none;}
.favorited .ui-notify-message { padding:10px; margin-bottom:15px; -moz-border-radius:8px; -webkit-border-radius:8px; border-radius:8px;-webkit-box-shadow: 0px 5px 3px -2px #d4d4d4;box-shadow: 0px 5px 3px -2px #d4d4d4; }
.favorited .ui-notify-message p { margin:3px 0; padding:0; line-height:18px }
.favorited .ui-notify-message:last-child { margin-bottom:0 }
.favorited .ui-notify-message-style { background:#E7276B; }
.favorited .ui-notify-message-style p { color:#fff;text-align:center;}

.hd.ui-notify { left: 13px; position: absolute; top: -60px; width: 200px; background:none;}
.hd .ui-notify-message { padding:10px; margin-bottom:15px; -moz-border-radius:8px; -webkit-border-radius:8px; border-radius:8px;-webkit-box-shadow: 0px 5px 3px -2px #d4d4d4;box-shadow: 0px 5px 3px -2px #d4d4d4; }
.hd .ui-notify-message p { margin:3px 0; padding:0; line-height:18px }
.hd .ui-notify-message:last-child { margin-bottom:0 }
.hd .ui-notify-message-style { background:#E7276B; }
.hd .ui-notify-message-style p { color:#fff;text-align:center;}

/*Modal Pop Up*/
#messagereply {display:none;}

/* Overlay */
#simplemodal-overlay {background-color:#000;}

/* Container */
#simplemodal-container {height:300px; width:490px;}
#simplemodal-container .messagereplycontent{background:#f0f0f0;padding:10px 20px;overflow:hidden;}
#simplemodal-container .messagereplycontent p{font-size:18px;margin-bottom:10px;}
#simplemodal-container .messagereplycontent textarea{width:100%;height:200px;border-radius:10px;border:1px solid #a8a8a8;resize:none;padding:10px;}
.btnactions{float:right;margin-top:10px;}
.send, .cancelpop{background:#4293f0;color:#fff;border-radius:4px;border-bottom:1px solid #407cc0;text-transform:uppercase;font-size:13px;padding:5px 20px;margin-right:10px;}
.cancelpop{background:#5b5b5b;border-bottom:1px solid #454545;margin-right:0;}
		
/*Footer*/	
.footer{background:#4b4b4b;color:#ddd;margin-top:20px; width: 100%; position:relative; bottom:0px;}	
.footercontent{position:relative;font-size:13px;padding:15px 0;}
.copyfootermenu{margin-top:10px;float:left;}
.copyright{width:150px; float:left;}
.footernav{text-align:center;float:left;margin-left:80px;}
.footernav a{padding:0 20px 0 0;color:#ddd;}
.socialicons{float:right;}
.socialicons ul li{float:left;margin-right:5px;}
.socialicons ul li a{color:#4b4b4b;}
.join{margin-top:8px;}
.fbicon{background:#CCC;width:30px;text-align:center;padding:4px 0 3px;font-size:20px;}
.socialicons ul li:lst-child{margin-right:0;}
.fbicon:hover{background:#4293f0;}


/*Media Queries*/

@media screen and (max-width:800px){
.container{width:740px;margin:0 auto;}
/* Index Page*/
.mainmenu{float:left;margin:20px 0 0 100px;}
.userdetails{width:30px;}
.userdetails span, .downarrow{display:none;}
.slider { width:700px; margin:10px auto 0;}
.leftpanel{float:none;width:100%;margin:40px 0px 0 0;}
.rtpanel{float:none;width:100%; padding-right:0;}

.relexptxt { width:70%; }
/* Dashboard */
.dbtrustdetails {background-position:96.6% 0%;}

/*Matches*/
.matcheslist{margin-left:15px;}
.matcheslist li{margin:0 15px 15px 0;}


/*Profile*/
.leftpane {width: 500px;/*margin-top:80px;*/}
/*.rightpane {margin-top:80px;}*/
.profilemainslider .bx-wrapper .bx-prev {left: -20px;top:41% !important;}
.profilemainslider .bx-wrapper .bx-next {right: 20px;/*top:4% !important;*/}
.aboutprofiler {padding: 5px 10px 5px;}

.width2{width:192px;}
.width3{width:146px;}
.width6{width:216px;}

.myfamliy_outer{min-height:115px;margin-bottom:10px;}
.divider_bottom{min-height:90px;width:85%;}
.familydetails li{margin-right:20px;}
.familydetails li .circle_white{width:70px;height:70px;font-size:13px;}

/*Profile Matched Hobbies*/
.hobbies-matched .title span {left: 32%;}
.matched-list {margin-left: 12%; margin-right: 12%; width:75%;}
.matched-list li {width:80px; margin:0px 15px; }

/*Messages*/
.communicate_details{width:70%;}
.ui-notify {left:30%; }
.messageshowed, .showmessage { margin-right: 25px;}
.messageshowed{padding:5px 10px;}
.likeback {margin-right:20px;}
.clicklikeback.ui-notify { left:28%;}

/*Footer*/
.copyfootermenu{margin-top:0;float:left;}
.copyright{width:100%; float:none !important; padding-bottom:10px;}
.footernav{text-align:left; float:none !important; padding-bottom:10px;margin-left:0;}
.senttextarea { width:74%;}
.messagermessages, .messagermessages-gray {width: 86%;}
.sndmpopupframe { width:80%;}
}

@media screen and (max-width:640px){
.container{width:92%;margin:0 4%;}
/* Index Page*/
.relexptxt { width:70%;}
/*Menu*/
.mainmenu{float:none;margin:20px 0 0 0;position:relative}
a.menu-link {display: block;}
.menu {overflow: hidden;max-height: 0;	background:#fff;width:100%;	position:absolute;z-index:99999;top:40px;}
.menu.active{max-height: 55em;}
.menu ul {display: inline;}
.menu li, .menu > ul > li {display: block;float:none;border-bottom:1px dotted;	}
.menu li a {display: block;	position: relative;padding:10px 0;border-bottom:4px solid #fff;border-top:4px solid #fff;}
.menu li:last-child{border-bottom:none;}
.notification{float:right;}

.userdetails{top:-19px;right:5px;}

.viewall{float:right;clear:both;}
.slider { width:540px; margin:10px auto 0;}

.rtpanel { position:relative; min-height:230px;}
.alert { position:absolute; bottom:10px; z-index:2}
.rtnotification{margin-top:0;}
.notifylist{width:100%;text-align:center;}
.notify-content { display:none;}
.ntitle { display:none;}
.notify{border-bottom:none;background:none;overflow:hidden;padding:15px 0;width:70px; display:inline-block;}

/* Dashboard */
.dbtrustdetails {background-position:95.4% 0%;}

/*Matches*/
.matcheslist li{margin:0 15px 15px 0;}

.likedliked.ui-notify {top:-171px;left:180px;}

/*Profile*/
.leftpane, .rightpane{width:100%;}
.rightpane{margin-left:0;}
.profile_socialicon{float:left;width:100%;}
.profile_socialicon li{margin-left:0;margin-right:10px;}

.elastislide-horizontal ul li{margin-right:25px !important;}

.trustmeter {width:96%;}
.width2{width:220px;}
.width3{width:191px;}
.width4{width:110px;}
.width5{width:175px;}
.profilemainslider .bx-wrapper .bx-prev {left: -20px;top:12% !important;}
.profilemainslider .bx-wrapper .bx-next {right: 20px;top:12% !important;}

.myfamliy_outer{min-height:130px;margin-bottom:20px;}
.divider_bottom{min-height:115px;width:85%;}
.familydetails li{margin-right:23px;}
.familydetails li .circle_white{width:96px;height:96px;}

.lastcon{position:absolute;top:50px;right:0px;}

/*Profile Matched Hobbies*/
.hobbies-matched {height:100%;}
.hobbies-matched .title span {left: 28%;}
.matched-list {margin-left: 14.5%; margin-right: 14.5%; width:70%;}
.matched-list li {width:90px; margin:0px 15px 30px 15px; float:none; display:inline-block;}

/*Messages*/
.communicate_details{width:80%; margin:20px 0 0 0;}
.clicklikeback.ui-notify { left:20%;}

/*Footer*/
.footernav a{padding:0 10px 0 0;}

.dbnmatch ul li { margin:0 14px 20px 0;}
.senttextarea { width:96%;}
.messagermessages, .messagermessages-gray {width: 98%;}
.sent-message-bottom ul{margin:5px 0 0 0; text-align:center; float:none;}
.sent-message-bottom li{margin-right:0px; text-align:center; width:100%;}
.messagesend{padding:10px 0;border:none;border-bottom:1px solid #3977bd;border-radius:5px;color:#fff;width:100%;text-align:center;margin:10px 0 0 0; cursor:pointer;}
.sndmpopupframe { width:90%; font-size:12px; padding:4%; margin:0 auto;}
.sndmpopupframe h4 {font-size:14px;}

}

@media screen and (max-width:480px){
.slider { width:380px; margin:10px auto 0;}

.updates-details{width:78%;}

.relexptxt { width:65%; font-size:12px;}

/*Matches*/
.show {width:330px;}
.sortby, .sortby li.sorttext{width:135px;}
.show li.showtext, .sortby li.sorttext{text-align:left;}

.search input{width:160px;}

.matcheslist{width:100%;text-align:center;margin-left:0;}
.matcheslist li{margin:0 15px 15px 0;float:none;display:inline-block;}
.mutual, .name, .persontext{text-align:left;}

.filterbox li.filtertitle{width:100%;}
.filterbox .submit{margin:20px 0 20px 20px;}

.likedliked.ui-notify {top:-211px;left:30px;}

.loading {width:100%;font-size:14px;padding:10px 0;}

/*Profile*/
.elastislide-horizontal ul li{margin-right:8px !important;}

.aboutprofiler p {overflow:hidden;width:405px; text-overflow: ellipsis;    white-space: nowrap;}

.width1{width:62px;}
.width2{width:172px;}
.width3{width:120px;}
.width4{width:80px;}
.width5{width:124px;}
.width6{width:150px;}

.myfamliy_outer{min-height:115px;margin-bottom:10px;}
.divider_bottom{min-height:90px;width:85%;}
.familydetails li{margin-right:10px;font-size:12px;}
.familydetails li .circle_white{background:#fff;width:76px;height:76px;font-size:11px;}

.qualities li{width:225px;}

/*Profile Matched Hobbies*/
.hobbies-matched .title span {left:15%;}

/*Messages*/
.searchnew{top:50px;}
.communicate_details{width:80%;}
.messageshowed{margin-right:26px;padding:5px 5px 10px;}
.likeback{margin-right:10px;}
.clicklikeback.ui-notify { left:10%;}
#simplemodal-container {width:420px;}

/* Dashboard */
.dbtrustdetails {background-position:92.4% 0%;}
.dbtrustdetails .td1 {font-size: 12px; width: 100px;}
.dbfreecrdittxt { font-size:10px;}

/*Footer*/
.socialicons{float:none;}


.dbnmatch ul li { margin:0 14px 20px 0;}

.hovrtitle { left: -63px;}
.hovrtitle:after {left: 60px;} 

.messagermessages, .messagermessages-gray {width: 97%;}

.showhide { clear:both; display:block; margin-top:20px;}
.sndmpopupframe {height:420px; overflow:auto;}
.sndmpopupframe p {padding:5px 0 15px 0;}

}

@media screen and (max-width:320px){
.slider { width:235px; margin:10px auto 0;}
.sliderul li{margin-bottom:13px;}

.notify{width:65px;}

.updates-details{width:78%;}

.personimg img{width:32px;height:32px;}
.photolist img{width:32px;height:32px;}


.relexptxt { width:50%; font-size:11px; margin-top:5px;}
/*Matches*/

.show li.showtext, .sortby li.sorttext, .show{width:auto; font-size:12px;}
.show li { padding:0 7px;}
.show li.all { font-size:12px;}
.sortby{float:left;margin-top:20px;width:auto;}
.matcheslist{margin-left:0;}

.filterbox ul{margin-left:10px;}
.filterbox .submit{margin:20px 0 20px 10px;}
.filterbox select{width:112px;}

.likedliked.ui-notify {top:-231px;left:20px;}

/*Profile*/
.profile_socialicon li { margin-right: 5px;}
.lastcon{top:95px;left:0;}
.indpersonprofile{margin-top:50px;}
.aboutprofiler{display:none;}

.profilemainslider .bx-wrapper .bx-prev {left: -20px;top:9% !important;}
.profilemainslider .bx-wrapper .bx-next {right: 20px;top:9% !important;}

.width2{width:169px;}
.width3{width:150px;}
.width4{width:80px;}
.width5{width:102px;}
.width6{width:128px;}
.width7{width:130px;}
.width8{width:100px;}

.myfamliy_outer{min-height:690px;margin:0 auto;}
.divider_bottom{display:none;}
.familydetails li{margin:0 0 20px 0;font-size:13px;float:none;display:inline-block;width:300px;}
.familydetails li .circle_white{background:#fff;width:80px;height:80px;font-size:12px;margin:10px auto;}
.familydetails li .circle_white:after{border-right: 1px solid #4293F0; content: ""; display: block;  height: 108px;  left: 50%; position: absolute;   z-index: -1;}
.familydetails li .circle_white.lst:after{border-right:none;}

.mutualcon li{margin: 5px 9px 5px 5px;}

/*Profile Hobbies*/
.profile-hobbies h2 {font-size:18px;font-family: 'RobotoRegular';}
.profile-hobbies li { display:block !important; width:278px !important;}
.profile-graybg {width:207px;}

/*Profile Matched Hobbies*/
.hobbies-matched .title { height:26px; font-size:14px; width:80%; margin-left:10%; margin-right:10%;}
.hobbies-matched .title span {left:4%;}
.your-img,.matched-img {max-width:25%;}

/*Messages*/
.searchnew input{width:130px;font-size:12px;}
.innertabs {margin-left:0;}
.innertabs li{margin-right:4px;}
.innertabs li a {padding: 5px 10px;}
.communicate_pic img{width:50px;height:50px;}
.communicate_details{width:100%;}
.mess_time {float:left; clear:both;}
.comm_message{margin-top:10px;}
.leftarrow { bottom: none; top:10px;}
.messageshowed{margin-right:5px;padding:5px 5px 10px; margin-top:10px;}
.likeback{margin-right:10px;}
.clicklikeback.ui-notify { left:4%;width:280px;}
#simplemodal-container {width:280px;}
.messageshowed, .showmessage {margin-right: 5px;}

/* Dashboard */
.dbtrustdetails {background-position:90.4% 0%;}
.dbtrustdetails .td1 {font-size: 12px; width: 100px;}
.dbfreecrdittxt { font-size:10px;}


/*Footer*/
.socialicons{float:none;}


.dbnmatch ul li { margin:0 14px 20px 0;}

.hovrtitle { left: -123px;}
.hovrtitle:after {left: 120px;} 
.verifyinfobox {font-size: 11.5px;}
.messagermessages, .messagermessages-gray {width: 96%;}
.senttextarea { width:92%;}

.container{width:100%;margin:0;}
.left-you, .rt-her { padding:0!important; width:100%!important;}

}
