.leftpanel{float:left;width:565px;margin-right:40px;}
.rtpanel{float:right;width:355px;}
@media screen and (min-width:768px) and (max-width: 959px){
	body{background:#fff;}
	.container{width:96%;margin:0 2%;}
	.mainmenu{margin:20px 0 0 10px;}
	
	.bx-wrapper .bx-prev {left: 0px !important;}
	.bx-wrapper .bx-next {right:0px !important;}
	
	.leftpanel{width:480px;}
	
}

@media(max-width:1023px) {
	.container{width:96%;margin:0 2%;}
	.mainmenu{margin:0;position:relative;float:none;}
	.menutoggle{display:none;}
	.menubutton{background:url(../../images/dashboard/menu-icon.png) no-repeat;width:40px;height:29px;position:absolute;top:20px;right:0;z-index:99}
	.menu{position:absolute;top:59px;left:0;background:#fff;width:100%;z-index:99999;}
	.menu li{float:none;border-bottom:1px dotted;}
	.menu li a{padding:10px 0;border-bottom:4px solid #fff;border-top:4px solid #fff;}
	.menu li:last-child{border-bottom:none;}
	.notification{float:right;}

	.userdetails{width:30px;margin-top:21px;right:45px;}
	.userdetails span, .downarrow{display:none}
	.usersettings{right:0;}
	
	.bx-wrapper .bx-prev {left: 0px !important;}
	.bx-wrapper .bx-next {right:0px !important;}
	
	.rtpanel, .leftpanel{width:100%;}
	.leftpanel{margin-top:30px;}
	
	
	.footer{overflow:hidden;}
	.footercontent{padding:50px 0 0;}
	.footernav{position:inherit;text-align:left;}
	.socialicons{position:inherit;}
}

@media screen and (min-width:801px) and (max-width: 1024px){
	body{background:#66C;}
}

  
@media screen and (min-width: 641px) and (max-width: 800px) {
	body{background:#000;}

}
	  
@media screen and (min-width: 481px) and (max-width: 640px) {
	body{background:yellow;}
}
	  
@media screen and (min-width: 321px) and (max-width: 480px){
	body{background:green;}
	
	.rtpanel{position:relative;}
	.alert{position:absolute;top:90px;}
	.rtnotification{position:absolute;top:-40px;width:100%;text-align:center;}
	.notifylist li{display:inline-block;}
	
	.notifylist{display:block;}
	.ntitle{display:none;}
	.notify{display:none;}
	
	.leftpanel{position:relative;top:220px}
	
	.personimg img{width:32px;height:32px;}
	.photolist img{width:32px;height:32px;}
	
	.footernav a{padding:0 5px 0 0;}
}	  

@media screen and (max-width: 320px) {
	body{background:red;}
	.sliderul{width:80%;margin-left:10%;}
	.sliderul li{margin-bottom:10px;}
	
	.rtpanel{position:relative; float:none !important}
	.alert{position:absolute;top:90px;}
	.rtnotification{position:absolute;top:-40px;width:100%;text-align:center;}
	.notifylist li{display:inline-block;}
	.icons{margin-right:5px;}
	.notifylist{display:block;}
	.ntitle{display:none;}
	.notify{display:none;}
	
	.leftpanel{position:relative;top:220px}
	
	.personimg img{width:32px;height:32px;}
	.updates-details{width:165px}
	.photolist img{width:32px;height:32px;}
	
	.footernav a{padding:0 5px 0 0;}
}