
body{font-family:Helvetica, Arial;  font-size:13px; color:#333;background:url(../../images/dashboard/body-bg.gif); margin:0; padding:0;}
a { cursor:pointer; color:#0370ed; text-decoration:none;}
a:hover { color:#4293F0;}

.mrg {margin:0 auto;}
.pad {padding:0;}
.fr  {float:right;}
.fl {float:left;}
.fb { font-weight:bold;}
.ovrf {overflow:hidden;}
.clb {clear:both;}
.talc { text-align:center;}
.wth40 { width:40%;}
.wth50 { width:50%;}
.wth60 { width:60%;}
.wth75 { width:75%;}
.wth100 { width:100%;}

.mt5 { margin-top:5px;}
.mr10 { margin-right:10px;}
.pad5 { padding:5px;}
.mt20 { margin-top:20px;}
.mb20 { margin-bottom:20px;}
.ml20 { margin-left:20px;}
.fs11 { font-size:11px;}
.fs12 { font-size:12px;}
.fs13 { font-size:13px;}
.fs14 { font-size:14px;}
.fs16 { font-size:16px;}
.fs18 { font-size:18px;}
.bdrl { border-left:1px solid #ccc;}
.bdrr { border-right:1px solid #ccc;}

.err { color:#FF0000; font-size:12px;}

.container { width:100%; margin:0 auto; clear:both;}
.insideframe { border:1px solid #999; border-radius:5px; box-shadow:2px 2px 6px 0 #999; margin:0 0 20px 0; overflow:hidden; padding:20px; background:#fff; clear:both;}
.insideframe h2 { font-size:16px; margin:0 auto; padding:0;}
.insideframe h3 { font-size:14px; margin:0 auto; padding:5px; font-weight:bold; text-align:left;}
.insideframe ul { padding:0;}
.insideframe ul li { list-style:none; padding:10px; margin:0;}

.admintabs { width:100%; margin:0 auto; padding:20px 0 30px;}
.admintabs a{ background:#fff; color:#0370ed; font-size:14px; padding:10px; margin:0 5px; border-radius:5px; position:relative;}
.admintabs a:hover { background:#0370ed; color:#fff;}
.tabactive {background:#0370ed!important; color:#fff!important;}
.tabactive:after {content: ' '; height: 0; position: absolute; 	width: 0; border: 5px solid transparent; border-top-color: #0370ed; top: 100%; left: 50%; margin-left: -5px;}

.btnact{ background:#0370ed; color:#fff; font-size:12px; padding:5px; border-radius:5px; position:relative;}
.btnact:hover { color:#deedff;}

.pagin { float:right; clear:both; margin:10px 0; width:100%;}
.pagin ul { margin:10px 0 0 0; padding:0; float:right;}
.pagin ul li { list-style:none; text-align:center; float:left; margin:0 5px 0 0;}
.pagin ul li a { font-size:12px; color:#fff; padding:2px 5px; border-radius:3px; border:1px solid #0370ed; background:#4293F0; }

.difusescreen {background: none repeat scroll 0 0 #000000; height: 100%; left: 0; opacity: 0.7; overflow: hidden; position: fixed; top: 0; width: 100%; z-index: 1000; margin:0 auto; }

.sndmpopupframe { display:block; overflow:hidden; position: fixed; top: 1%; margin: 5% auto; left: 0; right: 0; z-index: 1000; background:#fff;  width:40%; -webkit-box-shadow: 0 0 10px #000; -moz-box-shadow: 0 0 10px #000; box-shadow: 0 0 10px #000; padding:20px 0 20px 30px; font-size:16px;}

.txtareabox {height:40px; font-size:12px; resize: none; width:90%;}


/* Photo Pannel CSS */
.bggray {background:#eee;}
.bggray1 {background:#fff; border:1px solid #eee;}
.brdrleft { border-left:1px solid #d2d3d4;}

.wrapper {width:98%; border:1px solid #e6e7e8; overflow:hidden; position:relative; margin:0 auto; background:#fff; padding-bottom:20px;}
.proinfo {width:100%; background:#2e3f49;}
.proinfo ul {margin:0 auto; padding:0; list-style:none; overflow:hidden;}
.proinfo ul li {margin:10px 15px 10px 10px; padding:0; font-size:15px; color:#fff; text-align:left;} 
.prophotosec {margin:20px; color:#000; font-size:16px; text-align:left;}
.photopannel {margin:0 auto; padding:0; list-style:none; clear:both;}
.photopannel li {margin:0 10px 0 0; padding:0;}
.photopannel li img {width:230px;}
.scrollsec {width:230px; max-height:440px; overflow-x: hidden; overflow-y: auto; white-space: nowrap;}
.photopannel li p { margin:10px 0; padding:0; font-size:15px; color:#598fc9; text-align:center; text-transform:uppercase;}
/*.photopannel li img {border:1px solid #ddd;}*/

.photoedit {width:230px; overflow:auto; position:relative;}
.primephoto { border-radius:50%; -moz-border-radius:50%; -webkit-border-radius:50%; background:#ed0c6e; width:30px; height:30px; position:absolute; text-align:center; top:5px; right:5px; padding:2px;}
.primephoto img {width:14px !important; height:25px !important; margin:0 auto;}
.usrphoto { border-radius:50%; -moz-border-radius:50%; -webkit-border-radius:50%; background:#0072bc; width:30px; height:30px; position:absolute; text-align:center; top:5px; left:5px; padding:2px;}
.usrphoto img {width:14px !important; height:25px !important; margin:0 auto;}

.photoedit ul {margin:0 auto; padding:0; list-style:none; overflow:hidden;}
.photoedit ul li {margin:0 auto; padding:0; background:url(../../images/actionicons.png?v=1.3) no-repeat #fefefe; height:30px; width:44.7px;  border-right:1px solid #d2d3d4; border-top:1px solid #d2d3d4; border-bottom:1px solid #d2d3d4;}
.approve { background-position: 8px 3px !important;}
.photoedit ul li.approve:hover{ background-position: 8px -32px !important; transition: all 0.25s ease 0s; }
.reject { background-position: -55px 3px !important;}
.photoedit ul li.reject:hover{ background-position: -55px -32px !important; transition: all 0.25s ease 0s; }
.rotate { background-position: -114px 3px !important;}
.photoedit ul li.rotate:hover{ background-position: -114px -32px !important; transition: all 0.25s ease 0s; }
.save { background-position: -167px 3px !important;}
.photoedit ul li.save:hover{ background-position: -167px -32px !important; transition: all 0.25s ease 0s; }
.reason { background-position: -221px 3px !important;}
.photoedit ul li.reason:hover{ background-position: -221px -32px !important; transition: all 0.25s ease 0s; }
.noproaprov { background-position: -270px 3px !important;}
.photoedit ul li.noproaprov:hover{ background-position: -270px -32px !important; transition: all 0.25s ease 0s; }


.photoedit img {width:230px; margin-bottom: 10px;}

.notclear { background:#fff; padding:10px; color:#000; font-size:13px; text-align:left;}
.notclear label {clear: both; display: inline-block; margin: 5px 0; width: 100%;}
.sbmtbtn { font-size:14px; color:#fff; background:#0072bc; text-align:center; border:none; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; padding:5px; margin:10px 10px 0 0;}

.pagination {margin:0 10px 0 0; padding:0; list-style:none; float:right;}
.pagination li { margin:5px; padding:5px; font-size:14px; background:#ee6296; float:left; min-width:15px; height:15px; text-align:center;}
.pagination li a {color:#fff;}

.pagedetails {margin:0 0 0 10px;  padding:0; list-style:none; float:left;}
.pagedetails li { margin:5px 10px; padding:5px; font-size:14px; float:left;}

.titlephoto {width:230px;}