
.display_wait_overlay{
    display: none;
    position: fixed;
    width:100%;
    height: 100%;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    background: url("https://admin.trulymadly.com/images/fancybox_overlay.png") repeat;
    z-index: 9999;
}

.display_wait_overlay .dw_overlay{
    /*background-color: #ffffff;*/
    background-color: #000;
    z-index: 10000;
    top: 50%;
    position: absolute;
    /*min-width: 220px;
    width: 220px;
    left: 50%;
    margin-top: -21px;
    height: 42px;
    line-height: 42px;
    margin-left: -110px;
    padding:0px 20px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -khtml-border-radius: 3px;*/
    width: 45px;
    left: 46%;
    padding-left: 2px;
    height: 45px;
    line-height: 35px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -khtml-border-radius: 5px;
}

.display_wait_overlay .dw_overlay .dw_data_container{
    /* position: absolute;*/
}


.display_wait_overlay .dw_overlay .dw_data_container span.dw_loader {
    background-size: 32px 32px;
    background-image: url('https://admin.trulymadly.com/images/fancybox_loading.gif');
    background-repeat: no-repeat;
    background-position: center right;
    min-height: 32px;
    max-height: 32px;
    min-width: 32px;
    max-width: 32px;
    position: absolute;
    left: 15%;
    margin-left: -16px;
    top: 15%;
    opacity: 0.8;
}

.dw_loader{
    margin-left: 0 !important;
}

.display_wait_overlay .dw_overlay .dw_data_container .dw_text{
    font-size: 18px;
    font-family:"arial rounded mt bold",helvetica,arial,sans-serif;
    height: 42px;
    line-height: 42px;
    padding: 0px 0px 0px 40px;
    max-width: 350px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}