.hide{ display: none; }

.hourMinuteSelected{cursor:pointer; background:#4293ef;color:#fff;margin-bottom:3px;-webkit-box-shadow: inset 0px 3px 3px 0px #3b7dc9;box-shadow: inset 0px 3px 3px 0px #3b7dc9;padding:2px 0;}
.hourMinute{cursor:pointer; background:#e0e0e0;padding:2px 0; margin-bottom:3px;}