/**
 *  * jQuery Facebook Multi-Photo Selector (jfmps)
 *   * https://github.com/seanhellwig/jQuery-Facebook-Multi-Photo-Selector
 *    * Allows the selection of Facebook album photos 
 *     * @author Sean Hellwig
 *      * Inspired by: https://github.com/mbrevoort/jquery-facebook-multi-friend-selector - thanks for some css :)
 *       * @dependencies jQuery 1.4.4+ http://jquery.com/
 *        * License: MIT
 *        **/
#jfmps-container {
	height: 370px;
	width: 99%;
	margin: 0 auto;
	overflow: hidden;
	clear:both;
}

#jfmps-inner-header {
	
	color: #3b5998;
	font-size: 11px;
	font-weight: bold;
	height: 25px;
	padding: 2px;
}

#jfmps-inner-header .jfmps-meta {
	color: #3b5998;
	font-weight: bold;
	text-decoration: none;
	float: right;
	margin: 4px 5px;
	padding: 3px 5px;
}

#jfmps-album-covers,#jfmps-album-photos {
	width: 100%;
	height: 315px;
	float: left;
	overflow-x: hidden;
	overflow: auto;
}

#jfmps-album-covers .image-row,#jfmps-album-photos .image-row {
	clear: both;
}

#jfmps-selected-container {
	width: 175px;
	height: 430px;
	display: none;
	right;background: #eeeeee;
	border: 1px solid #ccc;
	overflow: auto;
	padding: 5px;
}

#jfmps-selected-container h3 {
	color: #3b5998;
	font-size: 11px;
	font-weight: bold;
	margin-bottom: 3px;
	border-bottom: 1px solid #ccc;
	padding: 5px;
	text-align: center;
}

#jfmps-breadcrumb {
	padding: 5px;
	width: 100%;
	float: left;
	text-align: left;
	font-size: 16px;
	font-weight: normal;
}

#jfmps-breadcrumb span {
	margin-right: 10px; color:#fff;
}

#jfmps-photos-list-crumb,#jfmps-crumb-separator #jfmps-album-photos {
	display: none;
}

#jfmps-photos-list-crumb {
	cursor: pointer;
}

.jfmps-albumcover,.jfmps-albumimage {
	cursor: pointer;
	display: block;
	float: left;
	margin: 1%;
	padding: 4px;
	width: 20%;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background:#ddd;
	text-align:left;
	min-height:70px;
}

.jfmps-albumimage {
	width: 85px;
}

.jfmps-albumimage.selected {
	/*background-color: #3b5998;
	border: 1px solid #3b5998;
	background: #6d84b4;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#233E75',endColorstr='#6D84B4');
	background: -webkit-gradient(linear,left top,left bottom,from(#233e75),to(#6d84b4));
	background: -moz-linear-gradient(top,#233e75,#6d84b4); */
}

.jfmps-albumcover:hover {
	background-color: #ed0c6e;
}

.jfmps-albumcover:hover div {
	color: #fff;
}

.jfmps-albumcover div,.jfmps-albumimage div {
	color: #111;
	font-size: 12px;
	overflow: hidden;
	padding: 2px 0 0 6px;

}

.jfmps-albumcover img,.jfmps-albumimage img {
	
	float: left;
	margin: 0;
}

.jfmps-albumimage img {
	float: none;
	margin-left: 4px;
}

#jfmps-selected-photos {
	padding: 4px;
}

#jfmps-selected-photos ul {
	list-style-type: none;
	margin: 10px 0 0 0;
	padding: 0;
}

#jfmps-selected-photos li {
	padding: 3px;
	width: 90px;
}

#jfmps-selected-photos li img {
	border: 1px solid #ccc;
}

#jfmps-button-container {
	clear: both;
}

#jfmps-clear-button {
	display: none;
}

.newRow {
	clear: left;
}

.jfmps-selected-unselect {
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
	background: #29437a;
	opacity: .8;
	color: #fff;
	font-size: 11px;
}


/** Photo croping/upload css **/
.clb { clear:both;}
.ovrf { overflow:hidden;}
.mrg { margin:0 auto;}
.padng {padding:0;}
.fl {float:left;}
.fr {float:right;}
.brdr {border:none;}

.tmphotoalbum { margin:15px 0 15px 0; float:left;}
.tmpalbl { width:140px; margin:0 auto; float:left; height:385px;  overflow-y: auto; overflow-x: hidden; padding-right:10px;}
.tmpalbl img { width:110px; height:auto; clear:both; border:1px solid #ccc; margin:5px; padding:5px; background:#fff;}
/* .slimScrollDiv { height:500px;} */


.tmpcaction { margin:0 auto; text-align:center; width:100%;} 
.tmbtnsec { font-size:12px; margin: 0 auto; text-align:left; display:inline-block;}
.tmbtnsec input { margin:2px;}
.savebtn { padding:5px 10px 7px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; background-color: #4293f0; font-size: 14px; color: #fff; text-decoration:none; margin:0 5px 0 0; height:23px; width:110px; cursor:pointer; }
.savebtn:hover {background-color: #3d89e1;}

.photoactbtn { background:#f5216d; border:none; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; display:inline-block; color:#fff; font-size:14px; padding:2px 20px 2px 15px;}
.photoactbtn:hover { background:#c72566;}



.tmcdbtnsec{float: left; width: 300px;}
.cropbtn { padding:5px 10px 7px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; background-color: #ededed; font-size: 14px; color: #333; text-decoration:none; margin:0 5px 0 0; width:110px; height:23px; cursor:pointer; }
.cropbtn:hover {background-color: #ddd;}

.webcbtncap { padding:5px 15px 5px 15px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; background-color: #4293f0; font-size: 16px; color: #fff; text-decoration:none; margin:0 auto; clear:both; border:none; background-image:url(../../images/register/tmsave_btnwebc.png); background-repeat:no-repeat; background-position:center left; text-align:right; width:135px;}
.webcbtncap:hover {background-color: #3d89e1;}

.tmfbphotosel { padding:3px 15px 3px 15px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; background-color: #4293f0; font-size: 14px; color: #fff; text-decoration:none; margin:0 auto; border:none; text-align:center; font-weight:bold;}
.tmfbphotosel:hover {background-color: #3d89e1;}

.undrmod {background:#444; width:110px; height:110px; position:absolute; top:16px; left:16px; opacity:0.5; filter:alpha(opacity=70); color:#FFF;  text-shadow:2px 2px #000; -moz-text-shadow:2px 2px #000; -webkit-text-shadow:2px 2px #000; cursor:pointer;}
.undrmod1 {background:#444; width:110px; height:110px; position:absolute; top:16px; left:16px; opacity:0.7; filter:alpha(opacity=70); color:#FFF;  text-shadow:2px 2px #000; -moz-text-shadow:2px 2px #000; -webkit-text-shadow:2px 2px #000; cursor:pointer;}

.phprim {width:23px!important; border:none!important; position:absolute; top:0; left:-4px; background:#C1215D!important; border-radius:50%; -moz-border-radius:50%; -webkit-border-radius:50%; padding:2px!important; z-index:9;}

.webcambg { background:#EEEEEE;}


.fbactionbtn { background:#FFFFFF;  position: absolute;  bottom: -35px; width: 100%;}

.fbbkbtn {color: #fd8cb5 !important; float: left; font-size: 14px; padding: 2px;}

.fbcanbtn { background:url(../../images/register/fbcanbtn.png) no-repeat 8px 4px; cursor:pointer; background-color:#f5216d; color:#fff; font-size:14px; border:none; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; display:inline-block; padding:3px 10px 3px 30px; }
.fbupldbtn {background:url(../../images/register/fbuploadbtn.png) no-repeat 8px 4px; cursor:pointer; background-color:#f5216d; color:#fff; font-size:14px; border:none; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; display:inline-block; padding:3px 10px 3px 30px;}

.progbarup {width: 80%; height: 20px; border-radius: 5px;-webkit-border-radius: 5px; -moz-border-radius: 5px; margin:0 10%; text-align:center; bottom:20%; left:0; z-index:999; position:absolute; margin:0 9%;}
.bar { height: 20px; background: green; float:left;}

/* .bar {
    height: 18px;
    background: green;
} */


@media screen and (max-width:800px){
.photoactbtn { padding:2px 10px 2px 5px; font-size:12px;}

}


@media screen and (max-width:640px){
.tmpalbl { height:100px; width:515px; clear:both; margin-left:10px; border:1px solid #eee;}
.crjs5 { float:left; height:80px; padding:5px 3px;}
.undrmod { font-size:11px; height:70px; width:70px; left:14px;}
.undrmod1 { font-size:11px; height:70px; width:70px; left:14px;}
.tmpalbl img { width:70px;}
.tmphotoalbum { margin:15px 0 0;}
}


@media screen and (max-width:480px){
.tmpalbl { height:100px; width:420px; overflow:auto; clear:both;}
.crjs5 { float:left; height:80px;}
.undrmod { font-size:11px; height:70px; width:70px;}
.undrmod1 { font-size:11px; height:70px; width:70px;}
.tmpalbl img { width:70px;}
.photoactbtn { font-size: 15px; margin: 0 0 5px; padding: 2px 10px 2px 25px; width: 380px;}
.tmpcaction { padding:10px 0 0 0;}
}

@media screen and (max-width:320px){
.tmpalbl { height:80px; width:255px; overflow:auto; clear:both;}
.crjs5 { float:left; height:60px;}
.undrmod { font-size:9px; height:50px; width:50px;}
.undrmod1 { font-size:9px; height:50px; width:50px;}
.tmpalbl img { width:50px;}
.photoactbtn { font-size: 15px; margin: 0 0 5px; padding: 2px 10px 2px 25px; width: 235px;}
}