.checkbox,
.radio {
	/*margin-bottom: 12px;*/
	/* padding-left: 42px; */
	position: relative;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	-o-transition: 0.25s;
	transition: 0.25s;
	-webkit-backface-visibility: hidden;cursor:pointer; }
	
.checkbox:hover,
.radio:hover {
	/*color: #1abc9c;*/ }
	
.checkbox input,
.radio input {
outline: none !important;
opacity: 0;
filter: alpha(opacity=0);
zoom: 1; }

.checkbox.checked .icon,
.radio.checked .icon {
opacity: 1;
display: block\9; }

.checkbox.checked .icon-to-fade,
.radio.checked .icon-to-fade {
opacity: 0;
display: none\9; }

.checkbox.disabled,
.radio.disabled {
color: #d7dddd;
cursor: default; }

.checkbox.disabled .icon,
.radio.disabled .icon {
  opacity: 0;
  display: none\9; }
  
.checkbox.disabled .icon-to-fade,
.radio.disabled .icon-to-fade {
  opacity: 1;
  display: block\9; }
  
.checkbox.disabled.checked .icon,
.radio.disabled.checked .icon {
  opacity: 1;
  display: block\9; }
  
.checkbox.disabled.checked .icon-to-fade,
.radio.disabled.checked .icon-to-fade {
  opacity: 0;
  display: none\9; }
  
.checkbox .icon,
.checkbox .icon-to-fade,
.radio .icon,
.radio .icon-to-fade {
display: block;
height:32px;
left: 0;
opacity: 1;
position: absolute;
top:0;
width: 100px;
-webkit-transition: opacity 0.1s linear;
-moz-transition: opacity 0.1s linear;
-o-transition: opacity 0.1s linear;
transition: opacity 0.1s linear;
-webkit-backface-visibility: hidden; /* background:#e0e0e0; */}

.checkbox .icon,
.radio .icon {
opacity: 0;
top: 0;
z-index: 2;
display: none\9; }

.radio .icon,
.radio .icon-to-fade {
}

.radio .text,.radio .listitems,.radio .status, .radio .type,
.checkbox .listitems, .checkbox .type{z-index:999;color:#606060;padding:8px 0;background:#e0e0e0; display:inline-block; overflow:hidden;}

.radio:hover .text,.radio:hover .listitems,.radio:hover .type,
.checkbox:hover .listitems, .checkbox:hover .type{color:#606060;background:#e0e0e0;}

.radio.checked .text,.radio.checked .listitems,.radio.checked .status,.radio.checked .type,
.checkbox.checked .listitems, .checkbox.checked .type{color:#fff;background:#4293ef;-webkit-box-shadow: inset 0px 3px 3px 0px #3b7dc9;box-shadow: inset 0px 3px 3px 0px #3b7dc9;}

/*Radio Button for AM PM*/
.radio .text{width:56px;padding:4px 0;}
.meridien .radio .icon,.meridien .radio .icon-to-fade {width: 56px;height:24px;}

/*List of items Radio Button*/
/* .formlist .checkbox, .formlist .radio{padding-left:84px; padding-left:66px\9; } */
.radio .listitems,
.checkbox .listitems, 
.formlist .radio .icon,
.formlist .radio .icon-to-fade, 
.formlist .checkbox .icon,
.formlist .checkbox .icon-to-fade{  margin: -10px 5px 0 5px; margin: -20px 5px 0 5px\9; width: 100%;}

/*Work*/
.fromlist2 .radio .listitems,
.fromlist2 .checkbox .listitems, 
.formlist2 .radio .icon,
.formlist2 .radio .icon-to-fade, 
.formlist2 .checkbox .icon,
.formlist2 .checkbox .icon-to-fade{width:98px;height:32px;display:table;}

.fromlist2 .radio .listitems span, .fromlist2 .checkbox .listitems span{ display: table-cell;vertical-align: middle;}

/*Smoking and Drinking Radio Buttons*/
.smokingstatus .radio, .drinkingstatus .radio{padding-left:10px;}
.smokingstatus .radio .status,  .drinkingstatus .radio .status, 
.smokingstatus .radio .icon,.smokingstatus .radio .icon-to-fade, 
.drinkingstatus .radio .icon,.drinkingstatus .radio .icon-to-fade{width:26px;height:26px;padding:0;top:-5px;top:-12px\9;left:-3px;left:0px\9;text-indent:-9999px;background:none;}

.radio.checked .status,
.smokingstatus .radio.checked .icon,.smokingstatus .radio.checked .icon-to-fade, 
.drinkingstatus .radio.checked .icon,.drinkingstatus .radio.checked .icon-to-fade{background:url(../../images/register/blue-circle.png) no-repeat 0 0;box-shadow:none;}

.drinkingstatus .radio .status, 
.drinkingstatus .radio .icon,.drinkingstatus .radio .icon-to-fade{left:-1px;left:0px\9;}

/*Food*/
.foodchoice .checkbox, .foodchoice .radio{ padding-left:210px;}
.radio .type,.foodchoice .radio .icon,.foodchoice .radio .icon-to-fade,
.checkbox .type, .foodchoice .checkbox .icon,.foodchoice .checkbox .icon-to-fade {width:210px;padding:2px 0;height:48px;line-height:48px;text-align:left;}
.radio:hover .type .Vegetarian, .radio.checked .type .Vegetarian, .checkbox:hover .type .Vegetarian, .checkbox.checked .type .Vegetarian{background-position:0 -46px;}
.radio:hover .type .Eggetarian, .radio.checked .type .Eggetarian, .checkbox:hover .type .Eggetarian, .checkbox.checked .type .Eggetarian{background-position:0 -148px;}
.radio:hover .type .Non-Vegetarian, .radio.checked .type .Non-Vegetarian, .checkbox:hover .type .Non-Vegetarian, .checkbox.checked .type .Non-Vegetarian{background-position:0 -244px;}
.radio:hover .type .doesmatter, .radio.checked .type .doesmatter, .checkbox:hover .type .doesmatter, .checkbox.checked .type .doesmatter{background-position:0 -345px;}

/*Complexion*/
.complexion .radio .listitems,
.complexion .checkbox .listitems, 
.complexion .radio .icon,
.complexion .radio .icon-to-fade, 
.complexion .checkbox .icon,
.complexion .checkbox .icon-to-fade{width:48px;height:32px;color:#fff;text-align: center;font-size:11px;display:table; text-shadow: 1px 1px 1px #906f56;}

.complexion .radio .listitems span, .complexion .checkbox .listitems span{ display: table-cell;vertical-align: middle;}
/* .compsize {width:65px; height:60px;} */
.complexion .checkbox .allskins {background:url(../../images/register/all-skins.png) no-repeat;width:52px;height:37px;}
.complexion .radio .fair,
.complexion .checkbox .fair {background:#f4dec5;border:2px solid #f4dec5;}
.complexion .radio .wheatish,
.complexion .checkbox .wheatish {background:#e1bb94;border:2px solid #e1bb94;}
.complexion .radio .tan,
.complexion .checkbox .tan {background:#bc8d5f;border:2px solid #bc8d5f;}
.complexion .radio .dark,
.complexion .checkbox .dark{background:#906f56;border:2px solid #906f56;}
.complexion .radio .dbrown,
.complexion .checkbox .dbrown {background:#5b4537;border:2px solid #5b4537;}
.complexion .radio .black,
.complexion .checkbox .black {background:#422723;border:2px solid #422723;}

.complexion .checkbox.checked .allskins,.complexion .allskins{background:url(../../images/register/all-skins-active.png) no-repeat ;box-shadow:none !important;}
.complexion .radio.checked .fair,.complexion .fair,
.complexion .checkbox.checked .fair,.complexion .fair{background:#f4dec5 url(../../images/register/skin_tone_select.png) no-repeat right bottom;box-shadow:none !important;}
.complexion .radio.checked .wheatish,.complexion .wheatish,
.complexion .checkbox.checked .wheatish,.complexion .wheatish{background:#e1bb94 url(../../images/register/skin_tone_select.png) no-repeat right bottom;box-shadow:none !important;}
.complexion .radio.checked .tan,.complexion .tan,
.complexion .checkbox.checked .tan,.complexion .tan{background:#bc8d5f url(../../images/register/skin_tone_select.png) no-repeat right bottom;box-shadow:none !important;}
.complexion .radio.checked .dark,.complexion .dark,
.complexion .checkbox.checked .dark,.complexion .dark{background:#906f56 url(../../images/register/skin_tone_select.png) no-repeat right bottom;box-shadow:none !important;}
.complexion .radio.checked .dbrown,.complexion .dbrown,
.complexion .checkbox.checked .dbrown,.complexion .dbrown{background:#5b4537 url(../../images/register/skin_tone_select.png) no-repeat right bottom;box-shadow:none !important;}
.complexion .radio.checked .black,.complexion .black,
.complexion .checkbox.checked .black,.complexion .black{background:#422723 url(../../images/register/skin_tone_select.png) no-repeat right bottom;box-shadow:none !important;}

