.innerdiv{width:90%;}
.inputwidth {width: 260px;}

.radio.checked .status,
.smokingstatus .radio.checked .icon,.smokingstatus .radio.checked .icon-to-fade, 
.drinkingstatus .radio.checked .icon,.drinkingstatus .radio.checked .icon-to-fade{top:-14px;}
