*{
	padding: 0;
	margin: 0;
}

body{font-family: 'RobotoRegular', Arial;font-size:14px;color:#333;background:url(../../images/register/body-bg.gif) repeat;}
.mt10{margin-top:10px;}
.mt20{margin-top:20px;}
.mt30{margin-top:30px;}
.mt40{margin-top:40px;}
.ml20{margin-left:20px;}
.mlr20{margin:0 20px;}
.ml10{margin-left:10px;}

/*Layout*/
.wrapper{width:100%;}
.container{width:960px;margin:0 auto;}

/*Header*/
.header{background:#fff;height:66px;-webkit-box-shadow: 0px 5px 3px -2px #d4d4d4;box-shadow: 0px 5px 3px -2px #d4d4d4; }
	/*Logo*/
	.logo{float:left;margin-top:15px;}
	/*Menu*/ 
	.mainmenu{float:left;margin:20px 0 0 150px;color:#666;}
	.menu-link {display: none;float: right;text-decoration: none;}
	.menu ul { position: relative;display: inline-table;margin-top:5px;}
	.menu > ul > li {display: inline-block; margin:0px 10px;}
	.menu li a{padding:0 5px 18px;color:#666;display:block;padding:0 10px 19px\9;display: block;}
	.menu li a:hover, .menu li a.active{border-bottom:4px solid #e7276b;}
	.notification{border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;background:#e7276b;padding:0px 2px;color:#fff;font-size:11px;margin-left:3px;font-family:'RobotoBold';}
	/*User Details*/
	.userdetails{float:right;width:140px;cursor:pointer;position:relative;min-height:40px;margin:20px 0 0 0;}
	.photo{margin-right:5px;float:left;}
	.downarrow{margin:11px 0 0 5px;float:right;}
	.userdetails span{width:90px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;display:block;float:left;margin-top:4px;}
	.usersettings{border-radius:5px;background:#fff;border:1px solid #999;-webkit-box-shadow: 0px 0px 3px 0px #d6d6d6;box-shadow: 0px 0px 3px 0px #d6d6d6;display:none;margin-top:32px;padding:5px 0;position:absolute;z-index:9999;width:140px;right:0; }
	.usersettings li{border-bottom:1px dotted;}
	.usersettings li a{display:block;padding:5px 10px 5px;color:#666;}
	.usersettings li a:hover{background:#666;color:#fff;}
	.usersettings li:last-child{border-bottom:none;}
	.userdetails:hover .usersettings{display:block;}
	
	
/*Slider*/
.viewall{ text-align:right;}
.viewall a{color:#000;text-decoration:underline;}
.sliderul{clear:both;padding-top:10px;}
.sliderul li{float:left; height:325px;background:#fff;margin-right:17px;width:225px !important;-webkit-box-shadow: 2px 2px 6px 0px #bdbdbd;box-shadow: 2px 2px 6px 0px #bdbdbd; }
.sliderul li:last-child{margin-right:0px;}	
.bigphoto{position:relative;}
.mutual{position:absolute;top:0;left:0;background:#3a589b;color:#fff;text-transform:uppercase;padding:2px 0 2px 10px;font-size:12px;width:200px;z-index:999;}
.mutual span{text-transform:lowercase;padding-right:10px;margin-right:10px;font-family:'RobotoBold';border-right:1px solid #fff;}
.new{position:absolute;top:0;right:0;background:#e7276b;color:#fff;font-size:12px;padding:2px 4px;font-family:'RobotoBold';text-transform:uppercase;z-index:999;}
.name{position:absolute;bottom:0;left:0;background:#fff;padding:10px 0 10px 10px;text-transform:uppercase;filter:alpha(opacity=80);-moz-opacity:0.8;   opacity: 0.8;width:215px;}
.name span{font-family:'RobotoBold';font-weight:bold\9;}

.perosonal-details{margin:15px;overflow:hidden;}
.perosonal-details img{float:left;margin-right:15px;}
.persontext{float:left;}
.persontext span{font-family:'RobotoBold';font-weight:bold\9;}


/*Content*/
.content{overflow:hidden;}	
		/*Right Panel*/
		.rtpanel{float:right;width:355px;}
		/*Alerts*/
		.days{font-family:'RobotoLight';font-size:45px;text-transform:uppercase;line-height:1;}
		.days span{font-family:'RobotoBold';font-size:45px;}
		.daysleft{font-size:15px;margin:5px 0 10px;}
		.renewnow{background:#4293f0;width:120px;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;border-bottom:1px solid #3474bc;}
		.renewnow a{color:#fff;text-transform:uppercase;padding:10px 0;display:block;text-align:center;}
		/*Notification*/
		.rtnotification{margin-top:40px;}
		.ntitle{background:#fff;padding:10px 0 10px 10px;font-family:'RobotoBold';font-size:15px;font-weight:bold\9;}

		.notify{border-bottom:1px solid #666;background:url(../../images/right-down-arrow.png) no-repeat right bottom;overflow:hidden;padding:15px 0;width:100%;}
		.icons{float:left;margin-right:15px;width:55px;height:55px;background:url(../../images/icons/notification-icons.png) no-repeat;position:relative}
		.time{background-position: 0 0;}
		.thumb{background-position: 0 -68px;}
		.check{background-position: 0 -141px;}
		.message{background-position: 0 -215px;}
		.rtnotification-no{border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;background:#e7276b;padding:1px 2px;color:#fff;font-size:10px;border:1px solid #d9d9d9;position:absolute;top:0px;right:-3px;font-family: 'RobotoBold';}
		
		.notify-content{ overflow:hidden;}
		.details{float:none;line-height:22px;font-family: 'RobotoLight';display:block;}
		.details span a{color:#e62066;}
	/*Left Panel*/
	.leftpanel{float:left;width:565px;margin-right:40px;}
	.lttitle{background:url(../images/dotted.png) repeat-x left center;margin-bottom:20px;margin-right:10px;}	
	.lttitle span{font-family: 'RobotoBold';font-size:16px;background:#e3e3e3;padding-right:8px;font-weight:bold\9;}
		/*Updates*/
		.updates{width:100%;margin-top:10px;}
		.updates-icon{float:left;background:url(../../images/icons/updates-icons.png) no-repeat; width:33px;height:33px;margin:20px 15px 0 0;}
		.pointer{background-position: 0 0;}
		.camera{background-position:0 -47px;}
		.pencil{background-position:0 -92px;}
		.updates-white{ overflow:hidden;padding:0 10px 10px 0;}
		.updates-content{background:#fff; float:none;display:block;padding:10px;box-shadow:2px 2px 6px 0 #BDBDBD;overflow:hidden;}
		.personimg{float:left;margin-right:10px;}
		.updates-details{float:left;font-family: 'RobotoLight';}
		.updates-details span a{color:#e62066;}
		.hours{color:#999;margin-top:10px;text-transform:uppercase;font-family: 'RobotoBold';font-weight:bold\9;}
		.hours img{vertical-align:middle;}
		.photolist li{float:left;margin:10px 5px 0 0;}


/*Matches*/
	/*Show Sort By*/
	.showsort{margin-top:30px;}
		/*Show*/
		.show{float:left;}
		.show li{float:left;background:#fff;width:40px;height:40px;border-radius:50%;margin-right:5px;cursor:pointer;text-align:center;-webkit-box-shadow: 0px 3px 3px -2px #bcbcbc;box-shadow: 0px 3px 3px -2px #bcbcbc; }
		.show li.showtext{background:none;font-family: 'RobotoBold';font-weight:bold\9;font-size:14px;text-transform:uppercase;line-height:38px;margin-right:10px;box-shadow:none;}
		.show li:hover.showtext{background:none;color:#000;}
		.show li.all{font-family: 'RobotoBold';font-weight:bold\9;font-size:14px;line-height:36px;text-transform:uppercase;}
		.show li:hover, .show li.active{background:#4293f0;color:#fff;-webkit-box-shadow: inset 0px 3px 3px -2px #3b7dc9;box-shadow: inset 0px 3px 3px -2px #3b7dc9;}	
		.show li span{text-indent:-9999px;display:block;background:url(../../images/icons/show-icons.png) no-repeat;width:18px;height:18px;display:inline-block;margin-top:10px;}
		.show li span.starshow{background-position:0 0;}
		.show li span.thumbshow{background-position:0 -71px;}
		.show li span.cancelshow{background-position:0 -36px;}
		.show li:hover span.starshow{background-position:0 -18px;}
		.show li:hover span.thumbshow{background-position:0 -91px;}
		.show li:hover span.cancelshow{background-position:0 -54px;}
		/*Sort By*/
		.sortby{float:right;}
		.sortby li{float:left;background:#fff;width:40px;height:40px;border-radius:50%;-webkit-border-radius:50%;-moz-border-radius:50%; margin-right:5px;cursor:pointer;text-align:center;-webkit-box-shadow: 0px 3px 3px -2px #bcbcbc;box-shadow: 0px 3px 3px -2px #bcbcbc;font-family: 'RobotoBold';font-weight:bold\9;font-size:14px;line-height:36px;text-transform:uppercase;color:#4293f0;}
		.sortby li:hover, .sortby li.active{background:#4293f0;color:#fff;-webkit-box-shadow: inset 0px 3px 3px -2px #3b7dc9;box-shadow: inset 0px 3px 3px -2px #3b7dc9;}	
		.sortby li:last-child{margin-right:0;}
		.sortby li.sorttext{background:none;font-family: 'RobotoBold';font-weight:bold\9;font-size:14px;text-transform:uppercase;line-height:36px;margin-right:10px;box-shadow:none;width:59px;color:#000;}
		.sortby li:hover.sorttext{background:none;color:#000;}
		.sortby li.percent{font-size:20px;}

	/*Filter*/
	.filter{background:#fff;margin-top:20px;padding:10px;}
	.fliterleft{float:left; background:url(../../images/matches/plus.png) no-repeat 5px 5px;padding-left:30px;}
	.fliterleft.active{ background:url(../../images/matches/minus.png) no-repeat 5px 7px;}
	.search{float:right;position:relative;}
	.search input{background:#fff;border:1px solid #999;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;padding:3px 10px;}
	.searchicon{position:absolute;background:url(../../images/matches/search_icon.png) no-repeat; width:21px;height:20px;top:3px;right:5px;}		

	.filterbox{background:#fff;width:100%;clear:both;padding:20px 0;}

/*Matches List*/
.matcheslist li{float:left;height:378px;background:#fff;margin:0 15px 15px 0;width:225px;-webkit-box-shadow: 2px 2px 6px 0px #bdbdbd;box-shadow: 2px 2px 6px 0px #bdbdbd;cursor:pointer;position:relative; }
.actions{clear:both;border-top:1px solid #d9d9d9;}
.actions p{float:left;border-right:1px solid #fff;margin-top:1px;}
.actions p a{color:#4293f0;display:block;background:#d9d9d9;padding:5px 15px;}
.actions p a:hover{color:#666;}
.actions span{background:url(../../images/icons/tile-icon.png) no-repeat;width:13px;height:13px;padding-right:18px;}
.actions span.fav{background-position:0 0;}
.actions p a:hover span.fav{background-position:-17px 0;}
.actions span.like{background-position:0 -16px;}
.actions p a:hover span.like{background-position:-17px -16px;}
.actions p.last a{color:#666;}
.actions p.last a:hover{color:#4293f0;}
.actions span.hide{background-position:-17px -36px;}
.actions p a:hover span.hide{background-position:0 -36px;}
.actions p.last{border-right:1px solid #d9d9d9;}

	/*Flip*/
	.panel {float: left;width: 225px;height:347px;position: relative;-webkit-perspective: 600px;-moz-perspective: 600px;}
	.panel .front {float: none;position: absolute;top: 0;left: 0;z-index: 900;width: inherit;height: inherit;-webkit-transform: rotateX(0deg) rotateY(0deg);-webkit-transform-style: preserve-3d;-webkit-backface-visibility: hidden;-moz-transform: rotateX(0deg) rotateY(0deg);-moz-transform-style: preserve-3d;-moz-backface-visibility: hidden;-o-transition: all .4s ease-in-out;-ms-transition: all .4s ease-in-out;-moz-transition: all .4s ease-in-out;-webkit-transition: all .4s ease-in-out;transition: all .4s ease-in-out;}
	.panel.flip .front {z-index: 900;-webkit-transform: rotateY(180deg);-moz-transform: rotateY(180deg);}
	.panel .back {float: none;position: absolute;top: 0;left: 0;z-index: 800;width: inherit;height: 378px;-webkit-transform: rotateY(-180deg);-webkit-transform-style: preserve-3d;-webkit-backface-visibility: hidden;-moz-transform: rotateY(-180deg);-moz-transform-style: preserve-3d;
	-moz-backface-visibility: hidden;-o-transition: all .4s ease-in-out;-ms-transition: all .4s ease-in-out;-moz-transition: all .4s ease-in-out;-webkit-transition: all .4s ease-in-out;transition: all .4s ease-in-out;}
	.panel.flip .back {z-index: 1000;background: #4186d3;-webkit-transform: rotateX(0deg) rotateY(0deg);-moz-transform: rotateX(0deg) rotateY(0deg);}
	
	/*Back*/
	.fliphover{text-align:center;font-family: 'RobotoLight';}
	.fliphover .fliptitle{background:#333;padding:10px 0;color:#fff;font-size:18px;}
	.fliphover span{font-family: 'RobotoBold';font-weight:bold\9;}
	.flippara{margin:40px 0;color:#fff;}
	.flippara p{margin-top:22px;}
	.flippara span{font-family: 'RobotoBold';font-weight:bold\9;}
	.viewprofile a{padding:10px 20px;background:#fff;text-transform:uppercase;color:#333;border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;font-family: 'RobotoRegular';border-bottom:1px solid #135aaa;}
	
		
		
/*Footer*/	
.footer{background:#4b4b4b;color:#ddd;margin-top:20px;}	
.footercontent{position:relative;font-size:13px;padding:15px 0;}
.copyfootermenu{margin-top:10px;float:left;}
.copyright{width:150px; float:left;}
.footernav{text-align:center;float:left;margin-left:80px;}
.footernav a{padding:0 20px 0 0;color:#ddd;}
.socialicons{float:right;}
.socialicons ul li{float:left;margin-right:5px;}
.socialicons ul li a{color:#4b4b4b;}
.join{margin-top:8px;}
.fbicon{background:#CCC;width:30px;text-align:center;padding:4px 0 3px;font-size:20px;}
.socialicons ul li:lst-child{margin-right:0;}
.fbicon:hover{background:#4293f0;}


/*Media Queries*/

@media screen and (max-width:800px){
	
.container{width:740px;margin:0 auto;}
/* Index Page*/
.mainmenu{float:left;margin:20px 0 0 100px;}
.userdetails{width:30px;}
.userdetails span, .downarrow{display:none;}
.slider { width:700px; margin:10px auto 0;}
.leftpanel{float:none;width:100%;margin:40px 0px 0 0;}
.rtpanel{float:none;width:100%;}

/*Matches*/
.matcheslist li{margin-right:20px;}

/*Footer*/
.copyfootermenu{margin-top:0;float:left;}
.copyright{width:100%; float:none !important; padding-bottom:10px;}
.footernav{text-align:left; float:none !important; padding-bottom:10px;margin-left:0;}
}

@media screen and (max-width:640px){
.container{width:92%;margin:0 4%;}
/* Index Page*/

/*Menu*/
.mainmenu{float:none;margin:20px 0 0 0;position:relative}
a.menu-link {display: block;}
.menu {overflow: hidden;max-height: 0;	background:#fff;width:100%;	position:absolute;z-index:99999;top:40px;}
.menu.active{max-height: 55em;}
.menu ul {display: inline;}
.menu li, .menu > ul > li {display: block;float:none;border-bottom:1px dotted;	}
.menu li a {display: block;	position: relative;padding:10px 0;border-bottom:4px solid #fff;border-top:4px solid #fff;}
.menu li:last-child{border-bottom:none;}
.notification{float:right;}

.userdetails{top:-19px;right:5px;}

.viewall{float:right;clear:both;}
.slider { width:540px; margin:10px auto 0;}

.rtpanel { position:relative; min-height:230px;}
.alert { position:absolute; bottom:10px; z-index:2}
.rtnotification{margin-top:0;}
.notifylist{width:100%;text-align:center;}
.notify-content { display:none;}
.ntitle { display:none;}
.notify{border-bottom:none;background:none;overflow:hidden;padding:15px 0;width:70px; display:inline-block;}

/*Matches*/
.matcheslist li{margin:15px 25px;}

/*Footer*/
.footernav a{padding:0 10px 0 0;}
}

@media screen and (max-width:480px){
.slider { width:380px; margin:10px auto 0;}

.updates-details{width:78%;}

/*Matches*/
.show, .show li.showtext{width:190px;}
.sortby, .sortby li.sorttext{width:135px;}
.show li.showtext, .sortby li.sorttext{text-align:left;}

.search input{width:160px;}

.matcheslist{width:100%;text-align:center;}
.matcheslist li{margin:15px 25px;float:none;display:inline-block;}
.mutual, .name, .persontext{text-align:left;}

/*Footer*/
.socialicons{float:none;}
}

@media screen and (max-width:320px){
.slider { width:235px; margin:10px auto 0;}
.sliderul li{margin-bottom:13px;}

.notify{width:65px;}

.updates-details{width:78%;}

.personimg img{width:32px;height:32px;}
.photolist img{width:32px;height:32px;}

/*Matches*/
.sortby{float:left;margin-top:10px}

/*Footer*/
.socialicons{float:none;}
}
