

.mrg {margin:0 auto;}
.pad {padding:0;}
.fr  {float:right;}
.fl {float:left;}
.ovrf {overflow:hidden;}
.clb {clear:both;}
.strdispad { padding:8px 10px!important;}




.questsecframe { background: none repeat scroll 0 0 #FFFFFF; box-shadow: 4px 4px 4px -1px #ccc; -moz-box-shadow: 4px 4px 4px -1px #ccc; -webkit-box-shadow: 4px 4px 4px -1px #ccc; color: #333;  margin: auto; padding:3% 2% 7%; text-align: center; width: 80%; overflow:hidden;}



.tmquestions { margin:10px 0 0 0; width:100%;}
	
.questiontop { /* border-bottom: 2px dotted #404748; */ display:table-cell; display:inline\9; line-height: 24px; padding:0 10px 10px; font-family:'RobotoLight'; font-size: 20px; height:60px; color:#000; vertical-align:bottom;} 
.optlefttitle {width:300px!important; float:left; font-size:14px!important; margin:6px 0 0 10%!important; font-family:'RobotoRegular'; text-align:left;} 
	
.ansquest { width:100%; margin:15px 0 0 0;}	
.ansquest form { margin:0 auto;}
.formlist { margin:0 0 0 -4%; padding:0;}

/* .listitems { font-size:12px;}
 .listpadnew {padding:16px 0 16px 0!important;} */
.listitems:hover { background:#4293EF!important; color:#fff!important; box-shadow:0 3px 3px 0 #3B7DC9 inset; -moz-box-shadow:0 3px 3px 0 #3B7DC9 inset; -webkit-box-shadow:0 3px 3px 0 #3B7DC9 inset;}




.oopsbtn { border:none; background:none; cursor:pointer; color:#578ecb; margin-top:10px; font-size:14px;}
.qnote {text-align:right; font-size:11px; padding:0; margin:10px 20px 0 0 ; color:#777;}

.oopsleft{float:left;width:80px;height:24px;background:url(../../images/register/buttons.png) no-repeat left top;margin-left:6%;text-align:center;cursor:pointer;-webkit-border-top-right-radius: 4px;
-webkit-border-bottom-right-radius: 4px;
-moz-border-radius-topright: 4px;
-moz-border-radius-bottomright: 4px;
border-top-right-radius: 4px;
border-bottom-right-radius: 4px;
color:#fff;font-size:18px;padding:9px 0 13px 20px;}
.oopsleft:hover{background-position: 0 -47px;}

.smokingstatus { background:url(../../images/register/lovelang.png) no-repeat !important; width:453px;height:33px;}
.status:hover {background: url(../../images/register/blue-circle.png) no-repeat 0 0 !important; box-shadow: none;}
.status1 {left: 4px!important; position: absolute; top: -15px!important; top:-10px\9!important;}
.status2 {left: 74px!important; position: absolute; top: -15px!important; top:-10px\9!important;}
.status3 {left: 144px!important; position: absolute; top: -15px!important; top:-10px\9!important;}
.status4 {left: 214px!important; position: absolute; top: -15px!important; top:-10px\9!important;}
.status5 {left: 284px!important; position: absolute; top: -15px!important; top:-10px\9!important;}
.status6 {left: 354px!important; position: absolute; top: -15px!important; top:-10px\9!important;}
.status7 {left: 424px!important; position: absolute; top: -15px!important; top:-10px\9!important;}


.smokingstatus .radio .status, .smokingstatus .radio .icon, .smokingstatus .radio .icon-to-fade { top:19px!important; z-index:-1;}



.lstoption { margin:0 auto; padding:0; width:490px;}
.lstoption  li { list-style:none; float:left; text-align:center; font-size:12px; width:70px;}

.aftrmrtxt {width:750px!important; margin:0 0 0 30px;}

@media screen and (max-width:800px){
.optlefttitle {width:220px!important; font-size:12px!important; margin:10px 0 0 2%!important; }
}

@media screen and (max-width:640px){
.questsecframe {padding:4% 2%; width: 95%;}
.aftrmrtxt {width:470px!important; margin:0 0 0 30px;}
.optlefttitle {width:220px!important; font-size:12px!important; margin:10px 0 0 2%!important; }
.smokingstatus { background:url(../../images/register/lovelang1.png) no-repeat !important; width:310px;}
.status1 {left: 4px!important; position: absolute; top: -15px!important;}
.status2 {left: 50px!important; position: absolute; top: -15px!important;}
.status3 {left: 96px!important; position: absolute; top: -15px!important;}
.status4 {left: 142px!important; position: absolute; top: -15px!important;}
.status5 {left: 188px!important; position: absolute; top: -15px!important;}
.status6 {left: 234px!important; position: absolute; top: -15px!important;}
.status7 {left: 280px!important; position: absolute; top: -15px!important;}

.lstoption { margin:0 auto; padding:0; width:330px;}
.lstoption  li {font-size:9px; width:47px;}
.mrgl { margin-left:1%;}

}


