*{
	padding: 0;
	margin: 0;
}


body{font-family: 'RobotoRegular';font-size:14px;color:#333;background:url(../../images/register/body-bg.gif) repeat;}
a { cursor:pointer;}
.mt3 { margin-top:3px;}
.mt5 {margin-top:5px !important;}
.mt7{margin-top:7px;}
.mt10{margin-top:10px !important;}
.mt13 { margin-top:13px;}
.mt15 {margin-top:15px !important;}
.mt20{margin-top:20px !important;}
.mt25{margin-top:25px !important;}
.mt30{margin-top:30px !important;}
.mt40{margin-top:40px !important;}
.mt50{margin-top:50px !important;}
.mt60{margin-top:60px !important;}
.mt110{margin-top:110px !important;}
.ml20{margin-left:20px;}
.mlr20{margin:0 20px;}
.mlr5 { margin:0 5px;}
.ml10{margin-left:10px !important;}
.ml15{margin-left:15px !important;}
.mr50 { margin-right:50px;}
.mr5 { margin-right:5px;}
.mr10 { margin-right:10px;}
.mb10 { margin-bottom:10px;}
.mb5 { margin-bottom:5px;}
.errmsg {color:red; display:inline-block; text-align:center; width:100%;}

/* My work sart here */

.fs10 { font-size:10px !important;}
.fs11 { font-size:11px !important;}
.fs12 { font-size:12px !important;}
.fs13 { font-size:13px !important;}
.fs14 { font-size:14px !important;}
.fs15 { font-size:15px !important;}
.fs16 { font-size:16px !important;}
.fs17 { font-size:17px !important;}
.fs24 { font-size:24px;}
.wd100 { width:100px !important;}

.fl {float:left;}
.fr {float:right;}
.talc { text-align:center;}
.tall { text-align:left;}
.ttrans { text-transform:uppercase;}
.overf { overflow:hidden;}
.graycolr { color:#999; cursor:pointer;}
.curpoint { cursor:pointer;}
.gray { color:#777;}
.imgloader {
  background: url(../../images/register/loadingajex.gif) no-repeat ; background-position:center center; 
}

.difusescreen {background: none repeat scroll 0 0 #000000; height: 100%; left: 0; opacity: 0.7; overflow: hidden; position: fixed; top: 0; width: 100%; z-index: 1000; margin:0 auto; }

.sndmpopupframe { display:block; overflow:hidden; position: fixed; top: 1%; margin: 5% auto; left: 0; right: 0; z-index: 1000; background:#fff;  width:40%; -webkit-box-shadow: 0 0 10px #000; -moz-box-shadow: 0 0 10px #000; box-shadow: 0 0 10px #000; padding:20px 0 20px 30px; font-size:16px; font-family:'RobotoLight';}
.sndmpopupframe Strong { font-family:'RobotoMedium';}
.sndmpopupframe ul { margin:15px 0; padding:0;}
.sndmpopupframe ul li { list-style:disc; padding:10px 0 0 0; margin:0 0 0 15px;}


.actmsgtxt { font-size:16px; font-family:'RobotoLight'; line-height:20px; text-align:left; color:#666; padding:0 5% 0 10%;}
.actmsgtxt strong {font-family:'RobotoMedium';}
.actmsgtxt ul { margin:25px 0; padding:0;}
.actmsgtxt ul li { margin:20px 0; list-style:none; font-size:14px;}
.actmsgtxt ul li i { width:30px; display:inline-block; text-align:center; font-size:20px; float:left}
.pupfeticon {background: url(../../images/register/10xres.png) no-repeat center left; padding:5px 0 5px 65px; }

.puppopact { background:#f5216d; border:none; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; display:inline-block; color:#fff; font-size:16px; padding:5px 20px 5px 20px; margin:20px 10px 0 0; font-family:'RobotoRegular';}
.puppopact:hover { background:#c72566;}

.clsbtn {position:absolute; right:5px; top:5px; border:none;}

.phupnote { font-size:11px; color:#777; text-align:left; float:left;}

.fileContainer {
    overflow: hidden;
    position: relative;
}

.fileContainer [type=file] {
    cursor: inherit;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}

/* Example stylistic flourishes */

.fileContainer { /* background: red; border-radius: .5em; float: left;  padding: .5em; */
 background:#4293EF; padding:5px 20px; color:#fff; font-size:15px; margin:5px 10px; cursor:pointer;}

.fileContainer [type=file] {
    cursor: pointer;
}


.subjctvq { padding:30px; /* background:#fff; box-shadow: 4px 4px 4px -1px #ccc; -moz-box-shadow: 4px 4px 4px -1px #ccc; -webkit-box-shadow: 4px 4px 4px -1px #ccc; */ overflow:hidden;}
.subjctvq p { font-size:16px; text-align:left; font-family:'robotoregular'; clear:both; float:left;}
.subjctvq span { font-size:11px; color:#999; text-align:left; float:left; clear:both;}
.subjctvq textarea{background:#fbfbfb;border:1px solid #cecccc;padding:5px 10px 5px 5px;color:#666;margin-top:7px; clear:both; width:100%; font-size:14px;resize: none; height:50px;}

.inttitle { text-align: left; width: auto;}

.befphys { padding:10% 6%; background:url(../../images/register/phycoupleimg.jpg); background-size: cover; background-position: center right; box-shadow: 4px 4px 4px -1px #ccc; -moz-box-shadow: 4px 4px 4px -1px #ccc; -webkit-box-shadow: 4px 4px 4px -1px #ccc; overflow:hidden; margin:0 auto; width:86%; text-align:left;}
.befphys ul li { list-style:disc; padding:10px 0; text-shadow:1px 1px #fff; -moz-text-shadow:1px 1px #fff; -webkit-text-shadow:1px 1px #fff; width:45%; font-size:16px;  line-height:24px;}
.befphys ul li strong { font-family:'RobotoBold';}


.intnhob { padding:20px 0; background:#fff; box-shadow: 4px 4px 4px -1px #ccc; -moz-box-shadow: 4px 4px 4px -1px #ccc; -webkit-box-shadow: 4px 4px 4px -1px #ccc;}
.default {width:235px!important;}

.mrg { margin:0 auto;}

.inthobright {color: #777777;
    float: right;
    font-size: 11px;
    padding: 0 10px;}


.temp_arrow {

}

/*

#addhobbies-music.chzn-container { width:97%!important; float:right;}
#addhobbies-music.formlist { margin: 0 0 0 -5px; padding: 0;}
#addhobbies-music.formlist li { height: 45px; width: 130px !important;}
#addhobbies-music.listitems { font-size: 12px; min-height: 20px; width: 130px !important;}

*/

#addhobbies-music .checkbox { padding-left:117px!important;}
#addhobbies-music .formlist li {width: 16%!important;}
#addhobbies-music .listitems {width:100%;}

/*

.temp_arrow:after {
	content: ' ';
	height: 0;
	position: absolute;
	width: 0;
	border: 15px solid transparent;
	border-top-color: #4293EF;
    top: 95px;
	left: 50%;
	margin-left: -10px;
}
	*/

.coverphotobox {
    position: relative;
    text-align: center;
	margin:0 auto;
	display:table-cell;
	vertical-align:middle;
	width:100%;
	background:#eee;
	height:370px!important;
	}
	
.ui-autocomplete-category {
 color:#888;
font-style:italic;
}
	
	
.whocpic {position: inherit; z-index: 999; color: #4293F0; font-size: 12px;}	
.whocpic span { display: inline-block!important; vertical-align: top;}
.whocpicinfo {position:absolute; border:1px solid #ccc; background:#fff; color:#333; text-align:left; padding:10px; width:200px; left:-55px; top:27px; box-shadow: 2px 2px 4px #aaa; -moz-box-shadow: 2px 2px 4px #aaa; -webkit-box-shadow: 2px 2px 4px #aaa; font-size:11px;}
.whocpicinfo ul li { padding:3px 0;}
.whocpicinfo ul li strong { font-family:'RobotoBold';}
.whocpicinfo:before {
	content: ' ';
	height: 0;
	position: absolute;
	width: 0;
	border: 10px solid transparent;
	border-bottom-color: #fff;
	top: -20px;
	left: 50%;
	margin-left: -10px;
}


.phototips {position:absolute; border:1px solid #ccc; background:#fff; color:#333; text-align:left; padding:10px; width:200px; right:-85px; top:27px; box-shadow: 2px 2px 4px #aaa; -moz-box-shadow: 2px 2px 4px #aaa; -webkit-box-shadow: 2px 2px 4px #aaa; font-size:11px;}
.phototips ul li { padding:3px 0;}
.phototips ul li strong { font-family:'RobotoBold';}
.phototips:before {
	content: ' ';
	height: 0;
	position: absolute;
	width: 0;
	border: 10px solid transparent;
	border-bottom-color: #fff;
	top: -20px;
	left: 50%;
	margin-left: -10px;
}



.pcropouter {position:relative; display:table; width:100%; }
.pcropouter p{color:#333; position:absolute; z-index:999; bottom:10%; width:100%; font-size:16px; text-shadow:-1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff; -moz-text-shadow:-1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff; -webkit-text-shadow:-1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff; text-transform:uppercase; text-align:center; font-weight:bold; font-family:Arial, Helvetica, sans-serif;}
	
.puptitle { background-color: #DFDFDF;
    border: 1px solid #ccc;
    border-radius: 12px;
    color: #787878;
    display: inline;
    font-size: 11px;
    font-weight: bold;
    padding: 3px 20px 3px;
    position: absolute;
    text-align: center;
    z-index: 9999;
	margin:-10px 0 0 -4%;}

.smkingtxt ul { width:280px; display:table; margin:0 auto;}
.smkingtxt ul li { list-style:none; float:left; text-align:center; font-size:10px; color:#333; display:table-cell; vertical-align:middle; width:33%;}

.drnktxt ul {margin:0 10% 0 0;}
.drnktxt ul li { list-style:none; clear:both; text-align:left; font-size:10px; color:#333; padding:34px 10px;}

.linkdinimport {-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #f6f7f7;
	border: solid 1px #cdcdcf;
	background-image: -webkit-linear-gradient(bottom, #dbdbdb, #fff);
	background-image: -moz-linear-gradient(bottom, #dbdbdb, #fff);
	background-image: -o-linear-gradient(bottom, #dbdbdb, #fff);
	background-image: linear-gradient(to top, #dbdbdb, #fff); text-align:left;
	padding:3px 10px 3px 5px;}
	
.linkdinimport a {	font-size: 14px; color: #58585b;}


.inthobselsec {border:3px solid #4293EF; overflow:hidden; width:844px; padding:10px 14px;}
.inthobmbnev { margin-bottom:-11px!important;}
.inthobtitle { font-family: 'robotolight'; font-size: 14px; font-style: italic; margin-top: 20px; text-align: left;}
.favitemsec { width:100%;}
.likesec { width:100%;}

/*Photo Module */

.pupactionbtn { text-align:center; margin:0 auto;}
.pupactionbtn a { background:#4293EF; padding:5px 20px; color:#fff; font-size:15px; margin:5px 10px; cursor:pointer; display:inline-block;}
.pupactionbtn p { background:#c9c8c8; padding:5px 20px; color:#eee; font-size:15px; margin:5px 10px; display:inline-block;}

.posrel { position:relative;}
.fmstyle {left: 10px; overflow: hidden; position: absolute; width: 190px; opacity: 0.01;}
.fmstyle input { cursor:pointer; width:190px; height:40px;}


.phfrmsec {margin: 10px 0 15px 15px; width: 770px; position:relative; float:left;}
.disphide { display:inline-block;}

/* function js changes */
.crjs5 {height:130px; overflow:visible; position:relative; padding:5px;}

/* My work end */

.tc{text-align:center;}
.clear{clear:both;}

/*Layout*/
.wrapper{width:100%;}
.container{width:960px;margin:0 auto;}

/*Header*/
.header{background:#fff;height:66px;-webkit-box-shadow: 0px 5px 3px -2px #d4d4d4;box-shadow: 0px 5px 3px -2px #d4d4d4; }
	/*Logo*/
	.logo{float:left;margin-top:15px;}


/*Registration Page*/
.caption{font-size:20px;text-align:center;margin:12px 0;text-shadow:0px 1px #f7f7f7;}
.captionphy {font-size:20px;text-align:center;margin:12px auto 0;text-shadow:0px 1px #f7f7f7; width:65%;}

.dividerlines{background:url(../../images/register/topline.png) no-repeat;width:499px;height:92px;margin:20px auto 0;}
.centericon{width:57px;height:57px;border-radius:50%;-webkit-border-radius:50%;-moz-border-radius:50%;-webkit-box-shadow: inset 0px 3px 3px -2px #3b7dc9;box-shadow: inset 0px 3px 3px -2px #3b7dc9;background:#4293ef;margin:10px auto;padding:10px;}
.centericon span{background:url(../../images/register/basic-icons.png) no-repeat center center;display: block;width:63px;height:59px;text-indent:-999px;}
.centericon span.cake{background-position:-1px -4px;}
.centericon span.age{background-position:-2px 0px;}
.centericon span.religion{background-position:0 -63px;}
.centericon span.livingspace{background-position:-2px -124px;}
.centericon span.language{background-position:-4px -178px;}
.centericon span.vitalstats{background-position:-4px -237px;}
.centericon span.disability{background-position:-2px -300px;}
.centericon span.smoking{background-position:-2px -359px;}
.centericon span.drinking{background-position:-4px -416px;}
.centericon span.food{background-position:-3px -474px;}
.centericon span.maritalstatus{background-position:-2px -531px;}
.centericon span.children{background-position:-2px -592px;}
.centericon span.family{background-position:-4px -1040px;}
.centericon span.manglik{background-position:0px -711px;}
.centericon span.work{background-position:-2px -772px;}
.centericon span.education{background-position:0 -832px;}
.centericon span.complexion{background-position:-4px -896px;}
.centericon span.height{background-position:-4px -969px;}


/*Main Content*/
.maincontainer{ display: table;width:100%;}
.left-you, .rt-her{float:none;width:45%;/*border-bottom:1px solid #c6c6c6;*/text-align:center;position:relative;display: table-cell;vertical-align: top;}
/*Left Side You*/
.left-you{background:#fff url(../../images/register/bg.gif) repeat-y right top;padding:0 3% 2% 2%; }
/*Right Side Her*/
.rt-her{background:#fff url(../../images/register/bg.gif) repeat-y left top;padding:0 2% 2% 3%;}
.innerleft{margin-right:2%;}
.innerright{margin-left:3%;}

.youicon{width:54px;height:54px;border-radius:50%;-webkit-border-radius:50%;-moz-border-radius:50%; -webkit-box-shadow: inset 0px 3px 3px -2px #3b7dc9;box-shadow: inset 0px 3px 3px -2px #3b7dc9;background:#4293ef;margin:-25px auto 0;}
.youicon img{padding:12px 0 0 2px;}
.youtext{color:#549cf0;text-transform:uppercase;margin-top:5px;}
.blue{color:#549cf0;margin-top:4px;font-size:14px;}

.formstyle{color:#333;}
.formlabel{font-size:15px;}
.formlabelnew{font-size:13px;}
.formlabel span, .formlabelnew span{color:#f5216d;font-size:12px;}
.formstyle select, .formstyle input, .formstyle textarea{background:#efefef;border:1px solid #cecccc;padding:5px 10px 5px 5px;color:#666;margin-top:7px;}
.formstyle input:focus{border: 1px solid #4293EF; -webkit-box-shadow: 0px 0px 2px 1px #cccccc;box-shadow: 0px 0px 2px 1px #cccccc; }
.inputwidth{width:280px;}
.inputnumber{width:100px;}
.pink{color:#f5216d;}
.inputmeridien{margin:7px auto;width:220px;text-align:center;}
.timeinput{float:left;margin:10px 10px 0 0;margin:15px 10px 0 0\9;}
.timeinput input{background:#efefef;border:1px solid #cecccc;width:60px;margin:0;width:42px\9;}
.meridien{float:left;width:56px;}
.am{height:30px;}

/* .formlist, .fromlist2 {margin-bottom:5px;} */

.formlist li{margin:0 2px 5px;display:inline-block;font-size:12px;text-align:center; height:34px!important;}
.formlist li input[type="radio"], .formlist li input[type="checkbox"], .complexion li input[type="radio"], .complexion li input[type="checkbox"]{margin-top:0;}
.fromlist2 li{height:60px;}

.professionaldetails ul li input[type="checkbox"] { background:#fff; border:none; padding-right:1px;}

/*Complexion*/
.complexion li{margin:0 1px 10px;display:inline-block;font-size:12px;text-align:center;width:65px;height:55px;}

/*Professional Details*/
.professionaldetails{width:280px;text-align:left; border:1px solid #DDDDDD; margin:0 auto; padding:10px;}

/*Select box*/
.selectsearch{display:inline-block;vertical-align:middle;}
.selectsearch .chzn-container {width:70px !important;}
.selectsearch .chzn-container .chzn-drop, .selectsearch .chzn-container-single .chzn-drop  {width:68px !important;}
.selectsearch .chzn-search{width: 70px !important;;}
.selectsearch .chzn-search input{width: 58px !important; width: 58px\9 !important;}
.inpboxwdth { width:100%!important;} 

/*Select box*/
.selectsearch_tm{display:inline-block;vertical-align:middle;}
.selectsearch_tm .chzn-container {width:125px !important;}
/* .selectsearch_tm .chzn-container .chzn-drop, .selectsearch .chzn-container-single .chzn-drop  {width:122px !important;} */
.selectsearch_tm .chzn-search{display:none;}


/*Smoking
.smokingimage{width:220px;height:138px;background:url(../../images/register/smoking.png) no-repeat;margin:10px auto 0;}
.Never{background-position:0 0;}
.Socially{background-position:0 -276px;}
.smokingimage3{background-position:0 -276px;}
.Often{background-position:0 -414px;}
.smokingstatus{width:220px;height:33px;background:url(../../images/register/smoking.png) no-repeat 0 -565px;margin:0 auto;position:relative;}
.smokingstatus li{display:inline-block;width:26px;height:26px;border-radius:50%;-webkit-border-radius:50%;-moz-border-radius:50%;}
.smokingstatus li.status1{position:absolute;top:4px;top:5px\9;left:5px;left:4px\9;}
.smokingstatus li.status2{position:absolute;top:4px;top:5px\9;left:98px;left:66px\9;}
.smokingstatus li.status3{position:absolute;top:4px;top:5px\9;right:4px;right:5px\9; }
.smokingstatus li.status4{position:absolute;top:4px;top:5px\9;right:4px;right:5px\9;}*/

/*Smoking*/
.smokingimage{width:220px;height:138px;background:url(../../images/register/smoking.png) no-repeat;margin:10px auto 0;}
.smokingimage1{background-position:0 0;}
.smokingimage2{background-position:0 -276px;}
.smokingimage3{background-position:0 -276px;}
.smokingimage4{background-position:0 -414px;}
.smokingstatus{width:220px;height:33px;background:url(../../images/register/smoking.png) no-repeat 0 -565px;margin:0 auto;position:relative;}
.smokingstatus li{display:inline-block;width:26px;height:26px;border-radius:50%;-webkit-border-radius:50%;-moz-border-radius:50%;}
.smokingstatus li.status1{position:absolute;top:4px;top:5px\9;left:5px;left:4px\9;}
.smokingstatus li.status2{position:absolute;top:4px;top:5px\9;left:98px;left:97px\9;}
.smokingstatus li.status3{position:absolute;top:4px;top:5px\9;right:4px;right:5px\9; }
.smokingstatus li.status4{position:absolute;top:4px;top:5px\9;right:4px;right:5px\9;}


/*Drinking*/
.drinkingimage{width:185px;height:200px;background:url(../../images/register/drinking.png) no-repeat;margin:20px auto 0;display:inline-block;}
.drinkingimage1{background-position:0 0;}
.drinkingimage2{background-position:0 -200px;}
.drinkingimage3{background-position:0 -400px;}
.drinkingimage4{background-position:0 -600px;}
.drinkingstatus{width:33px;height:200px;background:url(../../images/register/drinking.png) no-repeat -186px 0;position:relative;margin:20px auto 0;display:inline-block;vertical-align:top;}
.drinkingstatus li{width:26px;height:26px;border-radius:50%;-webkit-border-radius:50%;-moz-border-radius:50%;}
.drinkingstatus li.dstatus1{position:absolute;top:4px;top:5px\9;right:4px;right:3px\9;}
.drinkingstatus li.dstatus2{position:absolute;bottom:87px;bottom:86px\9;right:4px;right:3px\9;}
.drinkingstatus li.dstatus3{position:absolute;bottom:3px;bottom:2px\9;right:4px;right:3px\9;}
.drinkingstatus li.dstatus4{position:absolute;bottom:3px;bottom:2px\9;right:4px;right:3px\9;}

/*Common for Smoking and Drinking*/
.matchsmoke{width:114px;margin:10px auto 0;}
.matchsmoke li{margin-bottom:10px !important;}
.statusselected{margin:30px auto 0;width:114px;background:#4293EF;box-shadow: 0 3px 3px 0 #3B7DC9 inset;color: #FFFFFF;padding:8px 10px;font-size:12px;}

/*Food*/
.foodchoice li{margin:0 auto;width:210px;text-transform:uppercase;min-height:60px}
.foodchoice li .whattype{background:url(../../images/register/food-types.png) no-repeat top left;width:52px;height:46px;margin-right:10px;float:left;}
.foodchoice li .whattype.Vegetarian{background-position:0 0;}
.foodchoice li .whattype.Eggetarian{background-position:0 -98px;}
.foodchoice li .whattype.Non-Vegetarian{background-position:0 -196px;}
.foodchoice li .whattype.doesmatter{background-position:0 -294px;}

/*Brother's and Sister's*/
.cousins{margin:10px auto;}
.cousins td{display:inline-block;padding-bottom:10px;text-align:left;}
.cousins .td1{width:150px;}
.cousins .td2{width:120px;}
.cousins td .chzn-container {width:60px !important;display:inline-block;vertical-align:middle;}
.cousins td .chzn-container .chzn-drop, .cousins td .chzn-container-single .chzn-drop  {width:58px !important;}
.cousins td .chzn-container-single .chzn-single{margin-top:0 !important;}
.cousins td .chzn-search{display:none;}

/*Work and Education*/
.designation{border:1px solid #cfcdcd;text-align: left;width: 280px;padding:10px;position:relative; margin:0 auto;}
.close{position:absolute;right:2px;top:2px;cursor:pointer;}
.keepitcheck input[type="checkbox"]{background:none;border:none;padding:0;}
.keepit{color:#f5216d;font-size:12px;}
.addmore, .addmoreed{text-align:right;margin:5px 70px 0 0;font-size:12px;}
.addmore a, .addmoreed a{color:#f5216d;}
.addmore a:hover, .addmoreed a:hover{color:#000;}

/*Yearly Income*/
.slider{display:inline-block;width:213px;}
.menincome{display:inline-block;width:211px;}
.rangecount input{background:none;border:none;width:200px;}
.rangecount input:focus{border:none;box-shadow:none;}
.rangesliderfigure p{display:inline-block;font-family:'RobotoBold';font-size:18px;}
.rangesliderfigure input{width:60px;}
.rangesliderfigure label{background:#c5c5c5;color:#666; padding: 6px;}
.rangesliderfigure p.betweento{font-family: 'RobotoRegular';margin:0 10px;}

/*Hobbies*/
.pinksmall{color:#e7276b;font-size:12px;font-family: 'RobotoRegular';}
.hobbies li{background:#fff;text-align:center;width:240px;margin:5px 0 0 0;border-bottom:1px solid #c6c6c6;float:left;}
.topwhite{background:#fff;border-right:1px solid #e4e4e4;padding:30px 0 10px;height:150px;}
.hobbytitle{color:#4293f0;font-size:20px;padding:0 0 10px 0;}
.graybg{display: table;width: 169px;height: 170px;padding:0 35px; text-align: center;background:#eee;color: #666;border-right:1px solid #fff;}
.graybg span {display: table-cell;vertical-align: middle;text-transform:uppercase;font-family: 'RobotoBold';}
.htitle{text-transform:uppercase;color:#666;font-family: 'RobotoBold';margin:15px 0 5px;}
.graybg.last{border-right:0px !important;width:170px;}
.note{color:#e7276b;font-size:20px;text-align:center;padding:40px 0 10px 0;clear:both;}

/*Pop Up*/
.poptitle{font-size:26px;text-align:center;color:#333;}
.popuplist{padding:0;margin:10px 0 15px 33px; overflow:hidden;}
.popuplist li{display:inline-block;text-align:center;margin:8px; border-left:1px solid #b1b1b1; border-right:1px solid #b1b1b1; border-top:1px solid #b1b1b1; border-bottom:3px solid #4293EF; padding:10px; background:#fff; width:80px; float:left; position:relative;}
.popuplist li a{color:#969696;}
.popuplist li span{width:72px;height:72px;border-radius:50%;-webkit-border-radius:50%;-moz-border-radius:50%; -webkit-box-shadow: inset 0px 3px 3px -2px #b1b1b1;box-shadow: inset 0px 3px 3px -2px #b1b1b1;margin-top:5px;display:inline-block;background-color:#b1b1b1;}
.popuplist li .hobbies-icon{background-image:url(../../images/register/hobbies.png);background-repeat:no-repeat;}
.popuplist li .hobbies-icon.music{background-position:7px 13px;}
.popuplist li .hobbies-icon.reading{background-position:-47px 13px;}
.popuplist li .hobbies-icon.eating{background-position:-105px 13px;}
.popuplist li .hobbies-icon.movies{background-position:-163px 11px;}
.popuplist li .hobbies-icon.tv{background-position:-220px 9px;}
.popuplist li .hobbies-icon.sports{background-position:-278px 13px;}
.popuplist li .hobbies-icon.travel{background-position:-342px 13px;}
.popuplist li .hobbies-icon.cooking{background-position:8px -55px;}
.popuplist li .hobbies-icon.outdoors{background-position:-57px -57px;}
.popuplist li .hobbies-icon.adventure{background-position:-124px -57px;}
.popuplist li .hobbies-icon.social{background-position:-195px -55px;}
.popuplist li .hobbies-icon.collection{background-position:-283px -55px;}
.popuplist li .hobbies-icon.other{background-position:-285px -55px}
.popuplist li a:hover, .popuplist li a.active{color:#4293f0;}
.popuplist li span:hover, .popuplist li a.active span{background-color:#4293ef;-webkit-box-shadow: inset 0px 3px 3px -2px #3b7dc9;box-shadow: inset 0px 3px 3px -2px #3b7dc9;}
.activeinthob {background-color:#8abbee!important;}
.popuplistactive { border:3px solid #4293EF!important;  padding-bottom:8px !important; }
.popuplistactive img {position:absolute; left:0px; bottom:-6px;}
.filledinthob {border: 1px solid #b1b1b1 !important; border-bottom:none!important; padding-bottom:10px!important;}

.music_arrow {position:absolute;}
.books_arrow {position:absolute;}
.movies_arrow {position:absolute;}
.food_arrow {position:absolute;}
.sports_arrow {position:absolute;}
.travel_arrow {position:absolute;}
.other_arrow {position:absolute;}

.fields{display:inline-block;margin-right:40px;margin-right:30px\9;}
.fieldslast{display:inline-block;}

/*After Popup selected*/
.selectedicon{width:113px;height:113px;border-radius:50%;-webkit-border-radius:50%;-moz-border-radius:50%;background:url(../../images/register/hobbies-icons.png) no-repeat left center #4293ef;-webkit-box-shadow: inset 0px 3px 3px -2px #3b7dc9;box-shadow: inset 0px 3px 3px -2px #3b7dc9;margin:0 auto;}
.hobbies .music{background-position:0 center !important;}
.hobbies .reading{background-position:-113px center !important;}

/*Cover Photo*/
.browser{background:#fff;-webkit-box-shadow: 0px 0px 2px 1px #c8c8c8;box-shadow: 0px 0px 2px 1px #c8c8c8;width:960px;height:450px;display: table;text-align: center;margin:10px auto 25px; }
.browser span {display: table-cell;vertical-align: middle;}

.file-wrapper {
cursor: pointer;
overflow: hidden;
position: relative;
float:left;
}
.file-wrapper input {
cursor: pointer;
font-size: 100px;
height: 100%;
filter: alpha(opacity=1);
-moz-opacity: 0.01;
opacity: 0.01;
position: absolute;
right: 0;
top: 0;
}
.file-wrapper .button, .bulebutton {
background: #4293f0;
color: #fff;
cursor: pointer;
padding: 4px 0 0;
width:300px;text-align:center;height:30px;float:left;margin-right:30px;
}
.button span, .bulebutton span{margin-left:10px;font-size:20px;vertical-align:middle;}
.file-wrapper.last, .bulebutton.last{margin-right:0 !important;}
.bulebutton a{color:#fff;}
.bulebutton.last img{margin-top:2px;}

.morepic{text-align:center;margin:40px 0;}
.morepic li{background:#fff url(../../images/register/morephotos_add.png) no-repeat 50% 50%;-webkit-box-shadow: 0px 0px 2px 1px #c8c8c8;box-shadow: 0px 0px 2px 1px #c8c8c8;width:250px;height:170px;margin:20px 15px 10px;display:inline-block;}

/*Completed*/
.completed li{background:#fff;text-align:center;width:319px;border-right:1px solid #E4E4E4;float:left; padding:25px 0; border-bottom: 1px solid #C6C6C6;}
.showicon{width:93px;height:93px;border-radius:50%;-webkit-border-radius:50%;-moz-border-radius:50%;background:#4293ef;-webkit-box-shadow: inset 0px 3px 3px -2px #3b7dc9;box-shadow: inset 0px 3px 3px -2px #3b7dc9;margin:0 auto;padding:10px;}
.showicon span{background:url(../../images/register/subscribe-icons.png) no-repeat center center;width:88px;height:84px;display:block;text-indent:-9999px;}
.showicon span.matchphoto{background-position:5px 1px;}
/*.showicon span.voicecall{background-position:4px -83px;}*/
.showicon span.message{background-position:4px -88px;}
.showicon span.commrestriction{background-position:0px -187px;}
.showicon img{padding:15px 0 0 0;}
.ctitle{color:#666;margin-top:10px;text-transform:uppercase;}
.lightgray{color:#666;margin:0 auto;width:83%;}
.bluenew{color:#549cf0;font-size:18px;font-family: 'robotomedium';text-align:center;margin-top:50px;}
.notenew{color:#e7276b;font-size:24px;text-align:center;padding:50px 0 10px 0;clear:both;}

/*Simple Modal Popup*/
/* Overlay */
#simplemodal-overlay {background-color:#000;}

/* Container */
#simplemodal-container {height:690px; width:970px; color:#bbb; background-color:#fff; padding:30px 90px 20px;}

.gbmprtbtn { margin:5px 0 0 20px; float:left;}
.gbmprtbtn a{color:#fff;font-size:14px;padding:5px 10px 10px; background:#425f9c;text-align:center;-moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;}
.gbmprtbtn a:hover{background:#314c85;}

/*Back and Continue*/
.backleft{float:left;width:149px;height:46px;background:url(../../images/register/buttons.png) no-repeat left top;margin-bottom:20px;text-align:center;cursor:pointer;-webkit-border-top-right-radius: 4px;
-webkit-border-bottom-right-radius: 4px;
-moz-border-radius-topright: 4px;
-moz-border-radius-bottomright: 4px;
border-top-right-radius: 4px;
border-bottom-right-radius: 4px;}
.backleft a{color:#fff;font-size:18px;display:block;padding:9px 0 13px 20px}
.backleft:hover{background-position: 0 -47px;}

.continuert{float:right;width:149px;height:46px;background:url(../../images/register/buttons.png) no-repeat right -94px;margin-bottom:20px;text-align:center;cursor:pointer;-webkit-border-top-left-radius: 4px;
-webkit-border-bottom-left-radius: 4px;
-moz-border-radius-topleft: 4px;
-moz-border-radius-bottomleft: 4px;
border-top-left-radius: 4px;
border-bottom-left-radius: 4px;}
.continuert a{color:#fff;font-size:18px;display:block;padding:9px 15px 13px 0;}
.continuert:hover{background-position: right -141px;}

.diffcontinue{float:right;width:149px;height:46px;background:url(../../images/register/diffcontinue.png) no-repeat;margin-bottom:20px;text-align:center;-webkit-border-top-left-radius: 4px;
-webkit-border-bottom-left-radius: 4px;
-moz-border-radius-topleft: 4px;
-moz-border-radius-bottomleft: 4px;
border-top-left-radius: 4px;
border-bottom-left-radius: 4px;}
.diffcontinue p{color:#eee;font-size:18px;display:block;padding:9px 15px 13px 0;}

.accept{float:none;margin:0 auto;}

/*Terms and conditions, Privacy Settings*/
.buttonleft, .buttonright{float:left;background:#4996f0;text-align:center;font-size:14px;}
.buttonleft a, .buttonright a{color:#fff;display:block;padding:10px;}
.buttonright{float:right;}
.buttonleft a:hover, .buttonright a:hover{-webkit-box-shadow: inset 0px 1px 2px 1px #377ac8;box-shadow: inset 0px 1px 2px 1px #377ac8;}

/*Linked In*/
.connectto{clear:both;margin:0 auto;text-align:center;}

.lnkinsec {background:#f2f2f2; margin: 0px auto; width: 280px; margin-bottom:-20px; padding:10px; border-left:1px solid #CFCDCD; border-right:1px solid #CFCDCD; border-top:1px solid #CFCDCD; border-bottom:none; position:relative;}

.linkinfo {text-align: left; position: absolute; background:#4293EF; color:#fff; padding: 5px 10px; right: -44px; z-index: 1; bottom: -37px; display:none;}
.linkinfo:before  {content: ' '; height: 0; position: absolute; top:-10px; left:46%; width: 0; border: 5px solid transparent; border-bottom-color: #4293EF;}





/*Trust Builder*/
.trustlist{width:57%;margin:10px auto;}
.trustlist li{display:inline-block;margin-right:50px;}
.trustlist li a{color:#e7276b;font-size:17px;text-transform:uppercase;}
.trustlist li:last-child{margin-right:0;}

.trustmeter-reading{width:70px;height:70px;background:#fff;border-radius:50%;position:absolute; top:-10px; right:5px; border:1px solid #4293F0; z-index:1; padding:3px;}
.trustmeter-reading img{margin:10px 0 0 0;}
.trustmeter-reading p{color:#4293f0;font-size:11px;margin-top:3px;text-align:center;}
	
.trustbg{background:#fff;padding:40px 20px 20px;margin-bottom:20px;}
.trustdivider{border-left: 1px solid #4293F0;min-height:83%;position:absolute;right:59px;}
.trustposition{position:relative;z-index:2;}
.iconsmall{font-size:16px;margin:2px 10px 0 0;color:#666;float:left;}
.trustdetails{border-bottom:1px solid #dddddd;padding:10px 0; position:relative; background:url(../../images/dashboard/bluedot.png) repeat-y; background-position:96.5% 0%;}
.trustdetails ul { padding:5px 0;}
.trustdetails ul li{display:inline-block;vertical-align:top;}

.trustdetails .td0{width:35px;}
.trustdetails .td1{font-size:14px;width:210px;width:210px\9; padding:5px 0 0;}
.trustdetails .td1 img{margin-top:4px;}
.trustdetails .td2{width:310px; font-size:12px; padding:5px 0 0;}
.trustdetails .td3{width:250px;}
.trustdetails .td4{width:50px; margin:0 11px;}
.trustdetails .td5{margin: -6px 0 0; position: absolute; right: 8px; width: 50px; top:10px;}
.trustdetails .td2 .inputwidth{width:212px; height: 34px;}

.bluecircle{width:40px;height:40px;border-radius:50%;background:#4293f0; padding:5px; color:#fff; font-size:12px; font-weight:bold; line-height:38px; text-align:center;}
.bluecircle img{margin:12px 10px;}
.graycircle{width:40px;height:40px;border-radius:50%;background:#d8d8d8;color:#4293f0;font-size:13px; font-family: Arial, Helvetica, sans-serif;padding:10px 5px 0;text-align:center; line-height:30px;}

.uploadbtn a{color:#fff;text-transform:uppercase;background:#4293f0;padding:10px 20px;border-radius:3px;}
.uploadbtn a:hover{background:#116AD0;}

.uploadbtn1 { float:right;}
.uploadbtn1 a{color:#fff;background:#4293f0;padding:7px;border-radius:3px; font-size:14px;}
.uploadbtn1 a:hover{background:#116AD0;}

.uploadbtn2 { float:right; margin:13px 6px 0 0;}
.uploadbtn2 a{color:#fff;background:#4293f0;padding:7px;border-radius:3px; font-size:14px;}
.uploadbtn2 a:hover{background:#116AD0;}

.uploadbtn3 { float:right; margin:8px 27px 0 0}
.uploadbtn3 a{color:#fff;background:#4293f0;padding:7px;border-radius:3px; font-size:14px;}
.uploadbtn3 a:hover{background:#116AD0;}


.trustdropbox .chzn-container {width:250px !important;}
.trustdropbox .chzn-container .chzn-drop, .trustdropbox .chzn-container-single .chzn-drop  {width:248px !important;}
.trustdropbox .chzn-search{display:none;}
.trustdropbox .chzn-container-single .chzn-single{margin-top:0 !important;}

.facebook{background:#3a589b;text-align:center;width:210px;padding:6px 0;}
.facebook a, .linkedin a{color:#fff; font-size:14px;}

.linkedin{background:#007ab9;text-align:center;width:210px; padding: 6px 0; height:20px;}


/*Media Screen*/ 
@media screen and (max-width:800px){
.container{width:98%;margin:0 auto;}
.dividerlines{background:url(../../images/register/topline-tab.png) no-repeat;width:388px;}
.left-you, .rt-her{width:47%;padding:0 1% 1%;}
.formlist li{margin:0 2px 5px; height:34px;}
.browser { width:99%; height:460px;}
.phfrmsec {width: 570px;}

.captionphy {width:70%;}

.cousins .td1{width:119px;}
.cousins .td2{width:90px;}
.cousins .td3{width:80px;}


.trustdetails { background-position:95.5% 0;}
.trustdetails .td2 { width:220px;}
.trustdetails .td3 { width:180px;}

/* .professionaldetails{margin-left:33px;} */
.addmore, .addmoreed {margin-right:30px;}

/*Height*/
.heightcount{width:62%;margin:20px auto;}
.toinbetween{width:82%;margin:10px 0 5px;font-size:18px;}

.lightgray { width: 80%;}

#simplemodal-container {width:90%;padding:10px;}
.popuplist li { margin: 8px 2px; padding:5px 2px;}
.file-wrapper .button, .bulebutton { width: 225px;}
.completed li {width: 245px;}
.popuplistactive {padding-bottom: 3px !important;}
.inthobselsec { width:92%;}

/* #addhobbies-music .listitems{ width: 82%; } */

.phupnote {width:50%;}
.phototips {width:145px; right:-30px;}
.uploadbtn1 { margin-left:0;}
.uploadbtn3 { float:right; margin:13px 7px 0 0;}

}

@media screen and (max-width:640px){
.container{width:92%;margin:0 4%;}
.dividerlines{background:url(../../images/register/topline-640.png) no-repeat;width:284px;}

.chzn-container {width:215px !important;}
.chzn-container .chzn-drop, .chzn-container-single .chzn-drop  {width:212px !important;}
.selectsearch .chzn-search input{width: 58px !important; width: 58px\9 !important;}
/* .chzn-container-single .chzn-search input {width:202px !important;} */
.chzn-container-multi .chzn-choices .search-field input {width:190px !important;}


.trustdetails { background-position:94% 0;}


.captionphy {width:90%; font-size:18px;}

.inputwidth{width:200px;}

.cousins .td1{width:100px;}
.cousins .td2{width:63px;}
.cousins .td3{width:63px;}

.professionaldetails {width:215px;}
.designation, .lnkinsec {width: 215px;}
.addmore, .addmoreed {margin-right:20px;}

.lightgray { width: 100%;}

.hobbies{text-align:center;margin:0 auto;}
.hobbies li{float:none;display:inline-block;}
.hobbies-icon { background-image:url(../../images/register/hobbies/hobbies_new.png)!important;}
.popuplist {margin: 10px 0 15px 5px;}
.popuplist li { margin: 10px 2px; font-size:13px; width:50px;}
.popuplist li span { width:42px; height:42px;}
.browser{width:96%; height:590px;}
.phfrmsec {width: 515px;}

.file-wrapper .button, .bulebutton {margin-right:10px;width:184px;}
.completed li {width: 188px;}
/* .hobbies-icon { display:none!important;} */
.popuplistactive {padding-bottom: 1px !important;}
.inthobmbnev {margin-bottom: -13px !important;} 
.music {background-position: 6px 3px !important;}
.reading {background-position: -50px 3px !important;}
.movies  {background-position: -163px 3px !important;}
.eating { background-position: -105px 3px !important;}
.sports {background-position: -219px 4px !important;}
.travel {background-position: -273px 3px !important;}
.other {background-position: -323px 3px !important;}

#addhobbies-music .formlist li { width: 23% !important;}

/* #addhobbies-music .listitems {width: 65%;} */


.trustmeter-reading{ top:114px;}
.trustdetails .td1 { width:170px;}
.trustdetails .td3 { padding: 10px 0 0; width: 79%;}
/* .trustBuilderError { text-align:center!important;} */
.tbsucess { text-align:center!important;}
.trustdetails .td2 { width:250px;}
/* .trustdetails .td2 .inputwidth{width:130px;} */
.uploadbtn2 { float:right; margin:13px 38px 0 0;}
.uploadbtn3 { margin:13px 38px 0 0;}

}

@media screen and (max-width:480px){
.container {margin: 0 1%; width: 98%;}
.dividerlines{background:url(../../images/register/toplinemobile.png) no-repeat;height:130px;width:230px;}	
.left-you, .rt-her{width:96%;display:inline-block;padding:0 2% 4%;background:#fff;}
.left-you{margin-bottom:50px;}
.youdivider:before{background:url(../../images/register/toplinemobile.png) no-repeat top center;width:100%;height:50px;position:absolute;top:-50px;left:0;content:"";display:block; z-index: -9;}
.innerleft{margin-right:0;}
.youdivider{margin-left:0;}

.inthobselsec { margin-top:2px;}
.trustdetails { background-position:92.5% 0;}
.trustdetails .td1 { width:auto;}
.trustdetails .td2 {padding-left: 15%; width: 70%;}
.trustdetails .td3 { padding-left: 15%; width:70%;}

.chzn-container {width:300px !important;}
.chzn-container .chzn-drop, .chzn-container-single .chzn-drop  {width:298px !important;}
/* .chzn-container-single .chzn-search input {width:292px !important;} */
.selectsearch .chzn-search input{width: 58px !important; width: 58px\9 !important;}
.chzn-container-multi .chzn-choices .search-field input {width:290px !important;}

.inputwidth{width:280px;}

.cousins .td1{width:119px;}
.cousins .td2{width:80px;}
.cousins .td3{width:65px;}

.professionaldetails {width:300px;}
.designation, .lnkinsec {width:300px;}
.addmore, .addmoreed {margin-right:40px;}

.buttonleft, .buttonright{float:none;margin:0 auto;}
.buttonright{margin-top:10px;}

.hobbies li { width: 210px;}
.graybg, .graybg.last{width: 181px;padding: 0 14px;}
.popuplist{padding:0;}
.popuplist li{margin:8px 0; width:42px;}
.fields{margin:0 auto;}
.file-wrapper{float:none;}
.file-wrapper .button, .bulebutton { margin:0 0 10px; width: 300px;float:none;display:inline-block;}
.morepic li {margin: 10px;width: 190px;}
.completed{text-align:center;}
.completed li{float:none;display:inline-block;margin-bottom:5px;width:210px;}

.browser { width:99%; height:570px;}
.phfrmsec {width: 95%; clear:both;}
.disphide { display:none!important;}
/* .pupactionbtn a {  font-size: 12px;  margin: 5px 5px 0 0; padding: 5px 10px;} */

.fmstyle { left:0px; width: 140px;}

.fmstyle input {width: 140px;}
/* #addhobbies-music .listitems {font-size:11px;} */
#addhobbies-music .formlist li { width:48%!important;}
.gbmprtbtn { padding-top: 10px; text-align: center; width:100%; margin:0 auto;}
.inttitle { text-align: center!important; width: 100%!important;}
.phupnote {width:100%; text-align:center;}
.whocpic { width:100%; text-align:center;}
.whocpicinfo { left:60px;}
.phototips {right:60px;}
.pupactionbtn a { margin:15px 0 0 0;}


.facebook{width:100%;}
.linkedin{width:295px;}

.uploadbtn2 { margin:13px 0 0 0;}
.trustdetails .td2 .inputwidth { width:200px;}
.uploadbtn3 { margin:13px 0 0 0;}
}

@media screen and (max-width:320px){
.formstyle select{width:215px;}	
.chzn-container {width:215px !important;}
.chzn-container .chzn-drop, .chzn-container-single .chzn-drop  {width:212px !important;}
/* .chzn-container-single .chzn-search input {width:202px !important;} */
.selectsearch .chzn-search input{width: 58px !important; width: 58px\9 !important;}
.chzn-container-multi .chzn-choices .search-field input {width:190px !important;}
	
.inputwidth{width:215px;}
	
.cousins .td1{width:100px;}
.cousins .td2{width:69px;}
.cousins .td3{width:63px;}

.professionaldetails {width:215px;}
.designation, .lnkinsec {width:215px;}
.addmore, .addmoreed {margin-right:20px;}

.backleft, .continuert{width:110px;}
.backleft a{padding:9px 0 13px 20px}
.continuert a{padding:9px 10px 13px 0;}

.file-wrapper .button, .bulebutton{width:260px;}
.buttonleft, .buttonright{width:280px;}
.buttonleft a, .buttonright a{padding: 10px;}
.morepic li {width: 250px;}
.popuplist li {margin:5px 4px;}
.completed li{width:246px;}

.browser { width:99%; height:450px;}
.phfrmsec {width: 90%; clear:both;}
.disphide { display:none!important;}



.fmstyle { left:0px; width: 295px;}

.fmstyle input {width: 295px;}


.hobbies-icon { background-image:url(../../images/register/hobbies/hobbies_new2.png)!important;}
.popuplist li { margin: 10px 1px; font-size:10px; width:37px; padding:5px 0;}
.popuplist li span { width:33px; height:33px;}
.popuplistactive img {bottom: -7px; height: 10px;}
.music {background-position: 6px 3px !important;}
.reading {background-position: -36px 3px !important;}
.movies  {background-position: -119px 3px !important;}
.eating { background-position: -76px 3px !important;}
.sports {background-position: -159px 4px !important;}
.travel {background-position: -200px 3px !important;}
.other {background-position: -236px 3px !important;}
.inthobselsec { margin-top:0px; width:88%;}
.fileContainer { padding:5px 27px;}
.whocpicinfo { left:0;}
.phototips {right:0;}
.actmsgtxt { font-size:12px; line-height:16px;}
.actmsgtxt ul {margin: 15px 0;}
.actmsgtxt ul li { font-size:12px; margin:10px 0;}
.actmsgtxt ul li i { font-size:16px;}
/* #addhobbies-music .listitems { font-size: 10px;} */


#photo_pane .pane_style{ width:260px!important; height:260px!important;}
.pane_style{ width:100%!important; height:100%!important;}
.jcrop-tracker, .jcrop-holder, .imgloader {width:260px!important; height:260px!important;}
.coverphotobox { height:300px!important;} 

.trustdetails { background-position:92% 0;}
.linkedin{width:200px;}
.uploadbtn2 { margin:13px 0 0 0;}
.trustdetails .td2 .inputwidth { width:200px;}
.uploadbtn3 { margin:13px 0 0 0;}
.trustmeter-reading{right:-7px;}
.trustdetails .td5 {right:-3px;}
.trustdetails .td0 {width:30px;}
.iconsmall { margin: 2px 2px 0 0;}

}


