@import url('reset.css?v=1');
@import url('font-awesome.css?v=3');
@import url('jquery-ui-1.10.3.custom.css');
@import url('jquery.ui.spinner.css');
@import url('flat-ui.css?v=2');
@import url('layout.css?v=1');
@import url('chosen.css?v=2');
@import url('register.css?v=5');
@import url('custom.css?v=1');

.image-scroller {
  height: 640px;
  -moz-user-select: none;
  overflow: hidden;
  position: relative;
  -webkit-user-select: none;
  width: 960px;
}


.image-scroller img {
  display: block;
  left: 0;
  position: absolute;
  top: 0;
}

.image-scroller .preview {
  border: 5px solid #fff;
  bottom: 20px;
  height: 180px;
  left: 20px;
  position: absolute;
  width: 135px;
}
.image-scroller .preview .indicator {
  background: #000;
  cursor: move;
  display: block;
  left: 0;
  position: absolute;
  width: 135px;
}
