

.mrg {margin:0 auto;}
.pad {padding:0;}
.fr  {float:right;}
.fl {float:left;}
.ovrf {overflow:hidden;}
.clb {clear:both;}
.brdrbtm { border-bottom:none;}
.fs11 { font-size:11px;}

.difusescreen {background: #000000; height: 100%; left: 0; margin: 0 auto; opacity: 0.7; overflow: hidden; position: fixed; top: 0; width: 100%; z-index: 1000;}
.popupframe { background:#FFFFFF; box-shadow: 0 0 10px #000000; display: block; left: 0; margin: 5% auto; overflow: hidden; padding: 15px; position: fixed; right: 0; top: 5%; width: 640px; z-index: 1000; }

.verifypaysec { background:#FFFFFF; width:97%; -webkit-box-shadow: 1px 1px 3px #ccc; -moz-box-shadow: 1px 1px 3px #ccc; box-shadow: 1px 1px 3px #ccc; color:#333; position:relative;}
	
	
.activevrfypay {background:#d9e1eb; font-size:14px; color:#333; text-align:left; height:60px; line-height:18px;}
.activevrfypay ul { margin:0 auto; display:table; list-style:none; padding:0; float:left; width:85%;}
.activevrfypay ul li { margin:0 auto; float:left; display:table-cell; vertical-align:middle; width:33%; padding:13px 0 0 0; background:url(../../images/register/seperator1.png) no-repeat; background-position:right; }
.activevrfypay ul li span { font-size:14px;}
.activevrfypay ul li p {background:url(../../images/register/tb_feature.png) no-repeat; display: inline-block; height: 40px; margin: 0 auto; padding: 0 0 0 50px; text-align: left; width:105px;}
.bsrchrnk { background-position:2px 2px!important;}
.ernfrcr {background-position:2px -49px!important;}
.getmrmsg {background-position:0px -99px!important;}
.divinblck {display:inline-block; text-align:left;}



.activetabno {-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; background-color: #777; -webkit-box-shadow: inset 1px 2px 2px #555;
	-moz-box-shadow: inset 1px 2px 2px #555; box-shadow: inset 1px 2px 2px #555; font-size: 15px; color: #fff; text-align:center; font-weight:bold; padding:2px; width:20px; float:left; margin:0 15px 0 0;}
	
.dactivevrfypay {background-color: #fff; border-bottom:1px dashed #ccc; border-top:1px dashed #ccc; padding:15px 10px; font-size:16px; color:#333; text-align:left;}
.dactivevrfypay a { color:#4293f0; font-size:14px;}

.dactivetabno {-webkit-border-radius: 10px 0 0 10px; -moz-border-radius: 10px 0 0 10px; border-radius: 10px 0 0 10px; background-color: #D12261; font-size: 15px; color: #fff; text-align:center; font-weight:bold; padding:2px 10px 2px 5px; float:left; margin:-2px 0 0 -22px; position:absolute; -webkit-box-shadow: 1px 2px 2px #818181; -moz-box-shadow: 1px 2px 2px #818181; 	box-shadow: 1px 2px 2px #818181;}
.dactivetabno img { margin-right:8px;}	


.tabcontentsec { padding:10px; clear:both; margin:0 auto; font-size:14px; text-align:left; line-height:20px; background:#fff; position:relative;}
.shadowboxv {-webkit-box-shadow: 2px 2px 6px 0 #BDBDBD; -moz-box-shadow: 2px 2px 6px 0 #BDBDBD; box-shadow: 2px 2px 6px 0 #BDBDBD;}
 /* .trustdropbox .chzn-container { width:202px !important;} */


.fbimportveribtn { float:left; margin:5px 0 0 0;}
.fbimportveribtn a {-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; background-color: #405d9b; -webkit-box-shadow: 0 0 3px #999; -moz-box-shadow: 0 0 3px #999; box-shadow: 0 0 3px #999; border: solid 1px #fff; font-size: 14px; color: #fff; text-align:left; padding:9px 10px;}
.fbimportveribtn a:hover {background-color: #536faa;}
.fbimportveribtn img { border:none; margin:3px 5px 0 0; padding-bottom:5px;}

.styled-select { width: 210px; height: 34px; background: url(../../images/register/nsm_newddselect.png) no-repeat right #fff; border: 1px solid #888888; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; margin:0 auto;}
   
.styled-select select { background: transparent; width: 210px; padding:8px 6px; font-size: 12px;
/* line-height: 2;
 */
 border: 0; border-radius: 0; height: 34px; -webkit-appearance: none;  -moz-appearance: none; text-indent: 0.01px; text-overflow: '';}
.styled-select select option { padding:5px 0 5px 10px;}
 
.styled-select form:select { background: transparent; width: 210px; padding:8px 6px; font-size: 12px; line-height: 1; border: 0; border-radius: 0; height: 34px; -webkit-appearance: none;  -moz-appearance: none; text-indent: 0.01px; text-overflow: '';}

.vactionbox {background-color: #f1f1f1; -webkit-box-shadow: 0 0 5px #757575; -moz-box-shadow: 0 0 5px #757575; box-shadow: 0 0 5px #757575; float:right; margin:0 auto; padding:6px; width:48.5%; text-align:left;}
.vactionbox a {-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; background-color: #4293f0; font-size:13px; color:#fff; padding:5px 10px;}
.vactionbox a:hover {background-color: #116AD0;}
.vactionbox span { margin:0 10px 0 10px; color:#777;}
.sbmtbtn { font-size:13px !important; padding:8px; text-transform: none !important; margin-right:5px; background:#4293F0!important;; color:#fff!important; -moz-border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; border:none!important;}

.bluecircletick{width:24px;height:24px;border-radius:50%;background:#229922; padding:1px; color:#fff; text-align:center;}
.bluecircletick img{margin:7px 5px; width:15px; height:12px;}

 .pieContainer { height: 33px; margin:10px 0 0 12px; }
 .pieBackground { background-color: #c5d9f1; position: absolute; width: 66px; height: 33px; -moz-border-radius: 33px 33px 0 0; -webkit-border-radius: 33px 33px 0 0; -o-border-radius: 33px 33px 0 0; border-radius: 33px 33px 0 0; } 
 .pie { position: absolute; width: 66px; height: 66px; -moz-border-radius: 33px; -webkit-border-radius: 33px; -o-border-radius: 33px; border-radius: 33px; clip: rect(0px, 33px, 66px, 0px); }
 .hold { position: absolute;  width: 66px; height: 33px; -moz-border-radius: 33px; -webkit-border-radius: 33px; -o-border-radius: 33px; border-radius: 33px; clip: rect(0px, 66px, 33px, 0px);}
  #pieSlice1 .pie { background-color: #4293f0; -webkit-transform:rotate(-90deg);  -moz-transform:rotate(-90deg); -o-transform:rotate(-90deg); transform:rotate(-90deg); transition: 1s; -webkit-transition: 1s; }
  .persentbg { background-color: #fff; position: absolute; width: 46px; height: 23px; -moz-border-radius: 23px 23px 0 0; -webkit-border-radius: 23px 23px 0 0;  -o-border-radius: 23px 23px 0 0; border-radius: 23px 23px 0 0; margin:10px 0 0 10px; text-align:center; } 
  .persentbg p {color:#4293f0; padding:0; margin:7px 0 0 0; font-size:15px; font-weight:bold;}
   .crditscrbg { background-color: #4293f0; position: absolute; width: 66px; height: 33px; -moz-border-radius: 33px 33px 0 0; -webkit-border-radius: 33px 33px 0 0; -o-border-radius: 33px 33px 0 0; border-radius: 33px 33px 0 0; } 
  .crditscrbg p {color:#fff; padding:0; margin:12px 0 0 0; font-size:15px; font-weight:bold;}
	
	
	.freecrdittxt {font-size:12px; color:#009000; text-align:left; padding:0; margin:0 0 0 30px; line-height:normal; font-family:'robotolight'; clear:both;}
	
	.addwaletpnts { padding:0; margin:0 auto; font-size:14px; line-height:14px; text-align:left; color:#0a9300;}
	.addwaletpnts img { width:30px;}
	.listitems { padding:5px 0 !important;}


.inputwidth {background: #FFFFFF; border: 1px solid #888888; border-radius: 3px; -webkit-border-radius:3px; -o-border-radius:3px; -moz-border-radius:3px; padding: 8px; width: 212px;}

.percent_loader{transition: 1s; -webkit-transition: 1s;height: 20px; width: 0%; background:url(../../images/register/progressbg.png)}

.pbartrust {width:100%; height: 20px; border: 1px solid #999; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px;}

.flnamehide {white-space:nowrap; width:100%; overflow:hidden; text-overflow:ellipsis;}

.tbActiveMsg{ float:left; text-align:left; font-size: 14px; color:#0A9300; font-family:'RobotoMedium'; }
.tbActiveMsg strong {font-family:'RobotoBold';}


/* Payment page */

.activevrfypay2 {background-color: #efe5e9;font-size:14px; color:#333; text-align:left; height:60px; line-height:18px;}
.activevrfypay2 ul { margin:0 auto; display:table; list-style:none; padding:0; float:left; width:100%;}
.activevrfypay2 ul li { margin:0 auto; float:left; display:table-cell; vertical-align:middle; width:33%; padding:13px 0 0 0; background:url(../../images/register/seperator2.png) no-repeat; background-position:right; }
.activevrfypay2 ul li span { font-size:14px;}
.activevrfypay2 ul li p {background:url(../../images/register/pay_feature.png) no-repeat; display: inline-block; height: 40px; margin: 0 auto; padding: 0 0 0 50px; text-align: left;}
.payf1 { background-position:5px -5px!important;}
.payf2 {background-position:2px -47px!important;}
.payf3 {background-position:0px -88px!important;}
.payf4 {background-position:0px -132px!important;}
.divinblck2 {display:inline-block; text-align:left;}

.payment_sec { padding:20px;}
.payment_sec ul { margin:0 auto; list-style:none; width:100%; padding:0; display:table;}
.payment_sec ul li { margin:10px; float:left; display:table-cell; vertical-align:middle; position:relative;}
.payplan {text-align:center; color:#fff; padding:13px;background:#E7276B; font-size:14px; width:95px; cursor: pointer;}
.payplan h3 {border-bottom: 1px solid #D8D8D8; font-size: 15px !important; padding-bottom: 5px; text-transform: uppercase; font-weight:normal; }
.pkgname {color: #F4F4F4; font-size: 11px; font-weight:bold;}
.pkgrate { font-size:16px;}

.payplanactive {text-align:center; color:#fff; padding:13px; background:#b80041; font-size:14px; width:95px; -webkit-box-shadow: 3px 4px 3px #ccc;
	-moz-box-shadow: 3px 4px 3px #ccc; 	box-shadow: 3px 4px 3px #ccc; border:1px solid #b80041; margin-bottom:0 !important;}
.payplanactive h3 {border-bottom: 1px solid #D8D8D8; font-size: 15px !important; padding-bottom: 5px; text-transform: uppercase; font-weight:normal; }

.payplanactive:after  {content: ' '; height: 0; position: absolute; width: 0; border: 10px solid transparent; border-top-color: #b80041; top: 100%; left: 50%; margin-left: -10px;}

.pkgcndtn { margin-top:12px!important; border:1px solid #ddd; overflow:hidden; width:300px!important; }
.pkgcndtn li { clear:both; font-size:12px; line-height:16px; color:#333; font-family: 'RobotoRegular'; text-align:left; margin:5px!important;}
.pkgcndtn li strong {font-family: 'RobotoBold'}

.vermobsec1 {margin-top: 10px; background:#fff6f9; border:1px dashed #E7276B; padding:10px;}

.paysucmsg { box-shadow: 1px 1px 3px #ccc;-moz-box-shadow: 1px 1px 3px #ccc;-webkit-box-shadow: 1px 1px 3px #ccc; text-align:center; padding:5%; width:50%; font-size:24px; margin:40px auto; background:#fff;}


.tbfetsec { margin:0 auto; float:none;}
.brdrnone {}
.dmquti {margin:5px 0 0 -102px; float:left;}

@media screen and (max-width:800px){
.dmquti { margin: 5px 0 0 -12px;}
}

@media screen and (max-width:640px){
.activevrfypay { font-size:12px; line-height:12px; height:auto;}
.activevrfypay ul li { float:none; display:inline; background:none; width:100%; clear:both; padding:0;}
.tbfetsec { float:left; clear:both; padding:10px; display:table; width:100%; margin:0 5%; border-bottom:1px dashed #999;}
.brdrnone { border:none;}
.activevrfypay ul li p { padding:0 0 0 50px; width:100%; display:table-cell; vertical-align:middle; font-size:16px;}
.addwaletpnts {padding:0 0 0 35px;}
.dmquti { margin:0 auto; float:right;}
}


@media screen and (max-width:480px){

.activevrfypay { font-size:12px; line-height:12px;}
.activevrfypay2 { font-size:12px; line-height:12px; height:50px;}
.activevrfypay2 ul li { padding:5px 0 0;}
.activevrfypay2 ul li p { padding:0 0 0 20px; background:url(../../images/dashboard/pay_feature1.png) no-repeat; height: 20px;}
.payf1 { background-position:0 0!important;}
.payf3 {background-position:0px -53px!important;}
.payf4 {background-position:0px -76px!important;}

.vermobsec1 { font-size:12px;}
.pkgcndtn { margin-left:-13px!important;}

.styled-select, .styled-select select { width:100%;}
.addwaletpnts {padding:0; text-align:center;} 
.tbActiveMsg { text-align:center; width:100%;}
.freecrdittxt {margin:3px 0 0 10px; clear:none; float:left;}

}

@media screen and (max-width:320px){
/*
.addwaletpnts {padding:0; text-align:left;} 
.tbActiveMsg { text-align:left; width:100%;}
*/
.activevrfypay ul li p { font-size:14px;}
.tbfetsec { margin:0 auto;}
.activevrfypay ul { width:100%;}
.freecrdittxt {margin: 3px 0 0 5px;}
.tabcontentsec {padding: 10px 5px;}
}