<body>
<div bgcolor="#000000">
    <table border="0" cellspacing="0" cellpadding="0" width="100%">

        <tbody>

        <tr>

            <td align="middle">

                <table style="width: 650px" border="0" cellspacing="0" cellpadding="0" width="650">

                    <tbody>

                    <tr>

                        <td>

                            <table style="border-bottom: #c7c7c7 1px solid; border-left: #c7c7c7 1px solid; width: 650px;                                          border-top: #c7c7c7 1px solid; border-right: #c7c7c7 1px solid" border="0" cellspacing="0" cellpadding="0">

                                <tbody>

                                <tr>

                                    <td style="text-align: left;padding-bottom: 10px; background-color: #de1783; padding-left: 10px; padding-right: 10px;                                                      font: bold italic 18px verdana; color: #ffffff; padding-top: 10px" align="left">

                                        <!--
                                          <span style="margin-left: 30px">
                                            %AppName%
                                            <span style="font-size: 9px">
                                            </span>
                                          </span>
                     -->
                                        <img src="http://imgup.io/images/2016/05/13/723ecff986b05394e27d5a77592abf6d.png" style="width:130px" ;="">

                                    </td>

                                </tr>

                                <tr>

                                    <td style="padding-bottom: 25px; padding-left: 25px; padding-right: 25px; padding-top: 25px" width="100%" align="left">

                                        <table border="0" cellspacing="0" cellpadding="0" width="625">

                                            <tbody>
                                            <tr>
                                                <td>
                                                    <img src="http://imgup.io/images/2016/05/13/0c6fbdd2e27c555dd4662a24214c2f14.jpg" style="width: 100%; float: none;" ;="">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>

                                                    <h3 style="margin-top: 0px; color: #444444; font-size: 18px">
                                                        <br>
                                                    </h3>
                                                    <h3 style="margin-top: 0px;color: #444444;font-size: 18px;text-align: center;">
                                                        Hi {$name},
                                                    </h3>

                                                    <p style="margin-bottom: 20px;text-align: center;">
                                          <span style="color: rgb(68, 68, 68); font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 19.6px;">We really did not foresee this!<br>
                                              </span>

                                            <span style="color: rgb(68, 68, 68); font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 19.6px; background-color: transparent;">Due to a totally unexpected website maintenance of Forever21.com, the vouchers rewarded to you with our Refer and Earn can't be redeemed right now :'(<br>
                                                </span>
                                                        <span style="color: rgb(68, 68, 68); font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 19.6px; background-color: transparent;">To make it up to you like a true bestie, we are replacing them with Koovs.com vouchers of the same amount:<br></span>



                                                    </p>
                                                    <p style="text-align: center;">
                                                <span style="color: rgb(68, 68, 68); font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.4em; text-align: center; font-weight: bold; background-color: transparent;">
                                                  {$coupon_codes}&nbsp;
                                                  <br>
                                                    15th August 2016
                                                    </span>
                                                    </p>

                                                    <p style="
    text-align: center;
"><span style="color: rgb(68, 68, 68); font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 19.6px; background-color: transparent;">Here's hoping you have an awesome time shopping and boybrowsing!<br></span>
                                                    </p>


                                                <span style="color: rgb(68, 68, 68); font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.4em;">
                                                  <br>Cheers</span>
                                                    <br>
                                                    <span style="color: rgb(68, 68, 68); font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.4em;">
                                                      Team TrulyMadly.
                                                      <br>
                                                        <br>
                                                          </span>
                                                    <p style="margin: 0px 0px 20px;">
                                                          <span style="color: rgb(68, 68, 68); font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.4em;">
                                                            <img src="http://imgup.io/images/2016/05/04/601a11b428d92d001995f95d9fbcdd0c.png" style="width: 100px;">
                                                              &nbsp;
                                                              </span>
                                                    </p>

                                                    <div style="width: 640px; margin-bottom: 8px; border-top: #c7c7c7 1px solid">

                                                    </div>

                                                </td>

                                            </tr>

                                            </tbody>

                                        </table>

                                    </td>

                                </tr>

                                </tbody>

                            </table>

                        </td>

                    </tr>

                    </tbody>

                </table>

            </td>

        </tr>

        </tbody>

    </table>

</div>
</body>