<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"><html><head><META http-equiv="Content-Type" content="text/html; charset=utf-8"></head><body>




<div style="padding:0px;margin:0px">



    <table width="101%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td valign="top"><table width="603" border="0" align="center" cellpadding="0" cellspacing="0" style="border:#f0f0f0 solid 1px;background-color:#f8f8f8">
                    <tr>
                        <td width="601"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td style="font-family:Arial,Helvetica,sans-serif;font-size:0px;color:#fff">60% of the Truly Madly men said that they would love to take style advice from women!

                                    </td></tr></table></td>
                    </tr>



                    <tr>
                        <td align="center" valign="top" bgcolor="#F4F4F4"><a href="http://app.appsflyer.com/com.shopping.limeroad?pid=trulymadlyWomen&amp;c=app_install&amp;utm_source=email_9march&amp;utm_campaign=trulymadlyWomen&amp;deep_link=http://www.limeroad.com/tag/styleyourman&amp;authparam=%7Bauth_id%7D%7Btime()%7D&amp;utm_source=newsletter&amp;utm_medium=email&amp;utm_campaign=10_best_selling_7th_dec_2015_low" target="_blank"><img src="http://media.sailthru.com/3kl/1k0/6/m/576a55d9a69fd.gif" style="font-family:Georgia,&#39;Times New Roman&#39;,Times,serif;display:block;font-size:15px" alt="60% of the Truly Madly" title="60% of the Truly Madly" border="0"></a></td>
                    </tr>

                    <tr>
                        <td align="center" valign="top" bgcolor="#F4F4F4"><a href="http://www.limeroad.com/tag/styleyourman?authparam=%7Bauth_id%7D%7Btime()%7D&amp;utm_source=newsletter&amp;utm_medium=email&amp;utm_campaign=10_best_selling_7th_dec_2015_low" target="_blank"><img src="http://media.sailthru.com/3kl/1k0/6/m/576a55da3f1c8.png" style="font-family:Georgia,&#39;Times New Roman&#39;,Times,serif;display:block;font-size:15px" alt="AWESOME LOOKS" title="AWESOME LOOKS" border="0"></a></td>
                    </tr>

                    <tr>
                        <td align="center" valign="top" bgcolor="#F4F4F4"><a href="http://app.appsflyer.com/com.shopping.limeroad?pid=trulymadlyWomen&amp;c=app_install&amp;utm_source=email_9march&amp;utm_campaign=trulymadlyWomen&amp;deep_link=http://www.limeroad.com/tag/styleyourman&amp;authparam=%7Bauth_id%7D%7Btime()%7D&amp;utm_source=newsletter&amp;utm_medium=email&amp;utm_campaign=10_best_selling_7th_dec_2015_low" target="_blank"><img src="http://media.sailthru.com/3kl/1k0/6/m/576a55da8e4bd.png" style="font-family:Georgia,&#39;Times New Roman&#39;,Times,serif;display:block;font-size:15px" alt="DOWNLOAD THE LIMEROAD APP" title="DOWNLOAD THE LIMEROAD APP" border="0"></a></td>
                    </tr>

                </table></td>
        </tr>

    </table>

</div>

</body></html>