<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"><html><head><META http-equiv="Content-Type" content="text/html; charset=utf-8"></head><body>





<div style="padding:0px;margin:0px">
  

    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td valign="top"><table width="561" border="0" align="center" cellpadding="0" cellspacing="0" style="border:#f0f0f0 solid 1px;background-color:#f8f8f8">
                    <tr>
                        <td colspan="2"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td style="font-family:Arial,Helvetica,sans-serif;font-size:0px;color:#fff">TrulyMadly and Limeroad present The style your man contest</td>
                                </tr>
                            </table></td>
                    </tr>

              

                    <tr>
                        <td colspan="2" align="center" valign="top" bgcolor="#fff"><a href="http://www.limeroad.com/tag/styleyourman?authparam=%7Bauth_id%7D%7Btime()%7D&amp;utm_source=newsletter&amp;utm_medium=email&amp;utm_campaign=10_best_selling_7th_dec_2015_low" target="_blank"><img src="http://media.sailthru.com/3kl/1k0/6/m/576a724a5bfb6.gif" width="100%" border="0" style="font-family:Georgia,&#39;Times New Roman&#39;,Times,serif;display:block;font-size:15px;margin-bottom:0px" alt="style your man contest" title="style your man contest"></a></td>
                    </tr>


                    <tr>
                        <td align="center" valign="top" bgcolor="#fff">
                            <table width="600" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td><a href="http://www.limeroad.com/tag/styleyourman?authparam=%7Bauth_id%7D%7Btime()%7D&amp;utm_source=newsletter&amp;utm_medium=email&amp;utm_campaign=10_best_selling_7th_dec_2015_low" target="_blank"><img src="http://media.sailthru.com/3kl/1k0/6/m/576a724b3f8d3.gif" alt="CREATE ON DESKTOP" style="display:block;margin-bottom:0px;margin-top:0px" title="CREATE ON DESKTOP" border="0"></a></td>
                                    <td><a href="http://app.appsflyer.com/com.shopping.limeroad?pid=trulymadlyWomen&amp;c=app_install&amp;utm_source=email_9march&amp;utm_campaign=trulymadlyWomen&amp;deep_link=http://www.limeroad.com/tag/styleyourman&amp;authparam=%7Bauth_id%7D%7Btime()%7D&amp;utm_source=newsletter&amp;utm_medium=email&amp;utm_campaign=10_best_selling_7th_dec_2015_low" target="_blank"><img src="http://media.sailthru.com/3kl/1k0/6/m/576a724b8787b.gif" style="display:block;margin-bottom:0px;margin-top:0px;margin-left:0px;margin-right:0px" alt="DOWNLOAD THE APP" title="DOWNLOAD THE APP" border="0"></a></td>
                                </tr> </table> </td>
                    </tr>


                    <tr>
                        <td height="2" colspan="2" bgcolor="#6E6F71"><table width="97%" border="0" align="center" style="font-size:14px;font-family:Georgia,&#39;Times New Roman&#39;,Times,serif;color:#fff" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td width="574" height="20" style="color:#fff;text-decoration:none;font-size:14px;font-family:Georgia,&#39;Times New Roman&#39;,Times,serif"> </td>
                                </tr>

                                
    </table>

</div>
</body></html>