body{font-family: 'Eurofurence','Open Sans',  sans-serif; font-size:14px; color:#2e3f49; background:#2e3f49; margin:0; padding:0;} 
a {cursor:pointer; text-decoration:none;}
a:hover {text-decoration:none;}

.fl {float:left;}
.fr {float:right;}
.fn {float:none;}
.clb {clear:both;}
.overf {overflow:hidden;}
.posrel {position:relative;}
.mt10 { margin-top:10px;}
.mb10 { margin-bottom:10px;}
.hide {display:none;}
.mrg1 {margin:2px 10px 0 0;}
.whspn {white-space:nowrap;}

.new_wrapper {width:100%; margin:0 auto; min-height:620px; background:url(../../images/profile/pagebg.gif) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; }
/*.bgmatchgrad {background:url(../../images/profile/pagebg.gif) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; }*/
.new_container {width:960px; margin:0 auto; overflow:hidden;}
.pagination { text-align:center; margin:10px 0;}
.pagination h3 {text-transform:uppercase; color:#ee6296; font-size:24px; font-weight:normal; padding:0; margin:0 auto;}
.pagenos {color:#598fc9; font-size:18px; padding:0 5px; margin:0 auto; display:inline-block;}
.pagination p { padding:3px; margin:0 2px; background:#e6e7e8; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; display:inline-block;}
.pageactive {background:#598fc9 !important;}

.loadermsg {margin:0 auto; padding:20px 0 0 0;}
.loadermsg img {width:150px;}
.loadermsg p {width:100%; font-size:18px; margin:0 auto; padding:0; text-align:center;}

.crousouter {position:relative;}
.arrowsec {position:absolute; top:44%; width:360px; z-index:999; margin-left: auto; margin-right: auto; left: 0; right: 0; height:0;}
.arrowpoint {height:40px; width:20px; background:#2e3f49; opacity:0.5; margin:0 auto; text-align:center;}
.arrowright {border-radius: 0 5px 5px 0; -moz-border-radius: 0 5px 5px 0; -webkit-border-radius: 0 5px 5px 0; float:right;}
.arrowleft {border-radius: 5px 0 0 5px; -moz-border-radius:  5px 0 0 5px; -webkit-border-radius: 5px 0 0 5px; float:left;}
.arrowpoint i {color:#fff; font-size:30px; margin:4px 0 0 0; display:inline-block !important; }

.bespoke-parent{width:650px !important;height:515px !important; position: relative; overflow:hidden;-webkit-perspective:1600px;-moz-perspective:1600px;-ms-perspective:1600px;perspective:1600px;}

::i-block-chrome,.bespoke-parent{-webkit-perspective:0;}

.newmatch {width:320px; height:505px; overflow:hidden; background-image:url(../../images/profile/regpage_bg.gif); -webkit-box-shadow: 0 2px 6px rgba(0,0,0,.45); -moz-box-shadow: 0 2px 6px rgba(0,0,0,.45); box-shadow: 0 2px 6px rgba(0,0,0,.45); border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;  text-transform:uppercase;}
.nomatchblnk {font-size:18px; color:#fff; text-align:center; padding:30px; background:rgba(46,63,73,0.85); text-transform:none; height:505px; line-height:24px; display:table-cell; vertical-align:middle; }

.nomatchblnk a {background:#ed0c6e; padding:5px 10px; color:#fff; text-align:center; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; margin:20px 0 0 0; display:inline-block; text-transform:uppercase; white-space:nowrap;}

.skiptxt1 {color:#fff; font-size:14px; padding:0 !important; margin:0 !important; clear:both; text-transform:none !important; background:none !important;}

.matchimg {position:relative; clear:both; height:320px; width:320px; background-size: cover !important; background-repeat: no-repeat !important; background-position: 50% 20% !important;}
.propic {width:320px; height:320px;}
.stampicon {position:absolute; top:50px; left:10px; z-index:2; border:none;}

.matchname {position:absolute; top:0; left:10px; text-align:center; width:300px; background:rgba(46,63,73,0.85); border-radius:0 0 5px 5px; -moz-border-radius:0 0 5px 5px; -webkit-border-radius:0 0 5px 5px; color:#fff; font-size:18px; padding:10px 0;}
.matchmutual {background-image:url(../../images/profile/fbmutualfrnd1.png); background-repeat:no-repeat; background-position:top left; height:30px; position:absolute; right:0; top:5px;}
.matchmutual p {background:#ed0c6e; color:#fff; font-size:12px; border-radius:100%; -moz-border-radius:100%; -webkit-border-radius:100%; padding:2px 0 0 0; margin:0 5px 0 22px; width:16px; height:16px;}

.promutfrnd {position:absolute; top:25px; right:-20px; padding:5px 0 0 5px; background:rgba(237,012,110,0.9); width:150px; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; z-index:10;} 
.promutfrnd:after {content: ' '; height: 0; position: absolute; width: 0; border: 5px solid transparent; border-bottom-color:rgba(237,012,110,0.9); bottom: 100%; right: 25px;}
.promutfrnd ul {margin:0 auto; padding:0; list-style-type:none; text-align:left; max-height:200px; overflow:auto;}
.promutfrnd ul li {margin:0 0 5px 0; padding:0; clear:both; overflow:hidden}
.promutfrnd ul li img {width:25px; height:25px; border:none; float:left; margin:0 5px 0 0}
.promutfrnd ul li p {font-size:14px; color:#fff; padding:5px 0 0 0; margin:0 auto; float:left;}
.promutfrnd ul li p span {font-size:11px; color:#e6e7e8;}

.photocount {position:absolute; left:10px; top:41px; color:#fff; font-size:11px; background-image:url(../../images/profile/bggraytrans.png); padding:5px;}
.photocount img {margin:0 5px 0 0;}
.viewprofile {position:absolute; bottom:0; right:10px; text-align:left; width:100px;  background:rgba(46,63,73,0.85); border-radius:0 5px 0 0; -moz-border-radius:0 5px 0 0; -webkit-border-radius:0 5px 0 0; color:#fff; padding:5.5px 0; font-size:11px; line-height:13px}
.viewprofile img {border:0; margin:2px 5px 0 15px; float:left;}
/*
.matchscore {position:absolute; bottom:0; left:10px; width:200px; background:#f0f1f1; border-radius:5px 0 0 0; -moz-border-radius:5px 0 0 0; -webkit-border-radius:5px 0 0 0; font-size:20px; text-align:left; padding:5px 0 0 0; color:#0072bc;}
.matchscore p {color:#ed0c6e; font-size:11px; padding:0; margin:0 auto;}
.matchscore img {float:left; margin:0 5px 3px 5px; border:0;}
*/

.mscoresec {background:rgba(221,221,221,0.4); border-radius:0 0 5px 5px; -moz-border-radius:0 0 5px 5px; -webkit-border-radius:0 0 5px 5px; width:300px; margin:0 10px; text-align:left; overflow:hidden; height:130px;}
/* .mscoresec p { font-size:14px; margin:5px; padding:0; clear:both;} */

.scalesec {width:290px; height:7px; background:#fff; position:relative; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; -webkit-box-shadow: 1px 1px rgba(0,0,0,.05); -moz-box-shadow: 1px 1px rgba(0,0,0,.05); box-shadow: 1px 1px rgba(0,0,0,.05); margin:0 5px;}
.scalesec img {border:none; z-index:2; position:absolute; top:1px; left:1px; width:289px; height:6px;}
.progbar {height:7px; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;}
/* Scale Section */
.pgb1 {background:#87afdb; width:75%;}
.pgb2 {background:#fd8cb5; width:27%;}
.pgb3 {background:#bebadc; width:51%;}
.pgbtxt1 {color:#0072bc;}
.pgbtxt2 {color:#ed0c6e;}
.pgbtxt3 {color:#5f5f5f;}
.pgbtxt4 {color:#0072bc; margin:15px 5px 0 5px !important;}
.pgbtxt4 span {color:#ed1372;}

/*
.comnlikes {white-space: nowrap; overflow-y: hidden; overflow-x:auto; -webkit-overflow-scrolling: touch; background-color: #fff; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; margin:5px; width:280px; padding:0 5px; -webkit-box-shadow: 1px 1px rgba(0,0,0,.05); -moz-box-shadow: 1px 1px rgba(0,0,0,.05); box-shadow: 1px 1px rgba(0,0,0,.05);}
.comnlikes a {color:#fff; font-size:12px; margin:5px 0 5px 0; padding:3px 5px; background:#9b9b9b; border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px; display:inline-block;}
*/

/*.matchaction {background:rgba(46,63,73,0.85); color:#fff; font-size:20px; text-align:center; width:44%; padding:10px 0; border-radius:5px 5px 0 0; -moz-border-radius:5px 5px 0 0; -webkit-border-radius:5px 5px 0 0; margin:0 0 -5px 0; display:inline-block; position:absolute; bottom:5px;}
.matchaction i { margin:0 5px 0 0;}
.like_user {right:4%;}
.hide_user {left:4%;}*/

.matchaction {width:50px; height:50px; -webkit-border-radius: 100%; -moz-border-radius: 100%; border-radius: 100%; background:#f25499 url(../../images/profile/likehidemaybe.png) no-repeat; display:inline-block; margin:3px 2px 0 2px; }
.like_user { background-position:10px -32px !important;}
.hide_user { background-position:-41px -32px !important;}
.maybeact {width:35px; height:35px; -webkit-border-radius: 100%; -moz-border-radius: 100%; border-radius: 100%; background:#68757e url(../../images/profile/likehidemaybe.png) no-repeat -97px -42px; display:inline-block; margin:0 2px 7px 2px; }


/* Profile css copy */

.proworkedu {margin:8px 0; padding:0; list-style:none;}	
.proworkedu li {font-size:15px; line-height:14px; color:#006eb5; float:left; margin:0 auto; display:block; overflow:hidden; text-transform:none;}	
.proworkedu li h4 {margin:0 auto; padding:0; font-size:15px; font-weight:normal; color:#006eb5; float:left;}
/*.proworkedu li span {color:#0072bc; font-size:12px; text-transform:none;} */
.wewidth1 {width:35px; text-align:center; padding:2px 0 0 0;}
.wewidth2 {width:255px; text-align:left; white-space:nowrap; text-overflow:ellipsis; padding:5px 0 0 0;}
.matdeticon {font-size:20px; color:#598fc9; position:relative;}
.hashtag {color:#e6e7e8; font-size:16px; padding:2px 5px; margin:0 auto; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; background:#598fc9; display:inline-block; }

.inhobsec { margin:15px 5px; padding:0; list-style:none;}
.inhobsec li {color:#fff; font-size:12px; float:left; margin:0 5px 5px 0; padding:3px 5px; background:#ee6296; border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px; text-transform:uppercase;}

/* Trust Score */
.trustscore {position:absolute; bottom:0; left:10px; width:200px; background:#f0f1f1; border-radius:5px 0 0 0; -moz-border-radius:5px 0 0 0; -webkit-border-radius:5px 0 0 0; padding:2px 0 0 0;}
.trustscore h3 {font-size:20px; text-align:left; color:#006eb5; margin:0 auto; float:left; padding:15px 0 0 5px; font-weight:normal; }
.tmtitle { font-size:11px; color:#0072bc; text-align:center; width:70px; float:left; margin:0 0 0 5px;}  
.pieContainer { height: 33px; margin:0 auto; }
.pieBackground { background-color: #c5d9f1; position: absolute; width: 66px; height: 33px; -moz-border-radius: 33px 33px 0 0; -webkit-border-radius: 33px 33px 0 0; -o-border-radius: 33px 33px 0 0; border-radius: 33px 33px 0 0; } 
.pie { position: absolute; width: 66px; height: 66px; -moz-border-radius: 33px; -webkit-border-radius: 33px; -o-border-radius: 33px; border-radius: 33px; clip: rect(0px, 33px, 66px, 0px); }
.hold { position: absolute;  width: 66px; height: 33px; -moz-border-radius: 33px; -webkit-border-radius: 33px; -o-border-radius: 33px; border-radius: 33px; clip: rect(0px, 66px, 33px, 0px);}
#pieSlice1 .pie { background-color: #0072bc; }
.persentbg { background-color: #f0f1f1; position: absolute; width: 46px; height: 23px; -moz-border-radius: 23px 23px 0 0; -webkit-border-radius: 23px 23px 0 0;  -o-border-radius: 23px 23px 0 0; border-radius: 23px 23px 0 0; margin:10px 0 0 10px; text-align:center; } 
.persentbg p {color:#0072bc; padding:0; margin:7px 0 0 0; font-size:16px;}
  
/* Popup Deactivated */
.difusescreen {background: none repeat scroll 0 0 #000000; height: 100%; left: 0; opacity: 0.7; overflow: hidden; position: fixed; top: 0; width: 100%; z-index: 1000; margin:0 auto; }

.popupframe { position: fixed; top: 0; margin:5% auto; left: 0; right: 0; z-index: 1000; background:#fff;  width:50%; -webkit-box-shadow: 0 0 10px #000; -moz-box-shadow: 0 0 10px #000; box-shadow: 0 0 10px #000; padding:0;}
.popupframe h4 {background:#d6034e; color:#fff; font-size:18px; text-align:center; margin:0 0 10px 0; padding:5px 0;}
.popupframe h4 a {color:#fff; padding:0 10px 0 0;}
.popupframe p { margin:0 auto; padding:10px 20px; text-align:left; font-size:16px; clear:both;}
.actionbtn {background:#ed0c6e; border:none; font-size:18px; color:#fff; text-align:center; text-transform:uppercase; padding:10px 25px; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; margin:0 10px 10px 0; white-space:nowrap;}
.diffregbcbtn {background:rgba(198,198,198,0.8); border:none; font-size:18px; color:#888; text-align:center; text-transform:uppercase; padding:10px 25px; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; margin:0 0 10px 0; white-space:nowrap;  cursor:default; opacity:0.6;}

.popupmaybe { position: fixed; top: 0; margin:10% auto; left: 0; right: 0; z-index: 1000; background:#fff;  width:300px; -webkit-box-shadow: 0 0 10px #000; -moz-box-shadow: 0 0 10px #000; box-shadow: 0 0 10px #000; padding:0; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px;}
.popupmaybe p { margin:0 auto; padding:20px; text-align:center; font-size:18px; clear:both;}
.popupmaybe p span {color:#0072bc;}


.closepopup { position:absolute; top:-10px; right:-10px; color:#2e3f49; font-size:24px; background:#fff; border-radius:50%; -moz-border-radius:50%; -webkit-border-radius:50%; padding:1px 3px 0 3px;}

.closepopup1 { position:absolute; top:2%; right:1%; color:#2e3f49; font-size:24px; background:#fff; border-radius:50%; -moz-border-radius:50%; -webkit-border-radius:50%; padding:1px 3px 0 3px; z-index:999;}

.closemsg { position:absolute; top:1px; right:3px; color:#e6e7e7; font-size:18px; z-index:999;}


/*What's new */
.popupframewn { position: fixed; top: 0; margin:2% auto; left: 0; right: 0; z-index: 1000; background:#fff;  width:96%; -webkit-box-shadow: 0 0 10px #000; -moz-box-shadow: 0 0 10px #000; box-shadow: 0 0 10px #000; padding:0; overflow:hidden; /* height:85%; overflow-y:auto; overflow-x:hidden; */}
.wnbgsec {background:url(../../images/wnbg.jpg) no-repeat top center; -webkit-background-size: 100%; -moz-background-size: 100%; -o-background-size: 100%; background-size: 100%;  margin:0px; padding:0px; overflow:hidden; min-height:360px; width:100%;}
.wnbgsec h5 {color:#fff; float:left; margin:5% 0 0 10%; padding:0; font-size:80px; font-weight:normal; font-family:'Eurofurence Light','Open Sans', sans-serif; text-transform:uppercase;}
.whtnewtxt {margin:0 auto; padding:0; width:100%; overflow:hidden; background-color: #e6e7e8; background-image: -webkit-linear-gradient(bottom, #f9f9f9, #e7e7e7); background-image: -moz-linear-gradient(bottom, #f9f9f9, #e7e7e7); background-image: -o-linear-gradient(bottom, #f9f9f9, #e7e7e7); 	background-image: linear-gradient(to top, #f9f9f9, #e7e7e7);}
.whtnewtxt li {margin:0 auto; padding:1%; width:25%; float:left; list-style-type:none;}
.whtnewtxt li h6 {font-size:26px; text-transform:uppercase; color:#0072bc; text-align:left; font-weight:normal; margin:0 0 10px 0; padding:0;}
.whtnewtxt li h6 span {color:#ed0c6e;}
.whtnewtxt li ul {margin:0 auto; padding:10px 0 0 0; width:100%; border-top:1px solid #ccc;}
.whtnewtxt li ul li {margin:5px 0 10px 20px; padding:0; float:none; width:auto; color:#777; font-size:18px; text-align:left; list-style:url(../../images/tickmark.png); list-style-position:outside;}
.wntilebg {background-color: #e6e7e8; -webkit-box-shadow: inset 0 0 20px rgba(0,0,0,.05); -moz-box-shadow: inset 0 0 20px rgba(0,0,0,.05); box-shadow: inset 0 0 20px rgba(0,0,0,.05); background-image: -webkit-linear-gradient(bottom, #e7e7e7, #f9f9f9); background-image: -moz-linear-gradient(bottom, #e7e7e7, #f9f9f9);
background-image: -o-linear-gradient(bottom, #e7e7e7, #f9f9f9); background-image: linear-gradient(to top, #e7e7e7, #f9f9f9);}

/* Mutual Match Css */
.mutmatchsec {-webkit-box-shadow: 0 1px 6px rgba(0,0,0,.35); -moz-box-shadow: 0 1px 6px rgba(0,0,0,.35); box-shadow: 0 1px 6px rgba(0,0,0,.35); border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; margin:15px 0; font-size:18px; width:60%; overflow:hidden; background:#fff;}
.mmwraper {margin:20px; overflow:hidden;}
.mmwraper h3 {color:#ed0c6e; font-size:24px; text-align:left; float:left; font-weight:normal; margin:0 0 10px 0; padding:0; text-transform:uppercase;}
.emptymsg {clear:both; text-align:left; margin:0 auto; font-size:18px;}
.matchblue { position:relative; margin:10px 0 3px 0; padding:10px; list-style:none; overflow:hidden; clear:both; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; background-color: #598fc9; -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.70); -moz-box-shadow: 0 1px 3px rgba(0,0,0,.70); box-shadow: 0 1px 3px rgba(0,0,0,.70);}
.matchblue li {color:#fff; text-align:left; margin:0 auto; padding:0; text-transform:uppercase;}
.matchblue li a {color:#fff;}
.mmtd1 {width:85px;}
.mmtd1 img {width:70px; height:70px; border:none; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; float:left;}
.mmtd2 {}
.mmtd2 h4 {font-size:24px; font-weight:normal; clear:both; margin:0 0 3px 0; padding:0;}
.mmtd2 p {font-size:18px; clear:both; margin:0 auto; padding:0; line-height:20px;}
.mmtd2 p span {font-size:13px; color:#e6e7e8; font-style:italic; text-transform:none; white-space:nowrap;}
.mmtd3 {}
.mmtd3 img {margin:17px 0 0 0; border:none; width:39px; height:32px;}
.mmtd3 a {width:50px; height:50px; -webkit-border-radius: 100%; -moz-border-radius: 100%; border-radius: 100%; background:#f0438e url(../../images/profile/likehidemaybe.png) no-repeat; display:inline-block; margin:15px 0 0 2px; }
.prolike { background-position:10px -32px !important;}
.prohide { background-position:-41px -32px !important;}

.mmpopupframe {position: fixed; top: 0; margin:5% auto; left: 0; right: 0; z-index: 1000; background:#fff;  width:40%; -webkit-box-shadow: 0 0 10px #000; -moz-box-shadow: 0 0 10px #000; box-shadow: 0 0 10px #000; padding:0;}
.mmpopupframe p { margin:0 auto; padding:20px; text-align:left; font-size:18px; clear:both;}
.mmactionbtn {background:#ed0c6e; font-size:20px; color:#fff; text-align:center; display:inline-block; padding:8px 15px; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; text-transform:uppercase;}

.rabusform {padding:20px; clear:both; font-size:18px; }
.rabusform ul {margin:15px 0; padding:0; list-style-type:none; overflow:hidden; color:#598fc9;}
.rabusform ul li {margin:5px 10px 10px 0; padding:0 0 0 1px; float:none; clear:both; overflow:hidden;}
.otrrsntxtarea {font-size:16px; font-family:'Eurofurence','Open Sans', sans-serif; line-height:18px; resize: none; color:#2e3f49; margin:0 0 0 10px; height:20px;}

/* Messages */

.msgblue { position:relative; margin:10px 0 3px 0; padding:10px; list-style:none; overflow:hidden; clear:both; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; background-color: #598fc9; -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.70); -moz-box-shadow: 0 1px 3px rgba(0,0,0,.70); box-shadow: 0 1px 3px rgba(0,0,0,.70); cursor:pointer;}
.msgdarkblue { background-color: #0072bc !important;}
.msgblue span, .dayleft {position:absolute; top:5px; right:25px; font-size:12px; color:#fff; white-space:nowrap;}
.msgblue li {color:#fff; text-align:left; margin:0 auto; padding:0; text-transform:uppercase;}
.msgblue li a {color:#fff;}
.msgtd1 {width:85px;}
.msgtd1 img {width:70px; height:70px; border:none; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; float:left;}
.msgtd2 {}
.msgtd2 h4 {font-size:24px; font-weight:normal; clear:both; margin:8px 0; padding:0;}
.msgtd2 p {font-size:18px; clear:both; margin:0 auto; padding:0; line-height:20px; text-transform:none; float:left; white-space: nowrap;
width:360px; overflow: hidden; text-overflow: ellipsis; height:20px;}
.msgtd5 p { color: blue;  width: 70px; position: relative; font-size:18px; clear:both; margin:0 auto; padding:0; line-height:20px; text-transform:none; float:left; white-space: nowrap;
	width:360px; overflow: hidden; text-overflow: ellipsis; height:20px;  }
.msgtd6 p { -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -o-transform: rotate(-45deg); transform: rotate(-45deg);
	font-size:18px; clear:both; margin:0 auto; padding:0; line-height:20px; text-transform:none; float:left; white-space: nowrap;  width:360px; overflow: hidden;
	text-overflow: ellipsis; height:20px;  position: absolute;  bottom: 170px;  left: -50px; color:blue; background-color: white; }
.msgtd2 i {background:url(../../images/profile/send_receive.png) no-repeat; width:15px; height:9px; margin:5px 0 0 5px;}
.msgsend { background-position:0 0 !important; }
.msgreceive { background-position:-25px 0 !important; }
.msgtd3 {}
.msgtd3 p {background:#fff; width:30px; height:30px; -webkit-border-radius: 100%; -moz-border-radius: 100%; border-radius: 100%; padding:0; margin:35px 0 0 0; position:relative;}
.msgtd3 p i {color:#f0438e; font-size:36px; position:absolute; top:-3px;}

 /* Message Thread */
.msgthreadsec {-webkit-box-shadow: 0 1px 6px rgba(0,0,0,.35); -moz-box-shadow: 0 1px 6px rgba(0,0,0,.35); box-shadow: 0 1px 6px rgba(0,0,0,.35); border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; margin:15px 0; font-size:18px; width:80%; overflow:hidden; background:#fff;}
.msgsndrtile { background:#598fc9; color:#fff; padding:5px 0; text-align:left; -webkit-box-shadow: 0 3px 5px rgba(0,0,0,.25); -moz-box-shadow: 0 3px 5px rgba(0,0,0,.25); box-shadow: 0 3px 5px rgba(0,0,0,.25); display:inline-block; width:100%;} 
.msgsndrtile h4 {color:#fff; float:left; margin:0 auto; padding:8px 0 0 0; font-weight:normal; font-size:24px; text-transform:uppercase;}
.msgsndrtile h4 a {color:#fff;}
.backmsgs {background:#fff; width:30px; height:30px; -webkit-border-radius: 100%; -moz-border-radius: 100%; border-radius: 100%; margin:5px 0 0 10px; position:relative; float:left;}
.backmsgs i {color:#f0438e; font-size:36px; position:absolute; top:-3px; left:0;}
.sndrimg {width:40px; height:40px; border:none; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; float:left; margin:0 10px;}

.msgaction {font-size:28px; color:#e6e7e8; position:relative; padding:5px 15px;}
.msgaction ul {position:absolute; top:5px; right:15px; list-style-type:none; margin:0; padding:5px 0; overflow:hidden; background:#e6e7e8; -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.35); -moz-box-shadow: 0 1px 4px rgba(0,0,0,.35); box-shadow: 0 1px 4px rgba(0,0,0,.35); border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; width:120px; z-index:5;}
.msgaction ul li {margin:0 auto; padding:5px 10px; color:#0072bc; font-size:16px; clear:both; text-transform:uppercase;}


.msgwraper {padding:0 20px; overflow:auto; height:400px;}
.msgdatetime {padding:0; margin:15px 0 5px 0; text-align:center; color:#ee6296; font-size:14px; clear:both; width:100%; display:inline-block;}
.receivedmsg {-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; background-color: #598fc9; -webkit-box-shadow: 0 1px 2px #2e3f49; 	-moz-box-shadow: 0 1px 2px #2e3f49; box-shadow: 0 1px 2px #2e3f49; color:#fff; font-size: 16px; line-height:20px; text-align:left; padding:5px 10px 15px 10px; position:relative; float:left; clear:both; width:70%; margin:10px 0 5px 2px;}
.recvicon {position:absolute; top:-10px; left:30px;}
.sendmsg {-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; background-color: #eee; -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.65); 	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.65); box-shadow: 0 1px 2px rgba(0,0,0,.65); color:#2e3f49; font-size: 16px; line-height:20px; text-align:left; padding:5px 10px 15px 10px; position:relative; float:right; clear:both; width:70%; margin:10px 2px 5px 0;}
.sndicon {position:absolute; bottom:-11px; right:30px;}

.msgactico {margin:0 auto; padding:0; position:absolute; right:5px; bottom:-2px; font-size:11px;}
.msgactico i {background:url(../../images/profile/send_receive.png) no-repeat; width:15px; height:9px; float:left; margin:5px 5px 0 0;}
.msgtypesnd {background-position:-78px 0 !important; }
.msgtyperead {background-position:-128px 0 !important;}
.txtgray {color:#e6e7e8;}
.txtgray1 {color:#999;}
.closepopup { position:absolute; top:-10px; right:-10px; color:#2e3f49; font-size:24px; background:#fff; border-radius:50%; -moz-border-radius:50%; -webkit-border-radius:50%; padding:1px 3px 0 3px;}

.msgsendingbox { background:#2e3f49; padding:10px 10px 5px 10px; text-align:left; overflow:hidden;}
.imagemsg {  max-width: 500px; overflow:hidden;}
.msgtypebox {-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; background-color: #fff; text-align:left; position:relative; float:left;  width:75%;  margin-left: 0px; margin-right: 0px; margin:0 auto; position:relative;}
.msgtypearea {width:100%; border:none; padding:8px 0 8px 1%; font-size:16px; color:#2e3f49; font-family: 'Eurofurence','Open Sans', sans-serif; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
.msgsndbtn {float:center; width:10%; margin:0 auto;     margin-left: 15px; margin-right: 15px; padding:5px 15px; background:#ed0c6e; font-size:24px; text-transform:uppercase; color:#fff; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.85); -moz-box-shadow: 0 1px 3px rgba(0,0,0,.85); box-shadow: 0 1px 3px rgba(0,0,0,.85);}
.imgsndbtn {float:right; width:10%; margin:0 auto;  padding:5px 15px; background:#ed0c6e; font-size:20px; text-transform:uppercase; color:#fff; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.85); -moz-box-shadow: 0 1px 3px rgba(0,0,0,.85); box-shadow: 0 1px 3px rgba(0,0,0,.85);}

/* interest & hobbies */
.formreg1 {width:90%; margin:15px 0 20px 0; display:inline-block;}
.formreg1 ul {margin:0 auto; padding:0; overflow:hidden;}
.formreg1 ul li {margin:0 .5%; padding:0; list-style:none; float:left; width:24%;}
.formreg1 p {color:#ed0c6e; font-size:18px; margin:0 auto; text-align:left; padding:10px 0 0 3px;}

/* iCheck plugin Line skin, blue (CheckBox & RadioButton)
----------------------------------- */
.icheckbox_line-blue, .iradio_line-blue {position: relative; display: block; margin: 5px 0; padding:7px 0; font-size: 16px; line-height: 17px; color: #2e3f49; background: #e6e7e8; border: none; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; cursor: pointer;}
.icheckbox_line-blue .icheck_line-icon, .iradio_line-blue .icheck_line-icon {position: absolute; top: 50%; left: 5px; /* width: 13px; */  height: 11px;        margin: -5px 0 0 0; padding: 0; overflow: hidden; background: url(../images/common/line.png) no-repeat; border: none; }
/* .icheckbox_line-blue.hover, .icheckbox_line-blue.checked.hover, .iradio_line-blue.hover {background: #4293f0; color:#fff;} */
.icheckbox_line-blue.checked, .iradio_line-blue.checked {background: #ed0c6e; color:#fff;}
.icheckbox_line-blue.checked .icheck_line-icon, .iradio_line-blue.checked .icheck_line-icon {background-position: -15px 0;}
.icheckbox_line-blue.disabled, .iradio_line-blue.disabled {background: #e6e7e8; cursor: default; color:#999;}
.icheckbox_line-blue.disabled .icheck_line-icon, .iradio_line-blue.disabled .icheck_line-icon {background-position: -30px 0;}
.icheckbox_line-blue.checked.disabled, .iradio_line-blue.checked.disabled {background: #e6e7e8;  color:#999;}
.icheckbox_line-blue.checked.disabled .icheck_line-icon, .iradio_line-blue.checked.disabled .icheck_line-icon {background-position: -45px 0;}
/* Crowser Css */

.newmatch {
	-webkit-transform: none;
	-moz-transform: none;
	-ms-transform: none;
	-o-transform: none;
	transform: none;
	width: 320px;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -160px;
	opacity: 0;
}
.bespoke-slide {
	-webkit-transition: -webkit-transform .7s ease, opacity .7s ease, background-color .7s ease;
	-moz-transition: -moz-transform .7s ease, opacity .7s ease, background-color .7s ease;
	-ms-transition: -ms-transform .7s ease, opacity .7s ease, background-color .7s ease;
	-o-transition: -o-transform .7s ease, opacity .7s ease, background-color .7s ease;
	transition: transform .7s ease, opacity .7s ease, background-color .7s ease;
}
.bespoke-active {
	opacity: 1;
	z-index: 1;
}


.bg-overlay{
	position:absolute;left:0;top:0;width:100%;height:100%;z-index:100;
	opacity:0; background: transparent;
	display:block;
} 

/* bespoke cover flow*/

/* Coverflow Theme */ 
.coverflow .bespoke-before {
	display:none;
	visibility: invisible;
}

.coverflow .bespoke-before-3 {
	-webkit-transform: translateX(-230px) rotateY(45deg) scale(0.6);
	-moz-transform: translateX(-230px) rotateY(45deg) scale(0.6);
	-ms-transform: translateX(-230px) rotateY(45deg) scale(0.6);
	-o-transform: translateX(-230px) rotateY(45deg) scale(0.6);
	transform: translateX(-230px) rotateY(45deg) scale(0.6);
	opacity: 0.1;
	opacity:1;
	z-index: 7;
	display: none;
	visiblity:invisible;
}
.coverflow .bespoke-before-2 {
	-webkit-transform: translateX(-180px) rotateY(45deg) scale(0.7);
	-moz-transform: translateX(-180px) rotateY(45deg) scale(0.7);
	-ms-transform: translateX(-180px) rotateY(45deg) scale(0.7);
	-o-transform: translateX(-180px) rotateY(45deg) scale(0.7);
	transform: translateX(-180px) rotateY(45deg) scale(0.7);
	opacity: 1;
	z-index: 8;
	display:block;
	visibility: visible;
}
.coverflow .bespoke-before-2 > *{
	opacity: 0.2;
}
.coverflow .bespoke-before-1 {
	-webkit-transform: translateX(-120px) rotateY(45deg) scale(0.8);
	-moz-transform: translateX(-120px) rotateY(45deg) scale(0.8);
	-ms-transform: translateX(-120px) rotateY(45deg) scale(0.8);
	-o-transform: translateX(-120px) rotateY(45deg) scale(0.8);
	transform: translateX(-120px) rotateY(45deg) scale(0.8);
	opacity: 1;
	z-index: 9;
	display:block;
	visibility: visible;
}
.coverflow .bespoke-before-1 > *{
	opacity:0.3;
}
.coverflow .bespoke-active {
	z-index: 10;
	opacity:1;
}
.coverflow .bespoke-active .bg-overlay{
	display:none;
}
.coverflow .bespoke-after {
	display:none;
	visibility: invisible;
}
.coverflow .bespoke-after-1 {
	-webkit-transform: translateX(120px) rotateY(-45deg) scale(0.8);
	-moz-transform: translateX(120px) rotateY(-45deg) scale(0.8);
	-ms-transform: translateX(120px) rotateY(-45deg) scale(0.8);
	-o-transform: translateX(120px) rotateY(-45deg) scale(0.8);
	transform: translateX(120px) rotateY(-45deg) scale(0.8);
	opacity:1;
	z-index: 9;
	display:block;
	visibility: visible;
}
.coverflow .bespoke-after-1 > *{
	opacity:0.3;
}
.coverflow .bespoke-after-2 {
	-webkit-transform: translateX(180px) rotateY(-45deg) scale(0.7);
	-moz-transform: translateX(180px) rotateY(-45deg) scale(0.7);
	-ms-transform: translateX(180px) rotateY(-45deg) scale(0.7);
	-o-transform: translateX(180px) rotateY(-45deg) scale(0.7);
	transform: translateX(180px) rotateY(-45deg) scale(0.7);
	opacity: 1;
	z-index: 8;
	display:block;
	visibility: visible;
}
.coverflow .bespoke-after-2 > *{
	opacity:0.2;
}
.coverflow .bespoke-after-3 {
	display:none;
	visibility:invisible;
}
  

  

@media screen and (max-width:800px){
.new_container {width:100%;}
.popupframe {width:75%;}
/* Mutual Match Css */
.mutmatchsec {width:86%;}
.mmpopupframe {width:80%;}
/* Messages */
.msgtd2 p {width:450px;}
.msgthreadsec {width:90%;}
.msgtypebox {width:85%;}
.formreg1 ul li {width:32%;}
}
@media screen and (max-width:640px ){
.bespoke-parent{width:520px !important;}
.coverflow .bespoke-after-2, .coverflow .bespoke-before-2 {display:none;}
.popupframe {width:90%;}
/* Mutual Match Css */
.mutmatchsec {width:99%;}
/* Messages */
.msgtd2 p {width:370px;}
.msgwraper {padding:10px;}
.msgthreadsec {width:99%;}
.msgtypebox {width:83%;}
.receivedmsg, .sendmsg {width:85%;}
.whtnewtxt li {width:50%;}
.wnbgsec {min-height:200px;}
.popupframewn {height:90%; overflow-y:auto; overflow-x:hidden;}
.wnbgsec h5 {font-size:50px; margin:10% 0 10% 10%;}
.whtnewtxt li {padding:5%;}
.new_wrapper {min-height: 520px;}
.msgaction ul {top:28px; right:10px;}
}
@media screen and (max-width:480px ){
.bespoke-parent{width:100% !important;}
.coverflow .bespoke-after-2, .coverflow .bespoke-before-2 {display:none;}
/* Mutual Match Css */
.mmpopupframe {width:90%;}
/* Messages */
.msgtd2 p {width:250px;}
.msgtypebox {width:79%;}
.recvicon {left:10px;}
.sndicon {right:10px;}
.whtnewtxt li {width:100%; float:none;}
.formreg1 {width:90%; margin:0 5% 10px 5%;}
.formreg1 p {font-size:16px;}
.popupframe { position:absolute;}

}
@media screen and (max-width:360px ){	
.arrowsec {width:100%; top:25%;}
.arrowpoint {height:45px; width:35px; opacity: 0.7;}
.arrowright, .arrowleft  {border-radius:0; -moz-border-radius:0; -webkit-border-radius:0;}
.arrowpoint i {font-size:24px; margin:8px 0 0 0;}
.bespoke-parent{width:300px !important; height:510px !important;}
.coverflow .bespoke-after-1, .coverflow .bespoke-before-1 {display:none;}
/* Mutual Match Css */
.mmwraper h3, .emptymsg {text-align:center; float:none;}
.mutmatchsec {width:100%;}
.mmwraper {margin:10px;}
.matchblue {padding:5px;}
.mmtd1,.msgtd1  {width:70px;}
.mmtd1 img, .msgtd1 img {width:60px; height:60px;}
.mmtd2 h4 {font-size:20px; margin:3px 0;}
.mmtd2 p {font-size:17px; line-height:16px;}
.mmtd3 img {margin:16px 5px 0 0; border:none; width:30px; height:25px;}
.mmactionbtn, .rabusform {font-size:16px;}
/* Messages */
.msgblue span, .dayleft {font-size:11px; top:5px;}
.msgtd2 h4 {font-size:20px; margin:5px 0;}
.msgsndrtile h4 {font-size:20px; padding:10px 0 0 0;}
.msgtd2 p {width:180px; font-size:14px; height:17px;}
.msgtd3 p  {margin:28px 0 0 0; width:24px; height:24px;}
.msgtd3 p i {font-size:30px;}
.backmsgs  {margin:8px 0 0 0; width:24px; height:24px;}
.backmsgs i {font-size:30px;}
.msgtypebox {width:73%;}
.receivedmsg, .sendmsg {width:88%; font-size:14px;}
/* .sndrimg {width:40px; height:40px;} */
.msgaction {padding: 5px 10px;}
.msgtypearea {padding:5px 3%; width:94%;}
.msgdatetime {font-size:12px; margin:10px 0 5px 0;}
.msgsndbtn {font-size:20px; padding:5px 10px;}
.msgwraper {height:350px;}
.pagination h3 {display:none;}
.pagination p { padding:2px; margin:0 2px;}
.skiptxt1 {color:#fff; font-size:16px; margin:10px 0 0 0 !important;}
.whtnewtxt li {padding:7%;}
.wnbgsec {min-height:100px;}
.wnbgsec h5 {font-size: 40px; margin: 10% 0 10% 5%;}
.formreg1 {width:96%; margin:0 2% 10px 2%;}
.formreg1 ul li {margin:0 1%; width:48%;}
.new_wrapper {min-height: 500px;}
.mmtd3 a {width:40px; height:40px; margin: 15px 0 0 5px;}
.prolike { background-position:6px -36px !important;}
.prohide { background-position:-46px -38px !important;}
.matchaction { margin:3px 5px 0 5px;}
.mmtd2 h4 {white-space:nowrap; text-overflow:ellipsis; width:170px; overflow:hidden;}
}

@media screen and (max-width:320px ){
.newmatch {width:300px;!important; margin-left:-150px; height:490px;}
.nomatchblnk {height:490px;}
.matchname {width:280px;}
.viewprofile {width:80px; font-size:11px;}
.viewprofile img {margin:2px 5px 0 10px;}
.matchscore {width:230px;}
.mscoresec {width:280px;}
.scalesec {width:270px;}
.scalesec img {width:269px; height:6px;}
.comnlikes {width:260px;}
.propic {width:300px; height:300px;}
.matchimg {height:300px; width:300px;}
.wewidth1 {padding:4px 0 0 0;}
.wewidth2 {width:245px;}
/* Messages */
.msgtd2 p {width:140px;}
.new_wrapper {min-height: 480px;}
.bespoke-parent{height:500px !important;}
.mmtd2 h4 {white-space:nowrap; text-overflow:ellipsis; width:130px; overflow:hidden;}

}



