

body{font-family: 'Eurofurence','Open Sans', sans-serif; font-size:14px; color:#2e3f49; background:#2e3f49; margin:0; padding:0;} 
a {cursor:pointer; text-decoration:none;}
a:hover {text-decoration:none;}

.fl {float:left;}
.fr {float:right;}
.fn {float:none;}
.clb {clear:both;}
.overf {overflow:hidden;}
.posrel {position:relative;}
.txtpink {color:#ed0c6e;}
.txtblue {color:#0072bc;}
.txtred {color:#F00;}
.mrg0 {margin:0 auto !important;}
.mrgt0 {margin-top:0px !important;}
.txuline {text-decoration:underline;}
.remvmrg {}
.bggray { background:#68757e !important;}
/* font awasome */
.icon-edit {display:none;}


.new_wrapper {width:100%; margin:0 auto; background:url(../../images/profile/pagebg.gif) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}
.bottomsec {overflow:hidden; clear:both; background:rgba(231,231,231,0.3);}
.new_container {width:960px; margin:0 auto; overflow:hidden;}
.backlink {font-size:18px; color:#598fc9; margin:5px 0; text-transform:uppercase;}
.topprosec {overflow:hidden; clear:both; margin:0 0 10px 0;}
.btmprosec {overflow:hidden; padding:40px 0 20px 0; position:relative;}

.stampicon {position:absolute; top:10px; left:10px; z-index:2; border:none;}
.prophoto {float:left; margin:0 auto; position:relative; width:300px; height:300px;  background-size: cover; background-repeat: no-repeat;    background-position: 50% 20%; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px;}
.prophoto img {border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; border:none;}
.profile-pic-img { width:300px; height:300px;}
.photothumbs {text-align:center; width:320px; position:absolute; bottom:2px;}
.photothumbs img {width:45px; height:45px; margin:0 1px; float:none; cursor:pointer; border:1px solid rgba(255,255,255,0.7);}
.nextprevbtn {font-size:21px; color:#87afdb; padding-top:20px; /* text-shadow: 1px 2px 5px #555555; -moz-text-shadow: 1px 2px 5px #555555; -webkit-text-shadow: 1px 2px 5px #555555; */ opacity:0.8;}
.proinfosec {margin:0 auto; width:620px; float:right;}
.proinfosec1 {margin:0 auto; width:640px; float:right; position:relative;}
.editbasicpro {position: absolute; right: 5px; bottom: 5px; z-index: 999; font-size: 18px; color:#2e3f49;}
.editewhpro {position: absolute; right: 5px; top: 0; z-index: 999; font-size: 18px; color:#2e3f49;}
.prointhide {text-align:left; float:right; width:640px;}
.prointhide a {color:#fff; font-size:18px; padding:7px 0; width:120px; text-align:center; float:left; background:#ee6296; margin:0 7px 0 0; text-transform:uppercase; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px;}
/*.prointhide a:hover {background:#ee6296;}*/
.faicon {margin:0 2px -3px 0; background:url(../../images/profile/likehidemaybe.png) no-repeat; width:22px; height:18px; display:inline-block;} 
.likeicobg { background-position:0 0;}
.nopeicobg { background-position:-40px 0;}
.maybeicobg { background-position:-73px 0;}
.prodetsec {width:100%;  background:rgba(231,231,231,0.5); border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; -webkit-box-shadow: 0 2px 1px #ddd; -moz-box-shadow: 0 2px 1px #ddd; box-shadow: 0 2px 1px #ddd; margin:10px 0; position:relative; display:inline-block;} 
.lockedetail {width:100%; background:#eee; opacity:0.8; position:absolute; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; height:100px; z-index:2; }
.lockicon { font-size:40px; color:#2e3f49; position:absolute; right:0; top:-20px;  text-shadow: 1px 1px 1px #fff; -moz-text-shadow: 1px 1px 1px #fff; -webkit-text-shadow: 1px 1px 1px #fff;}
.prodetleft {float:left; text-align:left; padding:10px 0 10px 10px;}
.prodetleft h3 {color:#0072bc; font-size:24px; margin:0 auto; padding:0; font-weight:normal; text-transform:uppercase; float:left;}
.prodetleft p {margin:0 auto; float:left; white-space:nowrap;}
.proagecity {font-size:18px; padding:4px 0; color:#ed0c6e; }
.prolastseen {font-size:12px; clear:both; padding:0; color:#2e3f49;}
/*.commahide {display:block;}*/
.prodetright {float:right; padding:10px 10px 0 0;}
.fbmutfrnd {background-image:url(../../images/profile/fbmutualfrnd.png); background-repeat:no-repeat; background-position:left top; width:45px; position:relative; float:left;}
.fbmutfrnd p {text-align:left; color:#ed0c6e; margin:0 auto; padding:26px 0 0 1px; font-size:11px; }
.frndscount {position:absolute; right:0; top:0; border-radius:100%; background:#ed0c6e; color:#fff; text-align:center; padding:0; z-index:1; width:18px; height:18px;}
.promutfrnd {position:absolute; top:25px; right:-20px; padding:5px 0 0 5px; background:rgba(237,012,110,0.9); width:150px; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; z-index:10;} 
.promutfrnd:after {content: ' '; height: 0; position: absolute; width: 0; border: 5px solid transparent; border-bottom-color:rgba(237,012,110,0.9); bottom: 100%; right: 25px;}
.promutfrnd ul {margin:0 auto; padding:0; list-style-type:none; text-align:left; max-height:200px; overflow:auto;}
.promutfrnd ul li {margin:0 0 5px 0; padding:0; clear:both; overflow:hidden}
.promutfrnd ul li img {width:25px; height:25px; border:none; float:left; margin:0 5px 0 0}
.promutfrnd ul li p {font-size:14px; color:#fff; padding:5px 0 0 0; margin:0 auto; float:left;}
.promutfrnd ul li p span {font-size:11px; color:#e6e7e8;}
.sndmsg {float:left; margin:0 0 0 15px;}

.titlecompb {margin:0 auto; text-align:left; font-size:20px; color:#ed0c6e; text-transform:uppercase; background:rgba(242,242,243,0.6); border-radius:5px 5px 0 0; -webkit-border-radius:5px 5px 0 0; -moz-border-radius:5px 5px 0 0; padding:5px 10px 0 10px; float:left;}
.mscoresec {width:100%;  background:rgba(242,242,243,0.6); border-radius:0 5px 5px 5px; -webkit-border-radius:0 5px 5px 5px; -moz-border-radius:0 5px 5px 5px; -webkit-box-shadow: 0 2px 1px #ddd; -moz-box-shadow: 0 2px 1px #ddd; box-shadow: 0 2px 1px #ddd; margin:0 auto; position:relative; display:inline-block; text-align:left;} 
.comvaltitle {padding:10px; overflow:hidden;}
.comvaltitle p { font-size:18px; margin:5px 0 0 5px; padding:0; clear:both; display:inline-block; width:98%; position:relative;}

.taketest {-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; color:#fff; font-size:14px; padding:4px 10px; margin:-7px 0 0 0;}
.bgblue {background-color: #0072bc;}
.bgpink {background-color: #ed0c6e;}

.whyempty {font-size:14px; text-transform:none;}
.whyempty:hover + .infotxtwhy {display: block;}
.infotxtwhy {position:absolute; right:-10px; top:20px; padding:5px; font-size:14px; text-align:center; background:rgba(0,0,0,0.7); z-index:10; color:#fff; text-transform:none; width:150px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; cursor:default; display:none; }
.infotxtwhy:after {content: ' '; height: 0; position: absolute; width: 0; border: 5px solid transparent; border-bottom-color:rgba(0,0,0,0.7); bottom: 100%; right: 11px;}



.scalesec {height:8px; background:#e6e7e8; position:relative; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; margin:0 5px 5px 5px;}
.scalesec img {border:none; z-index:2; position:absolute; height:7px;}
.dotpos1 {top:1px; left:1px;}
.dotpos2 {top:1px; left:23.5%;}
.dotpos3 {top:1px; left:48.5%;}
.dotpos4 {top:1px; left:73.5%;}
.dotpos5 {top:1px; right:1px;}

.progbar {height:8px; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px;}
/* Scale Section */
.pgb1 {background:#87afdb; width:0%;}
.pgb2 {background:#fd8cb5; width:0%;}
.pgb3 {background:#bebadc; width:0%;}
.pgbtxt1 {color:#0072bc;}
.pgbtxt2 {color:#ed0c6e;}
.pgbtxt3 {color:#5f5f5f;}
.pgbtxt4 {color:#0072bc;}
.pgbtxt4 span {color:#ed1372;}

.comnlikes1 {white-space: nowrap; overflow-y: hidden; overflow-x:auto; -webkit-overflow-scrolling: touch; background-color: #fff; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; margin:0; padding:0 5px; -webkit-box-shadow: 1px 1px rgba(0,0,0,.05); -moz-box-shadow: 1px 1px rgba(0,0,0,.05); box-shadow: 1px 1px rgba(0,0,0,.05);}
.comnlikes1 a {color:#ed0c6e; font-size:15px; margin:5px 0 5px 0; padding:2px; display:inline-block; cursor:default; text-transform:none;}


.btmtitle {padding:0 20px 5px 20px; background:#fff; position:absolute; top:0; left:80px; color:#ed0973; font-size:28px; border-radius:0 0 10px 10px; -webkit-border-radius:0 0 10px 10px; -moz-border-radius:0 0 10px 10px; margin:0 auto; font-family:'Eurofurence Light'; text-transform:uppercase;}
.prodettxt { margin:0; padding:0; list-style: none; display:inline-block;}
.prodettxt li {float:left; text-align:left; margin:0 3px 6px 3px;  font-size:18px; padding:2px 8px; color:#0072bc;  background:rgba(0, 0, 0, 0.08); border-radius: 5px; -webkit-border-radius:5px; -moz-border-radius:5px; white-space:nowrap; }
.prodettxt li i {font-size:12px;}
/* .prodettxt li:before {content: "•"; color: #ed0c6e; font-family:'Open Sans',  sans-serif; padding:0 5px 0 0;} */
.proworkedu {margin:10px 0; padding:0; list-style:none; position:relative;}	
.proworkedu li {font-size:16px; color:#2e3f49; line-height:17px; float:left; margin:0 auto; padding:0; text-align:left; display:block;}	
.proworkedu li span {color:#ed0c6e; text-transform:none; text-transform:capitalize;}
.proworkedu li h4 {margin:0 auto; padding:0; font-size:18px; font-weight:normal; color:#0072bc; text-transform:capitalize;}
.proworkedu li p {margin:0 3px 6px 3px; padding:0; font-size:18px; font-weight:normal; color:#0072bc; float:left; white-space:nowrap;}
.wewidth1 {width:50px; text-align:center !important; padding:0 5px 0 0 !important;}
.wewidth2 {width:530px;}
.wrkeduicon {font-size:24px; color:#598fc9;}
.phashtag {color:#e6e7e8; font-size:18px; padding:2px 5px; margin:0 auto; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; background:#598fc9; display:inline-block; }
.inhsec {width:100%;  background:rgba(255,255,255,0.7); border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; -webkit-box-shadow: 0 3px 3px #ddd; -moz-box-shadow: 0 3px 3px #ddd; box-shadow: 0 3px 3px #ddd; margin:0; border:1px solid #f0f0f0;} 
.inhtiles {padding:10px; text-align:left;}
.inhtilestxt {margin:20px 0 0 2px; padding:0; font-size:18px; font-weight:normal; color:#ed0c6e; text-transform:uppercase; text-align:left;}
.inhtilestxt span {color:#0072bc;}
.inhtilessec { margin:10px 0 0 0; padding:0; list-style:none;}
.inhtilessec li {color:#fff; font-size:14px; float:left; margin:0 5px 5px 0; padding:3px 5px; background:#ee6296; border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px; text-transform:uppercase;}
.protscore { float:left; margin:0 auto; width:310px; clear:left; position:relative;}
.scoreplus {list-style:none; margin:0 auto; padding:0;}
.scoreplus li {font-size:16px; text-align:left; background:#acc7e4; color:#fff; padding:5px 10px 5px 5px; margin:5px 0; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; overflow:hidden;}
.scoreplus li p {float:left; margin:0 auto; padding:2px 0 0 0; white-space:nowrap;}
.protsicons {font-size:20px; float:left; color:#fff; width:30px!important; text-align:center;}
.protsverify {font-size:20px; float:right; color:#fff;}
.activets {background:#598fc9!important;}

.pieContainer { height: 40px; margin:0 auto; float:left; width:90px; }
.pieBackground { background-color: #c5d9f1; position: absolute; width: 80px; height: 40px; -moz-border-radius: 40px 40px 0 0; -webkit-border-radius: 40px 40px 0 0; -o-border-radius: 40px 40px 0 0; border-radius: 40px 40px 0 0; } 
.pie { position: absolute; width: 80px; height: 80px; -moz-border-radius: 40px; -webkit-border-radius: 40px; -o-border-radius: 40px; border-radius: 40px; clip: rect(0px, 40px, 80px, 0px); }
.hold { position: absolute;  width: 80px; height: 40px; -moz-border-radius: 40px; -webkit-border-radius: 40px; -o-border-radius: 40px; border-radius: 40px; clip: rect(0px, 80px, 40px, 0px);}
#pieSlice1 .pie { background-color: #4293f0;}
.persentbg { background-color: #ececec; position: absolute; width: 50px; height: 26px; -moz-border-radius: 26px 26px 0 0; -webkit-border-radius: 26px 26px 0 0;  -o-border-radius: 26px 26px 0 0; border-radius: 26px 26px 0 0; margin:15px 0 0 15px; text-align:center; } 
.persentbg p {color:#4293f0; padding:0; margin:5px 0 0 0; font-size:18px; font-weight:bold;}
.protstitle {font-size:22px; padding:15px 0 0 0; margin:0 auto; float:left; color:#0072bc; display:inline-block; white-space:nowrap;}
.hrline {margin:15px 0 20px 0; clear:both;}
.inticons { margin:0 0 5px 5px; padding:0; list-style:none; clear:both; display:inline-block;}
.inticons li { width:30px; height:24px; padding:0; margin:0 15px 0 0; float:left; background:url(../../images/profile/intnhobicons.png) no-repeat 0 0; cursor:pointer;}
.inticons li span { width:30px; height:24px; display:inline-block;}

.intmovie { background-position:-2px 0 !important;}
.intmusic { background-position:-48px 0 !important;}
.intbooks { background-position:-94px 0 !important;}
.intfood { background-position:-135px 0 !important;}
.intother { background-position:-180px 0 !important;}

.moviedactive { background-position:-2px -30px !important; cursor:default!important;}
.musicdactive { background-position:-48px -30px !important; cursor:default!important;}
.booksdactive { background-position:-94px -30px !important; cursor:default!important;}
.fooddactive { background-position:-135px -30px !important; cursor:default!important;}
.otherdactive { background-position:-180px -30px !important; cursor:default!important;}

.intwrapper {white-space: nowrap; overflow-y: hidden; overflow-x: scroll; -webkit-overflow-scrolling: touch; background-color: #fff; border:1px solid #ccc; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; clear:both; font-size:14px; height:60px; }
.intwrapper ul { margin:0 auto; padding:0; width:2000%;}
.intwrapper ul li { padding:15px; margin:0 auto; float:left; height:20px; text-transform:uppercase; list-style:none; border-right:1px solid #ccc;}
.moviesec {color:#d9005f;}
.musicsec {color:#3274ba;}
.booksec {color:#f556a1;}
.foodsec {color:#2ebdd7;}
.othersec {color:#f4283b;}

.indicatetop {position:absolute; top:-5px; z-index:10;}

.comnlikes {white-space: nowrap; overflow-y: hidden; overflow-x:auto; -webkit-overflow-scrolling: touch; background-color: #fff; border:1px solid #ccc;  border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; margin:0 auto; width:98%; padding:5px 2%; -webkit-box-shadow: 1px 1px rgba(0,0,0,.05); -moz-box-shadow: 1px 1px rgba(0,0,0,.05); box-shadow: 1px 1px rgba(0,0,0,.05);}
.comnlikes a {margin:5px 0 5px 0; padding:0; display:inline-block; cursor:default; font-size:14px;}
.seperaterline {padding:5px 15px; font-size:14px; color:#ccc;}
.colorcode1 {color:#0072bc !important;}
.colorcode2 {color:#ed0c6e !important;}

/* Popup Deactivated */
.difusescreen {background: none repeat scroll 0 0 #000000; height: 100%; left: 0; opacity: 0.7; overflow: hidden; position: fixed; top: 0; width: 100%; z-index: 1000; margin:0 auto; }

.popupframe {position: fixed; top: 0; margin:5% auto; left: 0; right: 0; z-index: 1000; background:#fff;  width:40%; -webkit-box-shadow: 0 0 10px #000; -moz-box-shadow: 0 0 10px #000; box-shadow: 0 0 10px #000; padding:0;}
.popupframe h4 {background:#d6034e; color:#fff; font-size:18px; text-align:center; margin:0 0 10px 0; padding:5px 0;}
.popupframe h4 a {color:#fff; padding:0 10px 0 0;}
.popupframe p { margin:0 auto; padding:10px 20px; text-align:left; font-size:16px; clear:both;}
.actionbtn {background:#ed0c6e; border:none; font-size:16px; color:#fff; text-align:center; text-transform:uppercase; padding:5px 15px; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; display:inline-block; margin:0 0 10px 0; font-family: 'Eurofurence','Open Sans', sans-serif;}

.closepopup { position:absolute; top:-10px; right:-10px; color:#2e3f49; font-size:24px; background:#fff; border-radius:50%; -moz-border-radius:50%; -webkit-border-radius:50%; padding:1px 3px 0 3px;}

/* Photo Gallery */
.mfp-wrap {background:rgba(0,0,0,0.7); height: 100%; left: 0; overflow: hidden !important; position: fixed; top: 0; width: 100%; z-index: 1000; margin:0 auto; }
.mfp-container {overflow:hidden; position: fixed; top: 0; margin:2% auto; left: 0; right: 0; z-index: 1000; width:700px; padding:0; color:#fff;}
.mfp-preloader {display:none;}
.mfp-arrow {width:35px; height:33px; background:url(../../images/profile/photosliderarrow.png?v=1) no-repeat; position:absolute; top:240px; opacity:0.4; border:none; cursor:pointer;}
.mfp-arrow-left {left:5px; background-position:0px 0px !important;}
.mfp-arrow-right {right:5px; background-position:-45px 0px !important;}
.mfp-figure {height:580px !important;}
.mfp-img {max-height:500px !important; min-height:300px; max-width:100%;}
.mfp-figure figure {text-align:center;}
.mfp-close {background:rgba(0, 0, 0, 0.5); border:2px solid rgba(255, 255, 255, 0.9); color:#fff; position:absolute; top:0; right:0; font-size:18px; width:30px; height:30px; border-radius: 50%;  -webkit-border-radius:50%; -moz-border-radius:50%; cursor:pointer; }

/* Registration Css */
.regselect-style {border: 1px solid #ccc; width: 70%; border-radius: 5px; overflow: hidden; background: #e6e7e8 url("../../images/common/arrow_dd.png") no-repeat 98% 50%; margin:5px 0 5px 20px;}
.regselect-style select {padding: 6px 8px; width: 110%; border: none; box-shadow: none; background: transparent; background-image: none; -webkit-appearance: none; font-family:'Eurofurence','Open Sans', sans-serif; font-size:16px;}
.regselect-style select:focus {outline: none;}
.regselect-style select option {padding:0 8px;}

.regtxtbox {-webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; background-color:#e6e7e8; padding:5px 2.5%; border:none; width:65%; margin:5px 0 5px 20px; font-family: 'Eurofurence','Open Sans',  sans-serif; font-size:18px; clear:both; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; border:1px solid #ccc; resize: none;}


/* Endorsment */
.endorssec{
	width:100%;
	height:80px;
	padding:5px;
	border:1px solid #acc7e4;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	background: #fff;	
	position:relative;
	margin:-8px 0 20px 0;
}
.slider_wrapper{
	overflow: hidden;
	position:relative;
	height:70px;
	top:auto;
	margin:0 20px;
}
#image_slider{

	position: relative;
	height: auto;
	list-style: none;
	overflow: hidden;
	float: left;
	/*Chrom default padding for ul is 40px */
	padding:0px;
	margin:0px;
}
#image_slider li{
	position: relative;
	float: left;
}
#image_slider li img{width:50px; height:50px; border-radius:50%; padding:5px;}
#image_slider li p {font-size:11px; color:#2e3f49; text-align:center; width:100%; padding:0; margin:0; clear:both;}
.nvgt{
	position:absolute;
	top: 10px;
	height: 50px;
	width: 20px;
	opacity: 0.6;
}
.nvgt:hover{
	opacity: 0.9;
}
#prev{
	background: #fff url('../../images/profile/prev.png') no-repeat center;
	left: 0px;
}
#next{
	background: #fff url('../../images/profile/next.png') no-repeat center;
	right: 0px;
}

		
@media screen and (max-width:800px){
.new_container {width:100%;}
.proinfosec, .prointhide, .proinfosec1 {width:460px;}
.wewidth2 {width:350px;}
.popupframe {width:75%;}
}

@media screen and (max-width:640px){
.new_container {margin:40px 0 0 0;}
.proinfosec, .protscore, .proinfosec1 {width:98%; margin:15px 1% 0 1%;}
.wewidth2 {width:520px;}
.prointhide {width:98%; text-align:center; margin:10px 1% 5px 1%;}
.prointhide a { width:30%; display:inline-block; float:none; margin:0 1% 0 0;}
.prophoto {clear:both; float:none;}
.photothumbs {width:98%;}
.stampicon {left:3%}
.scoreplus li {margin:5px 0 0 0;}
.popupframe {width:90%;}
.btmtitle {width:70%; left:15%; padding:5px 0 10px 0; font-size:24px;}
.mfp-container {width:98%}
.mfp-figure {height:90% !important;}
.mfp-img {max-height:85% !important;}
.backlink {margin:10px 0 0 15px;}
.regselect-style, .regtxtbox {width:80%;}
.remvmrg {margin:0 auto !important;} 
.btmdetails {margin:0 auto !important;}
.endorssec {margin:-3px 0 20px 0;}
}

@media screen and (max-width:480px){
.wewidth2 {width:390px;}
.protsicons {font-size: 20px; width: 25px !important;}
.protsverify {font-size: 20px;}
.scoreplus li {font-size:14px;}
.proinfosec, .protscore, .proinfosec1 {margin:10px 1% 0 1%;}
}


@media screen and (max-width:360px){
.prodetleft h3 { font-size:18px;}
.proagecity {font-size:14px;}
.prolastseen {font-size:11px;}
.wewidth1 {width:40px;}
.wewidth2 {width:280px;}
.proworkedu li h4, .inhtiles h4, .prodettxt li, .proworkedu li p {font-size:15px;}
.proworkedu li, .inhtilessec li {font-size:13px; line-height:normal;}
.photothumbs {width:97%; bottom:5px;}
.photothumbs img {width:40px; height:40px;}
.stampicon {left:3%;}
.sndmsg {margin:0 0 0 10px;}
.lockedetail { height:85px;}
.scoreplus li { width:auto; margin:5px 0; float:none; display:none;}
.activets {display:block !important;}
.intwrapper ul { width:8000%;}
.proinfosec, .protscore, .proinfosec1 {margin:5px 1% 0 1%;}
.profile-pic-img {width:300px; height:300px;}
.mfp-arrow {top:140px;}
.endorssec {margin: -8px 0 20px 0;}
}

@media screen and (max-width:320px){
.wewidth1 {width:40px;}
.wewidth2 {width:255px;}
.profile-pic-img {width:280px; height:280px;}
/* .inticons li {margin:0 12px 0 0;} */
}



