<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Daily Tracker</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body style="margin: 0; padding: 0;">
<h3> All Success </h3>
<table align="center" border="1" cellpadding="0" cellspacing="0" width="200">
 

<tr>
<td>
{$success.status}
</td>
<td colspan="3">
{$success.count_l}
</td>
</tr>
</table>
<h3> All failures </h3>
<table align="center" border="1" cellpadding="0" cellspacing="0" width="200">
{if $fail eq null}
<tr>
<td>
Failures
</td>
<td>
0
</td>
</tr>
{else}
{foreach from=$fail item=v}
<tr>
<td>
{$v.status}
</td>
<td>
{$v.count_l}
</td>
</tr>
{/foreach}
{/if}
</table>


</body>
</html>