<!DOCTYPE html>
<html lang="en">
<head>
    <title>Mailer DashBoard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{$baseurl}/css/common/bootstrap.min.css">
    <script src="{$baseurl}/js/common/jquery.min.js"></script>
    <script src="{$baseurl}/js/common/bootstrap.min.js"></script>
    {include file='../deals/adminIncludes.tpl'}
    <style>
        .ques-body {
            background:#F7F7F9;
        }

    </style>
</head>
<body>
{include file='../deals/header.tpl'}
 <h2> Create A New E-mail Campaign</h2>



</body>
</html>
