<!DOCTYPE html>
<html>
<head>
<link rel="shortcut icon" href="{$cdnurl}/images/dashboard/favicon.ico" type="image/x-icon">
<!--<meta name="Description" content="We are an online meeting place for verified singles. Each profile is thoroughly vetted and matching is done based on compatibility.">-->
<meta name="Description" content="Coming out as one of the best dating sites to make special friends online, Truly Madly provides a user-friendly app for their cherished users.">
<meta name="keywords" content="online date Sites, best online date sites, truly madly deeply, make friends online, matchmaking app.">
<!--<meta name="keywords" content="Online Dating Sites,Best Online Dating Sites,Truly Madly Deeply,Make Friends Online,Matchmaking App">-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<meta name="Author" content="TrulyMadly.com"/>
<meta name="Copyright" content="2015 TrulyMadly.com"/>
<meta name="rating" content="General"/>
<meta name="language" content="English"/>
<title>Truly Madly | Matchmaking App For Online Friends | Best Date Site</title>
<script>
var time = new Date();
</script>
<link href="{$cdnurl}/css/tmhome.css?v=11.0" rel="stylesheet" type="text/css">
<link href="{$cdnurl}/css/common/fontstyle.css" rel="stylesheet" type="text/css">
<link href="{$cdnurl}/css/common/font-awesome.css" rel="stylesheet" type="text/css">

<script>
var endorsementBanner = 0;
var server='{$SERVER}'; 
var fb_api="{$fb_api}";
var fb_scopes='{$facebook_scope}';
var loginViaEmail = '';
var canNot = '';
var baseurl = "{$baseurl}";	 
{if isset($show_deactivate)}
var show_deactivate = true;
{else}
var show_deactivate = false;
{/if}
</script>

<script>
{literal}
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  {/literal}
  ga('create', '{$google_analytics_code}', 'trulymadly.com');
  ga('send', 'pageview');
  
  {literal}
	window.mobilecheck = function() {
		var check = false;
		(function(a){if(/(android|bb\d+|meego).+mobile|avantgo|bada\/|blackberry|blazer|compal|elaine|fennec|hiptop|iemobile|ip(hone|od)|iris|kindle|lge |maemo|midp|mmp|mobile.+firefox|netfront|opera m(ob|in)i|palm( os)?|phone|p(ixi|re)\/|plucker|pocket|psp|series(4|6)0|symbian|treo|up\.(browser|link)|vodafone|wap|windows (ce|phone)|xda|xiino/i.test(a)||/1207|6310|6590|3gso|4thp|50[1-6]i|770s|802s|a wa|abac|ac(er|oo|s\-)|ai(ko|rn)|al(av|ca|co)|amoi|an(ex|ny|yw)|aptu|ar(ch|go)|as(te|us)|attw|au(di|\-m|r |s )|avan|be(ck|ll|nq)|bi(lb|rd)|bl(ac|az)|br(e|v)w|bumb|bw\-(n|u)|c55\/|capi|ccwa|cdm\-|cell|chtm|cldc|cmd\-|co(mp|nd)|craw|da(it|ll|ng)|dbte|dc\-s|devi|dica|dmob|do(c|p)o|ds(12|\-d)|el(49|ai)|em(l2|ul)|er(ic|k0)|esl8|ez([4-7]0|os|wa|ze)|fetc|fly(\-|_)|g1 u|g560|gene|gf\-5|g\-mo|go(\.w|od)|gr(ad|un)|haie|hcit|hd\-(m|p|t)|hei\-|hi(pt|ta)|hp( i|ip)|hs\-c|ht(c(\-| |_|a|g|p|s|t)|tp)|hu(aw|tc)|i\-(20|go|ma)|i230|iac( |\-|\/)|ibro|idea|ig01|ikom|im1k|inno|ipaq|iris|ja(t|v)a|jbro|jemu|jigs|kddi|keji|kgt( |\/)|klon|kpt |kwc\-|kyo(c|k)|le(no|xi)|lg( g|\/(k|l|u)|50|54|\-[a-w])|libw|lynx|m1\-w|m3ga|m50\/|ma(te|ui|xo)|mc(01|21|ca)|m\-cr|me(rc|ri)|mi(o8|oa|ts)|mmef|mo(01|02|bi|de|do|t(\-| |o|v)|zz)|mt(50|p1|v )|mwbp|mywa|n10[0-2]|n20[2-3]|n30(0|2)|n50(0|2|5)|n7(0(0|1)|10)|ne((c|m)\-|on|tf|wf|wg|wt)|nok(6|i)|nzph|o2im|op(ti|wv)|oran|owg1|p800|pan(a|d|t)|pdxg|pg(13|\-([1-8]|c))|phil|pire|pl(ay|uc)|pn\-2|po(ck|rt|se)|prox|psio|pt\-g|qa\-a|qc(07|12|21|32|60|\-[2-7]|i\-)|qtek|r380|r600|raks|rim9|ro(ve|zo)|s55\/|sa(ge|ma|mm|ms|ny|va)|sc(01|h\-|oo|p\-)|sdk\/|se(c(\-|0|1)|47|mc|nd|ri)|sgh\-|shar|sie(\-|m)|sk\-0|sl(45|id)|sm(al|ar|b3|it|t5)|so(ft|ny)|sp(01|h\-|v\-|v )|sy(01|mb)|t2(18|50)|t6(00|10|18)|ta(gt|lk)|tcl\-|tdg\-|tel(i|m)|tim\-|t\-mo|to(pl|sh)|ts(70|m\-|m3|m5)|tx\-9|up(\.b|g1|si)|utst|v400|v750|veri|vi(rg|te)|vk(40|5[0-3]|\-v)|vm40|voda|vulc|vx(52|53|60|61|70|80|81|83|85|98)|w3c(\-| )|webc|whit|wi(g |nc|nw)|wmlb|wonu|x700|yas\-|your|zeto|zte\-/i.test(a.substr(0,4)))check = true})(navigator.userAgent||navigator.vendor||window.opera);
		return check; 
	}
{/literal}
</script>

<script>
{literal}
(function() {
var _fbq = window._fbq || (window._fbq = []);
if (!_fbq.loaded) {
var fbds = document.createElement('script');
fbds.async = true;
fbds.src = '//connect.facebook.net/en_US/fbds.js';
var s = document.getElementsByTagName('script')[0];
s.parentNode.insertBefore(fbds, s);
_fbq.loaded = true;
}
_fbq.push(['addPixelId', '358181751034485']);
})();
window._fbq = window._fbq || [];
window._fbq.push(['track', 'PixelInitialized', {}]);
{/literal}
</script>
<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?id=358181751034485&amp;ev=PixelInitialized" /></noscript>

<!-- For endorsement tile auto hide after 5 second -->
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
    <!--<script type="text/javascript"> 
      $(document).ready( function() {
        $('#endorsweb').delay(7000).fadeOut();
      });
    </script>
    <script type="text/javascript"> 
      $(document).ready( function() {
        $('#endorsmobile').delay(7000).fadeOut();
      });
    </script>-->

</head>

<body>

<div class="ioslaunch" id="appios" style="display:block;">We are now APP ONLY. Download TrulyMadly & UnSingle On The Go!<br>Get it On <a href="https://play.google.com/store/apps/details?id=com.trulymadly.android.app" target="_blank" class="txtdlapp">Google Play,</a>
	<a href="https://itunes.apple.com/in/app/trulymadly/id964395424?mt=8" target="_blank" class="txtdlapp"> App Store,</a>
	<a href="https://www.windowsphone.com/en-in/store/app/trulymadly/45a2c781-52c3-4f72-a16d-79210a16cc68" target="_blank" class="txtdlapp"> Windows Store</a> 
	<a onClick="document.getElementById('appios').style.display='none';" class="closetoste">&times;</a>
</div>

<!-- New Love New App -->
<div class="bgnlna1">
<div class="belowhedr" align="center">
<img src="{$cdnurl}/images/common/trulymadly_logo.png" width="172" height="35" class="mrg">
<img src="{$cdnurl}/images/home/bghearts.gif" class="sec2bgleft"><img src="{$cdnurl}/images/home/bghearts.gif"  class="sec2bgright">
	<div class="appscreen"><a href="https://play.google.com/store/apps/details?id=com.trulymadly.android.app" target="_blank"><img src="{$cdnurl}/images/home/appscreen1.jpg?v=1"></a><a href="https://itunes.apple.com/in/app/trulymadly/id964395424?mt=8" target="_blank"><img src="{$cdnurl}/images/home/appscreen2.jpg?v=1"></a><a href="#" target="_blank"><img src="{$cdnurl}/images/home/appscreen3.jpg?v=2"></a></div>
	<div class="newapp">
    <h4><span>New Love</span><br>New App</h4><a href="https://itunes.apple.com/in/app/trulymadly/id964395424?mt=8" target="_blank"><img src="{$cdnurl}/images/home/downloadappios.png" class="downlapp"></a><br>
<a href="https://play.google.com/store/apps/details?id=com.trulymadly.android.app" target="_blank"><img src="{$cdnurl}/images/home/downloadapp.png" class="downlapp"></a><br>
<a href="https://www.windowsphone.com/en-in/store/app/trulymadly/45a2c781-52c3-4f72-a16d-79210a16cc68" target="_blank"><img src="{$cdnurl}/images/home/windowstore.png" class="downlapp"></a>    
    </div>
</div>
</div>
<!-- New Love New End -->

<!-- Header -->
<div class="bgheader">
<!-- Header Container -->
<div class="homecontainer" align="center">

<!-- Top Header -->
<div class="pageheader">
        
<!-- Dropdown 1 -->
<div class="click-nav">
<ul class="no-js">
<li><a class="icon-reorder ddicon clicker"></a>
<ul>
<!--<li><a href="{$baseurl}/infog/aboutus.html" target="_blank">About Us</a></li>
<li><a href="{$baseurl}/infog/ScientificMatching.html" target="_blank">Matching Process</a></li>
<li><a href="{$baseurl}/infog/TrustSecurity.html" target="_blank">Trust & Security</a></li>
<li><a href="#" target="_blank">Compatibility Model</a></li>
<li><a href="#" target="_blank">Media Coverage</a></li> -->
<li><a href="{$baseurl}/aboutus.php" target="_blank">About Us</a></li>
<li><a href="{$baseurl}/careers.php" target="_blank">Work With Us</a></li>
<li><a href="http://blog.trulymadly.com/" target="_blank">Our Blog</a></li>
<li><a href="{$baseurl}/trustnsecurity.php" target="_blank">Trust & Security</a></li>
<li><a href="{$baseurl}/truecompatibility.php" target="_blank">True Compatibility</a></li>
<li><a href="{$baseurl}/guidelines.php" target="_blank">Safety Guidelines</a></li>
<li><a href="{$baseurl}/terms.php" target="_blank">Terms of Use</a></li>
<li><a href="{$baseurl}/policy.php" target="_blank">Privacy Policy</a></li>
</ul>
</li>
</ul>
</div>
<!-- Dropdown 1 end-->

<img src="{$cdnurl}/images/common/trulymadly_logo.png" width="172" height="35" class="sitelogo">

<div class="followus hdrsoclink">
    	<p class="graytxt">Follow us :</p>
    	<a href="https://www.facebook.com/trulymadly" class="fb" target="_blank" title="Facebook"></a>
    	<a href="http://blog.trulymadly.com/" class="tmblog" target="_blank" title="Our Blog"></a>
    	<a href="http://twitter.com/thetrulymadly" class="twitter" target="_blank" title="Twitter"></a>
    	<a href="http://instagram.com/thetrulymadly" class="insta" target="_blank" title="Instagram"></a>
        <a href="https://www.youtube.com/user/trulymadlycom" class="youtube" target="_blank" title="Youtube"></a>
    </div>
    
    <a style="float: right; background:#ee6296; color:#fff; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; padding: 5px 10px; margin: 8px 20px 0 0; font-size: 16px;" href="{$baseurl}/careers.php" target="_blank">We're Hiring!</a>

</div>
<!-- Top Header end -->

<!-- Header responsive -->

<div class="respheader" id="respid">
<!--{if isset($smarty.get.endorse)}
<div class="endorsheader" id="endorsmobile">Thank you for your time</div>
{/if}-->
	<!-- Dropdown 2 -->
			<div class="click-nav2" {if $isRegistration eq 1 }style="display:none;"{else}{/if}>
			<ul class="no-js2">
				<li>
					<a class="clicker2 icon-reorder"></a>
					<ul style="display:none;">
                    <!--<li><a href="{$baseurl}/infog/aboutus.html" target="_blank">About Us</a></li>
					<li><a href="{$baseurl}/infog/ScientificMatching.html" target="_blank">Matching Process</a></li>
					<li><a href="{$baseurl}/infog/TrustSecurity.html" target="_blank">Trust & Security</a></li>
					<li><a href="#" target="_blank">Compatibility Model</a></li>
                    <li><a href="#" target="_blank">Media Coverage</a></li> -->
                    <li><a href="{$baseurl}/aboutus.php" target="_blank">About Us</a></li>
                    <li><a href="{$baseurl}/careers.php" target="_blank">Work With Us</a></li>
					<li><a href="http://blog.trulymadly.com/" target="_blank">Our Blog</a></li>
                    <li><a href="{$baseurl}/trustnsecurity.php" target="_blank">Trust & Security</a></li>
					<li><a href="{$baseurl}/truecompatibility.php" target="_blank">True Compatibility</a></li>
					<li><a href="{$baseurl}/guidelines.php" target="_blank">Safety Guidelines</a></li>
					<li><a href="{$baseurl}/terms.php" target="_blank">Terms of Use</a></li>
                    <li><a href="{$baseurl}/policy.php" target="_blank">Privacy Policy</a></li>
					</ul>
				</li>
			</ul>
			</div>
            <!-- Dropdown 2 end-->
            <div class="hdrsoclink fr">
    	
    </div>
</div>
<!-- Header responsive end -->

<!-- download app start -->

<div class="ioslaunch_mobile" id="appios_mobile">We are now APP ONLY. <br>
	<a href="redirect.html?referrer=utm_source%3DWebUsersMobile" target="_blank" class="txtdlapp"> Download Now & UnSingle On The Go !</a> 
	<a onClick="document.getElementById('appios_mobile').style.display='none'; document.getElementById('respid').style.top='0px';" class="closetoste">&times;</a>
</div>

<!-- download app end -->


 <h1 class="comontitle">HELLO</h1>
 <h3 class="comontitle">Meet interesting and like minded verified singles in your city on India's best dating and matchmaking app.</h3>
<!--<h2 class="comontitle">Come on in!</h2> -->
<div class="actionbtn">
<!--<a class="pnkbtn" onclick="document.body.style.overflow='hidden'; document.getElementById('diffframe2').style.display='block';">Log In</a>-->
</div>
</div>
<!-- Header Container end -->

</div>
<!-- Header End -->

<!-- New Love New App -->
<div class="bgnlna">
<div class="belowhedr" align="center">
<img src="{$cdnurl}/images/home/bghearts.gif" class="sec2bgleft"><img src="{$cdnurl}/images/home/bghearts.gif"  class="sec2bgright">
	<div class="appscreen"><a href="https://play.google.com/store/apps/details?id=com.trulymadly.android.app" target="_blank"><img src="{$cdnurl}/images/home/appscreen1.jpg?v=1"></a><a href="https://itunes.apple.com/in/app/trulymadly/id964395424?mt=8" target="_blank"><img src="{$cdnurl}/images/home/appscreen2.jpg?v=1"></a><img src="{$cdnurl}/images/home/appscreen3.jpg?v=2"></div>
	<div class="newapp">
    <h4><span>New Love</span><br>New App</h4><br><a href="https://itunes.apple.com/in/app/trulymadly/id964395424?mt=8" target="_blank"><img src="{$cdnurl}/images/home/downloadappios.png" class="downlapp"></a><br><a href="https://play.google.com/store/apps/details?id=com.trulymadly.android.app" target="_blank"><img src="{$cdnurl}/images/home/downloadapp.png" class="downlapp"></a><br>
<a href=" https://www.windowsphone.com/en-in/store/app/trulymadly/45a2c781-52c3-4f72-a16d-79210a16cc68" target="_blank"><img src="{$cdnurl}/images/home/windowstore.png" class="downlapp"></a>     
    </div>
</div>
</div>
<!-- New Love New End -->

<!-- Verified profile -->
<div class="bgvp">
<div class="belowhedr" align="center">
<img src="{$cdnurl}/images/home/bghearts1.gif" class="sec3bgleft"><img src="{$cdnurl}/images/home/bghearts1.gif"  class="sec3bgright">
	<div class="fl"><img src="{$cdnurl}/images/home/trustmatch.jpg" class="verproimg"></div>
	<div class="fl">
    <h4>Verified profiles</h4>
   	<p class="colrpink">Think of it as a set up by friends. They wouldn't introduce you to random strangers on the street, right?<br><br>Nor do we.<br><br>From authenticating ID proofs to social profiles and employment records, we'll find you a really 'real' match. </p>
    </div>
</div>
</div>
<!-- Verified profile End -->

<!-- true compatibility -->
<div class="bgtcsnd">
<div class="belowhedr" align="center">
<img src="{$cdnurl}/images/home/bghearts1.gif" class="sec4bgleft"><img src="{$cdnurl}/images/home/bghearts1.gif"  class="sec4bgright">
	<div class="clb overf">
    <h4 class="colrwhite">True compatibility</h4>
   	<p class="colrwhite fl mrgl1">It's not about introducing two single people. It's about introducing the right single people.<br><br>You tell us your what you like, what makes you laugh, angry and emotional. Once done, we'll match you with someone who is made for you. Yay!</p>
    </div>

    <div class="clb secheart overf">
     <img src="{$cdnurl}/images/home/lockedprofile.jpg" class="verproimg fl">
     <h4><span>Safe and Discreet</span></h4>
    <p class="colrblue fr mrgr1">We're like those friends who know how to keep all information you share, private.<br><br>Your profile can only be viewed by the ones we sort out for you. And you can only be messaged by those you have liked.<br><br>No casual surfing, no spamming, no peeping tom business.</p>
    </div>
</div>
</div>
<!-- true compatibility End -->

<!-- matching process -->
<div class="bgtmp">
<div class="belowhedr" align="center">
<img src="{$cdnurl}/images/home/bghearts.gif" class="sec5bgleft"><img src="{$cdnurl}/images/home/bghearts.gif"  class="sec5bgright">
	<div class="overf" align="center">
    <h4 class="txalmid">The Matching Process</h4>
    <ul class="matchprocess">
    <li><img src="{$cdnurl}/images/home/matchpro1.png"><div class="clb">Sign up for free.</div></li>
    <li><img src="{$cdnurl}/images/home/matchpro2.png"><div class="clb">We poke around till we know about you.</div></li>
    <li><img src="{$cdnurl}/images/home/matchpro3.png"><div class="clb">We sniff out the perfect ones for you.</div></li>
    <li><img src="{$cdnurl}/images/home/matchpro4.png"><div class="clb">You 'Like' or 'Hide' the matches without them knowing it.</div></li>
    <li><img src="{$cdnurl}/images/home/matchpro5.png"><div class="clb">And if they also like you back, you start talking. Yay!</div></li>
    </ul>
    </div>
</div>
</div>
<!-- matching process End -->

<!-- media coverage -->
<div class="bgvp">
<div class="belowhedr" align="center">
<img src="{$cdnurl}/images/home/bghearts1.gif" class="sec3bgleft"><img src="{$cdnurl}/images/home/bghearts1.gif"  class="sec3bgright">

	<a href="http://blog.trulymadly.com/trulymadly-news/" target="_blank"><div class="mediacov" align="center">
    <h4 class="txalmid clb">Media Coverage</h4>
    <img src="{$cdnurl}/images/home/medcov1.gif">
    <img src="{$cdnurl}/images/home/medcov2.gif">
    <img src="{$cdnurl}/images/home/medcov3.gif">
    <img src="{$cdnurl}/images/home/medcov4.gif">
    <img src="{$cdnurl}/images/home/medcov5.gif">
    <img src="{$cdnurl}/images/home/medcov6.gif">
    </div></a>
</div>
</div>
<!-- media coverage End -->

<!-- Footer -->
<div align="center" class="ftrbg">
<div class="pagefooter" align="center">

	<div class="footerlink">
		<ul>
        	<li class="padt8 linkhide"><a href="{$baseurl}/aboutus.php" target="_blank">About Us</a></li>
            <li class="padt8 linkhide"><a href="{$baseurl}/careers.php" target="_blank">Work With Us</a></li>
        	<li class="padt8 linkhide"><a href="{$baseurl}/trustnsecurity.php" target="_blank">Trust & Security</a></li>
			<li class="padt8 linkhide"><a href="{$baseurl}/truecompatibility.php" target="_blank">True Compatibility</a></li>
			<li class="padt8 linkhide"><!--© 2014, trulymadly.com,  --><a href="{$baseurl}/terms.php" target="_blank">Terms of Use</a></li>	
            <li class="padt8 linkhide"><a href="{$baseurl}/policy.php" target="_blank">Privacy Policy</a></li>		
			<li class="padt8 linkhide"><a href="{$baseurl}/guidelines.php" target="_blank">Safety Guidelines</a></li>
            <li><div class="followus">
    	<p>Follow us :</p>
    	<a href="https://www.facebook.com/trulymadly" class="fb" target="_blank" title="Facebook"></a>
    	<a href="http://blog.trulymadly.com/" class="tmblog" target="_blank" title="Our Blog"></a>
    	<a href="http://twitter.com/thetrulymadly" class="twitter" target="_blank" title="Twitter"></a>
    	<a href="http://instagram.com/thetrulymadly" class="insta" target="_blank" title="Instagram"></a>
        <a href="https://www.youtube.com/user/trulymadlycom" class="youtube" target="_blank" title="Youtube"></a>
    </div></li>
		</ul>
		<p class="copyr">© 2015, trulymadly.com</p>
	</div>
</div>
</div>
<!-- Footer End-->



<!-- SignUp Popup Start -->
<div id="diffframe1" style="display:none;" >
<div class="difusescreen" align="center" onClick="document.body.style.overflow='visible'; document.getElementById('diffframe1').style.display='none';"></div>
<div class="popupframe">
<a onClick=" document.body.style.overflow='visible'; document.getElementById('diffframe1').style.display='none';" class="closepopup"><i class="icon-remove-sign"></i></a>


<div class="formreg" id="blockmsg1"></div>
<div class="regformsec" align="center" id="signform">
	<div id="loaderfb" style="display:none">
		<img src='{$cdnurl}/images/ajaxloader.gif'/>
		<p>Hello! We're busy importing your info from Facebook.<br>This might take a few seconds.</p>
	</div>
	<p class="error" id="error_fb" style="padding: 0 10px; white-space: normal;"></p>
    <a id="fbimage" class="regfbconnect" onClick="Trulymadly.login.registerfb(this);"><i class="icon-facebook-sign"></i>Sign Up with Facebook</a>
    <div id="fb1"><span class="notetxt">We won't ever post on your Facebook.</span></div>
   <div class="orline" align="center"><span class="ortxt">OR</span></div>
<div class="formreg" align="center">
<form action="" id="form1" method="post" name="lg-form" novalidate='novalidate'>
<input name="email" id="email" type="text" tabindex="1" class="regtxtbox" placeholder="Enter email id">
<input name="fname" id="fname" type="text" tabindex="2" class="regtxtbox" placeholder="Enter first name">
<input name="lname" id="lname" type="text" tabindex="3" class="regtxtbox" placeholder="Enter last name">
<ul id="gensex">
	<li class="fl"><input class="cutomradio" type="radio" name="gender" id="gender" value="M" tabindex="4"><label>Male</label></li>
	<li class="fr"><input class="cutomradio" type="radio" name="gender" id="gender" value="F" ><label>Female</label></li>
</ul>

        <input type='hidden' name='registerViaEmail' value=1 /> 
        <input name="password" id="password1" type="password" class="regtxtbox" placeholder="Password" tabindex="5">
        <input tabindex="6" name="passwordAgain" id="passwordAgain" type="password" class="regtxtbox" placeholder="Retype Your Password" onBlur="return Trulymadly.login.checkPwd()">
        <p class="error" id="error"></p>
        <img id="loaderCon" src='{$cdnurl}/images/ajaxloader.gif' style="display:none"/>
       <input id="continue" type="button" name ="send" value="Continue" class="regbcbtn fr" onclick="return Trulymadly.login.onContinue(this.form);" >
      <!-- <a id="continue" class="regbcbtn fr" onclick="return Trulymadly.login.onContinue(this.form);">Continue &nbsp;<i class="icon-angle-right"></i></a>-->
       <div class="clb">&nbsp;</div>
    </form>
</div>
</div>

<div class="logformsec" align="center" id="suspendform1" style="display:none;">
	<p class="fs12 clb">Your profile is currently deactivated.<br>Do you want to activate your profile.</p><br>
	<img id="loaderSus" src='{$cdnurl}/images/ajaxloader.gif' style="display:none"/>
	<a id="suspend1" class="regbcbtn">Continue</a>
</div>
</div>
</div>
<!-- Pop Up end -->


<!-- LogIn Popup Start -->
{if $show_login eq 1 }
<div id="diffframe2"  style="display:block;">
<div class="difusescreen" align="center" onClick="document.body.style.overflow='visible'; document.getElementById('diffframe2').style.display='none';"></div>
<div class="popupframe">
<a onClick="document.body.style.overflow='visible'; document.getElementById('diffframe2').style.display='none';" class="closepopup"><i class="icon-remove-sign"></i></a>

<div class="formreg" id="blockmsg"></div>
<div class="logformsec" align="center" id="logform">
<div id="logfb">
	<img id="loaderfb_login" src='{$cdnurl}/images/ajaxloader.gif' style="display:none"/>
	<p class="error" id="error_fb_log" style="white-space:normal;"></p>
    <a id="fbimage_log" class="regfbconnect" onClick="Trulymadly.login.registerfb(this);"><i class="icon-facebook-sign"></i>Log In with Facebook</a>
    <div id="fb2"><span class="notetxt">We won't ever post on your Facebook.</span></div>
	<div class="orline" align="center"><span class="ortxt">OR</span></div>
</div>
<div class="formreg" align="center" id="loginfrm" style="display:block;">
   <form action="" id="form2" method="post" name="lg-form" novalidate='novalidate'>
        
        <input name="email" id="email" type="text" class="regtxtbox" placeholder="Email id">
        <input type='hidden' name='login' value='1'/>
        <input name="password" id="password" type="password" class="regtxtbox" placeholder="Password">
        <p class="error" id="error_log"></p>
        <img id="loaderlog" src='{$cdnurl}/images/ajaxloader.gif' style="display:none"/>
        <input type="button" class="regbcbtn fl" value="Log In" id='login' onclick="return Trulymadly.login.Signin(this.form);">
        <!--<a id="continue" class="regbcbtn fl">Log In &nbsp;<i class="icon-angle-right"></i></a>-->
       <span class="colrblue fr mrgt1 cursp"  onClick="document.getElementById('loginfrm').style.display='none'; document.getElementById('logfb').style.display='none'; document.getElementById('forgetfrm').style.display='block';">Forgot password?</span>
       <div class="clb">&nbsp;</div>
    </form>
</div>

<div class="formreg" align="center" id="forgetfrm" style="display:none;">
   <form action="" id="form3" method="post" name="lg-form" novalidate='novalidate'>
        
        <input name="email" id="email" type="text" class="regtxtbox" placeholder="Email id">
        <span class="fs14 fl">Email Id provided by you during registration</span>
      	<label id="error1" class="error clb" style="display:none;"></label>
        <div class="clb"></div>
        <input type="submit" class="regbcbtn fl" value="Submit" id='submit'>
        <!--<a id="continue" class="regbcbtn fl">Submit</a>-->
       <span class="colrblue fr cursp"  onClick="document.getElementById('loginfrm').style.display='block'; document.getElementById('logfb').style.display='block'; document.getElementById('forgetfrm').style.display='none';"><br><i class="icon-angle-left"></i>&nbsp;Back to Log In</span>
       <div class="clb">&nbsp;</div>
    </form>
    <div style="display:none;" id="fpsmsg">
    <!-- <p class="signupdetail">Check your e-mail.</p> -->
    <p class="fs12 clb txtgreen">Reset password instructions has been sent to your email address that is registered with TrulyMadly.<br></p>
	</div>
</div>

</div>

<div class="logformsec" align="center" id="suspendform" style="display:none;">
	<p class="fs12 clb">Your profile is currently deactivated.<br>Do you want to activate your profile.</p><br>
	<img id="loaderSus" src='{$cdnurl}/images/ajaxloader.gif' style="display:none"/>
	<a id="suspend" class="regbcbtn">Continue</a>
</div>

</div>
</div>
{else}
{/if}
<!-- Pop Up end -->

<!-- saumya pop up start -->

<div id="saumyaframe" style="display:none;">
	<div class="difusescreen" align="center" onClick="document.body.style.overflow='visible'; document.getElementById('saumyaframe').style.display='none';"></div>
	<div class="popupframe1">
		<a onClick="document.body.style.overflow='visible'; document.getElementById('saumyaframe').style.display='none';" class="closepopup"><i class="icon-remove-sign"></i></a>
		<img src='{$cdnurl}/images/app-only-13-oct.jpg' style="width:100%"/>
	</div>
</div>	
<!-- saumya pop up end -->


<script src="{$cdnurl}/js/common/jquery.min.js"></script>
<script src="{$cdnurl}/js/common/icheck.js"></script>
<script src="{$cdnurl}/js/login/jquery.validate.min.js"></script>
<script src="{$cdnurl}/js/register/trulymadly.js"></script>
<script src="{$cdnurl}/js/login/core_login.js?v=1.2.7"></script>

<script>
$(function() {
	// Clickable Dropdown
	$('.click-nav > ul').toggleClass('no-js js');
	$('.click-nav .js ul').hide();
	$('.click-nav .js').click(function(e) {
		$('.click-nav .js ul').slideToggle(200);
		$('.clicker').toggleClass('active');
		e.stopPropagation();
	});
	$(document).click(function() {
		if ($('.click-nav .js ul').is(':visible')) {
			$('.click-nav .js ul', this).slideUp();
			$('.clicker').removeClass('active');
		}
	});
});

		$(function() {
			// Clickable Dropdown
			$('.click-nav2 > ul').toggleClass('no-js2 js');
			$('.click-nav2 .js ul').hide();
			$('.click-nav2 .js').click(function(e) {
				$('.click-nav2 .js ul').slideToggle(200);
				$('.clicker2').toggleClass('active');
				e.stopPropagation();
			});
			$(document).click(function() {
				if ($('.click-nav2 .js ul').is(':visible')) {
					$('.click-nav2 .js ul', this).slideUp();
					$('.clicker2').removeClass('active');
				}
			});
		});
</script>


</body>
</html>

