{include file='templates/header_dashboard.tpl'}

<script>
var baseurl = "{$baseurl}";
var sort_param="{$sort_param}";
var queue = "{$queue_param}";
var current_url = "{$pageurl}";

function fbtopen()
{
document.getElementById("fbtitle").style.display="block";
}
function fbtclose()
{
document.getElementById("fbtitle").style.display="none";
}
</script>

{literal} 

<script><!--
$(document).ready(function(){ 




	//alert(queue);
	var d=document.getElementById(sort_param);
	var t = document.getElementById(queue);
//	alert(sort_param);
	
if(queue==''){
	var m = document.getElementById("best_match");
	if(m)
	m.className = m.className + " active";
	
}
if(sort_param){
	$(".best_match").removeClass('active');
	d.className=d.className+" active";
}
	if(queue){	
		//alert(queue);
		$("#sortby ul li").remove();
		$("#queues ul li").removeClass('active');
		//alert(t);
		//alert(queue);
t.className = t.className + " active";
//$(".like").html('');
//$(".like").text("Liked");
if(queue=='like'){
	$(".clicklike").text( "" );
	$(".clicklike").append( "<span class='like likedst'>Liked</span>" );
}

if(queue=='favorite' || queue=='hide'){
	//$( ".first").css({
	  //    "background-color": "yellow",
	    //  "font-weight": "bolder"
	    //});

	//$(".first").css("background-image", "url(../../images/dashboard/icons/tile-icon1.png)");  
$(".first").addClass('active');
$(".last").addClass('active');
	//alert(queue);
	//$(".first").text( "" );
	//$(".first").append( "<span class='fav fvdst'>fav</span>" );
}	 
	}
	
	}  );
function getSort(str) {
	if(str){
		var concatUrl = baseurl+ "/matches.php?sort="+str;
		if(str=="best_match")
			concatUrl = baseurl+"/matches.php"; 
		}
	else{
		var concatUrl = baseurl +"/matches.php";
	}

	current_url = concatUrl;
	window.location = concatUrl;
			
			
}

function getQueue(str){
	//alert(baseurl+"/matches.php?queue="+str);
	if(str=="all")
		var url = baseurl +"/matches.php";
	else {
		url = baseurl+"/matches.php?queue="+str;
	}
	//document.getElementById("test").innerHTML='';
//alert($(".like").empty().append("hello"));
	//$(".like").html("<span class='like likedst'>Liked</span>" );
// alert('123here');
	current_url = url;
	window.location = url;
	
}

function fadeoutAndHide(post_url,name, id, hide, queue, ts){
	$.post( post_url, {user_action: name, match_id: id, current_queue:queue, mesh: ts}
	,function(data,status) {
		// alert(data);
	});
	if(hide==1){
		$("#"+id).fadeOut('slow', function() { $(document.getElementById('panel_'+id)).remove(); });
	}
}

function addToQueue(name, id, ts){
	var post_url = baseurl +"/matches.php";
	var sort_url = baseurl +"/matches.php?sort="+sort_param;
	var url = baseurl+"/matches.php?queue="+name;
	if(document.URL.indexOf('#')>0)	
	var documentUrl=document.URL.slice(0,document.URL.length-1);
	
	else var documentUrl=document.URL;
	//alert(documentUrl);
	if((post_url==documentUrl)||(sort_url == documentUrl)){
	
		fadeoutAndHide(post_url, name, id, 1,"", ts); 
	}
	if(window.location.href.indexOf("like") > -1) {
 		if(name=='favorite'){
			fadeoutAndHide(url, name, id, 0, 'like', ts);
 		} 

 		if(name=='hide'){
			fadeoutAndHide(url, name, id, 1, 'like', ts);
 		} 
	}

	if(window.location.href.indexOf("favorite") > -1) {
		if(name=='like'){
			fadeoutAndHide(url, name, id, 0, 'favorite', ts);
	 	} 

		if(name=='hide'){
			fadeoutAndHide(url, name, id, 1, 'favorite', ts);
	 	} 
	}

	if(window.location.href.indexOf("hide") > -1) {
		 if(name!='hide'){
				fadeoutAndHide(url, name, id, 1, 'hide', ts);
	 	} 
	}
}

function viewQueue(id){
	name = 'view';
	$.post( post_url, {user_action: name, match_id: id, mesh: ts}
	,function(data,status) {
		alert(data);
	});
}




--></script>

{/literal}

<div class="container"><!--

 {if isset($non_authentic_banner)}
    <div class="verifyinfobox effect2">
    To make your profile visibile to other TrulyMadly members, you need a Trust Score of 25%.
    <a href="{$baseurl}/trustbuilder.php">Build Trust</a>
    
    </div>
       {/if}
       
    	--><div class="showsort clearfix">
        <div class="mb20">
        <h2 class="pagetitle fl">My Matches</h2>
        {if isset($isAnyApproved) && $isAnyApproved eq 0}
        <div class="blurimgnote" onmouseover="fbtopen()" onmouseout="fbtclose()">Why am I seeing blurred photos?
        <div class="hovrtitle" style="display:none; top: -90px; left:5px;" id="fbtitle">
       Because we do not have an approved photo of your's, it is only fair that we show you other member photos if they can see you! <br />
<a href="{$baseurl}/photo.php">Upload Your Photo </a>
       </div>
        </div>
        {/if}
        </div>
              <div class="clb"></div>
        	<div class="show mt20" id="queues">
            	<ul> 
                	<li class="showtext">Show</li>
                    <li class=" active all curp" onclick ="getQueue(this.id)" id="all">Yet to decide</li>
                    <!--<li class="starshow" onclick = "getQueue(this.id)" id ="favorite"><span class="starshow">Star</span></li> -->
                    <li class="thumbclicked curp" onclick = "getQueue(this.id)" id="like">You have liked</li><!--
                    <li class="cancelshow" onclick = "getQueue(this.id)" id="hide"><span class="cancelshow">Cancel</span></li>
                    <p class="numsectop pos1">{$header.matches}</p>-->
                    <!--<p class="numsectop pos2">{$queue_counter.favorite}</p> -->
                    <!--<p class="numsectop pos2">{$queue_counter.like}</p>
                    <p class="numsectop pos3">{$queue_counter.hide}</p>
                --></ul>
            </div>
           
            <!--<div class="sortby" id="sortby"> 
            	<ul>
                	<li class="sorttext">Sort By</li>
                	<li class="best_match" onclick = "getSort(this.id)" id="best_match">Best</li>
                    <li class="last_login"  onclick="getSort(this.id)" id="last_login">Active</li>
                    <li class="percent" onclick="getSort(this.id)" id="trust">%</li>
                    <li class="age" onclick="getSort(this.id)" id="age">Age</li>
                </ul>
            </div>
        --></div> 
        

<!--<script>

$(document).ready(function(){
	if(document.location ==  '{$cdnurl}/matches.php?preference_passed=1'){
	alert('here');
	  $('.filterbox').addClass('active');
	  $('.filterbox').slideDown("slow");
	
}}
</script>

        -->
        

        
         {if isset ($no_profile_msg)}<div class="verifyinfobox effect2">
     {$no_profile_msg}<!--&nbsp;&nbsp;<a href="javascript:void()">Verify Now</a> -->
    </div> {/if}
        
        
        <div class="clearfix mt20"  id="match_panel">
        	<ul class="matcheslist"><!--
        	{section name=ud loop=$userDetails}
   {$userDetails[ud].id}
           {/section}
    -->
            {foreach from=$userDetails key=k item=user}

            	<li class="element" id="panel_{$user.id}">
                	<div class="panel" >
						<div class="front">
							<div class="pad">
                                <div class="hover bigphoto">
                                  <img src={$user.image_url}  style="width:225px;height:225px;" id={$user.match_id}></img>
                                    <!-- <img src={$cdnurl}/files/images/profiles/{$user.image_url}  style="width:225px;height:260px;" id={$user.match_id}></img> -->
                                   {if isset($user.mutual_connections)}
                                    <p class="mutual"><span>f </span>Mutually Connected</p>
                                    {/if}
                                   <!-- <p class="new">New</p> -->
                                    <div class="name"><p>{$user.name}</p><p>, <span>{$user.age} yrs.</span></p></div>
                                </div>
                                <div class="perosonal-details">
                                 <!--<img src="{$cdnurl}/images/dashboard/slider/trust-meter.png"> trust:{$user.trust_score} -->
<!--Trust Meter Start -->
     <div class="tmtitle">
     <div class="pieContainer" style="margin-left:12px!important;">
     <div class="pieBackground"></div>
     {if isset($user.trust_score)}
     <div id="pieSlice1" class="hold"><div class="pie" style="-webkit-transform:rotate({math equation='(( x *1.8 ) -90 )' x= $user.trust_score}deg); -moz-transform:rotate({math equation='(( x *1.8 ) -90 )' x= $user.trust_score}deg); -o-transform:rotate({math equation='(( x *1.8 ) -90 )' x= $user.trust_score}deg); transform:rotate({math equation='(( x *1.8 ) -90 )' x= $user.trust_score}deg);"></div></div>
     <div class="persentbg"><p>{$user.trust_score}%</p></div>
     {else}
      <div id="pieSlice1" class="hold"><div class="pie" style="-webkit-transform:rotate(-90deg); -moz-transform:rotate(-90deg); -o-transform:rotate(-90deg); transform:rotate(-90deg);"></div></div>
     <div class="persentbg"><p>0%</p></div>
     {/if}
     <!--
     {math equation="(( x + y ) / z )" x=2 y=10 z=2}
     {math equation="(( x *1.8 ) -90 )" x= $user.trust_score}
     function setTrustAngle(percent){
	var angle = percent*1.8;
	angle = angle - 90;
	angle = angle+"deg";
	$("#pieSlice1 .pie").css("-webkit-transform","rotate("+angle+")");
	$("#pieSlice1 .pie").css("-moz-transform","rotate("+angle+")");
	$("#pieSlice1 .pie").css("-o-transform","rotate("+angle+")");
	$("#pieSlice1 .pie").css("transform","rotate("+angle+")");
}
     
     
     --></div>
     <p class="mt2">Trust Score</p>
     </div>
                                <!-- Trust Meter end -->
                                 
                                 
                                    <div class="persontext">
                                     <p><span>{$user.height}</span>, {$user.religion}</p>
                                      <p>{$user.city} </p>
                                      <p class="lstactv">Last Active: {$user.last_active}</p>
                                    </div>
                                </div>
                                
                           
                                
                                {if empty($queue_param)}
                                <div class="actions">
                                   <!-- <p class="first" id="youfvd_{$user.id}"  name="{$user.fav_link}"><a href="javascript:void(0)"    id='fav_{$user.id}' onclick="$(this.id, '{$user.mesh}').click()" ><span class="fav"></span>Fav</a>
                                    <div  class="favorited" id="favorited_fav_{$user.id}" style="display:none">
                                            <div  id="youfvd_fav_{$user.id}">
                                            {literal}
                                            <p>You have clicked fav</p>
                                               {/literal}
                                            </div>
                                        </div>
                                    </p> --><!--
                                    
                                    
                  
                                    {if isset($user.like_link)}
                                    <p class="clicklike clickbhasad" id="youliked_{$user.id}"  name="{$user.like_link}">
                                    <a href="javascript:void(0);"   id='like_{$user.id}' onclick="$(this.id, '{$user.mesh}').click()">
                                    <span class="like">
                                    </span>Like
                                    </a>
                --><!--                    <div class="likedliked ui-notify" id="likedliked" style=""><div class="ui-notify-message ui-notify-message-style" style="">
                                    <p>You have cliked Like</p>
                                </div></div>
                                
                -->                       <!--<div  class="likedliked" id="likedliked_like_{$user.id}" style="display:none;">
                                            <div  id="youliked_like_{$user.id}">
                                            {literal}
                                            <p>#{text}</p>
                                               {/literal}
                                            </div>
                                        </div>
                                    </p>
                                    
                                    {else}
                                    <p class="clicklike" id="youliked_{$user.id}" onmouseover="$('#youliked_msg_{$user.id}').show()" onmouseout="$('#youliked_msg_{$user.id}').hide()">
                                    <a href="javascript:void(0);">
                                    <span class="like">
                                    </span>Like
                                    </a>
                                    <object><div id='youliked_msg_{$user.id}' style="display:none;" class="infocontainer likeinfobox">
                                    You need a Trust Score of 25% to use this feature.&nbsp;&nbsp;
                                    <a href="{$baseurl}/trustbuilder.php">Build Trust Score</a>
                                    <img src="{$baseurl}/images/dashboard/profile/arrow_btmdir.png"/>
                                    </div>
                                    </object>
                                    </p>  
                                                                      
                                    {/if}
                                    
                                    {if isset($user.hide_link)}
                                    <p class="last lastbhasad" id="youhide_{$user.id}" name="{$user.hide_link}">
                                    <a href="javascript:void(0)"  id='hide_{$user.id}' onclick="$(this.id).click()"><span class="hide"></span>Hide</a>
                                    
                                    <div  class="hd" id="hd_hide_{$user.id}" style="display:none">
                                            <div  id="youhide_hide_{$user.id}">
                                            {literal}
                                            <p>#{text}</p>
                                               {/literal}
                                            </div>
                                        </div>
                                    </p>
                                    {else}
                                <p class="last" id="youhide_{$user.id}" onmouseover="$('#youhide_msg_{$user.id}').show()" onmouseout="$('#youhide_msg_{$user.id}').hide()">
                                    <a href="javascript:void(0);">
                                    <span class="hide">
                                    </span>Hide
                                    </a>
                                    <object><div id='youhide_msg_{$user.id}' style="display:none;" class="infocontainer hideinfobox">
                                    You need a Trust Score of 25% to use this feature.&nbsp;&nbsp;
                                    <a href="{$baseurl}/trustbuilder.php">Build Trust Score</a>
                                    <img src="{$baseurl}/images/dashboard/profile/arrow_btmdir.png"/>
                                    </div></object>
                                    </p>    
                                         
                                {/if}-->
                                    
                                </div> 
                                
                                 
                                {/if}
                                
                                
                            </div>
                        </div>
                        <div class="back fliphover">
                            <div class="pad">
                                <div class="fliptitle"><p class="fnamelimit1">{$user.name}</p><p>, <span>{$user.age}</span></p></div>
                                <div class="flippara">
                                <div class="ht60">
                                <p>Education:</p>
                                <span>
                                {$user.highest_education|truncate:90:"..":true}
                                </span>
                                </div>
                              <div class="ht60">
                                <p>Occupation:</p>
                                <span>
                                {if isset($user.industry)}
                                {$user.industry}
								{else}
								{$user.working_area}
                                {/if}
                                </span>
                                </div>
                                <div class="ht60">
                                <p>Income:</p>
                                <span>{$user.income_start} to {$user.income_end} </span>
                                </div>
                              <!--   <p>time:{$user.last_login}</p>
                                <span>{$user.org}</span>
                                <p>Siblings: {$user.siblings}</p>
                                <span>{$user.mutually_connected}</span></p> -->
                             </div>
								<p class="viewprofile"><a href="{$user.profile_link}" >View Profile</a></p>
                            </div>
                        </div>
                    </div>
                    
                    
                    
                </li>
            {/foreach}   
                
                
                
                
                
            </ul>
        </div>
        
    </div>
    
    <nav id="page_nav" style="display: none;">
    <a href="{$pageurl}"></a>
 </nav>
 
  <!--<div class="footer">
    	<div class="container footercontent">
        	<div class="clearfix">
                <div class="copyfootermenu">
                    <div class="copyright">2013 &copy;trulymadly.com</div>
                    <nav class="footernav">
                    	<a href="#">About</a> <a href="#">Privacy Policy</a> <a href="#">Terms to Use</a> <a href="#">Disclaimers</a> <a href="#">Contact Us</a>
                    </nav>
                </div>
                <div class="socialicons">
                    <ul class="clearfix">
                        <li class="join">Join us on:</li>
                        <li class="fbicon"><a href="#"><i class="icon-facebook"></i></a></li>
                        <li class="fbicon"><a href="#"><i class="icon-linkedin"></i></a></li>
                    </ul>
                </div>
			</div>
        </div>
    </div>
    
    
--></div>
</body>
</html>


 
  
