{include file='templates/header_dashboard.tpl'}
<script> 
var edit=true;

if('{$demo_own}'!='')
var demo_own=JSON.parse('{$demo_own}');
var work_plan='{$work_own}';
if(work_plan!=''){
var work_own=JSON.parse(work_plan);
var education_ids_array=new Array();
var current_education_id=-1;
var work_ids_array=new Array();
var current_work_id=-1;
}
if('{$family_own}'!='')
var family_own=JSON.parse('{$family_own}');
if('{$trait_own}'!='')
var trait_own=JSON.parse('{$trait_own}');


if('{$demo}'!='')
var demo=JSON.parse('{$demo}');
if('{$work}'!='')
var work=JSON.parse('{$work}');
if('{$family}'!='')
var family=JSON.parse('{$family}');
if('{$trait}'!='')
var trait=JSON.parse('{$trait}');
var casteAll='{$castes}';
var cdn='{$cdnurl}';
var gender='{$data.gender}';
//var addMore=0;
//var addMoreWork=0;
var verify_connections_linkedin="{$linkedin_minimum_connections}";
var maxAddMores="{$maxAddMore}";
var educations='{$education_levels}';
var educationsub ='{$education_sublevels}';
var industries=JSON.parse('{$industries}');
var income_spouse_array='{$income_spouse}';
var json_l='{$linkedin_mapping_industry}';
</script>
<script src="{$cdnurl}/js/register/core.js?v=5"></script>
<script src="{$cdnurl}/js/register/core2.js"></script>
<script src="{$cdnurl}/js/register/core3.js"></script>


<script src="{$cdnurl}/js/register/core4.js?v=29"></script>
<script type="text/javascript" src="http://platform.linkedin.com/in.js">
api_key: {$linkedin_api}
onLoad: fetchLinkedIn
</script>

<script src="{$cdnurl}/js/dashboard/core_partner.js?v=28"></script>
<!--[if IE]>
     <link  rel="stylesheet" type='text/css' href="../../css/dashboard/IE-only.css" >
<![endif]-->
<!--[if lt IE 9]>
	<link rel="stylesheet" type="text/css" href="../../css/dashboard/ie8.css" />
<![endif]-->
</head>

<body>
<div class="wrapper" id="scrollpaginationdemo">
	<!--Header-->
	<div></div></div>
    	<div class="container">
                <!--Menu-->
                <!--User Details-->
    <div class="container mt80 clearfix">
     <h2 class="pagetitle"></h2>
     <p class="caption">&nbsp;</p>
  <!--      <div class="searchnew">
            <input type="search" name="Search" placeholder="Search by name">
            <div class="smallline"></div>
            <div class="searchicon"></div>
        </div> -->
        <div class="clearfix" id="horizontalTab">
            <ul class="innertabs mt20 resp-tabs-list">
                <li><a href="javascript:void(0);">Age</a></li>
                <li><a href="javascript:void(0);">Religion</a></li>
                <li><a href="javascript:void(0);">Location</a></li>
                <li><a href="javascript:void(0);">Height</a></li>
<!--                 <li><a href="javascript:void(0);">Complexion</a></li> -->
                <li><a href="javascript:void(0);">Appearance</a></li>
                <li><a href="javascript:void(0);">Smoking</a></li>
		<li><a href="javascript:void(0);">Drinking</a></li>
                <li><a href="javascript:void(0);">Diet</a></li>
                <li><a href="javascript:void(0);">Income</a></li>
                <li><a href="javascript:void(0);">Employment</a></li>
                <li><a href="javascript:void(0);">Education</a></li>
				<li><a href="javascript:void(0);">Hobbies</a></li>
				<li><a href="javascript:void(0);">More...</a></li>
            </ul>
            <div class="resp-tabs-container partnersection">
            	<!--Personal-->


                <div class="partnerinner">
<div>
        {include file='templates/registration/birthplace.tpl'}
</div>

</div>
                <!--Location-->
                <div class="partnerinner">
<div>
        {include file='templates/registration/religion.tpl'}
</div>

</div>
                <!--Profession-->
                <div class="partnerinner">
<div>
        {include file='templates/registration/livingspace.tpl'}
</div>

</div>
                <!--Religion-->
                <div class="partnerinner">
<div>
        {include file='templates/registration/height.tpl'}
</div>

</div>

                <!--Physical-->
<!--                 <div class="partnerinner"> -->
<!-- 	<div> -->
        {*include file='templates/registration/complexion.tpl'*} 
<!-- </div> -->

<!-- </div> -->
	
                <!--Habits-->
                <div class="partnerinner">
                <div>
        {include file='templates/registration/bodytype.tpl'}
</div>          
                        
</div>    
                <div class="partnerinner">
<div>
        {include file='templates/registration/smoking.tpl'}
</div>          
                        
</div>    
    <div class="partnerinner">
<div>
        {include file='templates/registration/drinking.tpl'}
</div>

</div>
    <div class="partnerinner">
<div>
        {include file='templates/registration/food.tpl'}
</div>

</div>
    <div class="partnerinner">
<div>
        {include file='templates/registration/familyDetail.tpl'}
</div>

</div>
    <div class="partnerinner">
<div>
        {include file='templates/registration/workDetail.tpl'}
</div>

</div>
    <div class="partnerinner">
<div>
        {include file='templates/registration/education.tpl'}
</div>

</div>
<div class="partnerinner">
<div>
        {include file='templates/registration/hobby.tpl'}
</div>

</div>
<div class="partnerinner">
<div>
        {include file='templates/registration/subjective1.tpl'}
</div>

</div>





                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
</div>
<!--
<div class="footer">
    	<div class="container footercontent">
        	<div class="clearfix">
                <div class="copyfootermenu">
                    <div class="copyright">2013 &copy;trulymadly.com</div>
                    <nav class="footernav">
                    	<a href="javascript:void(0)">About</a> <a href="javascript:void(0)">Privacy Policy</a> <a href="javascript:void(0)">Terms to Use</a> <a href="javascript:void(0)">Disclaimers</a> <a href="javascript:void(0)">Contact Us</a>
                    </nav>
                </div>
                <div class="socialicons">
                    <ul class="clearfix">
                        <li class="join">Join us on:</li>
                        <li class="fbicon"><a href="javascript:void(0)"><i class="icon-facebook"></i></a></li>
                        <li class="fbicon"><a href="javascript:void(0)"><i class="icon-linkedin"></i></a></li>
                    </ul>
                </div>
			</div>
        </div>
    </div>
-->
<!--Message Reply-->
<div id="messagereply">
    <div class="messagereplycontent">
        <form>
            <p>Message to Deepika</p>
            <textarea cols="30" rows="4" placeholder="Type in your message here........"></textarea>
        </form>
        <div class="btnactions">
        	<p><a href="javascript:void(0);" class="send">Send</a><a href="javascript:void(0);" class="simplemodal-close cancelpop">Cancel</a></p>
        </div>
    </div>
</div>
</body>
</html>


 
  
