{include file='templates/header_dashboard.tpl'}

<script type="text/javascript">
$(document).ready(function() {
$('.matches_header').removeClass('active');
window.onbeforeunload = function(){
    return "Processing Payment";
};
setTimeout(function(){
	window.onbeforeunload = null;
	window.location.replace('dashboard.php');
},3000);
});
</script>

	<link type="text/css" rel="stylesheet" href="{$cdnurl}/css/register/verifypayment.css">

<div class="wrapper">
	<!--Header-->
	<div class="container">
		<!-- My work Start    -->
		<div class="paysucmsg" align="center">
			{$response}
		</div>		
     </div>
</div>
<script type="text/javascript" src="{$cdnurl}/js/paymentcore.js"></script>
</body>
</html>