<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<link rel="shortcut icon" href="{$cdnurl}/images/dashboard/favicon.ico" type="image/x-icon">
<meta charset="utf-8">
<title>TrulyMadly - Terms of Use</title>
<!--Stylesheet section start here -->
<link href="{$cdnurl}/css/login/reset.css" rel="stylesheet"
	type="text/css" />
<link href="{$cdnurl}/css/login/style.css" rel="stylesheet"
	type="text/css" />
<link href='http://fonts.googleapis.com/css?family=Roboto:100,300,400'
	rel='stylesheet' type='text/css'>
<!--Stylesheet section end here-->
<!--[if lt IE 9]>
<script src="js/html5.js"></script>
<![endif]-->

</head>
<body>
<script>
{literal}
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  {/literal}
  ga('create', '{$google_analytics_code}', 'trulymadly.com');
  ga('send', 'pageview');
  
</script>
	<!--wrapper secton start here-->
	<div id="wrapper">

		

			<!--Safe container-->
			<div class="safecontainer">
			<div class="termsContainer">
			{if $header.login_mobile neq true}
			<h2>Terms &amp; Conditions</h2>
  			{/if}
              <p>These Terms and  Conditions are a legal and binding Agreement between You (“the User”) and Truly  Madly Matchmakers Pte Ltd (hereinafter referred to as <strong>&quot;TrulyMadly&quot;</strong>). Terms and Conditions state the  grounds on which the User can use and/ or register with this {if $header.login_mobile neq true}<a href="http://www.trulymadly.com">www.trulymadly.com</a>{else}www.trulymadly.com{/if} (<strong>“Site”/  “Website”/ “Us”/ “We”/ “Our”/ “TrulyMadly”)</strong>.<br>
                Terms and Conditions are  updated from time to time at Our sole discretion and the most updated version  is available on the Site at all times along with the date of last revision.  Continued use by the User of the Site after any revision indicates the User’s  acceptance of the updated/ revised Terms and Conditions.<br>
                By accessing the Site,  and using the Services (as defined below) as offered in this Site, You become  the User  and become bound by, the terms  and conditions of this Agreement and other Policies of TrulyMadly for as long  as You continue to use/ visit the Site or Services. <strong>IF YOU DO NOT AGREE TO  BE BOUND BY THESE TERMS AND CONDITIONS, DO NOT USE OR REGISTER WITH THE SITE OR  FOR THE SERVICES.</strong> Your use, registration or participation in any manner  with the Site or the Services being provided confirm, agreement to the Terms  and Conditions and any applicable Policies.</p>
              <ol>
                <li>We at TrulyMadly provide  matchmaking services consisting of recommendations and suggestions based on the  Users’ requirements (collectively, the <strong>&quot;Services&quot;</strong>).  TrulyMadly may offer additional services or revise any of the Services, at its  discretion at any future date in which case these Terms and Conditions shall apply  to all additional services or revised Services. All rights to cease offering  any of the Services on the Site are reserved with TrulyMadly. </li>
              </ol>
              <p>2. <a name="1"></a>   <strong>Eligibility.</strong> </p>
              <ol start="1" type="a">
                <li><u>Minimum Age.</u>User of the Site must be at least 18 years old to use or to       register at the Site for the Services. By using the Services on the Site,       the User represents and warrants that he/ she is a minimum 18 years old.       It is possible that certain Services may have other age requirements and       such other age requirements are stated at the relevant places.</li>
                <li><u>Marital Status.</u> By requesting to use, registering to use, or using the Services, the       User represents and warrants that the User is not married or is divorced.       If the User is not legally divorced, then the Services will not be       available for the User till the divorce is legally achieved.</li>
                <li><u>Criminal History.</u> By requesting to use, registering to       use, and/or using the Service, the User represents and warrants that the       User has never been convicted under any law governing us or the User. TrulyMadly       reserves the right to conduct a criminal background check, at any time and       using available public records, to confirm possibility of       misrepresentation. By agreeing to these Terms and Conditions, the User       consents to and authorises such check.</li>
                <li><u>Verification.</u> By       agreeing to the Terms and Conditions, User hereby authorises TrulyMadly       (and its third party authentication agency) to conduct verification checks       on the User/ You. The verification process is critical/ important for       receiving the complete set of Services offered at the Site by TrulyMadly.       The verification process is initiated and performed if:</li>
              </ol>
              <p>i. Specifically asked by You to receive the  defined set of Services offered at the Site;<br>
                ii. TrulyMadly, at its sole discretion decides  to conduct a Verification check whenever deemed necessary. <br>
                In either case, the User will be  appropriately notified and requested to provide the required documents and fill  up the necessary Consent Forms for initiating and completing the Verification  process. <br>
                User agrees and confirms that non-abidance of  Verification requests made by TrulyMadly will render the Registered Account at  the Site terminable at the instance of TrulyMadly without any recourse,  whatsoever. TrulyMadly is authorised and justified in taking any action  necessary on such refusal by the User. <br>
                User agrees and understands that TrulyMadly or  its third party expert service provider and their associates are not the author  or creator of the information coming forth in the Verification Checks. Under  this premise and limitations, TrulyMadly or its third party expert service  provider or their associates do not warrant accuracy, validity or completeness  of the content of the Verification checks. TrulyMadly, expressly disclaims that  the Verification checks will meet the User’s aspirations or expectations and  shall be performed in an uninterrupted manner. Verification check verifies the  existence of the facts and information provided by the User, it does not verify  the authenticity of the facts itself.</p>
              <ol start="5" type="a">
                <li><u>Meeting Matching System Criteria.</u> To register for       the Services, the User has to undertake a Personality Assessment prepared       by TrulyMadly specialists/ experts in the panel. User is expected to fill       in/ respond to the questions in the Personality Assessment. This will be       helpful for TrulyMadly to make recommendations of closest match in       personality type and probable compatibility with the User. There is a       possibility that occasionally the matching system cannot identify high       quality compatible matches or meet the minimum matching threshold required       in Our system for any given individual for either identifiable reasons or       not, or for not completing the Verification Process, in which case We will       not be able to provide the Services on this Site to the User and could       even cause the Account to be terminated at the sole discretion of       TrulyMadly. The User could also register with the Site if the same has       been recommended through any of Our third party entity/ or corporate       schemes. However, it is clarified that any such recommendation will not give       rise to any liability on part of the third party entity/ or corporate       recommending the Services and User will have no claim against the relevant       recommending entity or TrulyMadly during the term of receiving the       Services or thereafter.</li>
              </ol>
              <p>2. <a name="2"></a><strong>Use of Site and Service.</strong> <br>
                As a User of the Site or  a User registered to use any of the Services (a &quot;Registered User&quot;),  the User agrees to the following: </p>
              <ol start="1" type="a">
                <li><u>Exclusive Use.</u> The account with the Site is available under two categories, i) Paid       account; and ii) Free User account. Once an account is created with the       Site it is for the User’s personal use only. The User may not authorize       others to use the account. The account with the Site is non assignable and       non-transferable to any third party whether a person or an entity. The       User acknowledges and confirms that TrulyMadly is not responsible for       third party access to the User’s account that results from theft, hacking       or misappropriation of user names and passwords. </li>
                <li><u>Geographic Limitations.</u> The Site and       Services are currently intended for Users within India. The Services and       the Site at some time may be made open to other geographical locations as       well and the same will be made known to the Users through notifications/       intimation on the Site. The User agrees to at all times use the Services  in a manner consistent with this Terms       and Conditions and any and all applicable local, state, national and       international laws and regulations, including, but not limited to, the       one’s of the location where the User is located or is a national of. By       using the Services, as a User You represent that you have not been       designated by any applicable law or regulation as a person / entity to       whom the provisions of the Services can not be provided and who is       prohibited from receiving the Services. Registration for, and use of, the       Services become void if the same have been prohibited and the User uses or       registers with the Site. You are responsible for determining whether the       user of the Services is legal in your jurisdiction</li>
                <li><u>Information Submitted.</u> The User is solely responsible for, and       assume all liability regarding, (i) the information and content provided       at the Site for the Service; (ii) the information and content the User       posts, transmits, publishes, shares or otherwise makes available       (hereinafter <strong>&quot;Post&quot;</strong>) to       TrulyMadly for the Services; (iii) User interactions with other Registered       Users through the Services; and (iv) the information provided in the       Personality Assessment. The Site shares User information with the specific       User’s matches.</li>
                <li><u>Risk Assumption and Precautions.</u> All risks when       using the Services and the Site, including but not limited to all of the       risks associated with any online or offline interactions with others,       including meeting other matches remain with the User. The User is expected       to use his / her best judgement in experiencing any of the benefits/       requirements of the Services. The User agrees to take all necessary       precautions when meeting individuals through the Site and under the Services.       In addition, the User agrees and confirms to review and follow the       recommendations set forth in the Site as pointers to Safety and/ or mailed       to User from time to time. The User undertakes to adhere to the Safety       pointers and shall all times be responsible for all outcomes of meeting/       sharing information and/ or being in a short or a long term relationship       through the Services/ Site. It is accepted and understood by the User that       at all times the User shall use his/ her judgement and discretion in       receiving the Services through the Site or proceeding with a match and/ or       deciding to be in a relationship with a match herefrom. </li>
                <li><u>No Guarantees.</u> TrulyMadly through the Site and its specific systems attempts to       provide matches on a best effort basis, however, every User may not find       ideal matches through the Services. Furthermore, TrulyMadly does not make any       representations or guarantees regarding the number or frequency of matches       through the Service, or the ability, desire or criteria of such proposed       matches to communicate with the User. The User fully understands and       accepts that TrulyMadly makes no guarantees, either express or implied, direct       or indirect, regarding User’s ultimate compatibility with matches’/ individuals       the User meets through the Service or as to the conduct of such       individuals.</li>
                <li><u>Background and Verification Checks.</u> TrulyMadly engages       with third party experts for conducting basic background verification       checks and does not take any guarantees for the same other than as offered,       represented, warranted and undertaken by such third party experts       providing these services to TrulyMadly. By accepting the Terms and Conditions       and having a Registered Account with the Site, the User has agreed to get       the Self Verification Process completed. User agrees and accepts that if       the User refuses/ fails to get the Verification check completed then,       TrulyMadly at its sole discretion, without any recourse from the User,       have the right to terminate the Account. The set of Services offered at       the Site are linked to completion of the Verification process and the User       may receive corresponding permits based on the Verification.</li>
              </ol>
              <p>TrulyMadly does not  guarantee or warrant the accuracy, validity or completeness of the Verification  check done by the third party expert service provider and disclaims that the  outcome of the Verification Check will meet the User’s aspirations or  expectations. It is clarified that the Verification Check is verifying the  existence of facts and information provided by the User voluntarily for  verification it is not for verifying authenticity of the facts. If any of the  state, municipal of other government records indicate a conflict in facts  vis-à-vis the information provided by the User, then TrulyMadly is likely to  rely on the professional judgement of the third party expert service provider  in determining the outcome of the Verification Check.<br>
                If TrulyMadly, in its  sole and fair judgement believes that false information provided by the User is  with an intention to mislead the Verification Process or alter the outcome of  such verification check, or defame TrulyMadly, or in any manner negatively  impact the Services or TrulyMadly’s ability to deliver the Services to other  Users, then defaulting User accepts that TrulyMadly will have complete rights in  law and tort against the User in question. TrulyMadly at its sole discretion  may choose to take any action it deems fit. </p>
              <ol start="7" type="a">
                <li><u>Reporting of Violations.</u> The User is       obligated and will promptly report at the Site any violation of the Terms       and Conditions by others, including but not limited to, Registered Users       as soon as the User becomes aware of the same. </li>
                <li><u>Content Removal.</u> TrulyMadly reserves the right, but has       no obligation, to monitor the information or material User submits to the Site       or the Posts in the public areas of the Services or linked to other public       sites. TrulyMadly at all times reserves all rights to remove any such information       or material that in its sole opinion violates, or may violate, any       applicable law or either the letter or spirit of this Terms and Conditions       or the integrity of any other User or upon the request/ report of any       third party. TrulyMadly reserves the right to remove matches previously       delivered to the User, in its sole discretion, in order to maintain the quality       of experience and authenticity of the Site, without any recourse from the       User.</li>
                <li><u>Posting and Communication Restrictions.</u> The User will not post       on the Services, transmit to other users, communicate any content (or       links thereto), or otherwise engage in any activity on the Site or through       the Services, which:</li>
                <ol start="1" type="i">
                  <li>promotes any kind of discriminatory material, racism, bigotry,        hatred, or physical harm of any kind against any group or individual;</li>
                  <li>is intended to or tends to harass, annoy, threaten or intimidate        any other users of the Site or Services;</li>
                  <li>is defamatory, inaccurate, abusive, obscene, profane, offensive,        sexually oriented, obscene or otherwise objectionable;</li>
                  <li>contains others' copyrighted content (e.g., music, movies, videos,        photographs, images, software, etc.) without prior approval of the owner;</li>
                  <li>contains video, audio photographs, or images of another person        without his or her permission (or in the case of a minor, the minor's        legal guardian);</li>
                  <li>promotes or enables illegal or unlawful activities, such as        instructions on how to make or buy illegal weapons or drugs, violate        someone's privacy, harm or harass another person, obtain others' identity        information, create or disseminate computer viruses, or circumvent        copy-protect devices;</li>
                  <li>intended to defraud, swindle or deceive other users of the        Services;</li>
                  <li>contains viruses, time bombs, trojan horses, cancelbots, worms or        other harmful, or disruptive codes, components or devices;</li>
                  <li>promotes or solicits involvement in or support of a political        platform, religion, cult, or sect;</li>
                  <li>disseminates another person's personal information without his or        her permission, or collects or solicits another person's personal information        for commercial or unlawful purposes;</li>
                  <li>is off-topic, meaningless, or otherwise intended to annoy or        interfere with others' enjoyment of the Site;</li>
                  <li>impersonates, or otherwise misrepresents affiliation, connection        or association with, any person or entity;</li>
                  <li>solicits gambling or engages in any gambling or similar activity;</li>
                  <li>uses anything or other automated technology to access the Site or        Services;</li>
                  <li>uses the Site or Services for chain letter, junk mail or spam        e-mails;</li>
                  <li>collects or solicits personal information about anyone under 18        years of age; or</li>
                  <li>is in any way used for or in connection with spamming, spimming,        phishing, trolling, or similar activities.</li>
                </ol>
                <li><u>No False Information.</u> By registering with the Site and       receiving the Services the User undertakes not to provide inaccurate,       misleading or false information to TrulyMadly or to any other user or       recommended/ suggested matches. If information provided to TrulyMadly, or       at the Site or another user subsequently becomes inaccurate, misleading or       false, within the User’s knowledge then the User will promptly notify the       Site of such change or discontinue usage of the Site/ Services if User       does not require the Services any longer.</li>
                <li><u>No Advertising or Commercial Solicitation.</u> The User       undertakes not to advertise or solicit any user to buy or sell any       products or services through the Site or Services. User is strictly       prohibited against transmitting any chain letters, junk or spam e-mail to       other users. Further, no User shall use any information obtained from the       Services in order to contact, advertise to, solicit, or sell to any user       without their prior explicit consent of TrulyMadly and the other such       User. It is clarified that any such use of information shall be to the       sole liability and responsibility of the User engaging in such activity. Breach       by any of the Users of the terms of this subsection and sending or posting       unsolicited bulk email, &quot;spam&quot; or other unsolicited       communications of any kind through the Services will cause substantial       harm to TrulyMadly, and that the amount of such harm would be extremely       difficult to ascertain. As a reasonable estimation of such harm, the User       shall be liable and agrees to pay TrulyMadly a minimum of INR 1,00,000.00       for each such unsolicited communication.</li>
                <li><u>Single Bona Fide Profile.</u> As a Registered       User of the Service, the User is expected to create only one bona fide profile.       In addition, it is stressed that the use of the Service must be for bona       fide relationship-seeking / matchmaking purposes in order to maintain the       integrity of the Services being offered through the Site (for example, User       is discouraged from becoming a User for casual relationships, solely to       compile a report of compatible singles in User’s area, or to write a       school research paper or create a databse for other similar sites or       creating and collating database for any such purpose). From time to time,       TrulyMadly creates test profiles in order to monitor the operation of the       Services and also offers a feature to refer profiles/ prospective Users.       The Users, at their will, can accept these offers and refer profiles to       TrulyMadly. All references to the Site, made by a User shall be of his/       her free will and wish.</li>
                <li><u>Selection of Profiles.</u> TrulyMadly may offer promotions from       time to time on the Site and in the context of the Services. Please note       for any promotions on the Site, the User shall be under no obligation to       accept the same. The User acknowledges and accepts that the decision to       whether or not to accept the promotion offered or meet or to proceed with       meeting or engaging in any relationship with any suggested/ recommended       matches will be the sole discretion of the User in question, TrulyMadly       shall not be liable or responsible for any outcome whatsoever of such       suggestions/ recommendations of matches or offering the promotions on the       Site. It is clarified that all suggestions/ recommendations are made in       good faith and with intentions of well being whether or not to explore       those suggestions/ recommendations are solely and totally in the judgement       and assessment of the User. User is encouraged to review Our Safety       pointers while proceeding with any match in a more committed manner. </li>
                <li><u>No Harassment of TrulyMadly Employees or Agents.</u> The User is       prohibited from harassing, annoying, intimidating or threatening any TrulyMadly       employees or agents engaged in providing any portion of the Services. If       any User breaches this provision of these Terms and Conditions, then       TrulyMadly may take any legal action it deems appropriate against such       User without prejudice to TrulyMadly’s any other rights in law or tort.</li>
                <li><u>Social Media.</u> The Site may provide User the option to connect your Site account       to any account on some social networking sites (such as via Facebook,       twitter etc.) for the purpose of logging in, uploading information or       enabling certain features on the Service. Please note, TrulyMadly owes no responsibility for privacy practices of such websites       which are not owned, controlled or managed by TrulyMadly. If in following       such links User may be asked to share any information governed under these       provisions with the third party websites and thus the User shall be solely       responsible for sharing and handling, storing, possessing and use of that       information with such third party websites. Usually, third party websites       are governed by their own Privacy guidelines and the User is encouraged to       review these carefully to understand the handling of information at third       party sites. The User is aware and confirms that in such a scenario User       will be governed and bound by the policies of the third party website and       TrulyMadly will not be liable in any manner for any misuse, thereunder. Each social       network allows User to set privacy controls around on their system, and       TrulyMadly’s collection of information will always follow such controls       and permissions. This feature is subject to continuous change and       improvement by TrulyMadly and each social networking site involved, and       therefore the available features and shared information are subject to       change without notice or consent of the User. All information shared on       the Site by the User is used in compliance with the Privacy Policy on the       Site. We recommend User reads the Privacy Policy on our Site, carefully.       Once connected, some of the User matches may also be able to see       information about the User’s social network, such as the size of your       network and your friends, including common friends. By connecting the User       account on this Site to other social networking site, the User unconditionally       consents to the continuous release of information about the User to TrulyMadly.       It is clarified, TrulyMadly does not send any User account information to       the connected social networking site without first disclosing that to the       User. The User at all times has the right to opt-out of this provision by       making alterations in the Account Settings page on the Site.</li>
                <li><u>Third Party recommendations</u>. Users registered/       registering with the Site from third party corporate recommendations will       have to follow all procedures and requirements specified on the Site       including the Verification Process and shall be governed by these Terms       and Conditions and the Privacy Policy and are expected to consider Our       Safety Guidelines provided on the Site. There is no preferred User status       for any User at the Site. All third party corporations recommending the       Site among their work force do so as per their company policies and do not       incur any liability from doing so or their referred User receiving the       Services on TrulyMadly’s account.</li>
              </ol>
              <p>3. <a name="3"></a><strong>Proprietary Rights.</strong> </p>
              <ol start="1" type="a">
                <li><u>Ownership of Proprietary Information.</u> The User confirms       and agrees that TrulyMadly is the owner of highly valuable proprietary       information, including without limitation, the patented compatibility       matching system, compatibility profiles, and Personality Assessment being       shared on the Site (collectively, <strong>&quot;Confidential       Information&quot;</strong>). TrulyMadly owns and hereby retains all proprietary       rights in the Services, the information provided in the Site and the Site,       including but not limited to, all Confidential Information.</li>
                <li><u>No Use of Confidential Information.</u> The User       undertakes to not post, copy, modify, transmit, disclose, show in public,       create any derivative works from, distribute, make commercial use of, or       reproduce in any way any (i) Confidential Information or (ii) other       copyrighted or copyrightable material, trademarks, or other proprietary       information accessible via the Services, Site or the information on the       Site without first obtaining the prior written consent of TrulyMadly, who       is the owner of such proprietary rights.</li>
                <li><u>Other Users' Information.</u> Other Registered       Users may post copyrighted information, which has copyright protection       whether or not it is identified as copyrighted. The User undertakes not to       copy, modify, publish, transmit, distribute, perform, display,       commercially use, or sell any Confidential Information of TrulyMadly or any       information copyrighted or copyrightable or not of third party proprietary       information available via the Services or the Site.</li>
                <li><u>License to Posted or Accessed Content.</u> By posting       information or content to any profile pages or public area of the       Services, or making it accessible to TrulyMadly by linking the User       account with the Site to any social network accounts (e.g. via Facebook,       twitter etc.), the User grants unconditionally and in perpetuity, and       represents and warrants that the User has the right to grant, to TrulyMadly       and its users, an irrevocable, perpetual, non-exclusive, fully-paid,       worldwide license to use, reproduce, publicly perform, publicly display       and distribute such information and content, and to prepare derivative       works of, or incorporate into other works, such information and content,       and to grant and authorize sub-licenses of the foregoing. From time to       time, TrulyMadly may create, test or implement new features or programs on       the Site in which the User may voluntarily choose to participate or may be       a part of a test group with special access, in accordance with the       additional terms and conditions of such features or programs. By       participating in such features or programs, the User grants and unconditional       and perpetual right to TrulyMadly and consents to terms and conditions (if       any) of such features or programs.</li>
              </ol>
              <p>4. <a name="4"></a><strong>User Information.</strong> </p>
              <ol start="1" type="a">
                <li><u>Privacy Statement.</u> For information about the collection       and possible use of information and material provided by the User at the       Site please review the Privacy Policy on the Site. </li>
                <li><u>No Contact Information.</u> User agrees that User       will not post any e-mail addresses, personal website address, personal phone       numbers on a third party website, or other contact information in the       &quot;About Me&quot; section of the Service or in any other communications       the User may have with other users. The User may, at his/ her discretion,       exchange such information after the User reaches “anonymous messaging”       phase with the appropriate, shortlisted and approved by the User as his/       her preferred match.</li>
                <li><u>Disclosure By Law.</u> The User is aware and agrees and       consents unconditionally to disclosures of information on the Site       required to be made: i) under law by TrulyMadly; ii) at the request of a       third party under various consent forms; iii) any investigative       requirement, or if TrulyMadly, in its sole discretion, believes that       disclosure is reasonable to (1) comply with the law, requests or orders       from law enforcement, or any legal process (whether or not such disclosure       is required by applicable law); (2) protect or defend TrulyMadly's, or a       third party's, rights or property; or (3) protect someone's health or       safety, such as when harm or violence against any person (including the       user) is threatened; or (4) in support of a fraud/ legal investigation/       verification checks.</li>
                <li><u>Disclosure to Protect Abuse Victims.</u> Notwithstanding       any other provision of this Terms and Conditions or the Privacy Policy,       TrulyMadly reserves the right, but has no obligation, to disclose any       information that the User submits at the Site, if in its sole opinion, TrulyMadly       suspects or has reason to suspect, that the information involves a party       who may be the victim of abuse in any form. Information may be disclosed       to authorities that TrulyMadly, in its sole discretion, deems appropriate       to handle such disclosure. Appropriate authorities may include, without       limitation, law enforcement agencies, child protection agencies, or court       officials, expert professional investigative agencies. The User       understands the provisions of this subsection and grants TrulyMadly       unconditional, perpetual right and permission to make such disclosure.</li>
                <li><u>Use of Anonymous Information for Research.</u> By using the       Services, the User permits TrulyMadly to anonymously use the information       from the User and User experiences through the Services to continue /       contribute to TrulyMadly’s research into successful relationships and to       improve the experience and quality of the Services. Such research is conducted       by psychologists and behaviour research scientists on the panel of       TrulyMadly, and may be published in academic journals. However, all of User       responses will be anonymous, and nothing containing User’s personal       identifying information shall be published.</li>
              </ol>
              <p>5. <a name="5"></a><strong>Links to Third-Party Web Sites / Dealings with  Advertisers and Sponsors/ Third Party recommendations.</strong> <br>
                The Services may contain  links to web sites of third-parties, including without limitation, advertisers,  which are not under the control of TrulyMadly, and TrulyMadly is not  responsible for the content of any linked site or any link contained in a  linked site, or any changes or updates to such web sites. TrulyMadly provides  these links as a convenience on the Site, and the inclusion of any link does  not imply that TrulyMadly or the Site endorses or accepts any responsibility  for the content on such third-party web site. The Users correspondence or  business dealings with, or willingness of participation in promotions of,  advertisers or sweepstakes sponsors found on or through the Services (including  payment, other than when payment details are stored with TrulyMadly for keeping  credit details and delivery of services, any personal information or opt-in  contact information voluntarily given to advertisers and sweepstake sponsors,  and any other terms, conditions, warranties or representations associated with  such dealings) shall be solely between the User and such advertiser or  sweepstakes sponsor or third party. The User acknowledges and confirms that TrulyMadly  will not be responsible or liable for any loss or damage of any sort incurred  as the result of any such dealings, including the sharing of the information the  User shares/ provides to TrulyMadly with advertisers or sweepstakes sponsors,  or any third party or as the result of the presence of such advertisers or  third parties on the Services. Please visit the Privacy Policy on the Site to  learn more about how User information is handled by TrulyMadly.<br>
                All Users receiving the  Services or registering on the Site at the recommendation of any third party  corporation do so on their risk and shall at all times be governed by the  applicable Terms and Conditions and Policies on the Site. TrulyMadly does not warrant  anything nor does it incur any liability towards such Third Party recommending  Corporate. All recommendations to the Site is being made by the Third Party corporate  at its own instance with no liability incurred on behalf of TrulyMadly<br>
                6. <a name="6"></a><strong>Disclaimer of Warranty.</strong> </p>
              <ol start="1" type="a">
                <li><u>No Warranties.</u> THIS SECTION WILL APPLY TO THE MAXIMUM EXTENT PERMITTED BY       APPLICABLE LAW. TRULYMADLY PROVIDES THE SERVICES ON AN &quot;AS IS&quot;       AND &quot;AS AVAILABLE&quot; AND “BEST EFFORTS” BASIS AND GRANTS NO       WARRANTIES OF ANY KIND, WHETHER EXPRESS, IMPLIED, DIRECT, INDIRECT       STATUTORY OR OTHERWISE WITH RESPECT TO THE SERVICES OR THE RESULT OF THE       SERVICES OR THE SITE (INCLUDING ALL INFORMATION CONTAINED THEREIN),       INCLUDING ANY IMPLIED WARRANTIES OF CORRECTNESS, VALIDITY, ACCURACY APPRORPRIATENESS,       FITNESS, COMPATIBILITY FOR A PARTICULAR PURPOSE OR OUTCOME OR       NON-INFRINGEMENT. TRULYMADLY DOES NOT WARRANT THAT THE  USE OF THE SERVICES WILL BE SECURE,       UNINTERRUPTED, ALWAYS AVAILABLE, ERROR-FREE OR WILL MEET THE USER’S       REQUIREMENTS, OR THAT ANY DEFECTS IN THE SERVICES WILL BE CORRECTED OR       RESULT IN THE DESIRED RESULTS. NOR DOES IT REPRESENT OR WARRANT THAT ANY       MATCH RESULTING IN MARRIAGE IS OF THE HIGHEST COMPATIBILITY AND SHALL       NEVER RESULT IN DIVORCE OR SEPARATION. TRULYMADLY DISCLAIMS LIABILITY FOR,       AND NO WARRANTY IS MADE WITH RESPECT TO, THE CONNECTIVITY AND AVAILABILITY       OF THE SERVICES AT ALL TIMES AND THE RESULTS OF THE USE OF THE SERVICES.       TRULYMADLY DISCLAIMS LIABILITY FOR THE OUTCOME OF THE VERIFICATION CHECKS       FOR PARTICUALR USER EXPECTATIONS OR ASPIRATIONS AND VERIFICATION OF FACTS       AND INFORMATION PROVIDED BY THE USER FOR SELF VERIFICATION/ VERIFICATION       CHECKS. ANY THIRD PARTY ENTITY OR CORPORATE RECOMMENDING THESE SERVICES TO       ANY USER WILL NOT BE LIABLE FOR ANY SERVICES OR RESULTS THEREOF PROVIDED       TO THE USER. TRULYMADLY NOR ANY THIRD PARTY RECOMMENDING ENTITY WARRANTS       ANYTHING ABOUT THE USAGE, RESULTS, OUTCOMES, PERFORMANCE OF THE SERVICES,       EITHER DIRECTLY OR INDIRECTLY AT ANY POINT IN TIME. ALL RISKS OF RECEIVING       THE SERVICES IS TO THE ACCOUTN OF THE USER WHO IS IN COMPLETE AWARENESS       AND WILLINGNESS WITHOUT ANY FORCE SUSBSCRIBING TO THE SERVICES.</li>
                <li><u>Third Party Content.</u> Opinions, advice, statements, offers,       or other information or content made available through the Services, but       not directly by TrulyMadly, are those of their respective authors, and       should not necessarily be relied upon. Such authors are solely responsible       for such content. TRULYMADLY DOES NOT: (i) GUARANTEE THE ACCURACY,       COMPLETENESS OR USEFULNESS OF ANY INFORMATION PROVIDED ON THE SERVICES, OR       (ii) ADOPT, ENDORSE OR ACCEPT RESPONSIBILITY FOR THE ACCURACY OR       RELIABILITY OF ANY OPINION, ADVICE, OR STATEMENT MADE BY ANY PARTY OTHER       THAN TRULYMADLY, OR (iii) THE BACKGROUND VERIFICATION INFORMATION PROVIDED       BY THE THIRD PARTY EXPERT SERVICE PROVIDER AGENCY. UNDER NO CIRCUMSTANCES       WILL TRULYMADLY BE RESPONSIBLE FOR ANY LOSS OR DAMAGE RESULTING FROM       ANYONE'S RELIANCE ON INFORMATION OR OTHER CONTENT POSTED ON THE SERVICES,       OR TRANSMITTED TO OR BY ANY USERS OR ANY RELATIONSHIP RESULTING IN       MARRIAGE OR ANY MARRIAGE RESULTING IN DIVORCE OR ANY BACKGROUND       VERIFICATION INFORMATION BEING FALSE.</li>
                <li><u>New Features.</u> From time to time, TrulyMadly may offer new features or tools with       which its users may experiment on the Services. Such features or tools are       offered solely for experimental purposes and without any warranty of any       kind, and may be modified or discontinued at TrulyMadly's sole discretion.       The provisions of this Disclaimer of Warranty section apply with full       force to such features or tools. </li>
              </ol>
              <p>7. <a name="7"></a><strong>Limitation of Liability.</strong> </p>
              <ol start="1" type="a">
                <li><u>Incidental Damages and Aggregate Liability.</u> TO THE MAXIMUM       EXTENT PERMITTED BY APPLICABLE LAW, IN NO EVENT WILL TRULYMADLY BE LIABLE       FOR ANY INCIDENTAL, SPECIAL, CONSEQUENTIAL OR INDIRECT DAMAGES ARISING OUT       OF OR RELATING TO THE USE OR INABILITY TO USE THE SERVICES, RESULT OF       USING THE SERVICES INCLUDING, WITHOUT LIMITATION, DAMAGES FOR RECOMMENDATION       OF THE SITE, FAILED MARRIAGE ACHIVED THROUGH THE SITE, OUTCOME OF       VERIFICATION CHECKS, LOSS OR CORRUPTION OF DATA OR PROGRAMS, SERVICE       INTERRUPTIONS AND PROCUREMENT OF SUBSTITUTE SERVICES, EVEN IF TRULYMADLY       KNOWS OR HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. TO THE MAXIMUM       EXTENT PERMITTED BY APPLICABLE LAW, UNDER NO CIRCUMSTANCES WILL TRULYMADLY       BE LIABLE FOR ANY LIQUIDATED OR PUNITIVE DAMAGES.</li>
                <li><u>No Liability for non-TrulyMadly Actions.</u> TO THE MAXIMUM       EXTENT PERMITTED BY APPLICABLE LAW, IN NO EVENT WILL TRULYMADLY BE LIABLE       FOR ANY DAMAGES WHATSOEVER, WHETHER DIRECT, INDIRECT, GENERAL, SPECIAL,       COMPENSATORY, CONSEQUENTIAL, AND/OR INCIDENTAL, LIQUIDATED, PUNITIVE       ARISING OUT OF OR RELATING TO RECOMMENDATION OF THE SITE, THE CONDUCT OF USER       OR ANYONE ELSE IN CONNECTION WITH THE USE OF THE SERVICES, INCLUDING       WITHOUT LIMITATION, BODILY INJURY, EMOTIONAL DISTRESS, FINANCIAL LOSS AND/OR       ANY OTHER DAMAGES RESULTING FROM COMMUNICATIONS OR MEETINGS WITH OTHER       REGISTERED USERS OF THE SERVICES OR AS A RESULT OF USING THE SERVICES.       THIS INCLUDES ANY CLAIMS, LOSSES OR DAMAGES ARISING FROM THE CONDUCT OF       USERS WHO HAVE REGISTERED UNDER FALSE PRETENSES OR WHO ATTEMPT TO DEFRAUD       OR HARM OTHER USERS OR FAILED MARRAIGES OR DIVORCE OF WEDDINGS CASUED       UNDER THE USE OF THE SERVICES.</li>
                <li><u>Information Verification.</u> TrulyMadly and its       contractors may use various ways, including engaging third party       information verification service providers of verifying information that       users have provided. However, none of those ways are perfect, and the User       agrees that TrulyMadly and its contractors will have no liability towards       the User arising from any incorrectly verified information. At all times       the User has the right to undertake information verification of matched       users with whom the User is desirous of progressing and exploring. </li>
              </ol>
              <p>8. <a name="8"></a><strong>Indemnification.</strong> <br>
                The User agrees to  indemnify, defend and hold harmless TrulyMadly, its affiliates, subsidiary and  parent companies, and each of their officers, directors, employees, agents and  related third parties, for any losses, costs, liabilities and expenses  (including reasonable attorneys’ fees) relating to or arising out of any third  party claim that (a) the User’s use of or inability to use the Site or  Services, (b) any user postings made by the User , (c) the User’s violation of  any terms of this Terms and Conditions or the User’s violation of any rights of  a third party, or (d) the User’s violation of any applicable laws, rules or  regulations, or (e) the User’s providing any false information to TrulyMadly or  conspiring and abetting with any third party for seemingly substantiating such  false information to appear as true. TrulyMadly reserves the right, at its own  cost, to assume the exclusive defence and control of any matter otherwise  subject to indemnification by the User, the User will co-operate fully in asserting  any available defences in such case.<br>
                9. <a name="10"></a><strong>Communication and Privacy.</strong> <br>
                TrulyMadly may use the  User email address to send messages notifying of important changes/ updates to  the Services or special offers. Further, TrulyMadly may contact User by  telephone if the number is voluntarily provided on the Site, in order to  communicate with you regarding the Services. User can at any time opt out of  this if User does not want to receive such email messages or telephone calls.  Users are requested to review our Privacy Policy carefully to understand the  usage indicated here. <br>
                10. <a name="11"></a><strong>Term and Termination.</strong> <br>
                10.1       These Terms and  Conditions become effective upon the User clicking on “I Accept” on the Site and  will remain in effect in perpetuity unless terminated hereunder. Either the  User or TrulyMadly may terminate the User account at any time, for any reason  or no reason, without explanation, effective upon sending written notice to the  other party. TrulyMadly reserves the right to immediately suspend or terminate the  User’s access to any of the Services, without notice, for any reason or no  reason. TrulyMadly also reserve the right to remove the User’s account  information or data from Services and any other records at any time at TrulyMadly’s  sole discretion. TrulyMadly does not use the User’s information once this Terms  and Conditions are terminated or the Services are not being used, however, some  information/ data about the User may remain archived with TrulyMadly. In the  event the account is terminated or access denied or suspended due to the breach  of these Terms and Conditions or any other reason, then the User agrees that fees  paid to TrulyMadly will be nonrefundable and all outstanding or pending  payments will immediately become due and accelerated payment. The User may  terminate the account by accessing the Account Settings or the User can stop  accessing the Site and using and receiving the Services. Non payment of renewal  fees on time will also be an indication of the User’s desire to terminate his/ her  account and discontinue receiving the Services. Following any termination of  any Registered User's use of the Service, TrulyMadly reserves the right to send  a notice thereof to other Registered Users with whom the User has corresponded.  If the User wishes to continue exchange with any of the other users after  terminating this Terms and Conditions, then that will be at the sole discretion,  responsibility and liability of such Users and TrulyMadly will not be  responsible for any outcome/ impact or result of such interactions.<br>
                10.2       Termination shall  not affect any liabilities incurred by the User prior to the termination or for  acts performed while registered with the Site which may result in a dispute  post termination nor any provision expressed to survive or to be effective on  termination shall expire. The obligations set out in this Section shall remain  in full force and effect notwithstanding termination. </p>
              <p>11. <a name="12"></a><strong>Cancellations.</strong> </p>
              <ol start="1" type="a">
                <li><u>Cancellation At Any Time With No Refund.</u> Except as       otherwise stated in this section, the User may cancel his/ her registration       or subscription to Services at any time during the term of such       registration or subscription or any renewal period by accessing the       &quot;Account Settings&quot; page under the &quot;My Settings&quot; option.       In such case, the subscription will terminate at the end of the       subscription term for which payments have been made. There will not be any       refund for any unused days of such subscription term.</li>
              </ol>
              <p>12. <a name="13"></a><strong>RENEWALS.</strong><br>
                In order to provide  continuous service, all paid subscriptions for the Services on the date such  subscriptions expire are renewed automatically. Such renewals are generally for  the same duration as the original subscription term (for example, a 1-month subscription  will renew on a monthly basis, a 3-month subscription will renew on a 3-month  basis, and so on). In addition, there could be times with special promotional  offers are issued for renewals of different durations than the original. All renewal  periods are communicated to the User upon confirmation of subscription. By accepting  these Terms and Conditions the User acknowledges that the User account will be  subject to the above-described automatic renewals. Subject to User approval,  User credit card information may be stored/ retained by TrulyMadly for all  renewals. All User information stored and retained by TrulyMadly is subject to  the Privacy Policy and handled as per the Privacy Policy. </p>
              <h3>13. GENERAL PROVISIONS. </h3>
              <p>13.1       <u>Agency</u>. This is a  principal-to-principal relationship and does not attempt to create any  employee-employer or agency relationship. Services are being provided by Us as  an independent entity and nothing contained herein shall be deemed to create  any association, partnership, joint venture or relationship of principal and  agent or master and servant, or employer and employee between the Parties  hereto or any affiliates or subsidiaries thereof or to provide the User with  the right, power or authority, whether express or implied to create any such  duty or obligation on behalf of TrulyMadly. </p>
              <p>13.2       <u>Assignments.</u> TrulyMadly may  assign, in whole or in part, the benefits or obligations of this Agreement to  its associate’s of affiliates of other group company, or any other company,  pursuant to a restructuring or re-organization or demerger of its organization  or operations causing a change in management or something of the nature. TrulyMadly  shall not require approval or consent of the User, it can at its discretion  provide an intimation of such assignment to the User.</p>
              <p>13.3       <u>Force Majeure</u>. TrulyMadly shall  not be liable for its failure to perform under this Agreement as a result of  any event of force majeure events like acts of god, fire, wars, sabotage, civil  unrest, labour unrest, action of Statutory Authorities or local or Central  Governments, change in Laws, Rules and Regulations, affecting the performance  of TrulyMadly, Payment Gateways or any other channel partners.</p>
              <p>13.4       <u>Governing Law, Settlement of Disputes  and Jurisdiction</u>. Any dispute or claim relating to it, its enforceability  or its termination under these Terms and Conditions shall be governed by the  Arbitration and Conciliation Act, 1996 by a sole arbitrator appointed by TrulyMadly.  The arbitration proceedings shall be held in English language at New Delhi. The  courts at Delhi shall have exclusive jurisdiction over any disputes relating to  the subject matter herein.</p>
              <p>13.5       <u>Waiver</u>. Unless otherwise expressly  stated, failure to exercise or delay in exercising a right or remedy, hereunder  shall not constitute a waiver of the right or remedy or a waiver of any other  rights or remedies, and no single or partial exercise of any right or remedy,  hereunder shall prevent any further exercise of the right or remedy or the  exercise of any other right or remedy.</p>
              <p>13.6       <u>Survival of Provisions</u>. Terms and  Conditions will survive termination of the same by the User or by TrulyMadly.</p>
              <p>13.7       <u>Severability</u>. If any provision,  hereunder becomes, in whole or in part, invalid or unenforceable but would be  valid or enforceable if some part of that provision was deleted, that provision  shall apply with such deletions as may be necessary to make it valid. If any  Court/Tribunal of competent jurisdiction holds any of the provisions, hereunder  unlawful or otherwise ineffective, the remainder shall remain in full force and  the unlawful or otherwise ineffective provision shall be substituted by a new  provision reflecting the intent of the provision so substituted.</p>
              <p>13.8       <u>Notices.</u> All notices, requests, demands, waivers and other communications required or  permitted to be given hereunder shall be @ [contact@trulymadly.com], if to TrulyMadly,  if to the User it shall be to address registered with the Site. </p>
              <ol>
                <ol>
                  <li><u>Right to Seek Injunction.</u> The User accepts and acknowledges that the breach  of the Terms and Conditions may cause TrulyMadly irreparable harm, and thus  confirms and accepts that TrulyMadly will be entitled to seek extraordinary  relief in court, including but not limited to temporary restraining orders,  preliminary injunctions and permanent injunctions without any preconditions, in  addition to and without prejudice to any other rights or remedies that TrulyMadly  may have under law and tort.</li>
                </ol>
              </ol>
              <p>13.10    <u>Miscellaneous.</u> Terms  and Conditions, Privacy Policy and other policies on the Site or made known by  us from time to time, comprise the entire agreement between the User and us  regarding the use of this Service, superseding any prior agreements/  correspondences between the User and us related to the User’s use of this Site  or Services (including, but not limited to, any prior versions of Terms and  Conditions). If any provision of the Terms and Conditions are held invalid, the  remainder will continue in full force and effect. The titles are for  convenience only and have no legal or contractual effect.<br>
                  <br>
         
              </p>
			</div>
			
			</div>


			

</body>
</html>
