<!DOCTYPE html>
<html lang="en">
<head>
	<title>Quizzes List</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{include file='../deals/adminIncludes.tpl'}
	<script src="{$baseurl}/js/quizAdmin/quizList.js"></script>
</head>
<body>

{include file='../deals/header.tpl'}

<div class="container-fluid check-me">
	<table class="table table-responsive" id="quiz-list">
		<thead>
		<tr>
			<th>Quiz ID</th>
			<th>Name </th>
			<th>Display Name</th>
			{*<th>Date Created</th>*}
			<th>Status</th>
			<th>Action</th>
		</tr>
		</thead>
		<tbody>
		{foreach from=$quizzes item=quiz}
			<tr class="success">
				<td> {$quiz.quiz_id}</td>
				<td> {$quiz.title}</td>
				<td> {$quiz.display_name}</td>
				{*<td> {$quiz.date_created}</td>*}
				<td> {$quiz.status}</td>
				<td>
					{if $read_only eq 'false'}
						<a href="{$baseurl}/quizAdmin/quizView.php?quiz_id={$quiz.quiz_id}" data-toggle="tooltip" title="Edit Or View" >
							<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
						</a>
						&nbsp;&nbsp;&nbsp;
						{if $quiz_status eq 'true'}
							{if $quiz.status eq active}
								&nbsp;&nbsp;
								<a href="#" data-toggle="modal" data-target=".confirm_box" class="update-action" data-id="{$quiz.quiz_id}" data-action="deactivate"><span>De-activate</span></a>
							{/if}

							{if $quiz.status eq test }
								<span class="glyphicon glyphicon-trash delete-it" aria-hidden="true"
											data-id="{$quiz.quiz_id}" style="cursor: pointer;color:#337ab7"></span>
								&nbsp;&nbsp;
								<a href="#" data-toggle="modal" data-target=".confirm_box" class="update-action" data-id="{$quiz.quiz_id}" data-action="activate"><span>Activate</span></a>

							{/if}
						{/if}
					{/if}
					{if $read_only eq 'true'}
						<a href="{$baseurl}/quizAdmin/quizView.php?quiz_id={$quiz.quiz_id}" data-toggle="tooltip" title="View" >
							<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
						</a>
					{/if}
				</td>
			</tr>
		{/foreach}
		</tbody>
	</table>
</div>


<div class="modal fade confirm_box" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" data-keyboard="false" >
	<div class="modal-dialog modal-sm">
		<div class="modal-content" id="upload-bx">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 class="modal-title" id="mySmallModalLabel">Confirm Action</h3>
			</div>
			<div class="modal-body">
				<div class="alert alert-danger" role="alert">Are You sure you want to <span id="action-name"></span> the quiz?</div>
				<!-- Single button -->
				<form action="{$baseurl}/quizAdmin/quizFormAction.php" method="POST" id="quiz-list-form">
					<div class="btn-group" id='yes-button'>
						<button type="button" class="btn btn-default" onclick="updateDatespot()">
							Yes
						</button>
					</div>
					<div class="btn-group pull-right" id="cancel-button">
						<button type="button" class="btn btn-default"  data-dismiss="modal" aria-hidden="true">
							Cancel
						</button>
					</div>
					<div class="progress" id="show-wait" style="display:none;">
						<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
							<span class="sr-only">Saving</span>
						</div>
					</div>
					<input type="hidden" id="datespot-hash-id-for-update" val=""/>
					<input type="hidden" id="datespot-update-action" val=""/>
				</form>
			</div>
		</div>
	</div>
</div>

<script>
	$(document).ready(function(){
		$('#datespot-list').DataTable({
			"bSort" : true,
			"order": [[ 7, "desc" ]],
			"bAutoWidth": false
		});
	});
</script>
</body>
</html>
