<!DOCTYPE html>
<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Bad Words Report</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body style="margin: 0; padding: 0;">



<br><br><br><b>Admin Panel Messages Report    :   </b><br><br>
<table align="center" border="1" cellpadding="0" cellspacing="0" width="600">
<tr>

<td align="center"> Total Messages (Latest in any conversation) </td>
<td align="center"> Seen </td>
<td align="center"> Replied(Latest message in any conversation) </td>
<td align="center"> Total Replied Today </td>
<td align="center"> Total Messages sent by admin today </td>

</tr> 

<tr>
<td align="center"> {$admin_monitor.total_count} </td>
<td align="center"> {$admin_monitor.seen_count} </td>
<td align="center"> {$admin_monitor.replied_count} </td>
<td align="center"> {$admin_monitor.total_replied} </td>
<td align="center"> {$admin_monitor.count} </td>

</tr>

</table>



</body>
</html>