<!DOCTYPE html>
<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Bad Words Report</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body style="margin: 0; padding: 0;">







<br><br><br><b>Phone no. Exchanged Yesterday (under 4 messages):</b><br><br>
<table align="center" border="1" cellpadding="0" cellspacing="0" width="600">
<tr>
<td align="center"> Sender ID </td>
<td align="center"> Receiver ID </td>
<td align="center"> Message Content </td>
<td align="center"> TimeStamp </td>


</tr> 
{foreach  from=$phnexchanged_lasthour item=v}
<tr>
<td align="center"> {$v.sender_id} </td>
<td align="center"> {$v.receiver_id} </td>
<td align="center"> {$v.msg_content} </td>
<td align="center"> {$v.tStamp} </td>

</tr>
{/foreach}
</table>

</body>
</html>