<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Daily Tracker</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body style="margin: 0; padding: 0;">
<h3 align="center">Photo Reshuffling Weekly Report</h3>

<table align="center" border="1" cellpadding="0" cellspacing="0" width="400">
 <thead>
 <tr>
 <th>UserID</th><th colspan="3">User Photo</th><th colspan="3">Photo1</th><th colspan="3">Photo2</th><th colspan="3">Photo3</th><th colspan="3">Photo4</th>
 <th colspan="3">Photo5</th>
 </tr>
 <tr>
<td></td>
 <td>Likes</td>
 <td>Hides</td>
 <td align="center">%</td>
 
 


 <td>Likes</td>
 <td>Hides</td>
<td align="center">%</td>

 
 


 <td>Likes</td>
 <td>Hides</td>
<td align="center">%</td>
 
 
 

 <td>Likes</td>
 <td>Hides</td>
 <td align="center">%</td>
 
 
 <td>Likes</td>
 <td>Hides</td>
<td align="center">%</td>

 <td>Likes</td>
 <td>Hides</td>
 <td align="center">%</td>

 </tr>
 
</thead>


{foreach from=$myreport item=myitem}
<tr>
<td>{$myitem.user_id}</td>


{foreach from=$myitem.pics item=pics}


<td align="center">{$pics.likes}</td>
<td align="center" >{$pics.hides}</td>
<td align="center">{$pics.perc}</td>


{/foreach}

</tr>
{/foreach}




</table>