<!DOCTYPE html>
<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Email Statistics</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body style="margin: 0; padding: 0;">


<br><br><br><b>Users who suspended themseleves:</b><br><br>
<table align="center" border="1" cellpadding="0" cellspacing="0" width="600">
<tr>

<td>
Id
</td>

<td>
Name
</td>

<td>
Reason
</td>

</tr>
{foreach  from=$details item=v}
<tr>
<td>
{$v.user_id}
</td>
<td>
{$v.fname}
</td>

<td>
{if !empty($v.reason)} {$v.reason} {else} other {/if}
</td>

</tr>
{/foreach}
</table>




</body>
</html>