<div id="{$div_id}" class="tmquestions hide">
<div align="center"><div class="questiontop">{$psycho_question}</div></div>
<div class="ansquest clb mrg" align="center">

<!--<form name="form1" method="post" action="">
-->
<ul class="formlist mt10 clearfix">
{foreach from=$psycho_answers key=k item=v}
<li {if {$v->value|strlen} >22}
class="mrglongli"
{/if}
>
<label class="radio">
<input type="radio" value="{$k}" name="pa[{$psycho_id}]">
<span {if {$v->value|strlen} >15 and {$v->value|strlen} <22 }
class="listitems"
{elseif  {$v->value|strlen}>22 }
class="listitems listlong" 
{else} 
class="listitems" 
{/if}
>{$v->value}</span></label></li>
{/foreach}
</ul>
<!--
</form>
-->

</div>
</div>