<div id="{$div_id}"  class="tmquestions hide" align="center">
<div class="questiontop">{$psycho_question}</div>
<div class="ansquest clb mrg" align="center">
<ul class="smokingstatus">

{assign var=iterator value=0}
{foreach from=$psycho_answers key=k item=v}
{assign var=iterator value=$iterator+1}
<li class="sm status{$iterator}">
<label class="radio">
<span class="icon">
</span>
<span class="icon-to-fade">
</span>
<input type="radio" value="{$k}" name="pa[{$psycho_id}]">
<span class="status">{$v->value}</span>
</label>
</li>
{/foreach}
</ul>
<ul align="center" class="lstoption mt10">
{foreach from=$psycho_answers key=k item=v}
<li>{$v->value}</li>
{/foreach}
</ul>
</div>
</div>