*{
	padding: 0;
	margin: 0;
}

body{font-family: 'RobotoRegular', Arial;font-size:14px;color:#333;background:url(../../../images/body-bg.gif) repeat;}
.mt10{margin-top:10px;}
.mt20{margin-top:20px !important;}
.mt30{margin-top:30px !important;}
.mt40{margin-top:40px;}
.mt80{margin-top:80px !important;}
.mb15{margin-bottom:15px !important;}
.ml10 { margin-left:10px!important;}
.mt50 { margin-top:50px;}
.mbmut { margin-bottom:120px;}
.dactivelink { font-size:12px; color:#4293F0; float:right; margin:0 auto;}

.btm0 { bottom:10px;}
.top0 { top:0px;}

.pink {color:#e7276b;}
.fbcolor { color:#28448a!important;}
.incolor { color:#0077b5!important;}
.idcolor { color:#00B5B3!important;}
.phcolor { color:#00b56a!important;}
.adcolor { color:#00b52f!important;}
.emcolor { color:#88b500!important;}

.tdpad { padding:5px 0 15px 0!important;}

.fl { float:left;}
.fr { float:right;}
.mrg { margin:0 auto;}
.pad { padding:0;}
.clb {clear:both;}

.fmarg1 { margin:0 20px 0 0!important;}
.strngedutxt {color:#333!important; font-family:'RobotoLight';}

/* My work design updates */
/* Popup Deactivated */
.difusescreen {background: none repeat scroll 0 0 #000000; height: 100%; left: 0; opacity: 0.7; overflow: hidden; position: fixed; top: 0; width: 100%; z-index: 1000; margin:0 auto; }

.sndmpopupframe { display:block; overflow:hidden; position: fixed; top: 1%; margin: 5% auto; left: 0; right: 0; z-index: 1000; background:#fff;  width:40%; -webkit-box-shadow: 0 0 10px #000; -moz-box-shadow: 0 0 10px #000; box-shadow: 0 0 10px #000; padding:10px; font-size:16px; font-family:'RobotoLight'; text-align:center;}
.sndmpopupframe Strong { font-family:'RobotoMedium';}


.tbinfosec4txt { margin:0 auto; width:100%; text-align:center; font-size:14px;}
.subtndeact {background:#4794ED; color:#fff; font-size:16px; margin:10px 0 0 0; padding:5px; border:none; cursor:pointer;}
.ddlist {margin: 10px auto; padding: 5px; width:300px; resize: none;}
.ddlist option { padding:0 0 0 5px;}
.tbinfosec4txt p { color:#090; font-size:14px; text-align:center; margin:5px auto; padding:0;} 

/* popup end */

.infocredit { text-align:center;}
.infocredit a{ background-color: #e7276b; color:#fff!important; font-size:13px; padding:5px 10px!important; margin:10px 0 0 0; display:inline-block!important; cursor:pointer; text-align:center;  }
.infocredit a:hover {border-bottom:4px solid #fff!important;}

.iconopcty {filter:alpha(opacity=20);-moz-opacity:0.2;   opacity: 0.2;}
.pdewbtmline {position: absolute; min-height: 80px; z-index: -1; background: url(../../../images/dashboard/profile/dot_black.png) repeat-y center top; margin-left: 3px;}
.pdewbtmline img { margin:70px 0 0 0!important;}


.proedu_title {font-family: 'RobotoBold';font-weight:bold\9;font-weight:16px; color:#fff;margin:0 auto; font-size:14px;line-height:30px;text-transform:uppercase; background:#333; border-bottom: 5px solid #E7276B; position:relative; padding:0 0 0 20px; -webkit-border-radius: 18px; -moz-border-radius: 18px;	border-radius: 18px; height:30px;}
/*.proedu_title:after {content: ' '; height: 0; position: absolute; width: 0; border: 10px solid transparent; border-top-color: #E7276B; top: 110%; left: 20px;}*/

.prowork_title {font-family: 'RobotoBold';font-weight:bold\9;font-weight:16px; color:#fff;margin:0 auto; font-size:14px;line-height:30px;text-transform:uppercase; background:#333; border-bottom: 5px solid #ff9b00; position:relative; padding:0 0 0 20px; -webkit-border-radius: 18px; -moz-border-radius: 18px;	border-radius: 18px;	 }
/*.prowork_title:after {content: ' '; height: 0; position: absolute; width: 0; border: 10px solid transparent; border-top-color: #4293F0; top: 110%; left: 20px;}*/

.expintinfobox {font-size: 14px; font-family:'RobotoLight'; color: #333; background-color: #FFFFC7; padding:10px 15px; text-align:center; margin:20px 0 20px 0; -webkit-box-shadow: 2px 2px 6px 0 #BDBDBD; -moz-box-shadow: 2px 2px 6px 0 #BDBDBD; box-shadow: 2px 2px 6px 0 #BDBDBD; }
.expintinfobox a {background-color: #4293f0; -webkit-box-shadow: 1px 1px 1px #777; -moz-box-shadow: 1px 1px 1px #777; box-shadow: 1px 1px 0 #777; color:#fff; text-transform:uppercase; padding:3px 10px; margin-left:10px;}
.expintinfobox a:hover {background-color:#2682ec;}

.verifyinfobox {font-size: 14px; font-family:'RobotoLight'; color: #333; background-color: #FFFFC7; padding:10px 15px; text-align:center; margin:20px 0 20px 0; -webkit-box-shadow: 2px 2px 6px 0 #BDBDBD; -moz-box-shadow: 2px 2px 6px 0 #BDBDBD; box-shadow: 2px 2px 6px 0 #BDBDBD;  }
.verifyinfobox a {background-color: #4293f0; -webkit-box-shadow: 1px 1px 1px #777; -moz-box-shadow: 1px 1px 1px #777; box-shadow: 1px 1px 0 #777; color:#fff; text-transform:uppercase; padding:3px 10px; margin-left:10px;}
.verifyinfobox a:hover {background-color:#2682ec;}
/*
.effect2 { position: relative;}
.effect2:before, .effect2:after { z-index: -1; position: absolute; content: ""; bottom: 15px; left: 10px; width: 50%; top: 20%; max-width:300px; background: #777;  -webkit-box-shadow: 0 15px 10px #777; -moz-box-shadow: 0 15px 10px #777; box-shadow: 0 15px 10px #777; -webkit-transform: rotate(-3deg); -moz-transform: rotate(-3deg);   -o-transform: rotate(-3deg); -ms-transform: rotate(-3deg); transform: rotate(-3deg); }
.effect2:after { -webkit-transform: rotate(3deg); -moz-transform: rotate(3deg); -o-transform: rotate(3deg); -ms-transform: rotate(3deg); transform: rotate(3deg); right: 10px;
  left: auto; }
  */
  
.infocontainer {background-color: #fff; -webkit-box-shadow: 0 0 7px #444; -moz-box-shadow: 0 0 7px #444; box-shadow: 0 0 7px #444; width:130px; font-size:11px; text-align:center; padding:10px; line-height:14px; position:absolute; margin:-5px 0 0 5px; z-index:999;}
.infocontainer a {-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; background-color: #e7276b; color:#fff; font-size:13px; padding:5px 10px 7px; margin:10px 0 0 0; display:inline-block; cursor:pointer; }
.infocontainer img {position:absolute; top:-13px; left:0;}
.infocontainer strong {color:#e7276b; font-weight:bold;}

.blurimgnote {padding:0 0 5px 0; font-size:12px; float:left; position:relative; color: #E7276B; cursor:help; }  
.blurimgnote1 {padding:0 0 5px 0; font-size:14px; float:left; position:relative; color: #4293F0; cursor:help; }  

.hovrtitle1 { background: #FFF; border: 1px solid #999; box-shadow: 1px 1px 6px 0 #888; -moz-box-shadow: 1px 1px 6px 0 #888; -webkit-box-shadow: 1px 1px 6px 0 #888; color: #666;
    font-family: 'RobotoRegular'; font-size: 11px; line-height: 14px; padding: 10px; position: absolute; text-align: left;  width: 250px; z-index: 1; top: 20px; left:0;}
.hovrtitle1:after {content: ' '; height: 0; position: absolute; width: 0; border: 7px solid transparent; border-bottom-color: #fff; bottom: 100%; left: 10px;} 
.hovrtitle1 a {-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; background-color: #e7276b; color:#fff!important; font-size:13px; padding:5px 10px 7px; margin:10px 0 0 0; display:inline-block; cursor:pointer; }

.myfamilysec { width:100%;}
.myfamilysec ul { margin:0 auto; padding:0; clear:both;}
.myfamilysec ul li {float:left; margin:0 10px 10px 0;}
.myfamilysec ul li p {font-size:11px; margin:0 auto; padding:0;}
.myfamilysec ul li span { float:left; margin:0 auto; padding:8px 10px; font-size:14px; background:#4293f0; color:#fff;}

.secexpendbtn {border-radius:50%;color:#fff; background:#E7276B; text-align:center; font-family:'RobotoBold'; float:right; margin:5px; cursor:pointer; width:16px; height:16px; padding:1.5px; position:relative; }
.secexpendbtn p {vertical-align:middle; position:absolute; top:-4px; left:5px;}
.secexpendbtn:hover { background:#f83a7e;}

.secexpendbtn1 {border-radius:50%;color:#fff; background:#E7276B; text-align:center; font-family:'RobotoBold'; float:right; cursor:pointer; width:16px; height:16px; padding:1.5px; position:relative; }
.secexpendbtn1 p {vertical-align:middle; position:absolute; top:1px; left:5px;}
.secexpendbtn1:hover { background:#f83a7e;}

.boxedu {width:96%; background:url(../../../images/dashboard/profile/eduwrk_secbg.png) no-repeat left top; margin-left:3%;}

.edubox { font-size:14px; text-align:left; padding:10px 0 0 9px; margin:0; line-height:18px; overflow:hidden; color:#333; position:relative; font-family: 'robotomedium';}
.edubox p { overflow:hidden; margin:15px 0 0 0; width:85%; line-height:20px;}
.edubox p strong {color:#227DE5; font-family:'robotoregular';}
.edubox img { margin:13px 5px 0 1px; float:left;}
.edubox span {color:#666;}


.brdrdoted { border-top:1px dotted #aaa;}

.effect4
{
  position: relative;
}
.effect4:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  right: 10px;
  left: auto;
  width: 50%;
  top: 40%;
  max-width:300px;
  background: #bbb;
  -webkit-box-shadow: 0 15px 10px #bbb;
  -moz-box-shadow: 0 15px 10px #bbb;
  box-shadow: 0 15px 10px #bbb;
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
}



.tmtitle { font-size:11px; color:#4293f0; text-align:center; width:70px; float:right; margin:0 auto;}  
.pieContainer { height: 33px; margin:0 auto; }
.pieBackground { background-color: #c5d9f1; position: absolute; width: 66px; height: 33px; -moz-border-radius: 33px 33px 0 0; -webkit-border-radius: 33px 33px 0 0; -o-border-radius: 33px 33px 0 0; border-radius: 33px 33px 0 0; } 
.pie { position: absolute; width: 66px; height: 66px; -moz-border-radius: 33px; -webkit-border-radius: 33px; -o-border-radius: 33px; border-radius: 33px; clip: rect(0px, 33px, 66px, 0px); }
.hold { position: absolute;  width: 66px; height: 33px; -moz-border-radius: 33px; -webkit-border-radius: 33px; -o-border-radius: 33px; border-radius: 33px; clip: rect(0px, 66px, 33px, 0px);}
#pieSlice1 .pie { background-color: #4293f0; -webkit-transform:rotate(-54deg);  -moz-transform:rotate(-54deg); -o-transform:rotate(-54deg); transform:rotate(-54deg); }
 .persentbg { background-color: #fff; position: absolute; width: 46px; height: 23px; -moz-border-radius: 23px 23px 0 0; -webkit-border-radius: 23px 23px 0 0;  -o-border-radius: 23px 23px 0 0; border-radius: 23px 23px 0 0; margin:10px 0 0 10px; text-align:center; } 
  .persentbg p {color:#4293f0; padding:0; margin:7px 0 0 0; font-size:15px; font-weight:bold;}


.pdpnkdot { margin:3px 0 0 0; padding:0; float:left; width:35px; display:table!important; position:relative;}
.pdpnkdot li { margin:0 auto!important; padding:0; float:left; display:table-cell!important; vertical-align:middle!important;}

.mutualcon {height:80px; overflow:hidden;}
.mutualcon li p { text-align:center; font-size:11px;}

/*Layout*/
.wrapper{width:100%;}
.container{width:960px;margin:0 auto 10px;position:relative;}

/*Header*/
.header{background:#fff;height:66px;-webkit-box-shadow: 0px 5px 3px -2px #d4d4d4;box-shadow: 0px 5px 3px -2px #d4d4d4;position:fixed;width:100%;left:0;top:0;z-index:999; }
	/*Logo*/
	.logo{float:left; margin:15px 0 0 0;}
	/*Menu*/ 
	.mainmenu{float:left;margin:20px 0 0 150px;color:#666;}
	.menu-link {display: none;float: right;text-decoration: none;}
	.menu ul { position: relative;display: inline-table;margin-top:5px;}
	.menu > ul > li {display: inline-block; margin:0px 10px; position:relative;}
	.menu li a{padding:0 0 5px;color:#666;display:block;padding:0 0 5px\9;display: block; border-bottom:4px solid #fff;}
	.menu li a:hover, .menu li a.active{border-bottom:4px solid #e7276b;}
	.notification{border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;background:#e7276b;padding:0px 2px;color:#fff;font-size:11px;margin-left:3px;font-family:'RobotoBold';}
	/*User Details*/
	.userdetails{float:right;width:140px;cursor:pointer;position:relative;min-height:40px;margin:20px 0 0 0;}
	.photo{margin-right:5px;float:left; height:27px!important; width:27px!important;}
	.downarrow{margin:11px 0 0 5px;float:right;}
	.userdetails span{width:90px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;display:block;float:left;margin-top:4px;}
	.usersettings{background:#fff;border:1px solid #c1c1c1;display:none;margin-top:35px;padding:5px;position:absolute;z-index:99;width:140px;right:0;font-size:13px; }
	.usersettings:before{background:url(../../../images/dashboard/top-arrow.png) no-repeat 0 0;position:absolute;content:"";display:block;width:15px;height:9px;top:-9px;right:20px;}
	.usersettings li{border-bottom:1px solid #e1e1e1;}
	.usersettings li a{display:block;padding:9px 5px;color:#666;}
	.usersettings li a:hover, .usersettings li.active a{color:#e93675;}
	.usersettings li.last{border-bottom:none;}
	.userdetails:hover .usersettings{display:block;}
	
	.usersettings span{background:url(../../../icons/user-setttings.png) no-repeat;width:12px;height:12px;margin-right:10px;margin-right:8px\9;}
	.usersettings span.account{background-position:0 0;}
	.usersettings span.partners{background-position:0 -17px;}
	.usersettings span.signout{background-position:0 -35px;}
	
	.usersettings li:hover span.account, .usersettings li.active span.account{background-position:-17px 0;}
	.usersettings li:hover span.partners, .usersettings li.active span.partners{background-position:-17px -17px;}
	.usersettings li:hover span.signout, .usersettings li.active span.signout{background-position:-17px -35px;}
	
/*Likes*/
	.likes_content{background:#fff;border:1px solid #c1c1c1;margin-top:5px;padding:5px 0 5px 5px;width:240px;right:-20px;font-size:13px;position:absolute;z-index:1000;/*display:none;*/}
	.likeclose{position:absolute;right:-10px;top:-15px;cursor:pointer;}
	.likes-top-arrow{background:url(../../../images/dashboard/top-arrow.png) no-repeat 0 0;position:absolute;content:"";display:block;width:15px;height:9px;top:-9px;right:25px;}
	.likes_content li{border-bottom:1px solid #e1e1e1;padding:8px 0;}
	.likes_content li.last{border-bottom:none;}
	.likes-pic{display:inline-block;margin-right:5px;}
	.likes-details{display:inline-block;}
	.likes-name{color:#333;font-family: 'robotomedium';}
	.likes-name a { color:#4293F0!important; padding:0!important;}
	.likes-name a:hover {border-bottom:4px solid #fff!important;  padding:0!important;}
	.likes-name span{color:#666;font-family: 'RobotoRegular';}
	.likes-info{font-size:10px;color:#bababa;}
	.likeback-onhover{background:#4293F0;border-bottom:1px solid #407CC0;border-radius:4px;width: 70px;text-align:center;float:right;display:none;}
	.likeback-onhover a{border-radius: 4px;color: #FFFFFF; display: block; padding: 2px 0;font-size:12px;}
	.likeback-onhover a:hover{background:#116AD0;}
	.likes_content li:hover .likeback-onhover{display:block;}
	/* .customscroll{height:200px;overflow:auto;} */
	.likes_dropdown_content {max-height: 250px; overflow: auto;}
	
	
/*Credits*/	
.credit_content{background:#fff;border:1px solid #c1c1c1;margin-top:5px;padding:5px 0 5px 5px;width:220px;left:0px;font-size:13px;position:absolute;z-index:999;}
.credit-top-arrow{background:url(../../../images/dashboard/top-arrow.png) no-repeat 20px 0;position:absolute;content:"";display:block;width:200px;height:9px;top:-9px;left:0px;}
.credit_content ul { width:215px;}
	.credit_content li{border-bottom:1px solid #e1e1e1;padding:5px 0 5px 10px;}
	.credit_content li.last{border-bottom:none;}
	.credit_content li:hover {display:block;}	
	.credit_dropdown_content {max-height: 250px; overflow-y: auto; overflow-x: hidden;}
	.creditno { color:#E7276B; width:50px; font-size:12px; font-weight:bold;}
	
/*Slider*/
.viewall{ text-align:right;}
.viewall a{color:#000;text-decoration:underline;}
.sliderul{clear:both;padding-top:10px;}
.sliderul li{float:left; height:325px;background:#fff;margin-right:17px;width:225px !important;-webkit-box-shadow: 2px 2px 6px 0px #bdbdbd;box-shadow: 2px 2px 6px 0px #bdbdbd; }
.sliderul li:last-child{margin-right:0px;}	
.bigphoto{position:relative;}
.mutual{position:absolute;top:0;left:0;background:#3a589b;color:#fff;text-transform:uppercase;padding:2px 0 2px 10px;font-size:12px;width:200px;}
.mutual span{text-transform:lowercase;padding-right:10px;margin-right:10px;font-family:'RobotoBold';border-right:1px solid #fff;}
.new{position:absolute;top:0;right:0;background:#e7276b;color:#fff;font-size:12px;padding:2px 4px;font-family:'RobotoBold';text-transform:uppercase;}
.name{position:absolute;bottom:0;left:0;background:#fff;padding:10px 0 10px 10px;text-transform:uppercase;filter:alpha(opacity=80);-moz-opacity:0.8;   opacity: 0.8;width:215px;}
.name span{font-family:'RobotoBold';font-weight:bold\9;}

.perosonal-details{padding:15px;overflow:hidden;background:#fff;}
.perosonal-details img{float:left;margin-right:15px;}
.persontext{float:left;}
.persontext span{font-family:'RobotoBold';font-weight:bold\9;}


/*Content*/
.content{overflow:hidden;}	
		/*Right Panel*/
		.rtpanel{float:right;width:355px;}
		/*Alerts*/
		.days{font-family:'RobotoLight';font-size:45px;text-transform:uppercase;line-height:1;}
		.days span{font-family:'RobotoBold';font-size:45px;}
		.daysleft{font-size:15px;margin:5px 0 10px;}
		.renewnow{background:#4293f0;width:120px;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;border-bottom:1px solid #3474bc;}
		.renewnow a{color:#fff;text-transform:uppercase;padding:10px 0;display:block;text-align:center;}
		/*Notification*/
		.rtnotification{margin-top:40px;}
		.ntitle{background:#fff;padding:10px 0 10px 10px;font-family:'RobotoBold';font-size:15px;font-weight:bold\9;}
		.notify{border-bottom:1px solid #666;background:url(../../../right-down-arrow.png) no-repeat right bottom;overflow:hidden;padding:15px 0;width:100%;}
		.icons{float:left;margin-right:15px;width:55px;height:55px;background:url(../../../icons/notification-icons.png) no-repeat;position:relative}
		.time{background-position: 0 0;}
		.thumb{background-position: 0 -68px;}
		.check{background-position: 0 -141px;}
		.message{background-position: 0 -215px;}
		.rtnotification-no{border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;background:#e7276b;padding:1px 2px;color:#fff;font-size:10px;border:1px solid #d9d9d9;position:absolute;top:0px;right:-3px;font-family: 'RobotoBold';}
		
		.notify-content{ overflow:hidden;}
		.details{float:none;line-height:22px;font-family: 'RobotoLight';display:block;}
		.details span a{color:#e62066;}
	/*Left Panel*/
	.leftpanel{float:left;width:565px;margin-right:40px;}
	.lttitle{background:url(../../../dotted.png) repeat-x left center;margin-bottom:20px;margin-right:10px;}	
	.lttitle span{font-family: 'RobotoBold';font-size:16px;background:#e3e3e3;padding-right:8px;font-weight:bold\9;}
		/*Updates*/
		.updates{width:100%;margin-top:10px;}
		.updates-icon{float:left;background:url(../../../icons/updates-icons.png) no-repeat; width:33px;height:33px;margin:20px 15px 0 0;}
		.pointer{background-position: 0 0;}
		.camera{background-position:0 -47px;}
		.pencil{background-position:0 -92px;}
		.updates-white{ overflow:hidden;padding:0 10px 10px 0;}
		.updates-content{background:#fff; float:none;display:block;padding:10px;box-shadow:2px 2px 6px 0 #BDBDBD;overflow:hidden;}
		.personimg{float:left;margin-right:10px;}
		.updates-details{float:left;font-family: 'RobotoLight';}
		.updates-details span a{color:#e62066;}
		.hours{color:#999;margin-top:10px;text-transform:uppercase;font-family: 'RobotoBold';font-weight:bold\9;}
		.hours img{vertical-align:middle;}
		.photolist li{float:left;margin:10px 5px 0 0;}


/*Matches*/
	/*Show Sort By*/
	.showsort{padding-top:15px;}
		/*Show*/
		.show{float:left;}
		.show li{float:left;background:#fff;width:40px;height:40px;border-radius:50%;margin-right:5px;cursor:pointer;text-align:center;-webkit-box-shadow: 0px 3px 3px -2px #bcbcbc;box-shadow: 0px 3px 3px -2px #bcbcbc; }
		.show li.showtext{background:none;font-family: 'RobotoBold';font-weight:bold\9;font-size:14px;text-transform:uppercase;line-height:38px;margin-right:10px;box-shadow:none;}
		.show li:hover.showtext{background:none;color:#000;}
		.show li.all{font-family: 'RobotoBold';font-weight:bold\9;font-size:14px;line-height:36px;text-transform:uppercase;}
		.show li:hover, .show li.active{background:#4293f0;color:#fff;}	
		.show li span{text-indent:-9999px;display:block;background:url(../../../icons/show-icons.png) no-repeat;width:18px;height:18px;display:inline-block;margin-top:10px;}
		.show li span.starshow{background-position:0 0;}
		.show li span.thumbshow{background-position:0 -71px;}
		.show li span.cancelshow{background-position:0 -36px;}
		.show li:hover span.starshow, .show li.active span.starshow{background-position:0 -18px;}
		.show li:hover span.thumbshow, .show li.active span.thumbshow{background-position:0 -91px;}
		.show li:hover span.cancelshow, .show li.active span.cancelshow{background-position:0 -54px;}
		/*Sort By*/
		.sortby{float:right;}
		.sortby li{float:left;background:#fff;width:40px;height:40px;border-radius:50%;-webkit-border-radius:50%;-moz-border-radius:50%; margin-right:5px;cursor:pointer;text-align:center;-webkit-box-shadow: 0px 3px 3px -2px #bcbcbc;box-shadow: 0px 3px 3px -2px #bcbcbc;font-family: 'RobotoBold';font-weight:bold\9;font-size:14px;line-height:36px;text-transform:uppercase;color:#4293f0;}
		.sortby li:hover, .sortby li.active{background:#4293f0;color:#fff;}	
		.sortby li:last-child{margin-right:0;}
		.sortby li.sorttext{background:none;font-family: 'RobotoBold';font-weight:bold\9;font-size:14px;text-transform:uppercase;line-height:36px;margin-right:10px;box-shadow:none;width:59px;color:#000;}
		.sortby li:hover.sorttext{background:none;color:#000;}
		.sortby li.percent{font-size:20px;}

	/*Filter*/
	.filter{background:#fff;padding:10px;}
	.fliterleft{float:left; background:url(../../../matches/plus.png) no-repeat 5px 5px;padding-left:30px;}
	.fliterleft.active{ background:url(../../../matches/minus.png) no-repeat 5px 7px;}
	
	.search{float:right;position:relative;}
	.search input{background:#fff;border:1px solid #999;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;padding:3px 10px;}
	.searchicon{position:absolute;background:url(../../../matches/search_icon.png) no-repeat; width:21px;height:20px;top:3px;right:5px;}
	.searchnew{/*margin-top:-73px;*/ position:absolute; top:30px; right:0;}
	.searchnew input{background:none;border:none; border-bottom:1px solid #999;padding:3px 10px 3px 0;}
	.smallline{border-left:1px solid #999;width:1px;height:5px;position:absolute;bottom:0;right:32px}

	.filterbox{background:#fff;width:100%;clear:both;padding:20px 0;}
	.filterbox ul{margin-left:20px;}
	.filterbox li{display:inline-block;margin:5px 10px 5px 0;}
	.filterbox li.filtertitle{width:140px;}
	.filterbox .submit{margin:20px 0 20px 173px;}
	.filterbox select{width:120px;background:#EFEFEF; border: 1px solid #CECCCC;color: #666666;padding:3px;}
	.filterbox input[type="submit"]{ background: #4293F0;border:none; border-radius: 3px 3px 3px 3px;width: 120px;color: #FFFFFF;display: inline-block;  padding: 5px 0;  text-align: center;}

/*Matches List*/
.matcheslist li{float:left;height:378px;background:#fff;margin:0 15px 15px 0;width:225px;-webkit-box-shadow: 2px 2px 6px 0px #bdbdbd;box-shadow: 2px 2px 6px 0px #bdbdbd;cursor:pointer; }
.actions{clear:both;border-top:1px solid #d9d9d9;}
.actions p.first{float:left;border-right:1px solid #fff;margin-top:1px;background:#d9d9d9;padding:5px 15px;color:#4293f0;}
.actions p a{color:#4293f0;display:block;}
.actions p a:hover, .actions p a.active, .actions p.active a{color:#666;}
.actions span{background:url(../../../icons/tile-icon.png) no-repeat;width:13px;height:13px;padding-right:18px;}
.actions span.fav{background-position:0 0;}
.actions p:hover span.fav, .actions p.active span.fav{background-position:-17px 0;}
.actions p.clicklike{padding: 5px 0;  text-align: center; width: 74px;background:#d9d9d9;float:left;border-right:1px solid #fff;margin-top:1px;}
.actions span.like{background:url(../../../icons/like_active_icon.png) no-repeat 0 3px;padding:0 0 0 18px;}
.actions span.likedst{background:url(../../../icons/like_inactive_icon.png) no-repeat 0 3px;color:#666;}

.actions p.last{background:#d9d9d9;float:left;padding:5px 15px;margin-top:1px;}
.actions p.last a{color:#666;}
.actions p.last a:hover, .actions p.last a.active, .actions p.last.active a{color:#4293f0;}
.actions span.hide{background-position:-17px -36px;}
.actions p:hover span.hide, .actions p.active span.hide{background-position:0 -36px;}
.actions p.last{border-right:1px solid #d9d9d9;}


	/*Flip*/
	.panel {float: left;width: 225px;height:378px;position: relative;-webkit-perspective: 600px;-moz-perspective: 600px;background:#fff;}
	.panel .front {float: none;position: absolute;top: 0;left: 0;z-index: 900;width: inherit;height: inherit;-webkit-transform: rotateX(0deg) rotateY(0deg);-webkit-transform-style: preserve-3d;-webkit-backface-visibility: hidden;-moz-transform: rotateX(0deg) rotateY(0deg);-moz-transform-style: preserve-3d;-moz-backface-visibility: hidden;-o-transition: all .4s ease-in-out;-ms-transition: all .4s ease-in-out;-moz-transition: all .4s ease-in-out;-webkit-transition: all .4s ease-in-out;transition: all .4s ease-in-out;}
	.panel.flip .front {z-index: 900;-webkit-transform: rotateY(180deg);-moz-transform: rotateY(180deg);}
	.panel .back {float: none;position: absolute;top: 0;left: 0;z-index: 800;width: inherit;height: inherit;-webkit-transform: rotateY(-180deg);-webkit-transform-style: preserve-3d;-webkit-backface-visibility: hidden;-moz-transform: rotateY(-180deg);-moz-transform-style: preserve-3d;
	-moz-backface-visibility: hidden;-o-transition: all .4s ease-in-out;-ms-transition: all .4s ease-in-out;-moz-transition: all .4s ease-in-out;-webkit-transition: all .4s ease-in-out;transition: all .4s ease-in-out;}
	.panel.flip .back {z-index: 1000;background: #4186d3;-webkit-transform: rotateX(0deg) rotateY(0deg);-moz-transform: rotateX(0deg) rotateY(0deg);}
	
	/*Back*/
	.fliphover{text-align:center;font-family: 'RobotoLight';}
	.fliphover .fliptitle{background:#333;padding:10px 0;color:#fff;font-size:18px;}
	.fliphover span{font-family: 'RobotoBold';font-weight:bold\9;}
	.flippara{margin:40px 0;color:#fff;}
	.flippara p{margin-top:22px;}
	.flippara span{font-family: 'RobotoBold';font-weight:bold\9;}
	.viewprofile a{padding:10px 20px;background:#fff;text-transform:uppercase;color:#333;border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;font-family: 'RobotoRegular';border-bottom:1px solid #135aaa;}

.loading {background:#4293F0;color:#fff;font-size:20px;padding:5px 10px;text-align:center;width:450px;margin:0px auto;display:none;border-radius: 5px;}


/*Profile*/
.leftpane {float:left; width:300px;}
.rightpane {float:left; width:643px; margin-left:17px;}

	/*Profile Left*/
	.gallerylist{margin:6px 0 15px;}
	.gallerylist li{display:inline-block;margin-right:2px;}
	.gallerylist li img{border:1px solid #fff;}
	.gallerylist li:last-child{margin-right:0;}
	
	/*Profile Right*/
	.personname{font-size:24px;float:left;font-family: 'RobotoLight'; margin:2px 0 0 0;}
	.personname span{font-family: 'RobotoBold';font-weight:bold\9;}
	.profile_socialicon{float:left;}
	.profile_socialicon li{width:38px;height:38px;border-radius:8px;background:#E7276B;border-bottom:1px solid #5b86b6;float:left;margin-left:10px;cursor:pointer;}
	.profile_socialicon li span{background:url(../../../images/dashboard/icons/profile-icons.png) no-repeat;width:38px;height:38px;text-indent:-9999px;display:block;}
	.profile_socialicon li .pmessage{background-position:0 0;}
	.profile_socialicon li .pstar{background-position:0 -38px;}
	.profile_socialicon li .pthumb{background-position:0 -76px;}
	.profile_socialicon li .pcancel{background-position:0 -114px;}
	.profile_socialicon li .pmsglock{background-position:0 -155px;}
	.profile_socialicon li .pmuthumb{background-position:0 -192px;}
	.profile_socialicon li:hover, .profile_socialicon li.active{background:#E7276B;}
	.respond{width:135px !important;text-align:center;padding-top:8px;height:29px !important;border-radius:3px !important;border-bottom:1px solid #3977bd;}
	.respond a{color:#fff;}
	
	.deactiveicon {background:#ccc!important; border-bottom:#aaa!important;}
	.actiontaken {background:#3DAC29!important; border-bottom:#2F951D!important;}
	
	.lastcon{font-size:12px;margin-bottom:15px;clear:both;text-align:left;}
	
	.aboutprofiler {margin:25px 0;color:#000;}
	
	.persondetails li{background:#4293f0;padding:10px 5px;margin:0 4px 4px 0;color:#fff;float:left;text-align:center;font-size:14px;}
.width1{width:45px;}
.width2{width:250px;}
.width3{width:250px;}
.width4{width:40px;}
.width5{width:146px;}
.width6{width:146px;}
.width7{width:146px;}
.width8{width:146px;}

	/*My Family*/
	.bottom_titles{color:#4293f0;margin:10px 0 5px;font-family: 'robotomedium';font-size:15px;line-height:45px; text-transform:uppercase;}
	.bottom_titles .imgicon, .bottom_titlesed .imgicon, .bottom_titleslf .imgicon{margin-right:10px;float:left;}
	.myfamliy_outer{position:relative;min-height:185px;position:relative;}
	.divider_bottom{border-bottom:1px solid #4293f0;position:absolute;min-height:80px;z-index:1;top:0;width:90%;left:20px}
	.familydetails{position:absolute;z-index:2;top:0;left:0; background:url(../../../images/dashboard/bluedot.png) repeat-x; background-position:0 85px;}
	.familydetails li{float:left;text-align:center;margin:0 20px;}
	.familydetails li .circle_white{background:#fff;width:100px;height:100px; padding:5px;border-radius:50%;margin-top:10px;color:#4293f0;border-bottom:1px solid #c7c7c7;font-family: 'robotomedium';display: table;text-align:center; transition: 0.2s ease;  -webkit-transition: 0.2s ease; -moz-transition: 0.2s ease; font-size:12px; position:relative;}
	.familydetails li .circle_white span {display: table-cell;vertical-align: middle;}
	.familydetails li.last{margin-right:0;}
	.circle_white:hover { -webkit-transform: scale(1.4,1.4); -moz-transform:scale(1.4,1.4); font-size:62%!important; -webkit-box-shadow: 0 0 10px #333; -moz-box-shadow: 0 0 10px #333; box-shadow: 0 0 10px #333;}
	
.item { width:82%; height:60px; z-index:0; overflow:hidden; text-align:center; margin:0 auto; display: table;}    
.item:hover{overflow:visible;z-index:100;}
.item:hover .inner{z-index: 100; top:-5px;}
.inner{ width: 100%; display: table-cell;vertical-align: middle; }

/* .item {display: table;text-align:center;}

.itembox {
    border-radius: 50%;
    width: 96px;
    height: 96px;
	margin-top:10px;
    text-align: center;
    -moz-transition: all 0.8s;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
	color:#4293f0;
	border-bottom:1px solid #c7c7c7;
	background:#fff;
	display: table-cell;vertical-align: middle;	
} */
	
	
	
	/*Education And Work*/
	.bottom_titlesed{color:#4293f0;margin-left:15px;font-family: 'robotomedium';font-size:15px;line-height:30px;text-transform:uppercase;padding:0;}
	.bottom_titleslf{color:#4293f0;font-family: 'robotomedium';font-size:15px;line-height:30px;text-transform:uppercase;padding:0;}
	.education-work-salary{margin:0 auto;}
	.education-work-salary li{display:inline-block;vertical-align:top; margin:0 4% 0 0; width:45%;}
	.alldetails{width:100%;padding:5px 12px 0 12px;min-height:100px;background:url(../../../images/dashboard/profile/dropshadownew.png) no-repeat bottom right #fff;}
	.alldetails p{font-family: 'robotomedium';font-size:11px;}
	.alldetails span{color:#888;}
	.showmore{text-align:right;font-size:12px !important; width:29%; position:absolute; margin:60px -20px 0 0;}
	.showmore a{color:#f5216d;}
	.showmore a:hover{text-decoration:underline;}
	.alldetails p.salary-rupees{font-size:20px;font-family: 'RobotoBold';text-align:center;margin-top:32px;}
	.alldetails p.salary-rupees span{font-size:14px;}

	/*Profile Right*/
	.pdlocationsec{background:url(../../../images/dashboard/profile/dropshadownew.png) no-repeat bottom right #fff; padding:0 3px 20px 0; overflow:hidden; width:95%;}
	.pdlocationsec p{cursor:pointer; text-align:center; width:49%; padding:6px 0 0; text-transform:none; height:22px; font-family:'RobotoRegular';}
	.locmapsec {  color: #000000; font-size: 12px; text-align: center;}
	
	.trustmeterleft{background:url(../../../images/dashboard/profile/dropshadow.png) no-repeat bottom right #fff;width:285px;padding:10px 20px 30px 10px; text-align:left; display:inline-block;}
	.trustmeter{background:url(../../../images/dashboard/profile/dropshadownew.png) no-repeat bottom right #fff;width:188px;padding:10px 14px 20px 10px; overflow:hidden;}
	.trust_title{font-family: 'RobotoBold';font-weight:bold\9;font-weight:16px;text-transform:uppercase;margin-bottom:10px;}
	.trust_title .imgstyle{margin-right:20px;vertical-align:middle;float:right;}
	.trust_title .iconstyle{margin-right:6px;float:left;}
	.trustmeterlist{padding:5px 6px 5px 4px;}
	.trustmeterlist li{border-top:1px solid #f0f0f0;padding:10px 0; overflow:hidden;}
	
	
	.trustmeterlist li .iconsmall{font-size:14px;margin:2px 10px 0 0;color:#666;float:left; width:12px;}
	.trustmeterlist li .tick{float:right;}
	.trustmeterlist li.last{border-bottom:none;}
	.trustmeterlist li.textgray, .trustmeterlist li.textgray .iconsmall{color:#ccc;}
	
	.mcount { padding-left:18px;}
	
	.threesections{margin:30px 0 0 10px;}
	.threesections li{display:inline-block;vertical-align:top;}
	.mapsecframe { width:50%;}
	
	.tmitemtxt {font-size:12px; color:#009000; font-family: 'robotolight';}
	.tickmarkico {color:#009000; font-size: 22px; margin-right: 20px;}
	
	.map{margin: 0 5px 5px 0;}
	
	.languages li{width:100%; font-size:12px;}
	
	.mutualcon li{margin:5px 8px;display:inline-block;}
	.rtviewall{text-align:right;font-size:12px;margin:0 10px 4px 0;}
	.rtviewall a{color:#F5216D;}
	.rtviewall a:hover{text-decoration:none;}
	
	.qualities{margin:5px 0 10px 0;}
	.qualities li{width:180px;margin:3px 0;display:inline-block;line-height:35px;}
	.qualities li span{width:29px;height:29px;background:url(../../../images/dashboard/profile/qualities.png) no-repeat top left;padding-right:10px;float:left;}
	.qualities li .nonveg{background-position:0 0;}
	.qualities li .occ{background-position:0 -29px;}
	.qualities li .never{background-position:0 -58px;}
	
	/*Profile Hobbies*/
	.bxslider { overflow:hidden;}
	.profile-hobbies h2 {font-family: 'RobotoLight'; margin-bottom:5px;}
	.profile-hobbies li{text-align:center;width:240px !important;margin:5px 0 0 0;border-bottom:1px solid #c6c6c6;float:left !important;}
	.profile-topwhite{border-right:1px solid #eee;padding:10px 0 10px; background:url(../../../images/dashboard/profile/bgtrans.gif);}
	.profile-hobbytitle{color:#4293f0;font-size:14px;padding:10px 0 0;}
	
	.profile-graybg{display: table;height: 210px; width:99.5%; text-align: center;background:#fff;color: #666;border-right:1px solid #eee;}
	.profile-graybg span {display: table-cell;vertical-align: middle;text-transform:uppercase;font-family: 'RobotoBold';}
	.profile-htitle{text-transform:uppercase;color:#777;font-family: 'RobotoMedium';margin:10px 0 5px; font-size:13px;}
	.profile-graybg.last{border-right:0px !important;width:170px;}
	.phobovrauto {height:80px; overflow:auto;font-size:12px; color:#000; margin:0 10px;}
	.phobovrautosmall {height:50px; overflow:auto; font-size:12px; color:#000; margin:0 10px;}
	
	.profile-selectedicon{width:45px;height:45px;border-radius:50%;-webkit-border-radius:50%;-moz-border-radius:50%;background:url(../../../images/register/hobbies/hobbies_new.png) no-repeat left center #4293ef; margin:0 auto;}
	.profile-hobbies .music{background-position:6px 3px !important; background-color:#ff4141;}
	.profile-hobbies .reading{background-position:-49px 5px !important; background-color:#3fc0ea;}
	.profile-hobbies .eating{background-position:-104px 5px !important; background-color:#717bff;}
	.profile-hobbies .movies{background-position:-162px 3px !important; background-color:#e13cff;}
	.profile-hobbies .sports{background-position:-217px 5px !important; background-color:#aad632;}
	.profile-hobbies .travel{background-position:-273px 5px !important; background-color:#ffae00;}
	.profile-hobbies .other{background-position:-321px 5px !important; background-color:#ff74e0;}
	
	.about-title{display:none;}
	
	/*Subjective Questions */
	.subjq { color:#666; text-align:left; font-style:italic; margin:20px 0 5px;}


	/*Profile Matched Hobbies*/
	.hobbies-matched {display:block; position:relative; margin:0 auto; height:auto; min-height:130px;}
	.hobbies-matched .title {font-size:16px; display:block; text-align:center; width:90%; height:16px; margin:10px 5%; border-top:1px solid #4293f0; border-right:1px solid #4293f0; border-left:1px solid #4293f0; position:relative;}
	.hobbies-matched .title span {position:absolute; top:-15px; left:38.5%; background:url(../../../images/body-bg.gif) repeat-x left center; padding:2px 10px; }
	
	.your-img {display:inline-block; position:absolute; left:0; top:auto;}
	.matched-img {display:inline-block; position:absolute; right:0; top:auto;}
	.inthobimg {width:95px; height:95px;border-radius: 50%;}
	
	.matched-list {display:inline-block; text-align:center; width:82%; margin:0 0 0 10%;}
	.matched-list li {display:block; float:left; padding: 0 1%;  width: 12%; font-size:13px; overflow:hidden;}
	.matched-list li span {display:block; width:46px;height:46px;background:url(../../../images/dashboard/profile/matched-hobbies-icons.png) no-repeat left top; margin:0 auto;}
	
	.matched-list li .music {background-position:0 0;}
	.matched-list li .food {background-position:-46px 0;}
	.matched-list li .books {background-position:-92px 0;}
	.matched-list li .sports {background-position:-140px 0;}
	.matched-list li .movies {background-position:-184px 0;}
	.matched-list li .travel {background-position:-235px 0;}
	.matched-list li .other {background-position:-284px 0;}
	
	/*Profile Page3*/
	.partner-outer{ margin-bottom: 30px;min-height: 120px;position: relative;}
	.partnerdivider{border-bottom: 1px solid #4293F0;left: 30px;min-height: 76px; position: absolute;top: -25px; width: 92%; z-index: 1;}
	.partnerdetails{ margin:0 auto;}
	.partnerdetails ul {overflow: hidden; display: inline-block; background: url(../../../images/dashboard/bluedot.png) repeat-x scroll center center transparent; padding: 20px 0px 0px; width:100%;}
	.partnerdetails ul li {float: left;  text-align: center;width:33.33%;}
.partnerdetails ul li.first{text-align:left;}
.partnerdetails ul li.second{text-align:center;}
/* .partnerdetails ul li.third{text-align:right;} */
.partnerdetails ul li .pcirclewhite{background:#fff;width:79px;height:79px;border-radius:50%;margin:0 auto;color:#4293f0;border-bottom:1px solid #c7c7c7;font-family: 'robotomedium';display: table;text-align:center;}
/*.partnerdetails ul li.first .pcirclewhite{margin-left:15px;}*/
.partnerdetails ul li.first p{margin:0 0 0 25px;}
/* .partnerdetails ul li.second .pcirclewhite{margin:10px auto;} */
/* .partnerdetails ul li.third .pcirclewhite{float:right;margin-right:15px;} */
 .partnerdetails ul li.third p{ text-align:right; margin:0 20px 0 0;}
.partnerdetails ul li .pcirclewhite span {display: table-cell;vertical-align: middle;}
.partnerdetails ul li:last-child{margin-right:0;}
.partnerdetails ul p{color:#666; padding-top:10px;}
.partnerdetails ul li.middle{width:180px;}
	.profession-religion-physical{margin:0 auto;}
	.profession-religion-physical li{ display: inline-block;vertical-align: top;margin-right:10px; width:32%;}
	.profession-religion-physical li.last{margin-right:0;}
	.alldetailspartner{background:#fff;width:275px;padding:15px; max-height:200px; min-height:200px; border:1px solid #ccc; overflow:auto;}
	.alldetailspartner td{color:#333;vertical-align:top;padding:5px 0;font-size:13px;}
	
	
	.alldetailspartner .td1{font-family: 'robotomedium';font-size:13px;color:#777;text-transform:uppercase; border-bottom:1px solid #ddd;}
	
	.partnerhobbies{margin-top:40px;}
	.partnerhobbies li{display:inline-block;width:33%; float:left;} 
	.phheading{color:#4293f0;text-transform:uppercase; background:none!important; border:none!important; padding:0!important;}
	.partnerhobbies span{background:#4293f0 url(../../../images/dashboard/icons/partners-icon.png);width:50px;height:50px;border-radius:50%;display:inline-block;margin-right:5px;vertical-align:middle; margin:-10px 0 0 0;}
	.partnerhobbies span.psmoking{background-position:0 0}
	.partnerhobbies span.pdrinking{background-position:0 -50px;}
	.partnerhobbies span.pfood{background-position:0 -100px;}
	.smokinglist{margin:0 auto; display:table;}
	.smokinglist li{background:#fff;margin:0 8px 5px 0;color:#656565;font-size:13px;border-top:1px solid #d4d4d4;padding:5px 10px;width:auto;}
	.smokinglist img{display:inline-block;vertical-align:middle;}
	
	.ploction{display:inline-block;width:45%; float:left;background: #FFFFFF; border: 1px solid #CCC; padding:2%; margin-bottom:15px;}
	.locationlist span{width:26%;font-family: 'robotomedium';font-size:13px;float:left; color:#777; text-transform:uppercase;padding:3px 0 0;}
	.locationlist p, .familylist p{background:#4293f0;color:#fff;padding:5px;text-align:center;float:left;margin:0 5px 5px 0; font-size:12px;}
	.pfamily{display:inline-block; width:45%; float:right; border:1px solid #ccc; background:#fff; padding:2%; margin-bottom:15px;}
	.familylist span{width:26%;font-family: 'robotomedium';font-size:13px;float:left; color:#777; text-transform:uppercase; padding:3px 0 0;}
	.familylist p.widthincrease{width:140px;}
	

/*Messages*/
	/*Filter*/
	.customcheckbox{float:left;margin-left:30px;color:#666;}
	.customcheckbox label{margin-right:15px;}

	/*Inner Tabs*/
	.innertabs{margin-left:10px;}
	.innertabs li{float:left;margin:0 11px 5px 0;}
	.innertabs li a{color:#939393;padding:5px 18px;background:#e5e5e5;border:1px solid #c5c5c5;border-bottom:none;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;}
	.innertabs li a:hover, .innertabs li a.active{color:#fff;background:#4293f0;border:1px solid #407cc0;border-bottom:none;-webkit-box-shadow: inset 0px 3px 3px 0px #3b7dc9;box-shadow: inset 0px 3px 3px 0px #3b7dc9;}

	/*Recieved Messages*/
	.communicate_mess li{background:#fff;padding:15px 10px 15px 20px;border-bottom:1px solid #d0d0d0;margin-bottom:5px;position:relative;}
	.communicate_mess li.grybg{background:#e5e5e5;border:1px solid #c5c5c5;color:#5f5f5f;}
	
	.icontoleft{width:23px;height:23px;background:#e7276b;position:absolute;left:-5px;top:6px;color:#fff;}
	.icontoleft:after{background:url(../../../messages/pink-coner.png) no-repeat bottom left;content:"";display:block;position:absolute;height:3px;width:5px;bottom:-3px}
	.csmallicons{background:url(../../../icons/communication_message.png) no-repeat top center; width:13px;height:13px;text-indent:-9999px;display:block;margin:6px 0 0 5px;}
	.cmessage{background-position:0 0;}
	.cthumb{background-position:0 -14px;}
	
	.communicate_pic{display:inline-block; margin-right:12px;}
	.communicate_details{display:inline-block;width:87%;vertical-align:top;position:relative;}
	.commname{font-size:18px;}
	.comm_message{font-size:13px;margin-right:40px;}
	.mess_time{font-size:13px;position:absolute;top:10px;right:12px;}
	.leftarrow{position:absolute;bottom:17px;right:10px;text-indent:-9999px;}
	.leftarrow a{background:url(../../../images/dashboard/icons/left-arrow.png) no-repeat;width:26px;height:26px;display:block;}
	.showmessage{text-align:center;background:#eee;border:1px solid #c9c9c9;color:#4293f0;border-radius:12px;padding:5px 0;margin:10px 20px 0 0;cursor:pointer;}
	.messageshowed{background:#ddd;color:#666;border:1px solid #b0b0b0;border-radius:12px;padding:5px 15px;margin:10px 19px 0 0;overflow:hidden;}
	.likeback, .reply{float:right;margin:10px 35px 0 0;background:#4293f0;border-bottom:1px solid #407cc0;border-radius:4px;text-align:center}
	.likeback a, .reply a{color:#fff;padding:4px 10px;text-align:center;width:70px;display:block;border-radius:4px;}
	.reply{margin:10px 0 0 0;}
	.likeback a:hover, .reply a:hover {background:#116AD0;}
	.replied{float:right;margin:10px 0 0 0;background:#838383;border-bottom:1px solid #747474;border-radius:4px;text-align:center}
	.replied a{color:#fff;padding:4px 10px;text-align:center;width:70px;display:block;border-radius:4px;}
	.liked{background:#838383;border-bottom:1px solid #747474;}
	
	/*Messages Expaneded*/
	.pagetitle {padding-top:20px;}
	.pagetitle img{vertical-align:top;}
	.pagetitle a{color:#000;}
	.individualmessages{margin-bottom:100px;}
	.comtitle{ border-top: 1px solid #b0b0b0; display: block;  height: 15px;  margin: 10px 0; position: relative; text-align: center; width: 100%;color:#9b9a9a;font-size:13px;	}
	.comtitle span{background: url("../../../images/body-bg.gif") repeat-x scroll left center;
    left: 48%; padding: 4px 10px;  position: absolute; top: -15px;}
	.messages-content{width:100%;margin-bottom:8px;}
	.messager-img{float:left;margin-top:4px;}
	.messager-img img{border:3px solid #fff;}
	.message-text{overflow:hidden;padding:0 0 10px 0;}
	.messageinner{display: block;  float: none; padding:0 15px;position:relative;}
	.messagermessages{ border:1px solid #267ad9;color:#fff;font-size:12px;padding:5px 10px 30px;width:70%;min-height:70px;
	background: #9ac3f3;
	background: -moz-linear-gradient(top,  #9ac3f3 0%, #7ab1f0 25%, #63a5f0 48%, #509af0 73%, #4293f0 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9ac3f3), color-stop(25%,#7ab1f0), color-stop(48%,#63a5f0), color-stop(73%,#509af0), color-stop(100%,#4293f0)); 
	background: -webkit-linear-gradient(top,  #9ac3f3 0%,#7ab1f0 25%,#63a5f0 48%,#509af0 73%,#4293f0 100%); 
	background: -o-linear-gradient(top,  #9ac3f3 0%,#7ab1f0 25%,#63a5f0 48%,#509af0 73%,#4293f0 100%); 
	background: -ms-linear-gradient(top,  #9ac3f3 0%,#7ab1f0 25%,#63a5f0 48%,#509af0 73%,#4293f0 100%); 
	background: linear-gradient(to bottom,  #9ac3f3 0%,#7ab1f0 25%,#63a5f0 48%,#509af0 73%,#4293f0 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9ac3f3', endColorstr='#4293f0',GradientType=0 ); 
	-webkit-box-shadow: 0px 2px 2px 0px #aeaeae;
	box-shadow: 0px 2px 2px 0px #aeaeae;position:relative;border-radius:12px; -moz-border-radius:12px; -webkit-border-radius:12px;border-radius:0\9;
	}
	.messagermessagesbefore{background:url(../../../messages/bule-arrow.png) no-repeat top left;position:absolute;content:"";display:block;width:11px;height:12px;top:25px;left:5px;z-index:9;}
	.message-time{float:right;}
	.seenicon{position:absolute;right:10px;bottom:6px;font-family: 'robotoitalic';width:50px;}

	.messager-img-gray{float:right;margin:4px 0 0 0;}
	.messager-img-gray img{border:3px solid #fff;}
	.messagermessages-gray{border-radius:12px; -moz-border-radius:12px; -webkit-border-radius:12px; border:1px solid #bdbdbd;color:#666;font-size:12px;padding:5px 10px 30px;width:70%;min-height:60px;float:right;
	background: #f7f7f7;
	background: -moz-linear-gradient(top,  #f7f7f7 0%, #e3e3e3 48%, #cdcdcd 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(48%,#e3e3e3), color-stop(100%,#cdcdcd)); 
	background: -webkit-linear-gradient(top,  #f7f7f7 0%,#e3e3e3 48%,#cdcdcd 100%); 
	background: -o-linear-gradient(top,  #f7f7f7 0%,#e3e3e3 48%,#cdcdcd 100%); 
	background: -ms-linear-gradient(top,  #f7f7f7 0%,#e3e3e3 48%,#cdcdcd 100%); 
	background: linear-gradient(to bottom,  #f7f7f7 0%,#e3e3e3 48%,#cdcdcd 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#cdcdcd',GradientType=0 ); 
	-webkit-box-shadow: 0px 2px 2px 0px #aeaeae;
	box-shadow: 0px 2px 2px 0px #aeaeae;position:relative;border-radius:0\9;}
	.message-time-gray{float:right;color:#bbbaba;}
	.messagermessages-graybefore{background:url(../../../messages/gray-arrow.png) no-repeat top right;position:absolute;content:"";display:block;width:11px;height:13px;top:25px;right:5px;z-index:9;}
	.seenicon-gray{position:absolute;right:10px;bottom:6px;font-family: 'robotoitalic';color:#9c9c9c;}
	.seenicon-gray i{font-size:14px;color:#9b9b9b;}
	.seenicon-gray span{font-family: 'RobotoRegular';color:#af0a0a;}
	
	.sent-message-bottom{background:#f0f0f0;border-top:1px solid #cecece;padding:15px 0;position:fixed;bottom:0;left:0;width:100%;z-index:999;}
	.senttextareabefore{background:url(../../../images/dashboard/top-arrow.png) no-repeat top left;position:absolute;content:"";display:block;width:15px;height:9px;top:18px;left:55px;z-index:999;}
	.senttextarea{border-radius:12px; -moz-border-radius:12px; -webkit-border-radius:12px; background:#fff;border:1px solid #b0b0b0;width:80%;display:inline-block;vertical-align:middle;min-height:70px;color:#bdbdbd;padding:10px;font-size:13px;}
	.messagesend{display:inline-block;vertical-align:middle;background:#4293f0;padding:10px 0;border:none;border-bottom:1px solid #3977bd;border-radius:5px;color:#fff;width:140px;text-align:center;margin-left:20px;cursor:pointer;}
	.messagesend:hover{background:#116AD0;}
	.sent-message-bottom ul{margin:0 0 10px 30px;overflow:hidden;}
	.sent-message-bottom li{float:left; margin-right:20px;color:#797777;font-size:12px;width:110px\9;}
	
/*Partner Perferences*/
.partnersection{background:#fff;clear:both;min-height:500px;border-bottom: 1px solid #C5C5C5;}
.partnerinner{padding:30px 70px; font-family: 'robotomedium';}
.partnerinner td{border-bottom:1px solid #ddd;padding:15px 0 15px 6px;}
.partnerinner .td1{width:30%;vertical-align:middle;}
.partnerinner .td2{color:#666;font-family: 'RobotoRegular';}
.partnerinner .td3{width:20%;text-align:right;color:#4293f0;font-size:13px;}
.partnerinner td a{color:#4293f0;}
.partnerinner td a:hover{color:#333;}
.partnerinner td.last{border-bottom:none;}

.customerradio li{margin:0 6px 5px;display:inline-block;font-size:13px;text-align:center;width:100px;height:32px;}
.customerradio li input[type="radio"]{margin-top:0;}

/*Back and Continue*/
.backleft{float:left;width:149px;height:46px;background:url(../../../images/register/buttons.png) no-repeat left top;margin-bottom:20px;text-align:center;cursor:pointer;-webkit-border-top-right-radius: 4px;
-webkit-border-bottom-right-radius: 4px;
-moz-border-radius-topright: 4px;
-moz-border-radius-bottomright: 4px;
border-top-right-radius: 4px;
border-bottom-right-radius: 4px;}
.backleft a{color:#fff;font-size:18px;display:block;padding:9px 0 13px 20px}
.backleft:hover{background-position: 0 -47px;}

.continuert{float:right;width:149px;height:46px;background:url(../../../images/register/buttons.png) no-repeat right -94px;margin-bottom:20px;text-align:center;cursor:pointer;-webkit-border-top-left-radius: 4px;
-webkit-border-bottom-left-radius: 4px;
-moz-border-radius-topleft: 4px;
-moz-border-radius-bottomleft: 4px;
border-top-left-radius: 4px;
border-bottom-left-radius: 4px;}
.continuert a{color:#fff;font-size:18px;display:block;padding:9px 15px 13px 0;}
.continuert:hover{background-position: right -141px;}	

/*Notification*/
.clicklikeback.ui-notify, .clicklikeback1.ui-notify { width:380px; position:fixed; top:50%; left:40%;}
.clicklikeback .ui-notify-message, .clicklikeback1 .ui-notify-message { padding:20px; margin-bottom:15px; -moz-border-radius:8px; -webkit-border-radius:8px; border-radius:8px }
.clicklikeback .ui-notify-message p, .clicklikeback1 .ui-notify-message p { margin:3px 0; padding:0; line-height:18px }
.clicklikeback .ui-notify-message:last-child,.clicklikeback1 .ui-notify-message:last-child { margin-bottom:0 }
.clicklikeback .ui-notify-message-style, .clicklikeback1 .ui-notify-message-style { background:#4d4d4d; }
.clicklikeback .ui-notify-message-style p, .clicklikeback1 .ui-notify-message-style p { color:#fff;text-align:center;}

.likedliked.ui-notify { width:200px; position:absolute; top:290px; left:13px; z-index:9999999;background:none;}
.likedliked .ui-notify-message { padding:10px; margin-bottom:15px; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;-webkit-box-shadow: 0px 5px 3px -2px #d4d4d4;box-shadow: 0px 5px 3px -2px #d4d4d4; }
.likedliked .ui-notify-message p { margin:3px 0; padding:0; line-height:18px }
.likedliked .ui-notify-message:last-child { margin-bottom:0 }
.likedliked .ui-notify-message-style { background:#E7276B; color:#fff !important;text-align:center;}
.likedliked .ui-notify-message-style p { color:#fff !important;text-align:center;}

/*Modal Pop Up*/
#messagereply {display:none;}

/* Overlay */
#simplemodal-overlay {background-color:#000;}

/* Container */
#simplemodal-container {height:300px; width:490px;}
#simplemodal-container .messagereplycontent{background:#f0f0f0;padding:10px 20px;overflow:hidden;}
#simplemodal-container .messagereplycontent p{font-size:18px;margin-bottom:10px;}
#simplemodal-container .messagereplycontent textarea{width:100%;height:200px;border-radius:10px;border:1px solid #a8a8a8;resize:none;padding:10px;}
.btnactions{float:right;margin-top:10px;}
.send, .cancelpop{background:#4293f0;color:#fff;border-radius:4px;border-bottom:1px solid #407cc0;text-transform:uppercase;font-size:13px;padding:5px 20px;margin-right:10px;}
.cancelpop{background:#5b5b5b;border-bottom:1px solid #454545;margin-right:0;}
		
/*Footer*/	
.footer{background:#4b4b4b;color:#ddd;/*margin-top:20px;*/}	
.footer .container {margin-bottom:0;}
.footercontent{position:relative;font-size:13px;padding:15px 0;}
.copyfootermenu{margin-top:10px;float:left;}
.copyright{width:150px; float:left;}
.footernav{text-align:center;float:left;margin-left:80px;}
.footernav a{padding:0 20px 0 0;color:#ddd;}
.socialicons{float:right;}
.socialicons ul li{float:left;margin-right:5px;}
.socialicons ul li a{color:#4b4b4b;}
.join{margin-top:8px;}
.fbicon{background:#CCC;width:30px;text-align:center;padding:4px 0 3px;font-size:20px;}
.socialicons ul li:lst-child{margin-right:0;}
.fbicon:hover{background:#4293f0;}


/*Media Queries*/

@media screen and (max-width:1280px){
.profilemainslider .bx-wrapper .bx-prev {left: 3%;}
.profilemainslider .bx-wrapper .bx-next {right: 3%;}
}


@media screen and (max-width:1024px){
.profilemainslider .bx-wrapper .bx-prev {left: 0;}
.profilemainslider .bx-wrapper .bx-next {right: 0;}
.sndmpopupframe { width:60%;}
}

@media screen and (max-width:800px){
.container{width:740px;margin:0 auto;}
/* Index Page*/
.mainmenu{float:left;margin:20px 0 0 100px;}
.userdetails{width:30px;}
.userdetails span, .downarrow{display:none;}
.usersettings span{display:block;}
.usersettings:before{right:8px;}
.slider { width:700px; margin:10px auto 0;}
.leftpanel{float:none;width:100%;margin:40px 0px 0 0;}
.rtpanel{float:none;width:100%;}

/*Matches*/
.matcheslist{margin-left:15px;}
.matcheslist li{margin-right:16px;}

.likedliked.ui-notify {top:-157px;left:250px;}

/*Profile*/
.profilemainslider .bx-wrapper .bx-controls-direction a{position:fixed;}
.profilemainslider .bx-wrapper .bx-prev {left: 0;}
.profilemainslider .bx-wrapper .bx-next {right: 0;}
.profilemainslider .profile-hobbies .bx-wrapper .bx-controls-direction a {position: absolute;}

.rightpane{width:423px;}
.profile_socialicon{float:left; margin:0 0 0 10px;}
.profile_socialicon li{margin:0 10px 0 0;}
.lastcon{text-align:left;}

.aboutprofiler{margin:15px 0;}

.width1{width:110px;}
.width2{width:265px;}
.width3{width:220px;}
.width4{width:155px;}
.width5{width:175px;}
.width6{width:200px;}
.width7{width:215px;}
.width8{width:160px;}

.education-work-salary li{width:94%; margin:0 4% 5% 0;}
.education-work-salary li:last-child .alldetails{min-height:80px;}

.alldetails p.salary-rupees{margin-top:15px;}
.alldetails{width:100%;padding: 5px 12px 0;}

.familydetails li .circle_white {font-size: 12px; height: 60px; width: 60px;}
.familydetails li {margin-right: 20px;}

.ftitle{font-size:12px;}
.divider_bottom{min-height:80px;}
.myfamliy_outer{min-height:50px;}
.bottom_titles{margin:10px 0 0 !important;}
.bottom_titlesed{margin-top:10px;}

.trustmeter{width:100%; overflow:hidden;}

.threesections li{width:189px;margin-right:18px;}
.threesections li:nth-child(2){margin-right:0;}
.threesections li:first-child{width:100%; margin-right:0;}
.threesections li:last-child{width:90%;}
.threesections li:last-child .trustmeter{min-height:80px;}

.qualities li{width:auto !important;margin-right:20px !important;}
.qualities li:last-child{margin-right:0 !important;}

.familylist span{width:35%;}

/*Profile Matched Hobbies*/
.hobbies-matched .title span {left: 32%;}
.matched-list {margin-left: 12%; margin-right: 12%; width:75%;}
.matched-list li {width:55px; margin:0px 6px; font-size:11px;}
.profile-hobbies li { width:250px !important;}

/*Profile Page 3*/
.profession-religion-physical li { width:100%; }
.alldetailspartner {padding: 10px; width:94%; max-height:200px; min-height:70px; }
.partnerdetails li{width:245px;}
.alldetailspartner .td1{ width: 130px;}
.partnerhobbies li{width:240px;}
.smokinglist {margin: 10px 0 0 15px;}
.smokinglist li{margin-right:2px;width:auto}
.ploction{width:45%;}
.pfamily{ width:45%;}

/*Messages*/
.communicate_details{width:83%;}
.ui-notify {left:30%; }
.messageshowed, .showmessage { margin-right: 10px;}
.messageshowed{padding:5px 10px;}
.likeback {margin-right:20px;}
.clicklikeback.ui-notify { left:28%;}

.senttextarea{width:75%;}

/*Partners Perferences*/
.innertabs li{margin: 0 5px 5px 0;}
.innertabs li a{padding: 5px 7px;}
.partnerinner {padding: 20px 40px;}

/*Footer*/
.copyfootermenu{margin-top:0;float:left;}
.copyright{width:100%; float:none !important; padding-bottom:10px;}
.footernav{text-align:left; float:none !important; padding-bottom:10px;margin-left:0;}
.sndmpopupframe { width:70%;}
}


@media screen and (max-width:640px){
.container{width:92%;margin:0 4%;}
/* Index Page*/
.mbmut { margin-bottom:auto;}
.logo{margin:0 auto; margin:15px 0 0 0\9;}
/*Menu*/
.mainmenu{float:none;margin:20px 0 0 0;position:relative}
a.menu-link {display: block;}
.menu {overflow: hidden;max-height: 0;	background:#fff;width:100%;	position:absolute;z-index:99999;top:40px;}
.menu.active{max-height: 55em;}
.menu ul {display: inline;}
.menu li, .menu > ul > li {display: block;float:none;border-bottom:1px dotted;	}
.menu li a {display: block;	position: relative;padding:10px 0;border-bottom:4px solid #fff;border-top:4px solid #fff;}
.menu li:last-child{border-bottom:none;}
.notification{float:right;}

.likes_content{display:none !important;}

.userdetails{top:-19px;right:5px;}

.viewall{float:right;clear:both;}
.slider { width:540px; margin:10px auto 0;}

.rtpanel { position:relative; min-height:230px;}
.alert { position:absolute; bottom:10px; z-index:2}
.rtnotification{margin-top:0;}
.notifylist{width:100%;text-align:center;}
.notify-content { display:none;}
.ntitle { display:none;}
.notify{border-bottom:none;background:none;overflow:hidden;padding:15px 0;width:70px; display:inline-block;}

/*Matches*/
.matcheslist li{margin:15px 25px;}
.likedliked.ui-notify {top:-171px;left:180px;}

/*Profile*/
.hovrtitle1 {left:35%;}
.leftpane, .rightpane{width:100%;}
.leftpane{margin-top:100px !important; text-align:center;}
.rightpane{margin-left:0;}
.mainpic{margin:0 auto;}

.profile_socialicon{margin:0 0 0 10px;}
.profile_socialicon, .personname{float:left;}

.gallerylist{margin:10px auto;text-align:center;}
.trustmeterleft{width:95%;}

.education-work-salary li, .threesections li{width:96%;}
.familydetails li .circle_white {font-size: 13px; height: 70px; width: 70px;}
.familydetails li {margin-right: 49px;}
.ftitle{font-size:13px;}

.width1{width:90px;}
.width2{width:229px;}
.width3{width:180px;}
.width4{width:124px;}
.width7{width:215px;}
.width8{width:160px;}

.about-title{display:block; font-family: 'robotomedium';font-size:24px;}
.aboutprofiler{margin:5px 0 15px;}
.partnerdivider{width: 90%;}

.name-socialicon{position:absolute;top:20px;left:0;width:100%;}

.threesections li{margin-right: 25px; width: 261px;}
.threesections li:last-child{width:91%;}
.blurimgnote { float:none; clear:both;}
.infocontainer {margin:-35px 0 0 5px;}

/*Profile Matched Hobbies*/
.hobbies-matched {height:100%;}
.hobbies-matched .title span {left: 28%;}
.matched-list {margin-left: 14.5%; margin-right: 14.5%; width:69%;}
.matched-list li {width:80%; margin:0px 15px 10px 15px; float:none; display:inline-block; font-size:12px;}
.profile-hobbies li {width: 190px !important;}

/*Profile Page 3*/
.partnerdetails li {width: 190px;}
.profession-religion-physical li {width:100%;}
.alldetailspartner{width:93%;}
.partnerhobbies li{width:100%;margin-bottom:10px;}
.smokinglist {margin: 10px 0 0 55px;}
.smokinglist li { margin-right: 10px;  width: auto;}

.ploction{ padding: 2% 6%; width: 87%;}
.pfamily{margin-top:20px;padding: 2% 6%; width: 87%; float:left;}
.locationlist span, .familylist span{width:26%;}

/*Messages*/
.communicate_details{width:78%;}
.clicklikeback.ui-notify { left:20%;}

.senttextarea{width:70%;}
.messagesend{width:120px;}

/*Partners Perferences*/
.partnersection{min-height:300px;border-bottom:none;}
.partnerinner {padding: 20px;}
.resp-tabs-container{margin-top:20px;}
.resp-tab-content{border-bottom: 1px solid #C5C5C5;}

/*Footer*/
.footernav a{padding:0 10px 0 0;}
.sndmpopupframe { width:80%;}
}

@media screen and (max-width:480px){
.slider { width:380px; margin:10px auto 0;}

.updates-details{width:78%;}

/*Matches*/
.show, .show li.showtext{width:190px;}
.sortby, .sortby li.sorttext{width:135px;}
.show li.showtext, .sortby li.sorttext{text-align:left;}

.search input{width:160px;}

.matcheslist{width:100%;text-align:center;margin-left:0;}
.matcheslist li{margin:15px 25px;float:none;display:inline-block;}
.mutual, .name, .persontext{text-align:left;}

.filterbox li.filtertitle{width:100%;}
.filterbox .submit{margin:20px 0 20px 20px;}

.likedliked.ui-notify {top:-211px;left:30px;}

.loading {width:100%;font-size:14px;padding:10px 0;}


/*Profile*/
.leftpane{margin-top:100px !important;}
.trustmeterleft{width:93%;}
.education-work-salary li, .threesections li{width:94%;}

.width1{width:145px;}
.width3{width:215px;}
.width4{width:159px;}

.divider_bottom{display:none;}

.myfamliy_outer{min-height:690px;margin:0 auto;}
.familydetails li {display: inline-block; float: none; font-size: 13px; margin: 0 0 20px; width: 425px;}
.familydetails li .circle_white:after {border-right: 1px solid #4293F0; content: "";display: block; height: 108px;left: 50%; position: absolute;   z-index: -1;}
.familydetails li .circle_white { height: 90px; width: 90px;margin:10px auto;}
.familydetails li:last-child .circle_white:after {border-right:0;}
.profession-religion-physical li {width:94%;}
.blurimgnote { float:left; clear:both; text-align:left;}
.hovrtitle1 {left:5%;}
/* .profile_socialicon{float:left;margin:8px 0;}
.profile_socialicon li{margin:0 4px 0 0;} */

.respond{width:117px !important;}
.lastcon{text-align:left;}
.mutualcon li{margin-right:13px;}
.partnerdivider{width: 85%;}

.threesections li{margin-right: 21px; width: 189px;}
.threesections li:last-child{width: 94.5%;}

.matched-list li  { width:70%; display:inline-block;}
/*Profile Matched Hobbies*/
.hobbies-matched .title span {left:15%;}

.profile-hobbies li {width: 210px !important;}

/*Profile Page 3*/
.alldetailspartner{width:96%;}
.partnerdetails li{width:140px;}
.locationlist span, .familylist span{width:100%;margin-bottom:5px;}

/*Messages*/
.searchnew{top:70px;}
.communicate_details{width:69%;}
.messageshowed{margin-right:5px;padding:5px 5px 10px;}
.likeback{margin-right:10px;}
.clicklikeback.ui-notify { left:10%;}
#simplemodal-container {width:420px;}

.senttextarea{width:68%;}
.messagesend { margin-left: 10px; width: 100px;}

/*Partners Perferences*/
.partnerinner {padding:10px;}
.partnerinner td{font-size:14px;}
.partnerinner .td1 { width: 35%;}
.resp-tabs-container{margin-top:46px;}

/*Footer*/
.socialicons{float:none;}
.sndmpopupframe { width:90%;}
}

@media screen and (max-width:320px){
.slider { width:235px; margin:10px auto 0;}
.sliderul li{margin-bottom:13px;}

.notify{width:65px;}

.updates-details{width:78%;}

.personimg img{width:32px;height:32px;}
.photolist img{width:32px;height:32px;}

/*Matches*/
.show li.showtext, .sortby li.sorttext, .show{width:auto;}
.sortby{float:left;margin-top:20px;width:auto;}
.matcheslist{margin-left:0;}

.filterbox ul{margin-left:10px;}
.filterbox .submit{margin:20px 0 20px 10px;}
.filterbox select{width:112px;}

.likedliked.ui-notify {top:-231px;left:20px;}

/*Profile*/
/* .profile_socialicon li{margin:0 2px 0 0;} */
.profession-religion-physical li {width:90%;}
.gallerylist li img{width:64px;height:45px;}

.trustmeterleft{width:95%;}
.education-work-salary li, .threesections li{width:91%;}
.persondetails li{margin:0 2px 2px 0;font-size:12px;}
.familydetails li {width: 280px;}
.edubox p {height:80px;}

.width1{width:45px;}
.width2{width:230px;}
.width3{width:230px;}
.width4{width:40px;}
.width5{width:116px;}
.width6{width:119px;}
.width7{width:145px;}
.width8{width:90px;}

.matched-list li  { width:60%; display:inline-block;}
.mutualcon li{margin-right:11px;}

.trustmeter{ overflow:hidden;}
.qualities li{width:100% !important;margin-right:0 !important; height:40px;}

.threesections li:last-child{width:91%;}
.pdlocationsec { width:100%; padding:0;}
.threesections{margin:30px 0 0 0;}
.pdlocationsec p { width:48%;}

/*Profile Hobbies*/
.profile-hobbies h2 {font-size:18px;font-family: 'RobotoRegular';}
.profile-hobbies li { width:280px !important;}



/*Profile Matched Hobbies*/
.hobbies-matched .title { height:16px; font-size:14px; width:80%; margin-left:10%; margin-right:10%;}
.hobbies-matched .title span {left:4%;}
.your-img,.matched-img {max-width:25%;}
.inthobimg {width:65px; height:65px;border-radius: 50%;}
/*Profile Page 3*/
.partnerdivider{display:none;}
.partnerdetails li {float: left; width: 180px;}
.partnerdetails li.first{text-align:center;}
/* .partnerdetails li.first .pcirclewhite{margin:10px auto} */
/* .partnerdetails li.third{text-align:center;} */
/* .partnerdetails li.third .pcirclewhite{float:none;margin:10px auto;} */

.smokinglist {margin: 10px 0 0 10px;}



/*Messages*/
.searchnew input{width:130px;font-size:12px;}
.innertabs {margin-left:0;}
.innertabs li{margin-right:4px;}
.innertabs li a {padding: 5px 10px;}
.communicate_pic img{width:50px;height:50px;}
.communicate_details{width:73%;}
.mess_time {left: 85px; top: 40px;color:#878484;}
.comm_message{margin-top:20px;}
.leftarrow { top: 15px;z-index:99;}
.messageshowed{margin-right:5px;padding:5px 5px 10px;}
.likeback{margin-right:10px;}
.clicklikeback.ui-notify { left:4%;width:280px;}
#simplemodal-container {width:280px;}

.messagermessages, .messagermessages-gray{width:90%;}
.senttextarea{width:64%;}
.messagesend { margin-left: 5px; width: 70px;}

/*Partners Perferences*/
.partnerinner td{font-size:12px;}
.partnerinner .td1 { width: 32%;}
.customerradio li.whp{height:50px;}

/*Footer*/
.socialicons{float:none;}
.sndmpopupframe { width:90%;}
.ddlist { width:250px;}

}


@-moz-document url-prefix() { 
  .logo { margin:15px 0 0 0;}
}